<h4>John and Bridget</h4>

<p>John Noonan was married to Bridget O&#39;Neill on 15 September 1851 in the Catholic Cathedral of St John the
    Evangelist on Chapel Street, Salford. The marriage took place less than six months after the date of the 1851
    census, conducted around 1 April, and we can find Bridget (but not John) in that census. She was then living in
    Harriett Street, Stockport. The priest who married them was a Denis Byrne and the cathedral itself had been built
    and commissioned only a few years earlier. It still stands today as the seat of the Catholic Diocese of Salford,
    which covers a huge	swathe of southern Lancashire, including the city of Manchester.</p>

<p>The details of the marriage survive in manuscript in the Cathedral's book of marriages for 1851 which is
    held in the Lancashire Records Office in Preston. We don't have a photographic image, but we have seen the
    relevant entry, so that we can confirm that the transcription provided on the website of the Lancashire Online
    Parish Clerks (LOPC) is complete and accurate. Here are the details:</p>


<h6>Catholic church record of John and Bridget's marriage</h6>
<div class="table-responsive-md">
  <table class="table table-bordered">
    <caption><i>* Charlestown was a district or quarter within Pendleton, itself part of the City of Salford</i></caption>
	<thead>
    <tr>
        <th class="tab-first-col"></th>
        <th>Name</th>
        <th>Residence</th>
        <th>Parents</th>
        <th>Witness</th>
        <th>Witness Address</th>
    </tr>
	</thead>
	<tbody>
    <tr>
        <td class="tab-first-col">Groom</td>
        <td>John Noonan</td>
        <td>Charlestown, Pendleton*</td>
        <td>James Noonan &#38; Anty (both dead)</td>
        <td>William Sheean</td>
        <td>48 Acton Street Manchester</td>
    </tr>
    <tr>
        <td class="tab-first-col">Bride</td>
        <td>Bridget O&#39;Nill</td>
        <td>Stockport</td>
        <td>John O&#39;Nill &#38; Sarah (both dead)</td>
        <td>Bridget Caffrey</td>
        <td>Harriett Street Stockport</td>
    </tr>
	</tbody>
</table>
</div>


<p>For ages, we delayed obtaining the civil record of the marriage held in the registers at the City of Salford offices 
in Swinton, because the church record was so full. Eventually I ordered it in the hope that might help us with
Bridget's and John's links back to their origins in Ireland, and 

		<span class="span-link"
	       title = "View marriage certificate"
           onclick="viewImage('images/John and Bridget marriage cert.jpg')">here it is</span>.

The certificate adds a handful of small items to the stock of information:</p> 

<ul class="bullet-list">
    <li>Bridget had already moved from Stockport to Pendleton by the time of the wedding</li>
    <li>The pair were both resident at "Borrow Street" - surely Borough Street - at the time</li>
    <li>John was working as a spinner in a mill at the time</li>
    <li>John's father James had been a hairdresser</li>
    <li>Bridget's father John had been a labourer</li>
</ul>

<p>There was no information on mothers' maiden names or places of abode.</p>

<p>Over the twenty years following their marriage, John and Bridget had eight children, but only two of them (James
    and Richard [I]) survived beyond age 20, and it seems that only James married and had children. So John and Bridget's
    only grandchildren were James' and Mary's children, who included my grandfather Richard [II] and his brother John Edward
    (each of whom went on to raise their own families). The continuation of John and Bridget's line in Salford, therefore,
    hangs by a single thread, and we (first and second) cousins of my generation (and our descendants) must therefore raise
    a toast to James and Mary for succeeding in bringing three healthy children to adulthood, seemingly against all the odds.</p>

<p>The evidence that James' brother Richard [I] never married or had children is strong enough to be accepted at face value, and
    this means that I have no third cousins on the Noonan side. There could of course be more distant cousins if we could trace the full
    family of John's dad James in Tipperary and thereabouts in the early part of the 19th century. But no luck
    so far.</p>

<p>We have managed to locate baptismal records for all eight of John and Bridget's children, the first seven at St John
    the Evangelist and the last at the Church of the Mother of God and St James, which has now been rebuilt as St James next
    to the Salford shopping precinct. Here they are, courtesy of the LOPC. From our visit to the County Records Office in Preston,
    where most of the original Catholic genealogical records of Salford are now held, the LOPC volunteers have generally made
    extremely accurate transcriptions.</p>

<h6>Catholic church baptism records for John and Bridget's children, 1852 - 1870*</h6>
<div class="table-responsive-md">
  <table class="table table-bordered">
    <caption><i>* All names have been rendered from Latin to English where required</i></caption>
	<thead>
    <tr>
        <th class="tab-first-col">Name</th>
        <th>Birth date</th>
        <th>Baptism date</th>
        <th>Address at baptism</th>
        <th>Godparent1</th>
        <th>Godparent2</th>
    </tr>
	</thead>
	<tbody>
    <tr>
        <td class="tab-first-col">Mary Ann</td>
        <td>26/10/1852</td>
        <td>14/11/1852</td>
        <td></td>
        <td>Michael Griffin</td>
        <td>Mary Ann Griffin</td>
    </tr>
    <tr>
        <td class="tab-first-col">James</td>
        <td>5/11/1854</td>
        <td>24/12/1854</td>
        <td></td>
        <td>James Johnson</td>
        <td>Mary King</td>
    </tr>
    <tr>
        <td class="tab-first-col">Sarah Jane</td>
        <td>28/03/1857</td>
        <td>3/5/1857</td>
        <td></td>
        <td>Thomas Prendergast</td>
        <td>Margaret Hardman</td>
    </tr>
    <tr>
        <td class="tab-first-col">John</td>
        <td>2/7/1858</td>
        <td>12/7/1858</td>
        <td>Borough Street Pendleton</td>
        <td>Alice Gibilin</td>
        <td>Anna Gibilin</td>
    </tr>
    <tr>
        <td class="tab-first-col">John</td>
        <td>3/10/1859</td>
        <td>23/10/1859</td>
        <td>27 Whit Lane</td>
        <td>Patrick O&#39;Hara</td>
        <td>Marian Heeny</td>
    </tr>
    <tr>
        <td class="tab-first-col">Richard</td>
        <td>16/2/1863</td>
        <td>8/3/1863</td>
        <td></td>
        <td>Maurice O&#39;Brion</td>
        <td>Helen Royle</td>
    </tr>
    <tr>
        <td class="tab-first-col">Joseph</td>
        <td>18/09/1865</td>
        <td>7/10/1865</td>
        <td>22 Whit Lane</td>
        <td>Margaret Doherty</td>
        <td></td>
    </tr>
    <tr>
        <td class="tab-first-col">Charles</td>
        <td>6/3/1870</td>
        <td>20/3/1870</td>
        <td>47 Whit Lane</td>
        <td>James Lynan</td>
        <td>Catherine Kelly</td>
    </tr>
	</tbody>
</table>
</div>
<p style="margin-top:0;">This has been a rapid introduction to three generations of Noonans, so let's show the 
"<span class="span-link"
	       title = "View family diagram"
           onclick="viewImage('images/James-Anty tree.jpg')">family tree</span>" immediately to help navigate 
		   as the story progresses. From John's parents at the top, it runs down
    to my own generation, so including my siblings, my first and my second cousins. </p>

<p>In the story that follows, many physical addresses will crop up, most within the current boundaries of the
    City of Salford, but some in Manchester. There has been such massive physical transformation over the years
    from 1850 to the present, that at least some vague idea of the original geography is required to make sense of the story.
    As a starting point, I&#39;ve pieced together some sections of maps compiled around the 1930s and marked the
    <span   class="span-link"
            title = "View map"
            onclick="viewImage('images/Salford - noonan main sites.jpg')">
	main sites where Noonans lived around Salford</span> in the course of the history, including the catholic churches which were pivotal
    to that history. Thanks for this digital material must go to the Artus family who placed the maps (together with
    street indexes) on the internet as part of their own genealogy project. They ask that this should not be used
    commercially, which I respect. There are larger scale historical maps of some of the areas of particular interest elsewhere
    on this website.</p>
