<h4>Growing the Family</h4>

<p>Let's now follow the development of John and Bridget's family through the 1850s and 1860s around the Charlestown area of Pendleton.
    It turns out that, whilst there seem to have been many changes of address, all these took place within a very small radius, and the
    family didn't eventually leave the area until at around the mid-1890s. There must have been some feature of the rented accommodation
    market which made it necessary or advantageous to be constantly on the move.</p>

<h6>Mary Ann</h6>
<p>Our first piece of evidence is the <span 
		class="span-link"  
        title = "View certificate"
        onclick="viewImage('images/Mary Ann BCert 1852.jpg');">
		birth certificate of John and Bridget's first child, Mary Ann</span>. This certificate made it onto
    our shopping list because it would be our earliest evidence of address and occupation, but also because it had proved extraordinarily
    difficult to ascertain the eventual fate of Mary Ann. She was only recorded in one of the censuses, namely 1861, but her name was
    recorded as Margaret (or at least the script looks like Margaret) which threw our searches wildly off track for ages.</p>

<p>Mary Ann was born on 26 October 1852, and the certificate confirms that she was the child of John Noonan and Bridget O'Neil. The
    birth took place at an address on Back Orchard Street, Pendleton, just over a year after her parents' marriage.
    Whilst there remains some doubt around John's year of birth, the odds are that he hadn't quite reached the age
    of 20 at the time of his marriage. Bridget was perhaps three or four years older, but even so they started their family
    young (by present day standards at least). Mary Ann was baptised on 14 November, and her birth was officially registered
    by Bridget on 22 November 1852. John's occupation was recorded as a Cotton Spinner, and he may have worked at the famous
    Sir Elkanah Armitage's Pendleton Mill, situated where Broughton Road still crosses the railway line and canal basin to this day.
    Whether he worked there or not, it would have dominated the skyline of the area. At the registration, Bridget signed with an X,
    meaning she was unable to write her name, but perhaps she could still read a bit. Whatever, never mind, they had a daughter!</p>

<h6>James</h6>
<p>The next child was a boy, James, born on 5 November 1854. As we believed that he was our great-grandfather,
 <span class="span-link"
        title = "View certificate"
        onclick="viewImage('images/James BCert 1854.jpg');">James' birth certificate</span>
    had to be on our shopping list, to become part of the chain of proofs that we had identified the correct set of ancestors. The
    birth wasn't registered until about six weeks later, on 16 December, and the address given was 75 Orchard Street, for both
    the birth and registration dates. On this occasion, John, rather than Bridget, registered the birth, and his occupation was
    recorded as Spinner, so apparently unchanged since 1852. John was not recorded as signing with an X, and it appears that
    this is strong evidence that he was able to write his name. I idly wonder where the registration office was located.</p>

<p>John and Bridget eventually got round to baptising James on Christmas Eve, a week after they had registered
    him. It would have been quite a hike (if done on foot) from Orchard Street to St John the Evangelist on Chapel Street, and
    - pure speculation - to get the job done shortly before the Christmas midnight mass would be in the way of killing two birds with one stone.
    Anyway, by Christmas Day 1854, John and Bridget had both a daughter and a son, each recognised in full by the church of their forebears
    for time immemorial.</p>

<h6>Sarah Jane and the two Johns</h6>
<p>Some 27 months after that happy Christmas of 1854, Sarah Jane was born on 28 March 1857, baptised about 5 weeks
    later on 3 May, but then died another five weeks later on 7 June (hers was the only infant death that Bridget suffered for which we found
    a funeral record). The following year, the first of the two young Johns was born on 2 July 1858, baptised very rapidly just ten days
    later (which was sometimes an indicator of ill-heath), but then died some time between 1 July and 30 September. Borough Street was given
    as the address at the baptism. We have only been able to find a record of his death on the national register, which doesn't give an exact
    date, but groups events on a quarterly basis. For an exact date, it would be easy to obtain both death and birth certificates from the
    Salford Registrar, although we didn't place these on our initial certificate shopping list. In addition, the death certificates
    would inform us of a cause of death (couched in the medical  terminology of the time), and perhaps something of the circumstances,
    such as who attended the death and who notified it and when. The birth certificates would probably provide John senior's occupation
    at the time (interesting because we might learn when he graduated from cotton-spinning to greengrocery). All certificates would
    provide an address, allowing us to track the bewildering series of local movements around Pendleton in still greater detail.
</p>
<p>The second young John was born around a year after his older namesake died, on 3 October 1859 at 27 Whit Lane, according to the record
    of his baptism on 23 October. Again, we have not yet obtained his birth certificate. This John survived infancy, but much later his poor
    parents were surely left wondering whether there was any truth in the superstition about naming a baby after a dead sibling.</p>

<h6>The 1861 census</h6>
<p>Thus, when the first census was taken of John and Bridget's family on 7 April 1861, by then residing at 47 Whit
    Lane, the household was made up of five people. I don't know for sure, but I think the procedure was for the enumerator to
    interview the head of each household (or the next most senior available), asking a fixed set of questions about the people in the
    household, and then to write down the spoken answers on a form. Here is a transcription - as best as we can read it - of the essential elements
    of what the enumerator recorded.
</p>
<h6>7 April 1861 E&W census: the Noonan household, greengrocers at 47 Whit Lane, Pendleton</h6>
<div class="table-responsive-md">
  <table class="table table-bordered">
    <thead>
    <tr>
        <th class="tab-first-col">Name</th>
        <th>Given age</th>
        <th>Relationship, marital status</th>
        <th>Place of birth</th>
        <th>Occupation</th>
    </tr>
	</thead>
	</tbody>
    <tr>
        <td class="tab-first-col">John Noonan</td>
        <td class="tab-center-col">32</td>
        <td>Head/Married</td>
        <td>Carrick on Suir, Ireland</td>
        <td>Greengrocer</td>
    </tr>
    <tr>
        <td class="tab-first-col">Bridget Noonan</td>
        <td class="tab-center-col">36</td>
        <td>Wife/Married</td>
        <td class="tab-center-col"><i>ditto</i></td>
        <td class="tab-center-col"><i>ditto</i></td>
    </tr>
    <tr>
        <td class="tab-first-col">Margaret Noonan</td>
        <td class="tab-center-col">8</td>
        <td>Daughter</td>
        <td>Pendleton, Lancashire</td>
        <td></td>
    </tr>
    <tr>
        <td class="tab-first-col">James Noonan</td>
        <td class="tab-center-col">6</td>
        <td>Son</td>
        <td>Pendleton, Lancashire</td>
        <td></td>
    </tr>
    <tr>
        <td class="tab-first-col">John Noonan</td>
        <td class="tab-center-col">1</td>
        <td>Son</td>
        <td class="tab-center-col"><i>ditto</i></td>
        <td></td>
    </tr>
</tbody>
</table>
</div>

<p>If you look closely at the <span
        class="span-link"
        title = "View census page"
        onclick="viewImage('images/47 Whit Lane Pendleton 1861.jpg');">original of the census return</span>,
    it all looks reasonably clear with just two major exceptions. First, is John's age really 32? And second, 
	is the eldest child really named Margaret, rather than Mary Ann? There is a suspicious join in the paperwork 
	just below her entry, but I'm inclined to believe that this was simply an enumerator error, possibly because 
	he had difficulty with Irish accents.</p>

<p> We'll return to the question of the parents' ages later, but if the given ages were meant to be those attained
    at the previous birthday, that would mean that John was born between 8 April 1828 (1824 for Bridget) and 7 
	April 1829 (1825 for Bridget). Other information suggests that, for John at least, this was too early.</p>

<p>We don't yet know when (between 1854 and 1861) John escaped the cotton mill and turned his hand to retailing.
    Nor do we know where his business premises were located, if indeed he had any. Did they live over their shop? Or rent
    a shop elsewhere? Or was it just a supply and delivery operation of some sort? Personally, I would like to think that
    he was later able to look back at the establishment of their own business as an achievement to be proud of. Examining
	the old maps carefully, Pendleton/Charlestown, then borderline urban/rural, looked a good place to source and then
	retail vegetables to the growing armies of the industrial workforce. </p>
	
	<p>On the
    subject of people's occupations, is Bridget also down as a greengrocer on the form, or has the "ditto" been deleted? And
    note finally that although none of the children were recorded as "scholars", this didn't necessarily mean that none
    were going to school. These were the sort of details that some of the enumerators would trouble over some of the time,
    but few would go the full distance for. At least the children hadn't yet entered the world of work, although not all
    that many years previously, children sometimes as young as eight could apparently be found working in the mills.</p>

<h6>Richard, Joseph and Charles</h6>
<p>The next child, Richard [I], was the uncle of granddad Richard [II], whose
    first son, my own uncle, was also called Richard, so he must be [III] in this narrative. Complete works of Shakespeare?
    Richard [I] was born on 16 February 1863, registered on 7 March and baptised on 8 March. He turned out to be the
    longest-lived of all of John and Bridget's children. However, because he seemed to disappear completely from the census
    records after 1891, he became something of a mystery to us. So we placed <span
	        class="span-link"
            title = "View certificate"
            onclick="viewImage('images/Richard BCert 1863.jpg');">Richard's birth certificate</span>
    on our shopping list. Putting aside the dreadful spelling error ("Newnan"), this shows that, nearly two years after the census,
    the family is still at the same address (47 Whit Lane) and in the same greengrocery business. Also that Bridget is still
    signing with an X, so hasn't at this stage yet learned to write. But never mind, there are serious signs of some stability
    here, and it all sounds like good news.
</p>

<p>Bridget and John had two more children after Richard, in 1865 and then in 1870. They were both boys, and both lived for only
    a few months. Joseph was born on 18 September 1865 at 22 Whit Lane - yes, it seems that they had moved yet again - and was baptised
    on 7 October. But he died sometime during the first quarter of 1866. Finally, Charles was born on 6 March 1870 - at which time it
    seems that they were back at 47 Whit Lane again(!) - and baptised on 20 March. The other seven children had all been baptised at St
    John the Evangelist on Chapel Street, but Charles was baptised at the Mother of God and St James, near Borough Street and much
    closer to Pendleton centre. He died in the third quarter of 1870, ie between 1 July and 30 September.</p>

<p>The change of church is interesting. There may of course be some trivial reason, but it could be linked to the developing
    history of catholicism in the expanding cities of late nineteenth century England. In the course of our research, we have
    discovered that catholic masses were often said in private residences in and around various quarters of Manchester and Salford
    as late as the turn of the twentieth century in some cases. This was not due to any need for secrecy, but simply to a lack of
    churches in some localities. Churches were being established and expanding to meet the excess demand, much of which was no doubt
    driven by the huge migrations from Ireland, but for a long time supply could not meet demand. Maybe the Pendleton church was new,
    or had expanded its services in an effort to meet demand. It was in any event a good deal nearer to Whit Lane than St John&#39;s.
</p>