<h4>Shrinking the Family</h4>

<p>All this would naturally leave us expecting to find one net addition - namely Richard [I] - to the Noonan household by
    the time of the next census on 2 April 1871, whatever address (on or near Whit Lane presumably) we would find they were
    living at by that date. And yes, Richard was there as expected, but the overall size of the household hadn&#39;t changed since 1861,
    because there was no sign of any Margaret or Mary Ann. For a long time - before we learned that her real name was Mary Ann - we scoured the local
    lodging houses for a young Margaret Noonan, who we assumed would have left home to become an independent working woman. But
    there were large question marks around all the possible candidates we discovered, and when we eventually learned her true name,
    it did not take too long to discover the unexpected (to us at least) loss that the family had suffered.</p>
<br>

<img src = "images/Weaste memorial 2018 - detail.jpg"
     id = "weaste_memorial_1"
     title = "View and zoom whole picture"
	 width="425px"
	 style="float:left;margin-right:20px;"
	 onclick = "viewImage('images/Weaste memorial 2018.jpg')">

<p style='margin-top: 0px;'>Mary Ann died, with her father by her side, on 11 October 1870, just 15 days short of her eighteenth birthday.
    We have a copy of
    <span   style="text-decoration: underline; background-color: AntiqueWhite; color: sienna;"
            title = "View certificate"
            onclick="viewImage('images/Mary Ann DCert 1870.jpg');">the death certificate</span>, which gives the cause
    of death as pericarditis and exhaustion, one or both of these spanning a period of 14 days - so perhaps that&#39;s 
	how long she had been laid up at home. She died at 1 Hill Place, just off Whit Lane to its east. By the age of 17, it&#39;s 
	almost certain that she had been working for some time in one or more of the local industrial establishments, and in the 
	light of what we learned later, it&#39;s not inconceivable that she was worked to death. But perhaps she had had a heart 
	defect from birth, who knows?</p>

	<p>She died just a few months after the loss of the infant Charles, leaving her younger brother James nearing his sixteenth birthday, the next, John, having just had his eleventh birthday, and her
    youngest brother Richard aged seven. We do not know for sure where she was buried, although given what we learned later, it 
	would almost certainly have been in a public grave, probably at Weaste cemetery. The definitive record would be held at the 
	office of Salford Bereavement Services, now located at Agecroft cemetery.</p>

<p>Many families could simply not afford to purchase a family grave and stone memorial, and we suspect
    that John and Bridget were no exception. Despite this, there are to this day two stone memorials of Mary Ann&#39;s short life at
    Weaste cemetery. One, shown here, is a public memorial to the many thousands who were buried there in locations for which no records remain. The
    other will emerge very soon as our story progresses.</p>
<br>
<u>The 1871 census</u>
<p style="margin-top: 0;">So at the second census of John and Bridget's family on 2 April 1871, there were still five people in
    the household. The census form shows their street as Halls Place, but we are sure that this is an enumerator error. The Salford
    Registrar recorded it as Hill Place, and there is an old map showing it as Hill&#39;s Place. We know this is the correct street,
    because we can check by following the enumerators&#39; footsteps from house to house until we reach adjacent and nearby streets
    within each census. Anyway, here is the transcription, warts and all.
</p>
<h5>2 April 1871 E&W census: the Noonan household, greengrocers at 1 "Halls" Place, Pendleton</h5>
<table id="tableD" class="table1" style="float:left;margin-right: 2%;">
    <tr style="height: 35px; vertical-align: bottom; ">
        <td class="frame1">Name</td>
        <td class="frame1" style="width: 40px; text-align: center;">Given age</td>
        <td class="frame1" style="width: 110px;">Relationship, marital status</td>
        <td class="frame1" style="text-align: center;">Place of birth</td>
        <td class="frame1" style="text-align: center;">Occupation</td>
    </tr>
    <tr>
        <td class="frame1">John Noonan</td>
        <td class="body1" style="width: 40px; text-align: center;">40</td>
        <td class="body1">Head/Married</td>
        <td class="body1" style="text-align: center;">Tipperary, Ireland</td>
        <td class="body1" style="text-align: center;">Greengrocer</td>
    </tr>
    <tr>
        <td class="frame1">Bridget Noonan</td>
        <td class="body1" style="width: 40px; text-align: center;">44</td>
        <td class="body1">Wife/Married</td>
        <td class="body1" style="text-align: center;">County of Dublin, Ireland</td>
        <td class="body1" style="text-align: center;"></td>
    </tr>
    <tr>
        <td class="frame1">James Noonan</td>
        <td class="body1" style="width: 40px; text-align: center;">16</td>
        <td class="body1">Son/Single</td>
        <td class="body1" style="text-align: center;">Pendleton, Lancashire</td>
        <td class="body1" style="text-align: center;">Scholar</td>
    </tr>
    <tr>
        <td class="frame1">John Noonan</td>
        <td class="body1" style="width: 40px; text-align: center;">10</td>
        <td class="body1">Son</td>
        <td class="body1" style="text-align: center;">ditto</td>
        <td class="body1" style="text-align: center;">ditto</td>
    </tr>
    <tr>
        <td class="frame1">Richard Noonan</td>
        <td class="body1"style="width: 40px; text-align: center;" >8</td>
        <td class="body1">Son</td>
        <td class="body1" style="text-align: center;">ditto</td>
        <td class="body1" style="text-align: center;">ditto</td>
    </tr>
</table>
<p style = "margin-top:0;">Once again, a peek at the <span
        style="text-decoration: underline; background-color: AntiqueWhite; color: sienna;"
        title = "View original"
        onclick="viewImage('images/1 Halls Place Pendleton 1871.jpg');">original census page</span>
    highlights some doubt around John&#39;s given age. If it really does read "30", then both he and Bridget have
    mysteriously lost two years since the 1861 census. Now it seems that they were born in fiscal years 1830/1 and 1826/7 respectively,
    instead of 1828/9 and 1824/5 as thought previously, although they have kept their four year age difference.</p>

<p>Bridget&#39;s birthplace has also changed, and I am inclined to believe the 1871 version - after all, why make it up?
    It is quite easy to envisage how the error in 1861 could have come about. John tells the enumerator he&#39;s from Carrick on
    Suir, Ireland, the enumerator asks "what about your wife?", John says "also Ireland", so the enumerator writes "ditto". It&#39;s
    impressive that all three boys are going to school, particularly James at the very senior age of 16. I have seen very few,
    if any,	similar instances in the many Salford census returns of 1850-1900 that we have examined as we researched this story.
    Perhaps he had an academic bent and the family found some way to nurture it.</p>
<br>
<u>An Industrial Accident</u>
<br>


<p style="margin-top: 0;">We have no more news or sightings of the family until 1874, but then suddenly they are smitten by
    a truly horrifying and devastating event. It seems that, unlike his older brother, John had left school fairly early to work in the satanic
    mills. It hadn't been unknown for children to start work in the mills as young as eight, but by the 1870s this
    would have seemed extreme. More likely he left school at age twelve, or perhaps even fourteen. The latter possibility stands out, as
    his inexperience would place him at greater risk of an accident. Maybe, unlike James, he was not academically inclined, and
    gung-ho to get out into the world and earn. Maybe a little too gung-ho. Whatever, let's allow the press and the authorities
    to relate the dreadful facts barely.</p>
<br>
<img src = "images/John Noonan junior death report 1874.jpg"
     id="jnj_death_report_1874"
     width = "350px"
	 title = "Expand and view report"
	 style="float:left;"
	 onclick = "viewImage(this.src)">
	 
<img src = "images/John Noonan jnr DCert 1874 -extract.jpg"
     id = "jnj_dcert_1874"
	 width = "350px"
     title = "Expand and view certificate"
	 style="float:right;"
	 onclick = "viewImage(this.src)">
   

<p style="clear:both">The sequence of events was as follows: the tragedy occurred early (still bleary-eyed with sleep?) on the morning of Wednesday
    25 February. The coroner, a Fred Price, held his inquest on the Thursday, recording a verdict of accidental death. From information
    provided by Salford Bereavement Services in October 2018, a grave at Weaste was purchased in the name of John Noonan (address 65 Whit
    Lane) on the Friday. Presumably a headstone was also purchased on the same day, and an inscription commissioned, for on Saturday 28
    February 1874 - the day the weekly Salford Chronicle was published - John junior was interred at Grave No. 2447, Plot C20 at Weaste
    cemetery, and here is the headstone, 144 years later, photographed in September 2018.</p>

<br>

<img src = "images/C20-2447 Weaste.jpg"
     id = "weaste_headstone"
	 width = "275px"
	 style="float:left;margin-right:20px;"
     title = "Expand and zoom image"
	 onclick = "viewImage(this.src)">
     

<p style = "margin-top:0px;">Although the stone is severely delaminated, enough remains to confirm our interpretation of the story.
    I spoke to the oldest of the firms of stonemasons still associated with the two cemeteries at Weaste and Agecroft. This firm used to have
    an office on Eccles New Road near to Weaste and to the (now demolished) church of All Souls and St John Vianney (which then serviced Weaste
    cemetery). Sadly, there are no business records left from that era. But from our visits to the cemetery, the headstone is of a standard
    design very common in that sector of the graveyard. The stonemasons immediately identified my description as the "gothic" style. For the
    Irish immigrants, the usual inscription around the head of the stone was <span style="font-family: Georgia;  color: DarkSlateGrey;"><b><i>
	"of your charity, pray for the souls"</i></b></span>.</p>

<p>Below this exhortation to pray and the faint outline of the cross below, we can see the words
    <span style="font-family: Georgia;  color: DarkSlateGrey;"><b><i>
	"Ann Noonan"</i></b></span>, positioned so as to suggest strongly that the word "Mary" is missing. Then
    <span style="font-family: Georgia;  color: DarkSlateGrey;"><b><i>"11th 1870"</b></i></span>, and on the next line the end of "aged xxx
    y<span style="font-family: Georgia;  color: DarkSlateGrey;"><b><i>ears"</b></i></span>. Clearly, Mary Ann's death on 11 October 1870.
    Next another <span style="font-family: Georgia;  color: DarkSlateGrey;"><b><i>"oonan"</i></b></span>, followed by something
    <span style="font-family: Georgia;  color: DarkSlateGrey;"><b><i>"25th 1874"</i></b></span>, and finally
    <span style="font-family: Georgia;  color: DarkSlateGrey;"><b><i>"14 years"</i></b></span>. Equally clearly, young John's death on
    February 25th 1874. But not a single inscription beyond 1874.</p>

<p>The burial records now held at Agecroft leave no doubt that Grave C20-2447 Weaste was first opened in 1874 for young John Noonan&#39;s
    burial. This means that, on Friday 27 February 1874, with almost no notice,
    a large sum of money was made available to acquire an expensive burial-plot at Weaste. Then a headstone was purchased and an
    inscription commissioned, with the words surely chosen by John and Bridget.  And their choice was to place the name of their daughter,
    by then dead for over three years, at the top of that headstone. This is Mary Ann&#39;s second stone memorial at Weaste cemetery, even though
    her mortal remains were never buried under it.</p>

<p>Here, I fall back on what some might term speculation - I was going to say "pure", but there are in fact a number of scraps of
    circumstantial evidence supporting the speculation. For myself, though, as I&#39;ve researched the story and repeatedly turned it over
    in my mind, the speculation has become a deep and instinctive conviction. Peter Reid&#39;s Dye Works
    on Indigo Street - no doubt named after the works - was only a short distance from 65 Whit Lane. The terrible accident would have become
    known to everyone working there within minutes, and a runner would have been sent to Whit Lane, so that his parents would have heard the news
    only a few minutes later. Both the workforce and the parents would have been utterly horrified and filled with an indignant anger. The
    general view held by the workers of their employer Mr Reid is unknown, but however good relations might have been in normal times, they
    would have been precarious on the day of the accident. Peter Reid almost immediately decided to meet young John&#39;s funeral costs in
    full - however successful the greengrocery business, it would not run to the purchase of a burial-plot at Weaste with no notice
    whatsoever.</p>

<p>But this leads us into deeper levels of accumulated feelings and perceptions around the lives being lived on the streets of Salford in
    the years following the start of the big surge of Irish migrations triggered by the crop failures in the the second half of the 1840s.
    The loss of John would have been a shocking reminder of the loss of Mary Ann just a few years earlier, whatever the immediate causes of her
    death had seemed to be. That wound would still have
    been raw, together with the memory that they had not been able to afford a grave, headstone and proper burial for her. Nor had they
    been able to afford the same for Sarah Jane, the first John, Joseph or Charles. No doubt infant deaths were in those days something that it was
    accepted were sadly unavoidable, but none of the four had had a "personal" burial or a headstone. And what did it take for people like
    John and Bridget to acquire a family burial-plot? Why, only that their teenage son should be run through the steam-driven mangle in
    one of the industrial palaces which were the only places, really, where a person could earn a living. Little wonder that Mary Ann&#39;s
    name should have been placed at the top of the headstone.</p>

<p>Perhaps, though, we should be offering thanks to Peter Reid for his generous and warm-hearted gesture? Heaven knows what his feelings
    were about the accident which had happened in his factory. He may have carried a heavy burden of guilt for the rest of his life. Perhaps
    John senior and Bridget and young John&#39;s erstwhile colleagues on the shop-floor felt a genuine gratitude for the gesture. I will
    try to avoid stooping into the gutter where the politics of envy thrive, but we could take a quick moment to have a glance at how the
    other half - in the form of Peter Reid - lived in those days. Here is a <a href="dig1a"
            title = "Take the digression">brief digression on the subject on Peter Reid&#39;s life
	and background</a>, if you are interested.</p>
<br>
<u>Handing on the baton</u>

<p style = "margin-top:0;">The next visible event in the Noonan family history is another sad step in the continuing shrinkage of
    that family. John Noonan senior gave up the ghost - it seems very suddenly - on 29 December 1877, four days after Christmas and just
    a month or two before the fourth anniversary of John junior&#39;s death.  Before we obtained <span
	        style="text-decoration: underline; background-color: AntiqueWhite; color: sienna;"
            title = "View certificate"
            onclick="viewImage('images/John Noonan DCert 1877.jpg');">his death certificate</span>, I had allowed
    some sarcasm and flippancy to creep into my writing. I speculated that John could have died from a broken heart or perhaps he had
    just learned that the Reid family was moving into the centre of Charlestown (where we know they had arrived by April 1881). If
    anything, the certificate serves to reinforce rather than  expunge these thoughts. John died of apoplexy, which to me has the
    natural meaning of an irrepressible eruption of bottled-up rage. Medically speaking, it was more likely to mean a stroke brought
    on by a burst blood vessel in the brain, but isn't this something that bottled-up rage would tend to lead to anyway? Since John
    junior had died, the family had moved house again - they were now at 71 Whit Lane three doors away from 65. Bridget was present
    at the death, and signed with an X to this effect. John's age was recorded as 45, and I believe 1832 is indeed our best estimate
    of his year of birth. His son James was then 23 years old and Richard 14. John senior was buried at Weaste on 2 January 1878 in the same
    grave as John junior, but no inscription was added to the headstone. What a festive season that must have been.
</p>

<p>So by the time we reach the next census date in 1881, the family part of the household is reduced to three (although Bridget has
    taken in some boarders, presumably with the main purpose of making up the income).</p>



<h5>3 April 1881 E&W census: the Noonan household, greengrocers at 71 Whit Lane, Pendleton</h5>
<table id="tableE" class="table1" style="float:left;margin-right: 2%;">
    <tr style="height: 35px; vertical-align: bottom; ">
        <td class="frame1">Name</td>
        <td class="frame1" style="width: 40px; text-align: center;">Given age</td>
        <td class="frame1" style="width: 110px;">Relationship, marital status</td>
        <td class="frame1" style="text-align: center;">Place of birth</td>
        <td class="frame1" style="text-align: center;">Occupation</td>
    </tr>
    <tr>
        <td class="frame1">Bridget Noonan</td>
        <td class="body1" style="width: 40px; text-align: center;">50</td>
        <td class="body1">Head/Widow</td>
        <td class="body1" style="text-align: center;">Ireland</td>
        <td class="body1" style="text-align: center;">Greengrocer</td>
    </tr>
    <tr>
        <td class="frame1">James Noonan</td>
        <td class="body1" style="width: 40px; text-align: center;">24</td>
        <td class="body1">Son/Single</td>
        <td class="body1" style="text-align: center;">Pendleton, Lancashire</td>
        <td class="body1" style="text-align: center;">Greengrocer&#39;s assistant</td>
    </tr>
    <tr>
        <td class="frame1">Richard Noonan</td>
        <td class="body1" style="width: 40px; text-align: center;">18</td>
        <td class="body1">Son/Single</td>
        <td class="body1" style="text-align: center;">Pendleton, Lancashire</td>
        <td class="body1" style="text-align: center;">Greengrocer&#39;s assistant</td>
    </tr>
    <tr>
        <td class="frame1">William Doran</td>
        <td class="body1" style="width: 40px; text-align: center;">40</td>
        <td class="body1">Boarder/Married</td>
        <td class="body1" style="text-align: center;">Ireland</td>
        <td class="body1" style="text-align: center;">Coal miner</td>
    </tr>
    <tr>
        <td class="frame1">Kate Doran</td>
        <td class="body1"style="width: 40px; text-align: center;" >32</td>
        <td class="body1">Boarder/Married</td>
        <td class="body1" style="text-align: center;">Ireland</td>
        <td class="body1" style="text-align: center;">Cotton spinner</td>
    </tr>
    <tr>
        <td class="frame1">Mary A Doran</td>
        <td class="body1"style="width: 40px; text-align: center;" >14</td>
        <td class="body1">Boarder/single</td>
        <td class="body1" style="text-align: center;">Pendleton, Lancashire</td>
        <td class="body1" style="text-align: center;">Cotton weaver</td>
    </tr>
</table>

<p style= "margin-top: 0;">The Noonans’ ages – especially Bridget’s - are slightly awry compared with earlier censuses,
    and yet a glance at the <span
	        style="text-decoration: underline; background-color: AntiqueWhite; color: sienna;"
            title = "View original"
            onclick="viewImage('images/71 Whit Lane Pendleton 1881.jpg');">original census page</span>
    shows that there is no transcription difficulty in this case. Possibly, James dealt with the enumerator and said his Mum
    was “fifty-something”, leading to the enumerator just writing “50”. </p>
<br>
<p>In earlier censuses, it was common practice to round ages to the nearest five years, so perhaps some enumerators viewed
    this as acceptable. Quite how James’ own age became 24 instead of 26 is another matter.</p>