{% extends "layout.njk" %}

{% block title %}
1. From John and Bridget to James and Mary
{% endblock %}

{% block main %}

{% include "chapter1/1-introduction.njk" %}
{% include "chapter1/2-john_and_bridget.njk" %}
{% include "chapter1/3-growing_the_family.njk" %}
{% include "chapter1/4-shrinking_the_family.njk" %}
{% include "chapter1/5-james_and_mary.njk" %}

{% endblock %}