{% extends "layout.njk" %}

{% block title %}
1. Hanging by a Thread - from John and Bridget to James and Mary
{% endblock %}

{% block main %}

{% include "chapter1/introduction.njk" %}
{% include "chapter1/john_and_bridget.njk" %}
{% include "chapter1/growing_the_family.njk" %}
{% include "chapter1/shrinking_the_family.njk" %}
{% include "chapter1/james_and_mary.njk" %}

{% endblock %}