<h4>Introduction</h4>

<p>In 1999, less than three years before he died, my dad Jim Noonan completed a memoir of the
    early part of his life, from his birth in 1922 to roughly 1955, when he and mum got married. He lived
    in Salford for almost all of this period, apart from his war years with the RAF in colonial India. The
    title of his memoir,
    <a class= "linkA" href="images/DtA - Annotated.pdf" target ="_blank" title = "Open Down the Arches PDF">
        "Down the Arches of the Years"</a>
    was partially inspired by his memory of the arches supporting the railway lines which still run above the
    bottom end of Greengate across the river from Salford to Victoria station in Manchester. He presented this
    memoir to those attending the occasion of the fiftieth anniversary of his sister Cath's 1949 Profession as
    a sister of the Catholic Carmelite order, a celebration for which the family gathered at her monastery in
    Wetherby during 1999.</p>

<p>This history has in turn been partially inspired by dad's memoir, if only because we wanted to answer
    the questions it left open. Dad did not have the benefit of the enormous on-line databases now available,
    less than twenty years later, to the amateur historian. How I wish he was here to share and	discuss what
    we have now learned using those resources. We initially called our story "A Little Further down the Arches",
    but from dad's perspective that was exactly the wrong direction of travel. Until we get a better suggestion -
    which shouldn't be too challenging - we've called it "Where did all those Arches come from?". To make
    it absolutely clear, we are peering <u>up</u> the arches in question, back to dad's birth and beyond.</p>

<p>Dad recorded that his own dad Richard was born at 102 Gill Street, Pendleton in 1892, but he didn't know
    much more than that. However, we now know that Richard was the youngest child of Mary Corcoran and James
    Noonan, and that James was the first son of John Noonan and Bridget O'Neill, who in turn were both first-generation
    immigrants to Salford from Ireland. So our story begins with John and Bridget, and then follows the Noonan branches
    of the family in Salford down their respective sets of arches until they meet dad's arches coming up the other way.
    Later we will look at John's own heritage, and also, one by one, at the backgrounds of the early Noonan
    spouses in Salford (including Bridget).</p>