
<h4>James and Mary</h4>

<p>There was another boarder of particular interest living in Pendleton on census day 1881, a single young woman of 26, who
    had been born in Ireland, and was working in some mill as a cotton winder. The address shown on
    <span
            class="linkA"
            title = "View original"
            onclick="bigimg('fullscreen13', 1, 5, 2, 2518, 1818, '6 Hall St - Mary Corcoran boarder 1881.jpg');">the census form</span>
    was 6 Hall Street, just off Lissadel Street near its junction with Broughton Road - so not far from Whit Lane at all - and
    if her mill happened to be <span
            class="linkA"
            title = "Learn a bit more about Sir Elkanah"
            onclick="opench1a();">Sir Elkanah Armitage's enormous complex at Pendleton New Mills</span> across Broughton Road,
    her workplace was also just a few steps from her door. The young woman's name was Mary Corcoran, and it turns out that
    James Noonan was already quite close to her by census day - in fact they had probably already been engaged for some time. We can
    speculate as to whether James had met her on his vegetable rounds. The evidence seems pretty strong that he delivered vegetables from
    door to door, and it seems unnecessary to lose sleep over the question of whether they were delivered to order, or whether he
    hawked them as he went along. But meet her he had, one way or another.</p>

<p>This we know because, from the digital Lancashire OPC records, James had acted as a witness to a wedding which took place
    at the Mother of God and St James' church on 8 February 1880, the other witness being Mary Corcoran. The bride was Mary's
    younger sister Elizabeth and the groom a James Cassidy who at that time was living around Mount Carmel, obviously a
    catholic insitution, which was situated next to Boggart	Hole Clough in Blackley, north-east Manchester (very close as it happens to where my
    mum Marion spent the first half of her teens). I wonder whether that Carmel subsequently moved to the back of Moor Lane.
    At the time of the wedding, Mary had been living at 3 Heber Street, just on the other side of Lissadel Street from Hall Street,
    where she would move later. James was already at 71 Whit Lane, and Elizabeth was living on Herbert Street, a tiny road set into
    the corner of the enormous Salford Cattle Market. Probably, their widowed mother Margaret and older brother Henry were also at
    Herbert Street, but there is no proof. Nine years earlier at the 1871 census, all four of them had been living at West Thompson Street,
    just off Liverpool Street, rather closer to Manchester centre.</p>

<p>I feel that in those days, when a young couple acted together in the official capacity of witnessing a sibling's wedding, it was quite
    likely that they themselves were formally betrothed. Even if not, it must have been the case that by February 1880, the young
    couple were long past the stage of the awkward first formal introductions to their two families, and Bridget would have known Mary quite
    well by the time her sister Elizabeth got married. It is even possible that John Noonan had met Mary before he died at the end of 1877. That would make
    a very long courtship indeed - as it was, James and Mary were not eventually married until 16 November 1885.</p>

<p>On their <span
        class="linkA"
        title = "View original"
        onclick="bigimg('fullscreen14', 1, 4, 2, 1696, 1379, 'James 1881 household Newton.jpg');">1881 census form</span>,
    James Cassidy and his new bride Elizabeth were to be found living at 75 Briscoe Street in the Newton Heath district,
    near Failsworth on the Manchester-Oldham Road (as it happens, also close to Peter Reid's location in 1861).This made sense for James
    Cassidy as it was within the geographical ambit of where he had been living on the edges of Boggart Hole Clough before his marriage.
    James' mother-in-law Margaret and brother-in-law Henry shared their household. James was then working - heavy work indeed - as a
    fireman on a locomotive, and Henry as a painter's assistant, also on the railways.</p>

<p>This then explained why James Noonan's marriage to Mary Corcoran took place at St Marie's church in Failsworth - in the traditional
    manner, they went close to the (then) family home of the bride for the wedding. That would have been quite a trek across Manchester
    for the four Noonans, and I wonder what mode of transport they used. The marriage certificate gives Mary's address as 75
    Briscoe Street (rather than a Pendleton address), and she may indeed have moved there for some time before the wedding. James'
    address is given as 102 Gill Street, Pendleton, so the Noonans had moved from 71 Whit Lane by then, but as usual not very far.
</p>
<br>
<img src = "James and Mary 1885 Marriage Cert.jpg"
     style ="width: 650px; border: 2px solid sienna;float: left;margin-bottom: 15px; margin-right:20px;"
     class = "linkC"
     title = "view flexible image"
     onclick = "bigimg('fullscreen15', 1, 3, 1, 3028, 1344, 'James and Mary 1885 Marriage Cert.jpg');">

<p style="margin-top:0;">The certificate shows the four main protagonists' signatures written in full in their own hands, so
    there were no major literacy problems. These were the bride and groom themselves, plus their witnesses Richard Noonan and
    a Rose Ann Dunne. We don't know who Rose Ann was but Richard was obviously James' brother, and I wouldn't be surpised if
    he had also acted as best man. All this would no doubt have made Bridget Noonan very happy and teary.</p>

<p>The occupation of both the groom and his (deceased) father was given as Greengrocer, the bride was a Cotton Operative, and her
    (also deceased) father Patrick had been a Railway Porter. There was clearly a strong connection with the railways on the Cassidy
    side of the family.</p>

<p>After the wedding, James and Mary returned to settle back in Pendleton, possibly staying with Bridget and Richard at 102 Gill
    Street for a while at least. The next events in the history would have no doubt made Bridget doubly happy, because she lived
    to see the births of two grandchildren, but these were born at 32 Hedwig Street, a moment around the corner from Gill Street. So it
    looks as if James and Mary had arranged separate marital accommodation within which to raise their new family. Perhaps Bridget
    took in lodgers if there was spare space created, although it certainly wouldn't be spare by my modern-day standards. As
    Lancashire OPC has provided us with transcripts of the baptisms of the two babies, we haven't placed them on our civil Birth
    Certificate shopping list. Here is the information we have, from the records of the Mother of God and St James' church at
    Pendleton centre:</p>

<h5>Catholic church baptism records for Mary Ann (junior) and John Edward Noonan, 1886 - 1889*</h5>
<table id="tableF" class="table1" style="float:left;margin-right: 13%; margin-bottom: 15px;">
    <caption class="caption1">* All names have been rendered from Latin to English where required. James and Mary's third child was to be Richard (junior)</caption>
    <tr>
        <td class="frame1">Name</td>
        <td class="frame1">Birth date</td>
        <td class="frame1">Baptism date</td>
        <td class="frame1">Address at baptism</td>
        <td class="frame1">Godparent1</td>
        <td class="frame1">Godparent2</td>
    </tr>
    <tr>
        <td class="frame1">Mary Ann (junior)</td>
        <td class="body1">27/9/1886</td>
        <td class="body1">10/10/1886</td>
        <td class="body1">32 Hedwig Street</td>
        <td class="body1">Richard Noonan (senior*)</td>
        <td class="body1">Sarah Helen McMasters</td>
    </tr>
    <tr>
        <td class="frame1">John Edward</td>
        <td class="body1">25/1/1889</td>
        <td class="body1">17/2/1889</td>
        <td class="body1">32 Hedwig Street</td>
        <td class="body1">James Cassidy</td>
        <td class="body1">Elizabeth Cassidy</td>
    </tr>
</table>

<p>It is good to see that we recognise one of Mary Ann's godparents as her paternal Uncle Richard, and both of John Edward's
    as his maternal Uncle and Aunty James and Elizabeth. Did the latter have to come all the way across from Newton for
    the occasion? I don't yet know who Sarah McMasters was.</p>

<h5>Future marriages of Mary Ann & John Edward Noonan at birth</h5>
<table id="tableG" class="table1" style="float:left;margin-right: 2%;width:65%;">
    <tr>
        <td class="frame1">Name</td>
        <td class="frame1">Prediction</td>
    </tr>
    <tr>
        <td class="frame1">Mary Ann (junior)</td>
        <td class="body1">Ipsa Matri. Contraxit cum Petro Webster in Eccl. S. Sebastiani, Pendleton 17 Aprilis 1933</td>
    </tr>
    <tr>
        <td class="frame1">John Edward</td>
        <td class="body1">Ipse Joannes Eduardus Noonan die 17 Septembris 1910, matrimonium contraxit cum Teresia Brigida
            Malone, in Ecclesia Sancti Bonifacii apud Lower Broughton</td>
    </tr>
</table>
<br>
<p style="margin-top:-20px;">The Catholic Church in Salford has worked two administrative miracles in this instance. The baptism records for
    Mary Ann and John Edward are somehow future-linked to each of their marriage details. I can’t resist the Latin for a fun challenge.</p>

<p style="margin-top: 15px;">As we have now reached early 1889, it is natural for us to expect to find two Pendleton households
    just two years later at the 1891 census, one headed by Bridget the widow and the other by James, the husband and new father. But
    that's not what we find at all. Instead there is one household at 102 Gill Street containing everyone expected except Bridget.</p>
<br>
<u>The rollercoaster</u>

<p style = "margin-top:0;">The reason Bridget was absent on census day was that she had died three weeks earlier, on 14 March 1891. It
    looks as if the two households had been combined for some time, as there wouldn't have been enough time to arrange a house-move,
    however local, between 14 March and 5 April (particularly if arrangements had to be made for lodgers to move on). The cause of death
    given on the certificate was cirrhosis of the liver and exhaustion, but as this seems to be more an underlying than a proximate cause,
    it suggests that Dr Armes, the certifying physician, had been attending Bridget for some time. All this suggests in turn that
    Bridget had been ill for some time, and that James and Mary and family had moved back to 102 Gill Street to allow Mary to nurse
    and generally care for her. James signed as having been present at his mother's death.</p>

<p> The <span
        class="linkA"
        title = "View certificate"
        onclick="bigimg('fullscreen19', 1, 5, 2, 2908, 2040, 'Bridget Noonan DCert 1891.jpg');">death certificate</span>
    absurdly records Bridget's age as 47, but I suspect she was in reality approaching 65. Her late husband was
    elevated posthumously to the exalted rank of Master Fruiterer. The death was registered two days later on 16 March, and we know
    from the Weaste cemetery records that she was buried there on 19 March in the same grave as her son John junior (died 1874) and
    husband John senior (died 1877). As at her husband's death previously, no inscription was added to the headstone.</p>

<p>Thus it was that we find a single Noonan household in Pendleton on census day, as follows:</p>

<h5>5 April 1891 E&W census: the Noonan household at 102 Gill Street, Pendleton</h5>
<table id="tableH"
       class="table2"
       style="float:left;margin-right: 2%;"
       title = "View original census page"
       onclick="bigimg('fullscreen22', 1, 4, 1, 1978, 1528, '102 Gill Street Pendleton 1891.jpg');">
    <tr style="height: 35px; vertical-align: bottom; ">
        <td class="frame1">Name</td>
        <td class="frame1" style="width: 40px; text-align: center;">Given age</td>
        <td class="frame1" style="width: 110px;">Relationship, marital status</td>
        <td class="frame1" style="text-align: center;">Place of birth</td>
        <td class="frame1" style="text-align: center;">Occupation</td>
    </tr>
    <tr>
        <td class="frame1">James Noonan</td>
        <td class="body1" style="width: 40px; text-align: center;">36</td>
        <td class="body1">Head/Married</td>
        <td class="body1" style="text-align: center;">Pendleton</td>
        <td class="body1" style="text-align: center;">General labourer</td>
    </tr>
    <tr>
        <td class="frame1">Mary Noonan <i>(Corcoran)</i></td>
        <td class="body1" style="width: 40px; text-align: center;">38</td>
        <td class="body1">Wife/Married</td>
        <td class="body1" style="text-align: center;">Ireland</td>
        <td class="body1" style="text-align: center;"></td>
    </tr>
    <tr>
        <td class="frame1">Richard Noonan <i>(senior)</i></td>
        <td class="body1" style="width: 40px; text-align: center;">26</td>
        <td class="body1">Brother/Single</td>
        <td class="body1" style="text-align: center;">Pendleton</td>
        <td class="body1" style="text-align: center;">Iron broker</td>
    </tr>
    <tr>
        <td class="frame1">Mary Ann Noonan <i>(junior)</i></td>
        <td class="body1" style="width: 40px; text-align: center;">4</td>
        <td class="body1">Daughter</td>
        <td class="body1" style="text-align: center;">Pendleton</td>
        <td class="body1" style="text-align: center;"></td>
    </tr>
    <tr>
        <td class="frame1">John Edward Noonan</td>
        <td class="body1"style="width: 40px; text-align: center;" >2</td>
        <td class="body1">Son</td>
        <td class="body1" style="text-align: center;">Pendleton</td>
        <td class="body1" style="text-align: center;"></td>
    </tr>
</table>
<p style = "margin-top: 0;">James is now the head of the household, but his occupation has changed to general labourer.
    Dad wrote in “Down the Arches” that when Richard junior was born in 1892, James was a Hawker of Fruit.
    Whilst this does reinforce the link back to the greengrocer trade, it also suggests that by 1891, James was
    putting his hand to any work he could get.</p>

<p>This brings us naturally and happily on to a joyful event, namely the birth of grandad Richard [II], the last of James'
    and Mary's three children. We have not seen any documentation recording this event, but Dad quoted from his birth
    certificate in "Down the Arches". The address at birth was 102 Gill Street and the date of birth 3 March 1892 (this
    latter is corroborated by the 1939 national Register records). Apparently, the certificate was in the possession of Phil and
    Harry Scarsbrook back in 1999 - I wonder where it is now, as it would be good to place a copy on this website.</p>

<p>Clenching our eyelids closed and taking a deep breath before we start the next downwhill swoop on the emotional
    rollercoaster, when we dare to open them again near the bottom, we see that the next dire event looming up is the death of the
    mother of these three young children. Mary died less than ten years after her marriage, aged about 40, on 2 March 1894, that
    is a day before her youngest's second birthday. In her case, we have the funeral record, the death certificate and the burial
    details.</p>
<br>
<img src = "Mary Corcoran DeathCert 1894.jpg"
     style ="width: 600px; border: 2px solid sienna;float: left;margin-bottom: 15px; margin-right:20px;"
     class = "linkC"
     title = "view flexible image"
     onclick = "bigimg('fullscreen16', 1, 5, 2, 3072, 2152, 'Mary Corcoran DeathCert 1894.jpg');">

<p style="margin-top:0;">The family had moved again since Richard's birth, although again only a very short distance. Like
    Hedwig Street, Rhyl Street was a side-road of Gill Street, although nearer to No. 102. As in 1891, James described himself
    as a general labourer. Much more importantly, he was present at Mary's death. I have looked up the medical terms, and
    nephritis is a dysfunction of the kidneys, whilst asthenia is a terrible weakness of all the muscles. Both can be caused by
    any number of underlying conditions, some due to infections, others more related to environmental factors.</p>

<p>The death was officially registered on 5 March, the funeral was held on 8 March at All Souls and St John Vianney's church
    in Weaste and Mary was buried in the same grave as Bridget and the two Johns in Weaste cemetery on the same day. Once again,
    there was no inscription made on the headstone, and the only reason I can come up with for three consecutive burials, all in
    the same grave with an existing headstone, each with no new inscription, is that there had never been sufficient funds to
    afford one, since, as my instincts tell me, Peter Reid had paid for the first.</p>
<br>
<br>
<u>Grave matters</u>
<p style = "margin-top: 0;">Mary's was the last burial in that grave to this day. Thus it was that a headstone inscribed at the top with the name
    of Mary Ann Noonan, who died of some obscure illness in 1870, came to mark the final resting place of four people other than herself,
    the last being the sister-in-law she had almost certainly never met, Mary Noonan by marriage, who also died of some obscure
    illness 24 years later in 1894. After some bureaucratic hustling with Salford Bereavement Services around who currently holds
    formal ownership of this burial-plot, I was sent a copy of the original manuscript record held for the grave. Before 2018,
    I suspect that the record-book in question hadn't been opened at that page for 124 years.</p>
<br>
<img src = "Manuscript Grave 2447-C20 record.jpg"
     style ="width: 450px; border: 2px solid sienna;float: left;margin-bottom: 15px; margin-right:20px;"
     class = "linkC"
     title = "view flexible image"
     onclick = "bigimg('fullscreen17', 1, 2, 1, 697, 454, 'Manuscript Grave 2447-C20 record.jpg');">

<p style="margin-top:0;">So despite being led on something of a runaround, it turns out that the ownership of the grave is
    still vested in John Noonan (senior), or his estate. But I was originally informed that it belonged to a Thomas Noonan,
    and of course I found a handful dotted around the area we now call Manchester during the 1860s, 70s and 80s. One or two
    of these looked like viable candidates to be John's brother. Was it possible that a rich brother had paid for the grave,
    or at least delivered Peter Reid's cash to pay for it?</p>

<p>If I could identify his brother, maybe I could at last identify John's father back in Tipperary. I found at least
    one James Noonan in the Carrick on Suir area  who had fathered both a John and a Thomas. I haven't the time, patience
    or energy to go into the details of this truly wild chase of geese here (though some of the side-stories I stumbled
    upon were quite interesting, such as that of the Independent Order of Oddfellows, Manchester Unity). Suffice it to
    say that after an obsessive week of searching, the Salford Bereavement people sent me a copy of the relevant page, and
    it became clear that they had misintepreted "Jno" as "Tho" - even though they already knew the purchaser's Whit Lane address.</p>

<p>Out of curiosity, I checked with both Salford Bereavement Services and the most longstanding stonemasons servicing
    the Salford cemeteries how the ownership and control of such graves would have passed down the generations. Back in
    the 1890s, it would not have been necessary for James Noonan to prove that he had inherited the grave before he was able
    to arrange to use it to bury another family member. These days, the rules are much more strict. We cousins (first and
    second) could lay out our proofs that we were John's sole descendants, so would be the natural inheritors of his estate.
    That sounds like a lot of work, and anyway, wouldn't the whole thing end up in Aunt Cath's hands as the most senior
    descendant? More sensibly, rather than concentrating on a tiny piece of Salford Quays real estate, if we decided we
    wanted to honour our ancestors' memories by making the headstone whole and complete again, I think there are various
    forms and declarations we could sign - and no doubt fees we could pay - to allow this. Anyone up for this?</p>
<br>
<u>James Noonan the widower</u>
<p style = "margin-top: 0;">At his wife’s funeral, James was 39 years old and his children 7, 5 and 2 years in descending
    order. I wonder which if any of the children attended the funeral – surely Mary Ann was old enough at least to remember
    the occasion? Did she and either of the other two never visit their mother's grave later in life? It's very difficult to
    construct a scenario under which none of the three siblings knew where their mother was buried. And it turns that at least
    one of them must have, as Mary Clements remembers hearing of the grave as a child.</p>

<p>But James was left in an awful situation. He was clearly already struggling to bring in a sufficient living - and I'm not
    sure how helpful his brother Richard was in their joint enterprise in this matter. Now James had to bring in the income at
    the same time as looking after three children, one of them an infant. From what we know, apart from
    Richard, James had no family nearby to turn to. The Cassidys and Corcorans would naturally want to help, but they were last
    seen on the other side of Manchester. I think it's little wonder that family stories developed and were passed down about
    Mary Ann sharing a huge portion of the burden. But I suspect that this started as early as 1894 after her mum died, rather
    than twelve years later when she lost her dad - although she no doubt had to redouble her efforts at that stage. How else could
    they have managed?</p>
<br>
<img src = "Mary Ann and Peter pic 1947.jpg"
     style ="width: 300px; border: 2px solid sienna;float: left;margin-bottom: 5px; margin-right:20px;"
     class = "linkC"
     title = "View whole photo"
     onclick = "bigimg('fullscreen20', 1, 5, 2, 2229, 1767, 'Websters at Eltringham marriage pic.jpg');">


<p style="margin-top: -5px;">Here's an extract from a photo of Mary Ann with husband Peter Webster taken (we think) 53 years
    after her mum died, in 1947. It's the only one we have of her. I suppose in reality, 1894 marked the beginning of a very
    challenging type of apprenticeship for her, as I would imagine that more and more domestic responsibility would be heaped
    upon her as time went on. But much of this experience would unfold in a quite different geographic environment than she had
    been used to. We don't know when the move took place, but 18 Rhyl Street is the last address we know of in Pendleton for our
    Noonan clan. By 1901, they would be on Agnes Street, well south of Pendleton and closer to the docks.</p>

<p>We also have no way of knowing how much help and support Richard gave to his brother James and his niece/god-daughter Mary
    Ann after her mother's death. We have no idea where he was living or what he was doing in 1894 when his sister-in-law died
    - in fact we have found no historical records of him whatsoever after the 1891 census until 1932.</p>

<p>In the circumstances, it was not altogether surprising to discover that there was a new Mrs Noonan on the scene by the time
    of the 1901 census. The only record we have currently is from the national register of marriages which tells us that a James
    Noonan (mistyped Norman) married a Hannah Jones in Salford registration district in the first quarter of 1899. We know this
    is the right marriage because it matches the 1901 census entries - and we also know that Jones was a previous married name,
    because Hannah brought her teenage son William Jones into the family.</p>

<p>We've tried to look into Hannah's background. One complication is of course that she was carrying the name Jones, a nightmare
    for genealogists. Another is that there were two Hannah Jones who gave birth to Williams in the right place at almost the same
    time. A third is that, unless we have been repeatedly grabbing the wrong end of every stick we've picked up, Hannah seems
    to have been very free and easy about specifying her place of birth whenever the census-men have found her. So we have parked
    that search for now. She clearly joined the Noonan household  early in 1899, and was still present at least two years
    later at the 1901 census.</p>

<p> Mary Ann was twelve years old when her step-mother and brother joined the family early in 1899. But surely, from her perspective, this
    would have made life a little easier, rather than harder. We hope. Anyway, here's how the household looked on census day 1901:</p>

<h5>31 March 1901 E&W census: James and Hannah Noonan family at 16 Agnes Street, Salford</h5>
<table id="tableI"
       class="table2"
       style="float:left;margin-right: 2%;"
       title = "View original census page"
       onclick="bigimg('fullscreen21', 1, 5, 2, 2693, 1648, '16 Agnes Street Salford 1901.jpg');">
    <tr style="height: 35px; vertical-align: bottom; ">
        <td class="frame1">Name</td>
        <td class="frame1" style="width: 40px; text-align: center;">Given age</td>
        <td class="frame1" style="width: 110px;">Relationship, marital status</td>
        <td class="frame1" style="text-align: center;">Place of birth</td>
        <td class="frame1" style="text-align: center;">Occupation</td>
    </tr>
    <tr>
        <td class="frame1">James Noonan</td>
        <td class="body1" style="width: 40px; text-align: center;">46</td>
        <td class="body1">Head/Married</td>
        <td class="body1" style="text-align: center;">Pendleton</td>
        <td class="body1" style="text-align: center;">Sewage labourer</td>
    </tr>
    <tr>
        <td class="frame1">Hannah Noonan</td>
        <td class="body1" style="width: 40px; text-align: center;">49</td>
        <td class="body1">Wife/Married</td>
        <td class="body1" style="text-align: center;">Ireland</td>
        <td class="body1" style="text-align: center;">Charwoman</td>
    </tr>
    <tr>
        <td class="frame1">William E Jones</td>
        <td class="body1" style="width: 40px; text-align: center;">20</td>
        <td class="body1">Stepson/Single</td>
        <td class="body1" style="text-align: center;">Salford</td>
        <td class="body1" style="text-align: center;">Iron moulder</td>
    </tr>
    <tr>
        <td class="frame1">Mary A Noonan <i>(junior)</i></td>
        <td class="body1" style="width: 40px; text-align: center;">14</td>
        <td class="body1">Daughter</td>
        <td class="body1" style="text-align: center;">Pendleton</td>
        <td class="body1" style="text-align: center;">Cop reeler, cotton mill</td>
    </tr>
    <tr>
        <td class="frame1">John <i>(Edward)</i> Noonan</td>
        <td class="body1"style="width: 40px; text-align: center;" >12</td>
        <td class="body1">Son</td>
        <td class="body1" style="text-align: center;">ditto</td>
        <td class="body1" style="text-align: center;"></td>
    </tr>
    <tr>
        <td class="frame1">Richard Noonan <i>(junior)</i></td>
        <td class="body1"style="width: 40px; text-align: center;" >7</td>
        <td class="body1">Son</td>
        <td class="body1" style="text-align: center;">ditto</td>
        <td class="body1" style="text-align: center;"></td>
    </tr>
</table>
<p style="margin-top: 0;">In the geographical terms of the early 1900s, Agnes Street was just to the south of the cattle market,
    not quite halfway from Cross Lane to Langworthy Park going west. It was very close to Herbert Street where Elizabeth Corcoran
    had been living until she got married in 1880. In more modern terms, it was just to the south of West High Street, near Denbigh
    Place.</p>

<p>Although John and Richard are not down as "scholars", I think they probably did get a reasonable schooling, as all the later
    signs are that they emerged into adulthood literate. Aged fourteen by the census date, Mary Ann had already finished whatever
    schooling she had had, and was hard at work in the mills (and may well have been since age twelve). That sounds like a steady job
    at least, and meant that there were four earners in the household.  It also looks as if William E Jones was in a fixed and
    reasonably permanent employment, wherever he moulded his iron. But the working patterns of Hannah and James may well have been
    much less regular. I guess a charwoman might take in laundry occasionally, and perhaps have one or two weekly appointments in
    others' households, but the word does not suggest a long-term attachment to a specific household.</p>

<p>Which brings us inexorably on to the question of the nature of the work of a sewage labourer. It's as if James and Hannah
    had reached a stage in life when they said What the Heck, let's see it as it is and call a spade a spade. None of this
    la-di-da Master Dyer or Master Fruiterer. Not even greengrocer, even if I do occasionally hawk a cabbage or two. No,
    charwoman and sewage labourer we are. But sewage labourer might not have been quite as bad as it sounds, and I don't
    think it means night-soil collector. The 1890s and early 1900s were a time of massive civic works on combined sewer systems
    and flood defences in the Manchester conurbation, so much of the work may have been digging, excavation and pipe-laying,
    although I guess sometimes in pretty unsavoury places.</p>

<p>But even if the work wasn't particularly unpleasant in terms of filth and bacterial health-hazards, it would have been
    extremely physically demanding, especially if work was done in all weathers, and much more suited to young men in their
    twenties and thirties than to a man about to turn fifty. We can only wonder if James was permanently on the books of one
    of the contractors undertaking the work, or if he was merely in the day-labour pool, gathering at an appointed street
    every morning in the hope of a day's work, against all the younger competition. I don't know.</p>

<img src = "Weaste memorial 2018 - detail.jpg"
     class = "linkB"
     style="float:right;margin: 20px 0px 0px 20px; width:400px;"
     title = "View full picture"
     onclick = "bigimg('fullscreen7', 1, 4, 2, 1600, 1200, 'Weaste memorial 2018.jpg');" >

<p>And the work, the living conditions and life generally did take its toll on James, for he gave up the ghost on
    29 April 1906. <span
            class="linkA"
            title = "View certificate"
            onclick="bigimg('fullscreen23', 1, 5, 2, 2936, 2064, 'James Noonan DCert 1906.jpg');">
	The certificate</span> gives a cause of death which would be most expected for a man of that age (55 actually, not
    54), and in those circumstances, namely pneumonia. My guess is he worked his fingers to the bone to the last, mainly
    in aid of his children and his first wife Mary's memory. Sheer speculation, but there is no contradictory evidence. The final
    description of his occupation is unequivocal: highway labourer. Mary Ann signed that she was present at his death,
    so she'd had enough schooling to write. She was not quite age 20 at the time, John Edward was 17 and Richard (junior)
    14.</p>

<p>The funeral and burial took place on 5 May in the usual church and cemetery at Weaste. I don't know whether the
    family grave in Weaste was deemed to be full, or in too bad disrepair, or there was a lack of money for administrative
    fees, grave-diggers and the like, but James was not buried there with his first wife Mary. Like his older sister Mary Ann [I]
    (as we believe), his was a "public" burial, so he is amongst the many whose exact resting place is not known.  But Salford
    Bereavement Services has a record of his burial in Weaste, and the funeral record confirms it (in Latin).</p>

<p>But where was James' second wife, Hannah? I wonder whether she was still part of the household at that stage -
    after all, if she'd been around, she would have known that James was in danger of death from a serious illness and she would
    have been present. As the senior member of the household and James' legal wife, she would surely have been asked to sign
    the death certificate, even if only with an X. Perhaps she had left, maybe to live with her adult son William.
    Perhaps she herself was ill, or maybe she even pre-deceased James. But I cannot find her in the records, unless we allow
    the death in Salford of a Hannah Newton of about the right age in the fourth quarter of 1906 - but that would be after James'
    death. I can find no trace of her or her son William in the 1911 census.</p>

<p>Perhaps there is a clue in the new location. At some point between March 1901 and April 1906, the family had left Agnes
    Street in west-central Salford and by 1906 they lived in a completely different area, at 34 East Robert Street. This lay
    in the district of Broughton, north of Greengate and close to the river. It wasn't quite the Lower Broughton Road area where
    family lore has it that Mary Ann [II] had a chippy in those difficult years after her dad's death, but it was within easy
    reach of it. I have a feeling that, even if she started this migration with the rest of the family, Hannah didn't complete
    it, and for some reason I wouldn't be surprised if she had stayed in central Salford. But I could easily be way off the mark.
    Whatever the case, James' three children somehow survived and made it through, because we can find them all at the 1911
    census, six years later.</p>
<br>
<br>

<button type="button" onclick="opench2();" class="button button2">
    <span>2: The third generation</span>
</button>
</div>
<div id="lcontainer1a" class="leftboxch1" style="display:none;">
    <br>

    <p>Here are some potted extracts from the Wikipedia article on Sir Elkanah Armitage, as it stood near the end of November 2018.
        I have included this little digression here because the time and space in which he lived intersected significantly with those of
        John Noonan and Peter Reid, and his life highlighted some of the more important social and economic circumstances in the midst of
        which their lives were lived.</p>

    <p>Elkanah was born in 1794 in Failsworth (where James Noonan and Mary Corcoran got married nearly a century a later and near Newton
        Heath where Peter Reid was living in 1851). So he was a generation older than John Noonan. His father was a farmer and a cotton weaver
        – and I assume this would be a home hand-weaving undertaken as a supplement to the farming business.</p>

    <p>They say he firstly went to school and secondly left to work in the local cotton mill at the age of eight. The second part of this is
        easy to believe – the early mills were almost entirely staffed by women and very young children. Perhaps the men saw such repetitive
        work, under such such strict control, as beneath them - women had probably done most of the weaving (with the help of the children)
        when it had been a cottage industry at home. The first part leaves me asking how old he would have been when he went to
        school, and how much he could have learned during the short time he attended. The thinking is that he subsequently “hauled himsef up
        by his bootstraps”.</p>

    <p>They also say, in the section on Sir Elkanah’s political life, that his name appeared on the 1806 petition for the abolition of
        the slave trade. Given that he would be aged twelve at the time, that would seem to make him something of a prodigy. But perhaps he was.</p>

    <p>His business career seems to have started on Chapel Street, Salford a few years before 1820. He had married a Mary Bowers in
        1816, and it looks as if they set up a draper’s shop together which did very well. A little later he went into weaving with a guy
        called James Thomson, presumably using the new industrial processes, and this venture also did well because before 1830 they were
        employing nearly 30 people.</p>

    <p>Pendleton Mill was first constructed some time between 1830 and 1848, because by the latter date it had been extended and
        (probably) re-capitalised and re-furbished to become Pendleton New Mill, which by then employed 600 people. In Pendleton,
        Elkanah and Mary first settled on Gore Hill, near Pendleton Green so extremely central, now almost on the junction of Broad
        St and Broughton Rd.</p>

    <p>By 1853, a couple of years after John had married Bridget and settled in Pendleton, Elkanah’s fortunes (and fortune) had
        waxed to such an extent that he was able to effect a huge upgrade in his accommodation arrangements. He bought Hope Hall,
        a little distance to the west of Pendleton on the Eccles Old Road. I imagine that this was some old aristocratic “pile”.
        The building no longer exists, apparently, but the location-memory (at least) survived in some form and somehow transmuted
        to become the nearby Hope Hospital in later years, now some carrying some characterless NHS Trust identity.</p>

    <p>Elkanah was politically active, but never succeeded in becoming an MP. During the 1830s and 1840s, he was elected as
        a Councillor for Exchange Ward in Manchester’s first city council, representing the Liberal party. Later, he became an Alderman,
        and from 1846-1848 (during the upsurge in the Chartist movement), he was Mayor of Manchester. Without checking, I feel he may
        have had considerable sympathy with the chartists, and Elkanah got his knighthood for helping to calm the volatile situation
        in Manchester in 1848.</p>
    <br>
    <img src = "Elkanah Armitage tomb.jpg"
         style ="width: 500px; border: 2px solid sienna;float: right;margin-bottom: 15px; margin-left:20px;"
         class = "linkC"
         title = "view flexible image"
         onclick = "bigimg('fullscreen31', 1, 4, 2, 2048, 1536, 'Elkanah Armitage tomb.jpg');">
    <p style="margin-top:0;">During his time, he held various other senior positions in some of the major institutions of the County of Lancashire.
        He was a vociferous free-trader and supporter of the Anti-Corn Law League, fighting to remove the entrenched economic advantages
        of the landed aristocracy. He was also a pacifist who opposed he Crimean War in oppoition to Prime Minister Palmerstone.</p>

    <p>Sir Elkanah died on 26 November 1876, aged 82, and was buried in Weaste cemetery. This was just a few years after
        John Noonan (junior) had been laid to rest in the same cemtery and just over a year before his father John Noonan (senior)
        made the same journey. They say Elkanah's funeral procession was half a mile long making the trek from Hope Hall to Weaste,
        but whether it was full of his happy employees and thousands of well-wishing fellow-Pendletonians, I cannot say - but the
        answer may lie in the archives of the Salford Chronicle in Salford museum. Who knows, perhaps the Noonans joined in the
        procession! His mill dominated the Pendelton skyline well into the twentieth century and he left a will worth about £15
        million in today’s money.</p>
    <br>
    <br>
    <br>

    <button type="button" id="navbuttPRa" class="button button6" onclick="opench1();" style="display:none;">
                <span style="margin: 0;">
		Back to main narrative
		</span>
    </button>
</div>

<div id="lcontainer1b" class="leftboxch1" style="display:none;">
    <br>


    <p>Peter Reid makes his first appearance (that we have been able to find) in the Lancashire historical records in the 1851 census, aged 25
        and born in Scotland. He is living in north-east Manchester in Newton Heath, near the Oldham Road on Monsall Lane. His household is made
        up of himself, describing his profession as Dyer, and 22 year Elizabeth Jones from Wales who is his domestic servant. Nearly every household
        on Monsall Lane is headed by someone in the professional classes and has at least one servant, so he is doing quite well for himself. The
        main reason for this becomes apparent when, looking at the historical maps, we notice Monsall Dye Works at the top of the Lane, and more
        dye and bleach works adjacent to the Rochdale Canal on the other side of the Oldham Road.</p>

    <p>So it looks as if Peter arrived from Scotland just a few years before John Noonan (senior) arrived from Ireland. This invites some
        comparisons: were the cards stacked in favour of one or the other? Looking at Peter Reid&#39;s 1851 census return, it certainly looks
        as if he holds a better hand - I immediately thought the man had had a good education, perhaps a rich dad in the trade, some money behind
        him, maybe serious capital, etc, etc, etc. And the later censuses in which he appears tend to reinforce these impressions.</p>

    <p>The earliest detailed map of Pendleton I&#39;ve seen is the Ordnance Survey published in 1848, which reflects surveys made in
        the early to mid-1840s. These show Whit Lane, still almost a country lane at that stage (albeit amidst fields dotted with
        industrial enterprises), running in a north-westerly direction from Pendleton in the rough direction of Bolton. Roughly parallel and
        to its south runs the Manchester-Bolton railway, and in between, the Bolton and Bury canal. Again (very roughly) parallel, to the
        north of Whit Lane the River Irwell runs through slightly lower ground. There does seem to be a lane joining Whit Lane to the canal where
        Indigo Street was later to be constructed, but it runs through open fields to a (then) outpost of Pendleton colliery. A little further up
        Whit Lane towards the main site of Pendleton Colliery is Whit Lane Print and Chemical Works, and beyond the colliery is Willow
        Bank Bleach Works. But I find it hard to see how these two works could be steam-powered, given their positions relative
        to the river and the canal. In any event, there is no industry shown at all where Indigo Street was to be constructed.</p>

    <p>The next helpful map to whch we&#39;ve had access was published in 1893, nearly 50 years later, but it represents an
        accumulation of surveys undertaken periodically during the intervening period. This shows Indigo Street linking Whit Lane
        to a footbridge across the canal (beyond which lies an Iron Works). The Caledonian Bleach and Dye Works - quite clearly
        Peter Reid&#39;s business - is shown as a large complex on the corner of Whit Lane and Indigo Street, and
        behind it is a Soap Works. There is an aquaduct shown running adjacent to the canal, and a series of sluices allowing
        a complex of three or four reservoirs between the canal and Mr Reid&#39;s works to be kept full. These would be the source
        of his steam power and the water needed for dyeing and bleaching. On the later map, the Whit Lane Print and Chemical Works
        has disappeared - but it might have been the seed from which the larger business across the road grew later. The Willow
        Bank Bleach Works has become the Willow Bank Cotton Mill.</p>

    <p>Peter Reid appeared in this changing landscape some time between the 1851 and 1861 censuses. At the 1861 census, he was living
        at 76 Bolton Road with his 22 year-old wife Margaret, 13 month old girl Elizabeth and his (also) 22 year-old brother John, plus
        two servants (so one step up from 1851). Peter had married a Margaret Thomas, of Manchester, on 28 April 1859, and slightly oddly
        the wedding was held in Dublin. Their address in 1861 was just to the west of where Broad Street, Pendleton, bifurcates to form
        Eccles Old Road and Bolton Road. It was not far from Indigo Street, almost due south. If there wasn&#39;t a short-cut across the
        railway lines and canal, it would have been easy to head back into Pendleton centre, cross on Broughton Road and complete the
        journey going back again on the other side. With two servants, Peter was surely also in a position to have a nice horse and
        carriage at his disposal. He described himself, and his brother, as a Cotton Dyer (Master).</p>

    <p>By 1871, Peter and Margaret had moved to 4 Strawberry Hill, added a further one to their tally of servants, another four to their
        tally of children and he now described himself as a Merchant Dyer. Strawberry Hill was on the other side of Pendleton, at the
        far end of Lissadel Street from its junction with Broughton Road, near Pendleton&#39;s boundary with Wallness. If you wanted to,
        you could take a brisk walk along the canal from Strawberry Hill to Indigo Street. But it was nothing by carriage.</p>

    <p>By 1881, the Reids had moved once again, added one further child, but retained the same strength in servants. Peter now
        described himself as a Bleacher and Dyer employing 30 hands (do we detect a slight need to justify his life creeping in?).
        Their new home had the grand address of Irwell Castle, Gerald Road, and seems to
        be have been in the heart of Charlestown, either adjacent to, on, or overlapping the site where St Sebastian&#39;s was
        later built. The maps give the impression that it was a house set in its own grounds, but probably not over-grand. The site
        was very close to the factory, just a short ride up Whit Lane. A hotel/pub called the Irwell Castle was later built on the opposite corner
        of the junction of Gerald Road and Whit Lane. These are not to be confused with Castle Irwell, which stood across the river
        to the north within what became the racecourse (and later notoriously became student accommodation). From the time the
        Reids moved to Charlestown, they were virtually neighbours of the Noonans, at whichever of their various nearby addresses they
        happened to be living at the time. If the Reids weren't already in Charlestown at the time of the accident in 1874,
        they were certainly there seven years later when the (remaining) Noonans still lived close by and the memory of the tragedy was still
        quite fresh.</p>

    <p>I cannot find Peter Reid in the 1891 census, but there was a death of a Peter Reid of the right age in the Fylde in 1889,
        and the Fylde was where well-to-do Mancunians liked to retire to. By then, Peter&#39;s sons had effectively taken over
        the business. In 1903, a company called the Caledonian Bleaching and Dyeing Company was established with the sole
        purpose of acquiring the business of Peter Reid and Sons. This company was listed on the Stock Exchange (there is apparently
        at least one reference in the historical Stck Exchange Year Books), so it looks as if the family sold off its controlling
        interest and the business was floated publicly.</p>

    <p>Peter&#39;s marriage record tells us that his father was Alexander Reid, we know he was born around 1825 in Scotland and he
        had a brother (John) also born in Scotland, in 1839. Armed with this information, we find that his mother was a Mary Veitch,
        that he was born in Govan, Lanarkshire (before it became the world-famous ship-building site), and that he was the second of
        nine children Mary had with Alexander, the last being John (also born in Govan). Alexander had a final child, James, with his
        second wife in 1845. Govan is on the south bank of the River Clyde and is of course now a suburb of the city of Glasgow,
        historically famous for its shipbuilding. Back then, it was an outlying settlement of the city, on the way to Paisley.
        Interestingly, the old maps I have found show that Paisley had a number of bleaching-works. None of this in itself suggests
        a grand education or a monied family, but let&#39;s look a little further.</p>

    <p>Back in the 1820s and 1830s, there was little in the way of a national registration system for births, marriages etc, so we have
        to rely on church records. Worse still, the censuses didn&#39;t start until 1841, and all my searches of the first two censuses have
        proved not only fruitless but also confusing. The answer eventually came through searches of industrial history, where I found a biography
        of Peter&#39;s brother Thomas. Alexander Reid had founded a "turkey-red" dyeing business on the banks of the Clyde in Govan in the mid to late
        1820s, so absorbing the small-scale traditional dyers who had operated in the area for centuries. When Alexander eventually died in 1873 -
        a year before John Noonan junior - his shares in the family business were worth about £175,000. By that time his sons Thomas
        and James also had a major interest in the firm (brother John who had stayed on Bolton Road with Peter in the early 1860s ended up as a
        cloth merchant living and trading in Calcutta). <a class= "linkA" href = "thomas_reid_biography.pdf" target ="_blank" title = "Open PDF of
	potted biography of Thomas Reid">Thomas became a prominent Glasgow industrial magnate</a>, with many conections amongst the
        great of his day and worldwide financial connections and interests. When he died in 1900, his UK-visible estate was worth over £200,000.</p>

    <p>So the Reid family business in Govan had turned out to be very successful indeed, Peter did have a rich dad and capital to support him,
        and no doubt he had also had a decent education (but perhaps no more than he strictly needed to support him in the family trade).
        Most of all he was expert in a trade which was highly marketable within the context of the booming textile industry in Lancashire.
        At some point, I wondered if he had once been a boy-employee in a dye-works himself, and subsequently dragged himself up by his
        bootstraps. But no, I doubt he had had to face that harsh experience (although maybe his dad did). Reverting to my original question,
        I would say that, relative to John Noonan senior, the cards were heavily stacked in Peter Reid&#39;s favour. We don&#39;t
        actually know what skills young John Noonan carried with him when he left Tipperary for Lancashire in his late teens. But in
        Carrick on Suir there would have been precious little opportunity to learn any of the new trades so important in
        industrialising Lancashire.</p>
    <br>
    <br>
    <br>

    <button type="button" id="navbuttPR" class="button button6" onclick="opench1();" style="display:none;">
                <span style="margin: 0;">
		Back to main narrative
		</span>
    </button>
</div>

<div id="lcontainer2" class="leftboxch1" style="display:none;">


    <p>At the census date, 2 April 1911, Mary Ann (mis-transcribed as Moonan) was living at 251 Bury New Road, Broughton,
        lodging with a young couple who had a shop. Her landlord and landlady were John and Elizabeth Moss (who had married
        in 1905), and they ran a fruiterers which also retailed beer. All three of them were Mancunians (in the broadest sense) and
        stated their ages as 25 (although Mary Ann was still slightly short of her 25th birthday). She was employed in the
        confectionery industry as a lozenge-cutter, and was still single.</p>