<div class="table-responsive-md">
	<table 
	   class="table table-bordered table-link"
       title = "View original census page"
       onclick="viewImage('images/Corcoran household Salford 1861.jpg');">
	   <thead>
		<tr>
			<th class="tab-first-col">Name</th>
			<th>Given age</th>
			<th>Relationship, marital status</th>
			<th>Place of birth</th>
			<th>Occupation</th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<td class="tab-first-col"></td>
			<td class="tab-center-col"></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td class="tab-first-col"></td>
			<td class="tab-center-col"></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td class="tab-first-col"></td>
			<td class="tab-center-col"></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td class="tab-first-col"></td>
			<td class="tab-center-col"></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td class="tab-first-col"></td>
			<td class="tab-center-col"></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td class="tab-first-col"></td>
			<td class="tab-center-col"></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td class="tab-first-col"></td>
			<td class="tab-center-col"></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>
</div>