<div class="list-group list-group-flush">
<h6 class="text-center" style="margin:0;padding:0;background-color:beige; font-size: 1.2em;text-decoration:none;">Contents</h6>
    <a class="list-group-item" href="chapter1">1. John & James: 1851-1906</a>
    <a class="list-group-item" href="chapter2">2. The third generation</a>
    <a class="list-group-item" href="chapter3">3. Catherine Burgin-Dolans</a>
    <a class="list-group-item" href="chapter4">4. Teresa Malone-Sunderlands</a>
    <a class="list-group-item" href="chapter5">5. Mary Corcoran-Ransbottoms</a>
    <a class="list-group-item" href="chapter6">6. Bridget O'Neil in Balbriggan</a>
    <a class="list-group-item" href="chapter7">7. John Noonan in Carrick</a>
    <a class="list-group-item" href="dig1a">1a. Peter Reid, the Govan Dyer</a>
    <a class="list-group-item" href="dig1b">1b. Elkie Armitage & Pendleton Mill</a>
    <a class="list-group-item" href="dig3a">3a. Mary Foster: not in Nottingham</a>
    <a class="list-group-item" href="dig3b">3b. The Murphys from Bangladesh</a>
    <a class="list-group-item" href="dig7a">7a. The winding road to Ripon</a>
	<a class="list-group-item" href="dig7b">7b. The Canon from Carrick</a>
</div>

