<div class="list-group list-group-flush">
    <a class="list-group-item {{ 'active' if url === 'chapter1' }}" href="chapter1">1. John & James: 1851-1906</a>
    <a class="list-group-item {{ 'active' if url === 'chapter2' }}" href="chapter2">2. The third generation</a>
    <a class="list-group-item {{ 'active' if url === 'chapter3' }}" href="chapter3">3. Catherine Burgin-Dolans</a>
    <a class="list-group-item {{ 'active' if url === 'chapter4' }}" href="chapter4">4. Teresa Malone-Sunderlands</a>
    <a class="list-group-item {{ 'active' if url === 'chapter5' }}" href="chapter5">5. Mary Corcoran-Ransbottoms</a>
    <a class="list-group-item {{ 'active' if url === 'chapter6' }}" href="chapter6">6. Bridget O'Neil in Balbriggan</a>
    <a class="list-group-item {{ 'active' if url === 'chapter7' }}" href="chapter7">7. John Noonan in Carrick</a>
    <a class="list-group-item {{ 'active' if url === 'dig1a' }}" href="dig1a">Peter Reid, the Govan Dyer</a>
    <a class="list-group-item {{ 'active' if url === 'dig1b' }}" href="dig1b">Elkie Armitage & Pendleton Mill</a>
    <a class="list-group-item {{ 'active' if url === 'dig3a' }}" href="dig3a">Mary Foster: not in Nottingham</a>
    <a class="list-group-item {{ 'active' if url === 'dig3b' }}" href="dig3b">The Murphys from Bangladesh</a>
    <a class="list-group-item {{ 'active' if url === 'dig7a' }}" href="dig7a">The winding road to Ripon</a>
	<a class="list-group-item {{ 'active' if url === 'dig7b' }}" href="dig7b">The Canon from Carrick</a>
</div>

