<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex">
	<link rel="stylesheet" type="text/css" href="javascripts/blb/basicLightbox.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">

    <title>Where did all those Arches come from?</title>
</head>
<body>


<div class="container-fluid">
    <div class="row">
	
	
        <div class="col-12 col-lg-3 p-0 mt-0 sticky-top align-self-start" 
		     style="border-right:1px solid sienna;
            		background-color:transparent;">
            
			<div class="d-none d-lg-block" 
			     id="chapterMenu">
				{% include "chapters.njk" %}
            </div>
			
        </div>
		
		
        <div class="col-12 col-lg-8 mt-0 pl-0 pr-0">
		
			
		<div class="sticky-top">			
		
			
			<h1 class="text-center pt-1 m-0 bookname">
			Where Did All Those Arches Come From?</h1>
						
			<div style="background-color:beige;">
            <p class="text-center d-none d-lg-block m-0" >
			<i>To the descendants of John Noonan and Bridget O'Neill, Irish pioneers in Salford from 1851</i></p>
			</div>
                <button id ="lhburger" 
				        class="navbar-toggler d-lg-none float-left" 
				        type="button"
						onclick="toggleburger('chapmenu');">
				 <span class="hamburger"></span>
            </button>
            
			<button id="rhburger"
			        class="navbar-toggler d-lg-none float-right"
			        type="button"
					onclick="toggleburger('qlmenu')";>
                <span class="hamburger"></span>
            </button>
				<h3 class="chapname">
				{% block title %}{% endblock %}</h3>
				
				</div>
			
			
			<div style="background-image: url('../images/background.jpg');">
			
			
			<div id="chapmenu" 
			     class="d-lg-none">
			{% include "chapters.njk" %}
			</div>
			
			<div id="qlmenu" 
			     class="d-lg-none"
				 onclick="vanish(this);">
			{% include "right_hand_menu/rh_nav.njk" %}
			</div>
			
                {% block main %}{% endblock %}
            </div>

        </div>
		
        <div class="col-12 col-lg-1 p-0 mt-0 sticky-top align-self-start" 
		style="border-left:1px solid sienna;
		background-color:beige;">
		<div class="d-none d-lg-block" 
		     id="qLinkMenu">
		        {% include "right_hand_menu/rh_nav.njk" %}
		</div>
        </div>
    </div>


</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/dragscroll/0.0.8/dragscroll.min.js"></script>
<script src="javascripts/blb/basicLightbox.min.js"></script>
<script src="javascripts/main.js"></script>
</body>


</html>