<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex">
	<link rel="stylesheet" type="text/css" href="javascripts/blb/basicLightbox.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">

    <title>Where did all those Arches come from?</title>
</head>
<body>


<div class="container-fluid">
    <div class="row">
	
	
        <div class="col-12 col-lg-3 p-0 mt-0 sticky-top align-self-start" 
		     style="border-right:1px solid sienna;
            		background-color:beige;">
            
			<div class="collapse chapter-nav d-lg-block" 
			     id="chapterMenu">
				{% include "chapters.njk" %}
            </div>
			
        </div>
		
		
        <div class="col-12 col-lg-8 mt-0 pl-0 pr-0">
		
			<div id="pnhead" class="sticky-top pt-1" style="color:sienna;background-color:beige;
			border-bottom:1px solid sienna;">
			
		<button class="navbar-toggler d-lg-none float-left" type="button" data-toggle="collapse"
                    data-target="#chapterMenu" onclick="toggleChapterMenu()">
               <!--     aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> -->
                <span class="hamburger"></span>
            </button>
            
			<button class="navbar-toggler d-lg-none float-right" type="button" data-toggle="collapse"
                    data-target="#qLinkMenu" onclick="toggleQLinkMenu()">
               <!--     aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> -->
                <span class="hamburger1"></span>
            </button>
			
			<h1 class="text-center">Where Did All Those Arches Come From?</h1>
            <p class="text-center"><i>To the descendants of John Noonan and Bridget O'Neill,
                Irish pioneers in Salford from 1851</i></p>
                <h3 
				id="chtitle" 
				style=
				"padding-left:3%; padding-top:1%;border-top:1px solid sienna;background-color: #f9f9eb; color:#63331c;">
				{% block title %}{% endblock %}</h3>
			</div>
			
			<div style="background-image: url('../images/background.jpg');padding-top:1%;">
                {% block main %}{% endblock %}
            </div>

        </div>
		
        <div class="col-12 col-lg-1 p-0 mt-0 sticky-top align-self-start" 
		style="border-left:1px solid sienna;
		background-color:beige;">
		<nav class="collapse qlink-nav d-lg-block" 
		     id="qLinkMenu">
		        {% include "right_hand_menu/rh_nav.njk" %}
		</nav>
        </div>
    </div>


</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/dragscroll/0.0.8/dragscroll.min.js"></script>
<script src="javascripts/blb/basicLightbox.min.js"></script>
<script src="javascripts/main.js"></script>
</body>


</html>