<h6>Catholic church record of................marriage</h6>
<div class="table-responsive-md">
  <table class="table table-bordered">
    <caption><i>* XYZ.....pqr</i></caption>
	<thead>
    <tr>
        <th class="tab-first-col"></th>
        <th>Name</th>
        <th>Residence</th>
        <th>Parents</th>
        <th>Witness</th>
        <th>Witness Address</th>
    </tr>
	</thead>
	<tbody>
    <tr>
        <td class="tab-first-col">Groom</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td class="tab-first-col">Bride</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
	</tbody>
</table>
</div>
