<div class="accordion cl-b">
<div class="poorcard text-center">
<div class="poorcard-header">
          Th<sup>o</sup>. Dolan (snr), 1894
</div>
<div class="poornoshow">
    <div class="poorcard-body">
    <p>
	This Thomas Dolan was born in 1865, and was entered as an RC in the 1894-5 Religious Creed Register
	of the Manchester Poor Law Reception Centre at Bridge St. on 30 Oct 1894. He then left on 5 Feb 1895, returned 
	on 26 Feb, left again on 2 March but returned on 12 March.</p>
	<span 
	class="span-link" 
	title="View Document"
	onclick = "viewImage('images/A Workhouse Thomas Dolan snr 1894.jpg');"><i><b>VIEW DOCUMENT</b></i></span>
   </div>
</div>
</div>
<div class="poorcard text-center">
<div class="poorcard-header">
          Th<sup>o</sup>. Dolan (snr), 1895
</div>
<div class="poornoshow">
    <div class="poorcard-body">
    <p>
	This - surely the same - Thomas Dolan was born in 1865, and was entered as an RC in the 1895-6 Creed Register
	on 12 March 1895. He then left on 1 April 1895, returned on 30 July, left again
	on 22 Aug, and had a final night in the Workhouse from 5-6 September. </p>
	<span 
	class="span-link" 
	title="View Document"
	onclick = "viewImage('images/A Workhouse Thomas Dolan snr 1895.jpg');"><i><b>VIEW DOCUMENT</b></i></span>
   </div>
</div>
</div>
<div class="poorcard text-center">
<div class="poorcard-header">
          Florence Dolan referral, 1902
</div>
<div class="poornoshow">
    <div class="poorcard-body">
    <p>
	This record of a Florence Dolan shows an admission date to the Manchester Poor Law School of 30 Oct 1896. Her age is
	reported as 7. She was discharged to the hospital at Crumpsall for treatment on 11 Dec 1902 (where Thomas [snr] would
	have been next door in the adult Workhouse). Her return from the hospital would have been recorded on a
	later page of the Admissions Book.</p>
	<span 
	class="span-link" 
	title="View Document"
	onclick = "viewImage('images/florence poor school Nov1896-Dec1902.jpg');"><i><b>VIEW DOCUMENT</b></i></span>
   </div>
</div>
</div>
<div class="poorcard text-center">
<div class="poorcard-header">
          Matthew Dolan referral, 1903(1)
</div>
<div class="poornoshow">
    <div class="poorcard-body">
    <p>
	This record of a Matthew Dolan states his age as 7 and as having an admission date of 27 March 1899. He was
	referred for treatment to CWH (Crumpsall Workhouse Hospital) on 20 April 1903.</p>
	<span 
	class="span-link" 
	title="View Document"
	onclick = "viewImage('images/Matt poor school Mar1899-Apr1903.jpg');"><i><b>VIEW DOCUMENT</b></i></span>
   </div>
</div>
</div>
<div class="poorcard text-center">
<div class="poorcard-header">
          Matthew Dolan referral, 1903(2)
</div>
<div class="poornoshow">
    <div class="poorcard-body">
    <p>
	This record of a Matthew Dolan states his age as 13 and as having an admission date of 11 May 1903. He was
	referred for treatment to CWH on 27 July 1903. If the ages recorded correspond 
	with the admission dates, this could be the same Matthew.</p>
	<span 
	class="span-link" 
	title="View Document"
	onclick = "viewImage('images/Matt poor school May1903-Jul1903.jpg');"><i><b>VIEW DOCUMENT</b></i></span>
   </div>
</div>
</div>
<div class="poorcard text-center">
<div class="poorcard-header">
          Matthew Dolan discharge, 1904
</div>
<div class="poornoshow">
    <div class="poorcard-body">
    <p>
	This record of a Matthew Dolan states his age as 13 and as having an admission date of 31 Aug 1903. He was
	finally discharged from the Poor Law School on 8 Oct 1904 and sent to Fairy Hill, a home for Catholic working boys.
	</p>
	<span 
	class="span-link" 
	title="View Document"
	onclick = "viewImage('images/Matt poor school discharge Oct1904.jpg');"><i><b>VIEW DOCUMENT</b></i></span>
   </div>
</div>
</div>
<div class="poorcard text-center">
<div class="poorcard-header">
          Th<sup>o</sup>. Dolan (jnr) discharge, 1902
</div>
<div class="poornoshow">
    <div class="poorcard-body">
    <p>
	This record of a Thomas Dolan states his age as 8 and as having an admission date of 30 Oct 1896. He was
	finally discharged from the Poor Law School on 23 July 1902 and sent to the Band of the Royal Irish
	Fusiliers. 
	</p>
	<span 
	class="span-link" 
	title="View Document"
	onclick = "viewImage('images/Thomas poor school discharge Jul1902.jpg');"><i><b>VIEW DOCUMENT</b></i></span>
   </div>
</div>
</div>
</div>