<p>Peter Reid makes his first appearance (that we have been able to find) in the Lancashire historical records in the 1851 census, aged 25
	and born in Scotland. He is living in north-east Manchester in Newton Heath, near the Oldham Road on Monsall Lane. His household is made
	up of himself, describing his profession as Dyer, and 22 year Elizabeth Jones from Wales who is his domestic servant. Nearly every household
	on Monsall Lane is headed by someone in the professional classes and has at least one servant, so he is doing quite well for himself. The
	main reason for his choice of location becomes apparent when, looking at the historical maps, we notice Monsall Dye Works at the top of the Lane,
	and more dye and bleach works adjacent to the Rochdale Canal on the other side of the Oldham Road.</p>
	
	<p>So it looks as if Peter may have arrived from Scotland just a few years before John Noonan (senior) arrived from Ireland. This invites some 
	comparisons: were the cards stacked in favour of one or the other? Looking at Peter Reid&#39;s 1851 census return, it certainly looks 
	as if he holds a better hand - I immediately thought the man had had a good education, perhaps a rich dad in the trade, some money behind 
	him, maybe serious capital, etc, etc, etc. And the later censuses in which he appears tend to reinforce these impressions.</p>
	
	<p>The earliest detailed map of Pendleton I&#39;ve seen is the Ordnance Survey published in 1848, which reflects surveys made in 
	the early to mid-1840s. These show Whit Lane, still almost a country lane at that stage (albeit amidst fields dotted with
	industrial enterprises), running in a north-westerly direction from Pendleton in the rough direction of Bolton. Roughly parallel and
	to its south runs the Manchester-Bolton railway, and in between, the Bolton and Bury canal. Again (very roughly) parallel, to the
	north of Whit Lane the River Irwell runs through slightly lower ground. There does seem to be a lane joining Whit Lane to the canal where
	Indigo Street was later to be constructed, but it runs through open fields to a (then) outpost of Pendleton colliery. A little further up
	Whit Lane towards the main site of Pendleton Colliery, on the right hand side, is Whit Lane Print and Chemical Works, and beyond the 
	colliery is Willow Bank Bleach Works. If these two works were steam-powered, the 1848 map, and their locations relative to the river and 
	the canal, suggest that the power would have been based on a limited water supply. At that stage, there seemed to be no industry at all 
	where Indigo Street was to be constructed.</p>
	
	<p>The next helpful map to which we&#39;ve had access was published in 1893, nearly 50 years later, but it represents an 
	accumulation of surveys undertaken periodically during the intervening period. This shows Indigo Street linking Whit Lane
	to a footbridge across the canal (beyond which lies an Iron Works). The Caledonian Bleach and Dye Works - quite clearly 
	Peter Reid&#39;s business - is shown as a large complex on the junction of Whit Lane and Indigo Street, and 
	behind it is a Soap Works. There is an aqueduct shown running adjacent to the canal, and a series of sluices allowing 
	a complex of three or four reservoirs between the canal and Mr Reid&#39;s works to be kept full. These would be the source 
	of his steam power and the water needed for dyeing and bleaching. On the later map, the Whit Lane Print and Chemical Works 
	on the other side of Whit Lane had disappeared - but it might have been the seed from which the larger business across the 
	road grew later. But by 1893, the Willow Bank Bleach Works seems to have been replaced by the Willow Bank Cotton Mill.</p>
	 
	 <p>Peter Reid appeared in this changing landscape some time between the 1851 and 1861 censuses. At the 1861 census, he was living
	 at 76 Bolton Road with his 22 year-old wife Margaret, 13 month old girl Elizabeth and his (also) 22 year-old brother John, plus
	 two servants (so one step up from 1851). Peter had married a Margaret Thomas, of Manchester, on 28 April 1859, and slightly oddly
	 the wedding was held in Dublin. Their address in 1861 was just to the west of where Broad Street, Pendleton, bifurcates to form 
	 Eccles Old Road and Bolton Road. It was not far from Indigo Street, which was almost due south. But if there wasn&#39;t a short-cut 
	 across the railway lines and canal, it would have been easy to head back into Pendleton centre, cross on Broughton Road and complete
	 the journey going back again on the other side. With two servants, Peter was surely also in a position to have a nice horse and 
	 carriage at his disposal. He described himself, and his brother, as a Cotton Dyer (Master).</p>
	 
	 <p>By 1871, Peter and Margaret had moved to 4 Strawberry Hill, added a further one to their tally of servants, another four to their 
	 tally of children and he now described himself as a Merchant Dyer. Strawberry Hill was on the other side of Pendleton, at the 
	 far end of Lissadel Street from its junction with Broughton Road, near Pendleton&#39;s boundary with Wallness. If you wanted to,
	 you could take a brisk walk along the canal from Strawberry Hill to Indigo Street. But it was nothing by carriage.</p>
	 
	 <p>By 1881, the Reids had moved once again, added one further child, but retained the same strength in servants. Peter now 
	 described himself as a Bleacher and Dyer employing 30 hands (do we detect a slight need to justify his life creeping in?).
	 Their new home had the grand address of Irwell Castle, Gerald Road, and seems to 
	 be have been in the heart of Charlestown, either adjacent to, on, or overlapping the site where St Sebastian&#39;s was 
	 later built. The maps give the impression that it was a house set in its own grounds, but probably not over-grand. The site
	 was very close to the factory, just a short ride up Whit Lane. A hotel/pub called the Irwell Castle was later built on the opposite corner 
	 of the junction of Gerald Road and Whit Lane. These are not to be confused with Castle Irwell, which stood across the river 
	 to the north within what became the racecourse (and later notoriously became student accommodation). From the time the 
	 Reids moved to Charlestown, they were virtually neighbours of the Noonans, at whichever of their various nearby addresses they 
	 happened to be living at the time. If the Reids weren't already in Charlestown at the time of the accident in 1874, 
	 they were certainly there seven years later when the (remaining) Noonans still lived close by and the memory of the tragedy was still 
	 quite fresh.</p>
	 
	 <p>I cannot find Peter Reid in the 1891 census, but there was a death of a Peter Reid of the right age in the Fylde in 1889, 
	 and the Fylde was where well-to-do Mancunians liked to retire to. By then, Peter&#39;s sons had effectively taken over
	 the business. In 1903, a company called the Caledonian Bleaching and Dyeing Company was established with the sole 
	 purpose of acquiring the business of Peter Reid and Sons. This company was listed on the Stock Exchange (there is apparently
	 at least one reference in the historical Stock Exchange Year Books), so it looks as if the family sold off its controlling 
	 interest and the business was floated publicly.</p>

	 <p>Peter&#39;s marriage record tells us that his father was Alexander Reid, we know Peter was born around 1825 in Scotland and
	 had a brother (John) also born in Scotland, in 1839. Armed with this information, we find that his mother was a Mary Veitch, 
	 that he was born in Govan, Lanarkshire (before it became the world-famous ship-building site), and that he was the second of 
	 nine children Mary had with Alexander, the last being John (also born in Govan). Alexander had a final child, James, with his
	 second wife in 1845. Govan is on the south bank of the River Clyde and is of course now a suburb of the city of Glasgow, 
	 historically famous for its shipbuilding. Back then, it was an outlying settlement of the city, on the way to Paisley. 
	 Interestingly, the old maps I have found show that Paisley had a number of bleaching-works. None of this in itself suggests
	 a grand education or a monied family, but let&#39;s look a little further.</p>

    <p>Back in the 1820s and 1830s, there was little in the way of a national registration system for births, marriages etc, so we have
    to rely on church records. Worse still, the censuses didn&#39;t start until 1841, and all my searches of the first two censuses have 
	proved not only fruitless but also confusing. The answer eventually came through searches of industrial history, where I found a biography
	of Peter&#39;s brother Thomas. Alexander Reid had founded a "turkey-red" dyeing business on the banks of the Clyde in Govan in the mid to late
	1820s, so absorbing the small-scale traditional dyers who had operated in the area for centuries. When Alexander eventually died in 1873 - 
	a year before John Noonan junior - his shares in the family business were worth about £175,000. By that time his sons Thomas
	and James also had a major interest in the firm (brother John who had stayed on Bolton Road with Peter in the early 1860s ended up as a 
	cloth merchant living and trading in Calcutta). <a href = "images/thomas_reid_biography.pdf" target ="_blank" 
	title = "Open PDF of potted biography of Thomas Reid">Thomas became a prominent Glasgow industrial magnate</a>, with many connections amongst the 
	great of his day and worldwide financial connections and interests. When he died in 1900, his UK-visible estate was worth over £200,000.</p>
	
	<p>So the Reid family business in Govan had turned out to be very successful indeed, Peter did have a rich dad and capital to support him,
	and no doubt he had also had a decent education (but perhaps no more than he strictly needed to support him in the family trade).
    Most of all he was expert in a trade which was highly marketable within the context of the booming textile industry in Lancashire.
	At some point, I wondered if he had once been a boy-employee in a dye-works himself, and subsequently dragged himself up by his 
	bootstraps. But no, I doubt he had had to face that harsh experience (although maybe his dad did). Reverting to my original question,
    I would say that, relative to John Noonan senior, the cards were heavily stacked in Peter Reid&#39;s favour. We don&#39;t 
	actually know what skills young John Noonan carried with him when he left Tipperary for Lancashire in his late teens. But in 
	Carrick on Suir there would probably have been precious little opportunity to learn any of the new trades so important in 
	industrialising Lancashire.</p>

