@import './bootstrap.css';

.full-size {
    height: 100vh;
}

.side-link {
    width: 100px;
    border: 1px solid #ccc;
}

.image-container {
    max-height: 90vh;
    height: 90vh;
    overflow: auto;
}

.image-container img {
    height: 100%;
    transition: height 0.2s;

}

.basicLightbox {
    z-index: 9999;
}

.button-container {
    text-align: center;
    padding: 10px;
}

.zoom-button {
    display: inline-block;
}

.image-modal-container {
    background: #fff;
}

.chapter-nav {
    transition: all 0.5s;
    /*display: block!important;*/

}

.navbar-toggler {
    color: rgba(0,0,0,.5);
    border-color: rgba(0,0,0,.1);
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.hamburger {

    fill: #eee;
    background-color: #0b4961;

    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    /*content: "";*/
    background: no-repeat center center;
    background-size: 100% 100%;

    background-image: url("../images/menu-icon.svg");

/*url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)*/



}