@import './bootstrap.css';

.full-size {
    height: 100vh;
}

.side-link {
    width: 100px;
    border: 1px solid sienna;
    cursor: pointer;
}

.image-container {
    max-height: 90vh;
    height: 90vh;
    overflow: auto;
}

.image-container img {
    height: 100%;
    transition: height 0.2s;

}

.basicLightbox {
    z-index: 9999;
}

.button-container {
    text-align: center;
    padding: 10px;
}

.zoom-button {
    display: inline-block;
}

.image-modal-container {
    background: #fff;

}
.image-container {
    transition: all 1s;
}

.chapter-nav {
    transition: all 0.5s;
	/*display: block!important;*/

}

.qlink-nav {
    transition: all 0.5s;
	/*display: block!important;*/

}

.navbar-toggler {
    color: rgba(0,0,0,.5);
    border-color: rgba(0,0,0,.1);
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.hamburger {

    fill: #eee;
    background-color: #0b4961;

    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    /*content: "";*/
    background: no-repeat center center;
    background-size: 100% 100%;

    background-image: url("../images/menu-icon.svg");

/*url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)*/

}

.hamburger1 {

    fill: #eee;
    background-color: #0b4961;

    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    /*content: "";*/
    background: no-repeat center center;
    background-size: 100% 100%;

    background-image: url("../images/menu-icon.svg");

/*url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)*/

}
/*PN fiddling below here*/

.collapse1:not(.show) {
    display: none
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
	margin-right:3%;
	margin-left:3%;
	text-align:justify;
	color:#63331c;
}

h4, .h4 {
    font-size: 1.3125rem;
	color:#63331c;
	text-decoration:underline;
	margin-left: 3%;
}
h6, .h6 {
	font-weight:bold;
    font-size: 0.875rem;
	color:DarkSlateGrey;
	text-decoration:underline;
	margin-left: 3%;
	margin-bottom:2px;
}
#chapterMenu a {
	margin-top:0;
	text-decoration:none;
	padding-top:0.5rem;
	padding-bottom:0.5rem;
	border:1px solid beige; 
	border-right:none; 
	color: #f9f9eb; 
	background-color: #3c3c11;
	border-radius: 0.25rem;}
	
#chapterMenu a:hover {
	background-color: #140a06; 
	color: white;
	box-shadow: 0px 0px 2px 2px #140a06;
	font-weight:bold;
	}
	
#chapterMenu a:hover:after {
	font-size:1.5em;
	content: ' \003E';
	float:right;
	color: white;
	font-weight:bold;
	margin-left: 0.25rem;
	margin-bottom:0;
	padding-bottom:0;
	}
	
#chapterMenu {
	position: relative;
    top: 2.3rem;
    width:100%;
    left: 0;
    margin-top: 0;
    margin-left: 0.125rem;
	background-color:transparent;
	}
	
@media (min-width: 576px) {
  #chapterMenu
  {
  position: relative;
    top: 2.3rem;
    width:50%;
    left: 0;
    margin-top: 0;
    margin-left: 0.125rem;
  background-color:transparent;
	}
}

@media (min-width: 768px) {
 #chapterMenu
  {
  position: relative;
    top: 2.3rem;
    width:35%;
    left: 0;
    margin-top: 0;
    margin-left: 0.125rem;
	background-color:transparent;
	} 
}	

@media (min-width: 992px) {
 #chapterMenu
  {
    position: relative;
    top: 0;
    width:99%;
    left: 0;
    margin-top: 0;
    margin-left: 0.125rem;
	} 
}

#qLinkMenu a {
	text-decoration:none;
    padding: 0.5rem 0.25rem;
    background-color: sienna;
	color: #f9f9eb; 
	border:1px solid beige;
    border-radius: 0.25rem;
	}

#qLinkMenu a:hover {
	background-color: #3c3c11;
	color: white;
	text-decoration:none;	
	font-weight:bold;
	cursor: pointer; 
	}

	
#qLinkMenu button {
	text-decoration:none;
    padding: 0.5rem 0.25rem;
    background-color: sienna;
	color: #f9f9eb; 
	border:1px solid beige;
    border-radius: 0.25rem;
	}
	
			
#qLinkMenu button:hover {
	background-color: #3c3c11;
	color: white;
	text-decoration:none;	
	font-weight:bold;
	cursor: pointer; 
	}

		
#qLinkMenu {
	position: relative;
    top: 2.3 rem;
    width:100%;
    left: 0;
	margin-top: 0;
    margin-right: 0.125rem;
	}
	
@media (min-width: 576px) {
  #qLinkMenu
  {
  position: relative;
    top: 2.3rem;
    left: 0;
	width:50%;
    margin-top: 0;
    margin-right: 0.125rem;
  
	}
}

@media (min-width: 768px) {
 #qLinkMenu
  {
  position: relative;
    top: 2.3rem;
    left: 0;
    width: 35%;
	margin-top: 0;
    margin-right: 0.125rem;
	} 
}	

@media (min-width: 992px) {
 #qLinkMenu
  {
    position: relative;
    top: 0;
    width:100%;
    left: 0;
    margin-top: 0;
    margin-right: 0.125rem;
	} 
}

.imgborder {
    border:1px solid sienna;
}

.table {
    width:auto;
	font-size:0.85em;
	font-family:Georgia;
	margin-top:0;
    background-color: ivory;
	margin-left:3%;
	margin-right:3%;
	color:#3c3c11;
}

.table th, .table td {
    padding:0.1rem 0.75rem 0.1rem 0.75rem;
    vertical-align: bottom;
    border-top: 1px solid DarkSlateGrey;
	color:#3c3c11;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid DarkSlateGrey;
	background-color: khaki;
	font-size: 0.9rem;
	color:#3c3c11;
}


.table-bordered {
    border: 1px solid DarkSlateGrey;
	color:#3c3c11;
}

.table-bordered th, .table-bordered td {
    border: 1px solid DarkSlateGrey;
	color:#3c3c11;
}

.table-bordered thead th, .table-bordered thead td {
    border-bottom-width: 2px;
	color:#3c3c11;
}
caption {
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    color: DarkSlateGrey;
	text-align: left;
    caption-side: bottom;
}

/*format table cell like header for first column*/

.tab-first-col {
	background-color: khaki; 
	color:#3c3c11;
    font-size:0.9rem;
	font-weight:bold;
	padding-top:0;
	padding-bottom:0;
}

/*Centre text in table cell for some columns*/

.tab-center-col {
	text-align: center;
}
	
a {
    color: black;
    text-decoration: underline;
    background-color: #ffffb3;
}

a:hover {
    color: #fcf4e8; 
	background-color: sienna;
    box-shadow: 0px 0px 2px 2px sienna;
	
}
/*fixes live download DtA link*/

.d-block {
	background-color:beige;
}

.d-block:hover {
    color: black;
    text-decoration: underline;
    background-color: beige;
	box-shadow: none;
}
.side-link:hover {
    border: 1px solid sienna;
    box-shadow: 1px 1px 2px 2px sienna;
}
	
.span-link {
	text-decoration: underline;
	background-color: #ffffb3;
	color: black;
}

.span-link:hover {
	cursor: pointer; 
	color: #fcf4e8; 
	background-color: sienna;
    box-shadow: 0px 0px 2px 2px sienna;
}
	
.piccy-left-basic {
	float:left;
	margin-left:3%;
	margin-right:3%;
	margin-top:1%;
	border:2px solid sienna;
}
  
.piccy-left {
	float:left;
	margin-left:3%;
	margin-right:3%;
	margin-top:1%;
	border:2px solid sienna;
}

.piccy-left:hover {
	cursor:pointer;
	box-shadow: 0px 0px 2px 2px sienna;
}

.piccy-right {
	float:right;
	margin-left:3%;
	margin-right:3%;
	margin-top:1%;
	border:2px solid sienna;
}

.piccy-right:hover {
	cursor:pointer;
	box-shadow: 0px 0px 2px 2px sienna;
}

.piccy {
	margin-left:3%;
	margin-right:3%;
	margin-top:1%;
	border:2px solid sienna;
}

.piccy:hover {
	cursor:pointer;
	box-shadow: 0px 0px 2px 2px sienna;
}

.cl-b {
	clear:both;
}
.cl-r {
	clear:right;
}
.cl-l {
	clear:left;
}

.table-link {
}

.table-link:hover {
	cursor:pointer;
	box-shadow: 0px 0px 2px 2px sienna;
}

.bullet-list {
	list-style-position:inside;
	margin-right:3%;
}

/* Ch3 Accordion */

.accordionWrapper{
	width:94%;
	margin-right:3%; 
	margin-left:3%; 
	}
	
@media (min-width: 576px) {
  .accordionWrapper 
  {
	float:right;
	width:50%;
	margin-right:3%; 
	margin-left:20px;   
  }
}

@media (min-width: 768px) {
  .accordionWrapper 
  {
	float:right;
	width:28%;
	margin-right:3%; 
	margin-left:20px;   
  }
}	
.accordionItem{
    width:100%;
    font-family: inherit;
	font-size: inherit;
	position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
	border: 1px solid sienna;
    min-width: 0;
    word-wrap: break-word;
    background-color: beige;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem
}

.accordionItemHeading{
    padding: 0.75rem 1.0rem;
    margin-bottom: 0;
    background-color: sienna;
	color: #f9f9eb; 
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
	width:100%;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.accordionItemHeading:hover {
	cursor: pointer; 
	color: white;
	background-color: #3c3c11;
	text-decoration: underline;
}

.ferme .accordionItemContent{
    height:0px;
    transition:height 1s ease-out;
    -webkit-transform: scaleY(0);
	-o-transform: scaleY(0);
	-ms-transform: scaleY(0);
	transform: scaleY(0);
    display:block;
	border-radius: 0.25rem;
}

.ouvert .accordionItemContent{
	-webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
	background-color: inherit;
	color:sienna;
    flex: 1 1 auto;
    padding: 1.25rem;
    width: 100%;
    display:block;
    -webkit-transform: scaleY(1);
	-o-transform: scaleY(1);
	-ms-transform: scaleY(1);
	transform: scaleY(1);
    -webkit-transform-origin: top;
	-o-transform-origin: top;
	-ms-transform-origin: top;
	transform-origin: top;
	-webkit-transition: -webkit-transform 0.4s ease-out;
	-o-transition: -o-transform 0.4s ease;
	-ms-transition: -ms-transform 0.4s ease;
	transition: transform 0.4s ease;
}

.ouvert .accordionItemHeading{
    padding: 0.75rem 1.0rem;
	text-decoration: none;
    margin-bottom: 0;
    background-color: #e9e9af;
	color: grey; 
    border: 1px solid grey;
	width:100%;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.ouvert .accordionItemHeading:after 
{
  content: '\2715';
  color: black;
  font-weight:bold;
  float: right;
  margin-left: 0px;
}

/* end Ch3 accordion */



/*Ch5 accordion*/

.accordion1Wrapper{
	width:94%;
	margin-right:3%; 
	margin-left:3%;
	margin-bottom:0.5rem;
    }
	
@media (min-width: 576px) {
  .accordion1Wrapper 
  { float:right;
	width:50%;
	margin-right:3%; 
	margin-left:20px;
    margin-bottom: 0.1rem;	
  }
}

@media (min-width: 768px) {
  .accordion1Wrapper 
  { float:right;
	width:28%;
	margin-right:3%; 
	margin-left:20px; 
    margin-bottom: 0.1rem;		
  }
}	
	
.accordion1Item{
    width:100%;
    font-family: inherit;
	font-size: inherit;
	position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
	border: 1px solid sienna;
    min-width: 0;
    word-wrap: break-word;
    background-color: beige;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem
}

.accordion1ItemHeading{
    padding: 0.75rem 1.0rem;
    margin-bottom: 0;
    background-color: sienna;
	color: #f9f9eb; 
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
	width:100%;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.accordion1ItemHeading:hover {
	cursor: pointer; 
	color: white;
	background-color: #3c3c11;
	text-decoration: underline;
}

.ferme .accordion1ItemContent{
    height:0px;
    transition:height 1s ease-out;
    -webkit-transform: scaleY(0);
	-o-transform: scaleY(0);
	-ms-transform: scaleY(0);
	transform: scaleY(0);
    display:block;
	border-radius: 0.25rem;
}

.ouvert .accordion1ItemContent{
	-webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
	background-color: inherit;
	color:sienna;
    flex: 1 1 auto;
    padding: 1.25rem;
    width: 100%;
    display:block;
    -webkit-transform: scaleY(1);
	-o-transform: scaleY(1);
	-ms-transform: scaleY(1);
	transform: scaleY(1);
    -webkit-transform-origin: top;
	-o-transform-origin: top;
	-ms-transform-origin: top;
	transform-origin: top;
	-webkit-transition: -webkit-transform 0.4s ease-out;
	-o-transition: -o-transform 0.4s ease;
	-ms-transition: -ms-transform 0.4s ease;
	transition: transform 0.4s ease;
}

.ouvert .accordion1ItemHeading{
    padding: 0.75rem 1.0rem;
	text-decoration: none;
    margin-bottom: 0;
    background-color: #e9e9af;
	color: grey; 
    border: 1px solid grey;
	width:100%;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.ouvert .accordion1ItemHeading:after 
{
  content: '\2715';
  color: black; 
  font-weight:bold;
  float: right;
  margin-left: 0px;
}

/*end Ch5 accordion*/	

.container {
	float:right;
	width:auto;
	margin-right:3%; 
	margin-left:20px;
}
.armypic {
    padding: 0.75rem 1.0rem;
    background-color: sienna;
	color: #f9f9eb; 
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
	margin-bottom:1px;
	border-radius: 0.5rem;
}

.armypic:hover {
	cursor: pointer; 
	color: white;
	background-color: #3c3c11;
	text-decoration: underline;
}

