body {font-family: Arial;}

.titlesbox {
     box-sizing: border-box;
     border-top: 3px solid sienna;
     border-bottom: 3px solid sienna;
     width: 100%;
     position: fixed;
     left: 0;
     top: 0;
     height: 130px;
     margin: 0;
     overflow: hidden;
     background-image: url('background.jpg')}

.bookname {
     width: 100%;
     box-sizing: border-box;
     background-color: beige;
     color: sienna;
     border-bottom: 2px solid DarkSlateGrey;
     margin: 0;
     overflow: hidden;
     text-align: center;
     padding: 10px 0 10px 0;
     position: absolute;
     left: 0;
     top: 0;}

.dedication {
     width: 100%;
     box-sizing: border-box;
     font-family: Georgia;
     color: DarkSlateGrey;
     margin: 0;
     overflow: hidden;
     text-align: center;
     padding: 0 0 5px 0;
     position: absolute;
     left: 0;
     top: 60px;}

.chapname {
     width: 100%;
     box-sizing: border-box;
     background-color: beige;
     color: sienna;
     border-left: 3px solid sienna;
     border-right: 3px solid sienna;
     border-top: 2px solid DarkSlateGrey;
     text-align: left;
     margin: 0;
     overflow: hidden;
     padding: 8px 0 8px 30px;
     position: absolute;
     left: 0;
     top: 85px}

.bigboxch1 { 
     box-sizing: border-box;
     width: 100%; 
     height: 490px;
     position: absolute;
     left: 0;
     top: 130px;
     border-left: 3px solid sienna;
     border-right: 3px solid sienna;
     border-bottom: 3px solid sienna;
     margin: 0;
     padding: 0;
     overflow: hidden;}

.leftboxch1 {
     position:absolute;
	 color: sienna;
     left: 0;
     top: 0;
     width:77%;
     height: 490px;
     overflow: auto;
     padding: 0 2% 0 2%;
     margin: 0;
     border-right: 3px solid sienna;
     background-image: url('background.jpg');
     text-align: justify;}
	 
.leftboxch1 p {
     font-family: arial;
     color: sienna;
     margin-bottom:0;}

.leftboxch1 h4 {
     font-family: arial;
     color: sienna;
     text-decoration: underline;
     margin-bottom: 0;}
	 
.leftboxch1 h5 {
     font-family: Georgia;
	 color: DarkSlateGrey;
     font-weight: bold;
     margin-bottom: 3px;}
	 
.poorbox {
     position:relative;
	 float: right;
	 right: 0px;
     font-family: Georgia;
	 margin-left:20px;
	 width:25%;
	 height:675px;
	 border: 2px solid sienna;
     background-color: beige;
	 }
	 
.rightboxch1 {
     box-sizing:border-box;
     position:absolute;
     font-family: Georgia;
     right: 0;
     top: 0;
     width:18.75%;
     height: 490px;
     overflow: hidden;
     margin: 0;
     background-color: beige;
     }
	 
.rimgbox {width:205px; position:absolute; left:15px; color:black; }

.rimgbox:hover {cursor: pointer; box-shadow: 0px 0px 2px 2px sienna; border: 1px solid sienna;color: AntiqueWhite; background-color: sienna;}


.rtextbox {position:absolute; top:0; right:0; font-size: 0.8em;text-align: center;width:100px; padding-top:13px;padding-bottom:13px;}
.rpoorbox {position:absolute; float:right;top:0; right:0; font-size: 0.8em;text-align: center;width:100px; padding-top:3px;padding-bottom:3px;}
.rightboxch1 h3 {
     margin-top: 0;
     color: sienna;
     text-align: center;
     }

.rightboxch1 ul {
     line-height: 1.75;
     font-weight: bold;
     text-shadow: none;
     margin-left: 8px;
     color: #28280b;}

.navbox { 
     box-sizing: border-box;
     display: none;
     width: 100%; 
     position: absolute;
     height:490px;
     left: 0;
     top: 130px;
     border-left: 3px solid sienna;
     border-right: 3px solid sienna;
     border-bottom: 3px solid sienna;
     margin: 0;
     overflow: auto;
     background-image: url('background.jpg');
     }

.imagebox1 {
     position: relative;
     box-sizing: border-box;
     height: 700px;
     left: 0px;
     top: 0px;
     width: 100%;
     margin: 0;
     padding: 0;
     border: 3px solid sienna;
     background-color: LavenderBlush;}

.imagebox2 {
     position: relative;
     box-sizing: border-box;
     height: 640px;
     left: 0px;
     top: 0px;
     width: 100%;
     margin: 0;
     padding: 0;
     border: 3px solid sienna;
     background-color: LavenderBlush;}
	 
.imageboxA {
     position: relative;
     box-sizing: border-box;
     left: 0px;
     top: 0px;
	 height: 640px;
     width: 100%;
     margin: 0;
     padding: 0% 30% 0% 30%;
     background-color: LavenderBlush;}
	 
.button {
      border-radius: 40%/40%;
      padding: 1%;
      color: black;
      font-family: Arial;
      font-size: auto;
      font-weight: bold;
      text-align: center;
      transition-duration: 0.3s;
      cursor: pointer;
      z-index: 1;
      width: 12%;
      border: 2px solid orange;
      background-color: yellow;
      box-shadow: 0px 0px 16px 15px #FF9900;}

.navmenu {float:left;
      padding:0;
      margin:0}

.navmenu ul{
      list-style-type: none;
      padding: 0;
      margin: 0;}

.navmenu li {
      color: beige;
      text-align: center;
      border: 2px solid black;
      width: 40%;
      margin-left:10%;
      margin-top:4%;
      margin-bottom: 2%;
      padding: 1% 3% 1% 3%;
      background-color: sienna;
      cursor: pointer;
      z-index: 1;}
 
.navmenu li:hover {
      background-color: #773d32;
      box-shadow: 0px 0px 1px 1px #773d32;}

.button2 {
      position: static;
      margin-left: 45%;}

.button3 {
      position: fixed;
      right: 17.5%;
      top: 33.7%;
      box-shadow: none;
      width: 8%;}

.button4 {
      position: fixed;
      right: 20.5%;
      top: 70%;
      box-shadow: none;
      width: 8%;}

.button5 {
      position: fixed;
      right: 1.5%;
      top: 15.5%;
      box-shadow: none;
      width: 8%;
      z-index: 10;}

.button6 {
      position: fixed;
      top: 6.5%;
      left: 81%;
      z-index: 25;
      width: 12%;}

.button span, .button lspan {
      cursor: pointer;
      display: inline-block;
      position: relative;
      transition: 0.5s;}

.button span:after {
      content: '\00bb';
      font-size: 2em;
      position: absolute;
      opacity: 0;
      right: -10px;
      transition: 0.5s;}

.button lspan:before {
      content: '\00ab';
      font-size: 2em;
      position: absolute;
      opacity: 0;
      top: 20%;
      left: -10px;
      transition: 0.5s;}

.button:hover {
      box-shadow: 10px 0px 16px 20px #FF9900;}

.button.button3:hover, button.button4:hover, button.button5:hover {
      box-shadow: 10px 0px 16px 20px #FF9900;}

.button.button5:hover {
      box-shadow: -10px 0px 16px 20px #FF9900;}

.button:hover span {
      padding-right: 25px;}

.button:hover lspan {
      padding-left: 25px;}

.button:hover span:after {
      opacity: 1;
      right: 0;
	  bottom: -6px;}

.button:hover lspan:before {
      opacity: 1;
      left: 0;}
	  
.table1 {
	  font-family: Georgia;
	  font-size: 0.9em;
      color: DarkSlateGrey;
	  border-top: 1px solid DarkSlateGrey;
	  border-left: 1px solid DarkSlateGrey;
	  border-collapse: collapse;}
	    
.table1 .frame1 {
	  font-weight: bold;
	  background-color: khaki;}
	  
.table1 .body1 {
	  background-color: ivory; }
	  
.table1 td {
      padding: 2px 10px 2px 10px;
	  border-right: 1px solid DarkSlateGrey;
	  border-bottom: 1px solid DarkSlateGrey;
}
	
.table2 {
	  font-family: Georgia;
	  font-size: 0.9em;
      color: DarkSlateGrey;
	  border-top: 1px solid DarkSlateGrey;
	  border-left: 1px solid DarkSlateGrey;
	  border-collapse: collapse;}
	    
.table2 .frame1 {
	  font-weight: bold;
	  background-color: khaki;}
	  
.table2 .body1 {
	  background-color: ivory; }
	  
.table2 td {
      padding: 2px 10px 2px 10px;
	  border-right: 1px solid DarkSlateGrey;
	  border-bottom: 1px solid DarkSlateGrey;}
	  
.table2:hover  {cursor: pointer; 
                box-shadow: 0px 0px 4px 4px sienna; 
				border: 1px solid sienna;
				color: black; 
				}
	  
.caption1 {
	  font-family: Georgia;
	  margin-top: 2px;
	  font-size: 0.75em;
      color: DarkSlateGrey;
	  font-style: italic;
      caption-side: bottom;
	  text-align: left;}

.linkA {
	text-decoration: underline;
	background-color: AntiqueWhite;
	color: sienna;
}

.linkA:hover {cursor: pointer; color: AntiqueWhite; background-color: sienna;
      box-shadow: 0px 0px 2px 2px sienna;}



.linkB {width: 600px; border: 2px solid sienna;float: left;margin-right: 20px;
}

.linkB:hover {cursor: pointer; box-shadow: 0px 0px 6px 6px sienna;}

.linkC {width: 500px; border: 2px solid sienna;float: right;margin-right: 10px; margin-bottom: 15px;
}

.linkC:hover {cursor: pointer; box-shadow: 0px 0px 6px 6px sienna;}

.linkD {width: 300px; border: 2px solid sienna;float: left;margin-right: 10px;margin-bottom: 0px;
}

.linkD:hover {cursor: pointer; box-shadow: 0px 0px 6px 6px sienna;}