{% macro quickLink(title, image, link) %}
        {% if link %}
            <a class="list-group-item text-center" 
			   href="{{ link }}" 
			   target ="_blank" 
			   rel="noopener nofollow" 
			   title = "Download a Copy">
                {{ title }}</a>
        {%  else %}
            <button class="list-group-item text-center" title = "View image"
                 onclick = "viewImage('{{ image }}');">{{ title }}</button>
        {% endif %}
{% endmacro %}