<div id="rcontainer1" class="rightboxch1">

    <h3><u><i>Quick Links</i></u></h3>

    <a href = "DtA - Annotated.pdf" target ="_blank" title = "Open Down the Arches PDF">
        <div class = "rimgbox" style="top: 30px;">
            <img src="DtA for thumbnail.jpg" style="width:100px;margin-left:0px; float: left;border: 1px solid sienna;">

            <div class ="rtextbox">
                Down the Arches of the Years by Jim Noonan
            </div>
        </div></a>

    <div class = "rimgbox" style="top: 100px;" title = "View family diagram"
         onclick="bigimg('fullscreen1', 1, 4, 2, 1629, 1009, 'James-Anty tree.jpg');">
        <img src="James-Anty tree.jpg" style="width:100px;margin-left:0px; float: left;border: 1px solid sienna;">

        <div class ="rtextbox">
            Noonan side family diagram
        </div>
    </div>

    <div class = "rimgbox" style="top: 170px; "title = "View map"
         onclick="bigimg('fullscreen2', 1, 5, 1, 5326, 3589, 'Salford - noonan main sites.jpg');">
        <img src="Salford - noonan main sites.jpg" style="width:100px;margin-left:0px; float: left;border: 1px solid sienna;">

        <div class ="rtextbox">
            Map of main sites in Salford
        </div>

    </div>

</div>