<p>So......for reasons clearly set out elsewhere, there seemed a possibility - however slim - that our great x 2
grandfather, John Noonan, was born (in 1932) in Clonmel just up the road from Carrick-on-Suir, and not in Carrick 
itself as he believed. If so, he would have been the son of a James Noonan and an Anastasia Bull, and 
one of his siblings would have been Michael, baptised in Clonmel in 1839. In my determination to trace
our true ancestor, I thought it might be worth having at least a peek at the English census records of the time, 
as Michael might easily have followed in his elder brother's footsteps at some time and maybe landed in England 
at some stage.</p>

<p>So I searched the English census records from 1861 for a Michael Noonan born in Ireland around 1839, and this
led me to the following record, taken on census day 1871 in central Middlesborough (between the railway station
and the current site of the famous Transporter Bridge):</p>

<h6>Michael Noonan's Middlesborough family, census day 1871</h6>
<div class="table-responsive-md">
	<table 
	   class="table table-bordered table-link"
       title = "View original census page"
       onclick="viewImage('images/Middlesborough 1871 combined.jpg');">
	   <thead>
		<tr>
			<th class="tab-first-col">Name</th>
			<th>Given age</th>
			<th>Relationship, marital status</th>
			<th>Place of birth</th>
			<th>Occupation</th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<td class="tab-first-col">Michael Noonan</td>
			<td class="tab-center-col">33</td>
			<td>Head, married</td>
			<td>Ireland</td>
			<td>Labourer, Iron Works</td>
		</tr>
		<tr>
			<td class="tab-first-col">Mary Noonan</td>
			<td class="tab-center-col">31</td>
			<td>Wife, married</td>
			<td>Ireland</td>
			<td></td>
		</tr>
		<tr>
			<td class="tab-first-col">John Noonan</td>
			<td class="tab-center-col">13</td>
			<td>Son</td>
			<td>Malta, Mediterranean</td>
			<td></td>
		</tr>
		<tr>
			<td class="tab-first-col">Margaret Noonan</td>
			<td class="tab-center-col">5</td>
			<td>Daughter</td>
			<td>Barbados, West Indies</td>
			<td></td>
		</tr>
		<tr>
			<td class="tab-first-col">Esther Noonan</td>
			<td class="tab-center-col">3</td>
			<td>Daughter</td>
			<td>Ireland</td>
			<td></td>
		</tr>
		<tr>
			<td class="tab-first-col">Mary Ann Noonan</td>
			<td class="tab-center-col">4 mths</td>
			<td>Daughter</td>
			<td>Ripon, Yorkshire</td>
			<td></td>
		</tr>
		<tr>
			<td class="tab-first-col">Mary Ann Noonan</td>
			<td class="tab-center-col">19</td>
			<td>Sister, unmarried</td>
			<td>Ireland</td>
			<td></td>
		</tr>
	</tbody>
</table>
</div>

<p>This Michael had the right surname, was about the right age, and was born <i>somewhere</i> in Ireland. Most 
of all, the list of birthplaces implied an itinerary though life which, to an investigator like myself, was an
irresistible lure. Never mind that the census form contained information which was in nearly direct 
contradiction of the facts as we knew them already: I didn't see that until much later, when the contradiction
emerged again in starker terms. Can you see it? I just ploughed gaily on with my research.</p>

<img src = "images/Michael Noonan Mary Higgins Marriage 1856.jpg"
     class ="img-fluid piccy-right mb-3"
     title = "Expand and view image"
	 width="350px"
	 onclick = "viewImage(this.src)">

<img src = "images/Malta and Barbados Noonan births.jpg"
     class ="img-fluid cl-b piccy-right mb-3"
     title = "Expand and view image"
	 width="350px"
	 onclick = "viewImage(this.src)">
	 
<img src = "images/michael noonan army pension.jpg"
     class ="img-fluid cl-b piccy-right mb-3"
     title = "Expand and view image"
	 width="350px"
	 onclick = "viewImage(this.src)">
	 
	 
	 

<p>It was simple to find the civil record of the birth of young Mary Ann towards the end of 1870, and
it gave the mother's maiden name of Higgins. Oddly, the birth took place in the district of Ripon, 
quite some distance south-west of Middlesborough where they lived just four months later. We'll 
come back to the Ripon area later. Armed with the maiden name, it was also remarkably easy to find
the record of Michael and Mary's marriage, which took place in the coastal town of Youghal, County
Cork, on 25 April 1856. The witnesses were John McNamara and Ellen Fitzgerald.</p>

<p>Given that the newly-weds went on to tour some of the outposts of the British Empire over the 
next few years, it was a fair bet that Michael had joined Her Majesty the Empress's armed forces 
at some point. Many Irishmen - Noonans and others - made this choice: in many cases, it may have been one of 
the few options available to make a decent living. But others - also including Noonans - 
deliberately lent the other way and joined the forces ranged against the English colonisation of Ireland. 
As it happens, none of these has so far cropped up in our story, but by their very nature, 
the historical documentation of these forces would have been much thinner than it was in
 the British Army.</p>
 
 <p>My assumption about Michael having taken the Queen's shilling was born out by the discovery of 
 John and Margaret amongst the British Army records of children born to soldiers across the empire.
 The records confirmed that John was born in Malta in 1859 and Margaret in Barbados in 1865. 
 They also showed that Michael was in the 3rd Regiment.</p>

<p>Michael Noonan next appears in the 1861 Worldwide Index of the British Army. That shows that he 
was a private in the 2nd Battalion of the 3rd Foot (East Kent) Regiment, otherwise known as 
"The Buffs", Service Number 415. So far, there is no sign of his army recruitment papers, and we don't know 
exactly when he joined up. However, the time-line is reasonably clear: he married in 1856, 
had joined up and was in Malta with Margaret by 1859, was still there in 1861, 
but then by 1865 had reached Barbados . Some very thin research suggests that these were fairly "cushy" postings
at the times Michael and Margaret were there. Of course, there could have been intermediate stations 
too.</p> 

<p>The searches threw up another military document, in the form of (part of, at least) Michael Noonan's
Army Pension record. In effect, this is a record which is created when an ex-soldier is admitted into
the Chelsea Pensioners, as they seem to have been called. Michael's date of admission was 8 October
1867 and the location was recorded as Limerick. The Service Number and battalion are written just below 
the date entry.</p>

<p> The pension record contains much more information, but I am finding much of it very tough to 
interpret. Michael's pension rate was eight shillings. Per month, per year? I have no idea. It seems to have
kicked off (in some sense) in 1869, in which column there is a lot of very small writing. "Leeds 1/1" is
mentioned (not far from Ripon). Slightly higher up the page, there is another Noonan, Thomas, who was
in the same Battalion as Michael. His date of admission, rate of pension and location are the same
as Michael's, but the action on his account seems to start a year earlier in 1868. It seems pretty 
clear that the comment in pencil to the right of Michael's entry implies that there had been some
kind of mix-up between the two Noonans' pensions.</p>

<p>There is one child still to account for, Esther, born in Ireland in 1868. The 
<span class ="span-link"
     title = "View baptism record"
	 onclick = "viewImage('images/Esther Noonan baptism Limerick 1868.jpg')">church records</span>
	 show that she was baptised in Limerick City on 21 April that year, sponsors Jeremiah Noonan and 
     Catherine Regan. So it looks as if Michael and Margaret had returned from Barbados to Ireland by 1867, and I
am speculating that Michael had completed a ten-year army contract some time in 1866 or 1867. They 
then settled in Limerick City for a while (was this his birthplace?), and had Esther in 1868. By 1871 they 
had migrated to Middlesborough (probably passing through Ripon for some unknown period of time en route).</p>

<p>I can't yet find any evidence to suggest that either Thomas Noonan or Jeremiah Noonan was related to Michael, but
as a baptism sponsor of his daughter, I would have thought that Jeremiah probably was. There is scope
for much more research here, although it will be pretty painstaking.</p>

<p>Reverting back to Michael's story, we can find him with his family in the settlement of Mickly a few miles
outside Ripon in the 1881 census. In fact, we find his family next door to that of his sister, Mary Ann, who
is by now Mrs Dalton and has children. The two census returns straddle a page, so let's examine them together,
the Daltons first.</p>

<h6>Richard Dalton's Mickly (Ripon) family, census day 1881</h6>
<div class="table-responsive-md">
	<table 
	   class="table table-bordered table-link"
       title = "View original census page"
       onclick="viewImage('images/Daltons and Noonans 1881 Mickley Ripon.jpg');">
	   <thead>
		<tr>
			<th class="tab-first-col">Name</th>
			<th>Given age</th>
			<th>Relationship, marital status</th>
			<th>Place of birth</th>
			<th>Occupation</th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<td class="tab-first-col">Richard Dalton</td>
			<td class="tab-center-col">27</td>
			<td>Head, married</td>
			<td>Leeds, Yorkshire</td>
			<td>Flax Mill Overseer</td>
		</tr>
		<tr>
			<td class="tab-first-col">Mary Dalton</td>
			<td class="tab-center-col">30</td>
			<td>Wife, married</td>
			<td>Ireland</td>
			<td>Flax Mill Spinner</td>
		</tr>
		<tr>
			<td class="tab-first-col">Margaret Dalton</td>
			<td class="tab-center-col">8</td>
			<td>Daughter</td>
			<td>Mickley, Yorksire</td>
			<td>Scholar</td>
		</tr>
		<tr>
			<td class="tab-first-col">John Dalton</td>
			<td class="tab-center-col">6</td>
			<td>Son</td>
			<td>Mickley, Yorksire</td>
			<td>Scholar</td>
		</tr>
		<tr>
			<td class="tab-first-col">Emelia Dalton</td>
			<td class="tab-center-col">4</td>
			<td>Daughter</td>
			<td>Mickley, Yorksire</td>
			<td></td>
		</tr>
		<tr>
			<td class="tab-first-col">Elizabeth Dalton</td>
			<td class="tab-center-col">2</td>
			<td>Daughter</td>
			<td>Mickley, Yorksire</td>
			<td></td>
		</tr>
		<tr>
			<td class="tab-first-col">James Dalton</td>
			<td class="tab-center-col">1</td>
			<td>Son</td>
			<td>Mickley, Yorksire</td>
			<td></td>
		</tr>
		<tr>
			<td class="tab-first-col">Catherine Noonan</td>
			<td class="tab-center-col">68</td>
			<td>Mother-in-Law, widow</td>
			<td>Ireland</td>
			<td>Housekeeper</td>
		</tr>
	</tbody>
</table>
</div>

<h6>Michael Noonans's Mickly (Ripon) family, next door, census day 1881</h6>

<div class="table-responsive-md">
	<table 
	   class="table table-bordered table-link"
       title = "View original census page"
       onclick="viewImage('images/Daltons and Noonans 1881 Mickley Ripon.jpg');">
	   <thead>
		<tr>
			<th class="tab-first-col">Name</th>
			<th>Given age</th>
			<th>Relationship, marital status</th>
			<th>Place of birth</th>
			<th>Occupation</th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<td class="tab-first-col">Michael Noonan</td>
			<td class="tab-center-col">48</td>
			<td>Head, married</td>
			<td>Ireland</td>
			<td>Flax Mill Labourer</td>
		</tr>
		<tr>
			<td class="tab-first-col">Mary Noonan</td>
			<td class="tab-center-col">49</td>
			<td>Wife, married</td>
			<td>Ireland</td>
			<td>Flax Mill Preparer</td>
		</tr>
		<tr>
			<td class="tab-first-col">John Noonan</td>
			<td class="tab-center-col">22</td>
			<td>Son, unmarried</td>
			<td>Malta</td>
			<td>Flax Mill Labourer</td>
		</tr>
		<tr>
			<td class="tab-first-col">Margaret Noonan</td>
			<td class="tab-center-col">16</td>
			<td>Daughter, unmarried</td>
			<td>Barbados</td>
			<td>Flax Mill Preparer</td>
		</tr>
		<tr>
			<td class="tab-first-col">Esther Noonan</td>
			<td class="tab-center-col">12</td>
			<td>Daughter</td>
			<td>Ireland</td>
			<td>Scholar</td>
		</tr>
		<tr>
			<td class="tab-first-col">Mary Ann Noonan</td>
			<td class="tab-center-col">10</td>
			<td>Daughter</td>
			<td>Ripon, Yorkshire</td>
			<td>Scholar</td>
		</tr>
		<tr>
			<td class="tab-first-col">John Connors</td>
			<td class="tab-center-col">24</td>
			<td>Lodger</td>
			<td>Ireland</td>
			<td>Flax Mill Labourer</td>
		</tr>
		<tr>
			<td class="tab-first-col">Michael Barry</td>
			<td class="tab-center-col">19</td>
			<td>Lodger</td>
			<td>Ireland</td>
			<td>Flax Mill Labourer</td>
		</tr>
		
	</tbody>
</table>
</div>

<p>But what was this? Mr Dalton had his mother-in-law Catherine Noonan staying with him, Mary Ann's 
mother. But Mary Ann was Michael's brother, so Catherine was Michael's mother too. But Michael was 
supposed to be our great x 2 grandfather, John Noonan's, brother, and his mum had been Anastasia. 
What's more, Anastasia was supposed to have died before September 1851. No, no, no, no, no. There
was surely no way this Michael could be our John Noonan's brother, was there? Unless perhaps Anastasia
had pre-deceased James, and then James had re-married Catherine before he died?</p>

<p>Let's see if this could possibly work, taking the available facts literally. Mary Ann's age was stated
as 30 at the end of March 1881 (but only 19 at the end of March 1871). That means that the earliest she 
could possibly have been born was 1 April 1850. So it is just technically possible that Anastasia died
at some point in 1840s, James re-married Catherine, they had Mary Ann but then James died before 
September 1851. But it requires a lot of points to be stretched.</p>

<p>On the basis of the 1871 census alone, I should have seen that it was virtually impossible for
Michael to be John's brother, because Mary Ann had to be born on or after 1 April 1851, but only
six months later John reported that both his parents were dead.</p>

<p>Anyway, all this is somewhat academic. Not only can I find no link at all between Private Michael
Noonan and James and Anastasia Noonan of Clonmel, but there is also no sign that they had a late daughter
Mary Ann over ten years after their Michael was born.</p>

<p>Even worse, within a plausible time-frame, I can find no Irish Catholic baptisms or marriages 
involving a Catherine Noonan who had a Michael and a Mary Ann amongst her children, whether or 
not they were related to great x 2 granddad John. Nor have I been able to place Thomas or Jeremiah
Noonan, who cropped up earlier in Private Michael's story. </p>

<p>There were  Noonans scattered all over the southern counties of Ireland. Whilst I imagine 
they all knew they were ultimately related, each would have only a limited knowledge of their 
more immediate relatives. With the shortcomings of the available records, it is very difficult
to establish sibling-ship, let alone cousin-hood. The only way is lining up two sets of baptisms, 
and comparing each possible combination of pairs.</p>

<p>The conclusion is - lovely word - nugatory: Private Michael Noonan of the 3rd Foot is almost 
certainly not the Michael baptised by James Noonan and Anastasia Bull in Clonmel in 1839. 
But that proves very little: that James and Anty could still be our John's parents. Or, if they were not, 
perhaps the true John also had a brother called Michael, and just possibly he was the Private Noonan
we have been looking at!</p>

<p>The long and winding road ran, by a very circuitous route, from Youghal all the way to Ripon, 
but alas, apart from the enjoyment, it was a wasted journey.</p>