<h4>Lost Records</h4>

<p>We are pretty sure that John Noonan's bride-to-be, Bridget O'Niell, was living in Stockport on census day,
30 March 1851, and we had hoped to find the groom elsewhere in northern England on the same date. If he 
wasn't yet in England, he had only six months to cross the sea, find and court Bridget, arrange the
marriage and find somewhere - like Pendleton - where work and lodgings for them both could be had. As this
 seems a very tight schedule, it seems natural to proceed on the assumption that he was already in England.</p>
 
<p>If they both lived in the Stockport area in March 1851, then they both must have had work there. The question
would then be why they moved their focus to Salford, which is where they married in September 1851. Note that
the church authorities recorded Bridget's address as Stockport and John's as Charlestown, Pendleton. But the
 civil authorities recorded both addresses as Borough Street, Pendleton. It could be argued that Borough Street 
was within Charlestown, but some would say it was slightly to the south. Two years after their wedding, 
their first child was born at an address on Back Orchard Street, extremely close to Borough Street.</p>

<h6>Charlestown, Pendleton, Salford</h6>
<p> To me, the most likely scenario is that John was set up in the Pendleton area prior to marriage. Perhaps
 he had been lodging closer to Charlestown "centre" (where St Sebastian's is now), but then located
 married quarters on Borough Street in advance of the wedding. It would have made sense for Bridget to
 vacate her Stockport lodgings entirely before the wedding. Be that as it may, having set up house in 
 Pendleton, John and Bridget subsequently both lived in the same very small area around the Charlestown 
 end of Pendleton to the end of their days.</p>
   
  <img src = "images/Borough St 1851 random .jpg"
	width = "350px" 
	class ="img-fluid piccy-right mb-3 mt-0"
	title = "Expand and view image"
	 onclick = "viewImage(this.src)">
	 
<img src = "images/Borough St 1851 random - enhanced.jpg"
	width = "350px" 
	class ="img-fluid piccy-right mb-3 mt-0 cl-b"
	title = "Expand and view image"
	 onclick = "viewImage(this.src)">
	
  <p>Searching the 1851 census for John Noonans of about the right age within Lancashire and Cheshire, we find 
  only one: he is a single agricultural labourer living in Newton-in-Makerfield (aka Newton-le-Willows), which is
  south of Wigan about halfway between Liverpool and Manchester. This is nowhere near Stockport. At later 
  censuses, a smattering of married John Noonans appear working in the colliery industry in Wigan. I don't think
  any of these is our John.</p>
  
  <p>Perhaps John's March 1851 census record would contain little to help us trace his story further back. One
  more estimate of his age, another version of his place of birth, his occupation six months before his
  marriage, for example. But the household he was in might just include one of his marriage witnesses, a 
  baptism sponsor for one of the children he was yet to father, or even a sibling of his, so there was some 
  incentive to find the record.</p> 
  
  <p>It turns out though, that even if he was in Pendleton at the time, 
  the chances of finding him in the digital records of the 1851 census are heavily compromised. Those records 
  have at some stage been heavily fire-damaged, some are entirely illegible and most of the remainder only
  barely legible.</p>

  <p>Here is a typical 1851 census page from Borough Street, first without, then with some 
  enhancement. Although some of the illegible details can just be made out when digitally enhanced, it is
  not clear how far the transcribers have taken this process, and the chance of failing to find a person 
  recorded in the census must be very high.</p>
    
  <h6>Carrick-on-Suir and nearby parishes</h6>
  <p>Having failed to locate John in the 1851 English records, we next turn to the Irish records in and
  around County Tipperary, focusing heavily on the town of Carrick-on-Suir in the extreme south-east of the county.
  The town is upstream of the city of Waterford on the Suir river.</p>
  
  <p>John Noonan’s place of birth appeared twice in the English records in which we have found him, 
  namely the 1861 and 1871 censuses. In the earlier document, it is recorded very specifically as 
  Carrick-on-Suir, Tipperary, but in 1871 only as Tipperary. This suggests strongly to me that he believed
  he was born in Carrick. Even if his belief was misplaced, and he wasn’t actually born in the town, 
  my thinking is that he must at least have been born fairly close to it and brought up there for 
  much of his childhood. Irish immigrants to England typically stated their place of birth 
  simply as Ireland, some occasionally adding the county. John's degree of specificity suggests he
  felt strong bonds to the town.</p>
  
  <p>The ages recorded in the censuses (and at his death) place John’s year of birth between 1828 and 
  1832. His parents’ names were James and Anty, this latter being a common abbreviation for Anastasia, 
  which seems to have been a fairly popular name in that time and place (something to do with the Russian 
  aristocracy possibly?). Armed with all this information, two obvious search patterns presented themselves, 
  and then some less obvious ones.</p>
  
  <img src = "images/Carrick registers combined.jpg"
	width = "275px" 
	class ="img-fluid piccy-right mb-3 mt-0 cl-b"
	title = "Expand and view image"
	 onclick = "viewImage(this.src)">
	 
  <p>The Catholic parish records of marriages and baptisms are by the most important resource available, 
  and Plan A was to look for baptisms of John Noonans, father James (Jacobus in Latin) and mother 
  Anastasia (or some variant), with a search window of 1825 to 1835 (remembering that there could be a delay 
  between birth and baptism). We would start by focusing on Carrick specifically, then widen to Tipperary 
  as a whole if necessary, or even further to nearby counties such as Waterford.</p>

  <p>Plan B would focus on marriages between James Noonans and Anastasias (or equivalents in each case), 
  remembering that grooms would sometimes go to the bride's family home for the wedding, so spreading the 
  search geographically wider. Plan C would seek baptisms of John Noonan's siblings, born to James 
  Noonan and Anastasia. If they were younger than John, they ought probably to be in Carrick. If older, 
  they might be outside, if John had been brought to Carrick at a young age.</p>

  <p>We soon realised that Plan A was a near non-runner, and the others were not much better. The Catholic 
  parish records of Ireland have been the subject of a number of "capture" exercises over the years, but 
  (for various reasons) apparently none of them achieved 100% coverage of the legible parish books known 
  to be in existence. Even if they had, they would have failed where parish books were lost, misplaced, 
  hidden or illegible. The National Library of Ireland (NLI) has a publicly accessible database of microfilms 
  of a large proprotion of the available records, which are indexed by date and parish. The portal I 
  have been using (FindMyPast.co.uk - FmP) has the records digitised down to the individual name level, and
  the process of digitisation may have involved the NLI microfilms.

  <p>The two sets of underlying data do not seem to be identical, although hopefully they have a large 
  intersection, and neither should be regarded as complete. You can see from the front covers of the micro-filmed 
  register books on the NLI website that there are significant gaps in both the marriage and baptism records. 
  The main example is the one that hits our efforts: there are no baptisms between 11 October 1826 and 6 April
  1834. This gap is so big that you could miss the whole of a couple's offspring, so even Plan C could be 
  fruitless.</p>
  
  <p>The interface with the FmP records works slightly differently: searches in the gap period do give a
  handful of results, but it is clear that the vast majority of baptisms are absent (and some results may 
  properly belong to other periods entirely). The software allows you to "scroll" through the sequential pages of
  the record books, but in the gap period, this seems to throw you back into the late 1810s.</p>

<p>Even marriage searches will be unreliable, as the NLI records suggest there is a large gap in the records 
between 1815 and 1823. The FmP records, however, do show a substantial number of marriages in Carrick during 
that period, although clearly many fewer than actually took place in a typical year.</p>

<p>If we assume the worst, then James & Anty's wedding will have fallen in the "lost marriage" years 1815-23, 
and John's birth in the "lost baptism" years 1826-1834. In that case, perhaps we should be searching for siblings
of John born between 1815 and 1825.</p>
  
  
  
  
  
 

 
