<h4>Possibilities and still more .......</h4>

<p>I will skip the tedious detils of all the failed searches within Carrick, including the geographically
narrow versions of Plans A, B and C described earlier, but here are a few highlights. There was a 
Bridget Noonan born to a James and Anasta Farrell in Carrick in 1806, although this seems very early to be 
relevant. They later had Juliana (1810), Margaret (1812) and Anastasia (1813).</p> 

<p>Staying in Carrick, there was
also a Michael Noonan born to a Michael and Anastasia Purcel in 1815, but nothing else to support the 
relevance of this record to our search. Recognising that despite our lack of solid leads in Carrick, our
 targets may still lie wholly there, let's see what can be found nearby anyway - there may be fewer 
 and/or smaller gaps in the records of other parishes. </p>

<h6>James Noonan and Anastasia Ryan of Powerstown</h6>
<img src = "images/Parishes around Carrick.jpg"
	width = "400px" 
	class ="img-fluid piccy-left mb-3 mt-0 cl-b"
	title = "Expand and view map"
	 onclick = "viewImage(this.src)">

<p>The parish of Powerstown lay in the same diocese as Carrick (Waterford & Lismore), but was separated from
it by two other parishes to the west of Carrick. In fact, the nearest town was Clonmel, which I think may have
been rather bigger than Carrick.</p>

<p>We do not have a marriage record, but this James and Anastasia took (at least) seven children to baptism
between 1823 and 1836, and, when first discovered, I thought we may have found some of John's siblings. But no, 
all their children were baptised in Powerstown, there were no Johns, and, if they did move to Carrick, it couldn't 
have preceded 1836, leaving it difficult for John to believe he was born there.</p>

<p class="cl-b">There was a Timothy baptised in 1827, a Bridget in 1830 and a William in 1832. Hardy time to squeeze in a John
where we want to find him. Furthermore, the names are not typical of those that John and Bridget gave to their own
children. So, almost certainly, these are not our James & Anty.</p>

<h6>James Noonan and Anastasia Bull of St Mary's Clonmel</h6>
<p>Again, there is no marriage record - they seem hard to come by - but this couple baptised a John Noonan in
1832, a Margaret Noonan in 1837 and a Michael Noonan in 1839. They might just have moved to Carrick after John's 
seventh birthday, in which case he might have lived there for about ten years before fleeing to England.
This seems to me a little thin to allow him to identify so closely with Carrick that he believed he was born 
there.</p>

<p>Still, it is not impossible that John was in fact born in Clonmel; furthermore, at Michael's baptism in 1939, 
his mother was recorded as "Anty", exactly the nickname used at John's wedding in 1851.</p>

<p>And that is the extent of our findings in our search of the Catholic parish records for John Noonan 
of Carrick-on-Suir, born around 1830. Except that if he did have a younger brother called Michael, he too
might have travelled and we might be able to find a link between him and John in England in later life. 
This took us by a very circuitous and fascinating route to Ripon, Yorkshire, a 
<a href="dig7a" title = "Read Michael's story">journey you can read about here.</a></p>

<h6>The William Sheean connection</h6>
<p>But in the quest to establish some definite and evidenced connection between the bridegroom at St 
John's, Salford in September 1851, and his Carrick-on-Suir roots, I hadn't quite given up yet. If 
John was relatively new to Salford, it could be that the witnesses to his wedding had recent ties
back to Ireland from which we might learn more about John. I had found a few Bridget Caffreys of 
the right generation dotted around the parishes surrounding Dublin City, but none in Balbriggan 
and none showing any links with the O'Neils or the Noonans. But what about William Sheean?</p>

<p>At the wedding, William gave his address as 48 Acton Street, Manchester. But on census day, six
months earlier, there seems to have been no such person at any Acton Street address (this was east
 of Cheetham Hill Road to the north-east of Manchester city centre). But there was a William Sheehan
 in the chapel-house of St Chad’s church (just off Cheetham Hill Road, nearer the city centre) on 
 census night. He was a priest aged 28 born in Ireland. Could he be John's witness? Find out 
 <a href="dig7b" title = "Read the William Sheean Invesigation">here</a> where my investigations 
 of this question led to.</p>