<h4>Land held under Lease</h4>

<p>It was not only the Sheehan family for which we can find records of leasehold property in Carrick-on-Suir in
the 1840s. The name of James Noonan pops up too, the name by which John Noonan referred to his late father
in his 1851 marriage records.</p>

<img src = "images/1846 James Noonan Ballylinch Rd.jpg"
	width = "400px" 
	class ="img-fluid piccy-right mb-3 mt-0 cl-b"
	title = "Expand image"
	 onclick = "viewImage(this.src)">
	 
	<img src = "images/James noonan land carrick Sep 1846.jpg"
	width = "400px" 
	class ="img-fluid piccy-right mb-3 mt-0 cl-b"
	title = "Expand image"
	 onclick = "viewImage(this.src)">

<p>I haven't managed to piece together a 19th century map of Carrick-on-Suir, but the Ordnance Survey productions
still exist, and show that, going east from Carrick, there was a Pill Road which led eventually to Piltown, and
then onwards in the direction of County Wexford. Heading not quite parallel a little to the south was 
Ballylinch Road, which led to an area on the north side of the river a little downstream of the town.</p>

<p>The Irish Valuation books for 1846 show that a James Noonan leased a "house & office" at No.2 Ballylinch
Road which was assessed as having an annual rateable value Of £2 10s 9d. At No.1, there was a "Bacon Yard",
and from the measured extent and rateable value, this seemed to be a large operation. In the other direction, 
there was a Denis Shanahan, then a Catherine and a John Shea - was this a variant spelling of Sheean?</p>

<p>The valuation process involved compiling a number of different categories of "books". Amongst these were
"Field Books" and "House Books", the first concentrating on rural landholdings, and the second on constructed
properties, but a degree of overlap was inevitable. I think this is why we have two records for No.2 Ballylinch
Road in the 1846 exercise. There is also <span class = "span-link"
		 title = "View 1848 Property record"
	     onclick = "viewImage('images/1848 James Noonan Ballylinch.jpg');">a reference in the 1848 records</span>, 
		 but it adds very little.</p>
		 
<p>In the second record for 1846, James Noonan is described as a "tenant workman", which must represent a type of
holding left over from feudal times in which the tenancy is secondary to the employment.</p>

<p> It is very hard to see
how this might sit with the "father's occupation" given by John at his wedding, which was hairdresser. But it 
is equally hard to see how a tenant workman might have been able to afford to educate his son, remembering
that John was literate.</p>

<p>An I. Slater published a business directory for Ireland during the 1840s. I have scoured that for businesses
in the name of Noonan in Carrick-on-Suir, with nil results. In fact I haven't been able to find any hairdresser
in Carrick-on-Suir, although there were one or two in nearby Clonmel. I wondered whether the registrar of
marriages in Salford had mis-heard back in 1851: perhaps the occupation should be "haberdasher", but this
speculation also led nowhere.</p> 

<p>Or perhaps the registrar had interchanged Bridget's father's profession with John's. This would allow 
James Noonan to be an agricultural labourer, but leave us with the slightly unusual outcome that his
son somehow learned to read and write. It would also create a problem around our identification of
Bridget O'Neil's origins: like Carrick-on-Suir, the town of Balbriggan didn't advertise any hairdressers
in the 1840s. On this inconclusive note we move on to the last scrap of evidence I've found in Carrick-on-Suir:
it is no more conclusive than anything else we've looked at, but I hope you agree it stands up as being
worthy of our interest.</p>


