<h4>William O'Brien</h4>

<p>The final record that I have found from Tipperary which might represent a scrap of our Noonan family history is
of a political nature. The record is part of the William Smith O'Brien petition of 1848, which was made 
in response to him being convicted for treason and sentenced to death. The "crime" was related to his 
involvement the Battle of Widow McCormack’s Cabbage Patch on 29 July 1848.</p>

<p>When I originally discovered this, I had very little idea of what it had all been about. I did a lot 
of shallow, off-the-hoof, research, in an effort to provide some context for the genealogical find. Looking
back, I don't suppose I did too badly, but later events showed that I was some way off the mark. </p>

 <img src = "images/Sloan OBrien cover.jpg"
	width = "250px" 
	class ="img-fluid piccy-left mb-3 mt-0">
	 
<p>I had a former friend and colleague, Roy Sloan, with whom Angie and I had worked in Mpopoma High School in 
Bulawayo, Zimbabwe in the early 1980s. He was a historian by trade, and (unlike this fifth-generation emigrant)
a true-born Irishman. About the time we were researching all this Noonan history, I was rediscovering 
his acquaintance after around thirty years. It was only very recently that I learned that he had been 
an avid student of Irish political history, that one of his specialist subjects was the politics and 
life of William Smith O'Brien, and that he had published a book on that very theme. There was no way I was 
going to get away with my shallow gloss over the subject any longer!</p>

<p>I had written that the crop failure, the famine, the epidemics, the evictions and the land clearances 
had contributed to the events leading to the Cabbage Patch incident. I had referred contextually to
the turmoil across much of Europe at the time, with peoples wanting to achieve self-determination 
within their specific national groups instead of being ruled by aristocracies often far removed. All
this was true, as far as it went, but it completely missed the long political build-up to the incident.</p>

<p>If you have a deeper interest - or want greater focus on the detail - you should read 
Roy's book: it is a very  clearly-written professional history of a career which ended in tragi-comedy. 
It may be difficult to obtain now, but a good library should be able to locate and order a copy.</p>

<p>Meanwhile, I offer my ha'penny's worth summary here. Towards the end of the 1840s, it seems O'Brien 
had been effectively leading the Young Irelanders, and I think he must have concluded at some point 
that there was no option left but to organise an armed rebellion, starting with the peasantry. His 
specific problem was that he proved utterly ill-equipped to organise such an uprising. </p> 

<p>One outcome of that strategic decision was that on 29 July 1848, a small group from 
the Young Ireland Movement threatened and then chased an Irish Constabulary unit until it took 
refuge in a house - that of Widow McCormack - in a small village (Ballingarry) in south Tipperary,
 and took hostages there for its own protection.</p>

<p>There was a siege and some shooting and some casualties and deaths, but nothing enormous 
in the context of the situation at the time - I don't think there was a single serious injury or 
death amongst public officials. Official reinforcements eventually arrived and 
the Young Irelanders were forced to flee. On 5 August, O'Brien was arrested as ultimately were all
the leaders of the "uprising". They were eventually put on trial and convicted of treason 
(ie, against the British Crown). On 19 October 1848, O'Brien was sentenced to death by hanging, 
drawing and quartering (although I don't think anyone expected his execution to actually take 
this gruesome mediaeval form).</p>

 <img src = "images/Carrick OBrien petition.jpg"
	width = "350px" 
	class ="img-fluid piccy-right mb-3 mt-0"
	title = "Expand and view image"
	 onclick = "viewImage(this.src)">
	 
<p>The link with our ancestors comes via a document dated October 28 1848, and signed by significant
numbers of residents of Carrick-on-Suir and its surrounds. This was the town's petition to the
Governor General (or Lord Lieutenant) of Ireland to exercise clemency in the O'Brien case. 
There was only one Noonan signatory in Carrick, and his forename was John.</p>

<p>Was the John who signed this the same John who married in Salford in 1851, who lost his daughter
days short of age 18, then his 14-year old son to a dyeing machine, and finally died of apoplexy 
just after Christmas 1877, not long after the famous Elkie Armitage had himself died just up 
the road? We don't know. But if it was, he would probably have been between age 16 and 20
at the time. There was no James Noonan recorded amongst the signatories - but he probably
couldn't write his name, and may anyway have already died himself by then. The O'Brien petition 
had over 80,000 signatories, of which over 40,000 were from Dublin, but nearly 10,000 from England. 
It was actually a set of slightly different petitions, because every area chose its
own wording, and it is Carrick's wording which is shown here.</p>

<p>But there were a number of critical points that I had missed entirely in my shallow course of 
reading before I discovered Roy's work. The rapidity of political events through July 1848 was 
astounding. By this time, O'Brien's supporters were organised into small "clubs", scattered across 
the nation, largely adherents to the objective of the Repeal of the Act of Union. Many were
advocating that these clubs should be used as the nuclei of support for a popular uprising, 
although O'Brien himself was at best equivocal about this.</p>

<p>In the latter part of 1847, some counties, including Tipperary, had been "proclaimed" by Clarendon,
the Lord Lieutenant, removing the right of citizens to bear arms. On 8 July 1848, the owners and editors of
three newspapers which had been advocating violent action, most notably C.G. Duffy, were arrested and
charged with sedition or treason/felony. The feeling amongst O'Briens's supporters was that if they 
were convicted, this would break the camel's back and the people would rise. Meanwhile, the 
authorities in Ireland and London had been watching what had been happening across Europe with some 
trepidation, and were drawing their own lessons from it. One of these was to ensure Dublin could 
be well defended, by ensuring police and soldiers at the ready would be at their maximum strength.</p>

<p>Then on 18 July, Clarendon "proclaimed" four more counties, so that the right to bear arms was
suspended in Dublin County, Drogheda, Cork and Waterford. The fear on the Goverment side showed
itself still further when, on 22 July, the commons in London enacted a suspension of Habeas Corpus 
across Ireland, giving the authorities the power of detention without trial, to last well into 1849.</p>

<p>By the time O'Brien heard this news, he was in County Wexford on his way to tour the Cork Clubs. But on 
hearing it, he was prevailed upon to start touring the nearer reaches of the country to prepare
the populace for an immediate uprising. Perhaps he could see, at least dimly, that he was a totally
inappropriate leader for such an enterprise. But many of his followers, including those advocating an uprising, 
could not.</p> 

<p>As an example, it never seemed to cross O'Brien's mind that the men who might flock to his
support would be hungry, and hoping that a military enterprise might at least provide a decent meal. 
Many of them had been surviving on a daily ration of one pound of American cornmeal, hardly enough to 
live on, let alone fight. And yet when they suggested acquiring some food from the rich estates they
were passing on the road, O'Brien insisted that on no account should the rebels violate property laws.
Yet he had no alternative plan for his army's sustenance.</p>

<p>For various - largely ill-thought-out reasons - they decided that County Kilkenny would be the best 
place to start. But on the way there, they stopped at a few other population centres, giving speeches 
and testing the general strength of opinion. Events in Kilkenny, where they arrived on 23 July, nearly 
stopped them in their tracks. The leaders of the local Clubs told them in no uncertain terms that they 
were simply not ready for a rebellion/uprising. This is what led to the decision to head south to 
Tipperary, starting with Carrick-on-Suir, where they arrived on 24 July. Roy's account of this day 
speaks for itself - 
<a href="images/Sloan OBrien extract.pdf" 
   target ="_blank" title = "Read Roy's description">read it here</a> - it is clear that
many residents of Carrick spent at least part of that day on the streets (and in the early part 
of the day, they seemed ready for action).</p>

<p>I had previously had no idea that the Cabbage Patch incident, which led to O'Brien's arrest, took place
only 5 days after he had addressed the population of Carrick. If it was Great x 2 Grandfather John Noonan 
who signed the clemency petition on October 28 that year, and unless he happened to be out of town at the 
time, I feel sure that he at least witnessed O'Brien's address, probably showing great enthusiasm for the
cause. There was as much reason to be apoplectic then as there was when he eventually died. RIP John.</p>



