{% extends "layout.njk" %}

{% block title %}
7. John Noonan in Carrick-on-Suir
{% endblock %}

{% block main %}

{% include "chapter7/1-lost_records.njk" %}
{% include "chapter7/2-possibilities_and_more.njk" %}
{% include "chapter7/3-land_under_lease.njk" %}
{% include "chapter7/4-william_o_brien.njk" %}

{% endblock %}