<p>At John and Bridget's wedding in September 1851, one of the witnesses was a William Sheean of 48 Acton 
Street, Manchester. Six months earlier at the 1851 census, there seemed to be no such person living
on Acton Street, but there was a 28-year-old priest, Father William Sheehan, staying at the Chapel House, Stock 
Street. The Chapel House served St Chad's church on Cheetham Hill Road. This lead was definitely worth following
up.</p>

<img src = "images/Fr William Sheehan St Chads Chapter Hse 1851.jpg"
	width = "535px" 
	class ="img-fluid piccy-right mb-3 mt-0"
	title = "Expand and view image"
	 onclick = "viewImage(this.src)">

<p>Priests were sorely needed in the English cities. The influx of Irish Catholics was accelerating, and 
there would also be English Catholics being drawn into them as England urbanised. The Cathedral of St John 
the Evangelist in Salford had been completed only a few years earlier. It was easy to envisage a scenario
in which a young Irish priest, having done a few years in the Irish parishes, found an opportunity to take
on the different challenges of an English urban environment.</p>

<p>After arriving, accommodation would be found for him in the Chapter House, but he might eventually be 
expected to arrange his own accommodation, hence Acton Street (perhaps).</p>

<p class="cl-b">Meanwhile he was the 2nd priest, the 1st being Fr Croskill, a Liverpudlian, and the 3rd 
Fr Vermeulem, a Belgian (could he have had anything to do with the arrival of the Poor Clares twelve years later?). 
There were no fewer than three servants serving the three priests (so perhaps the idea of having to find 
digs is a pure flight of fancy).</p>

<p>The obvious next step was to identify William Sheean's baptism, around 1823 in Ireland. Allowing for 
spelling variants, there were four such baptisms in County Tipperary between 1821 and 1825. One of
them took place in 1823 in Carrick-on-Suir. Too good to be true! You can 
<span    class = "span-link"
		 title = "view William Sheean's baptism record"
	     onclick = "viewImage('images/William Sheehan baptism 1823 Carrick.jpg');">
		 see the baptism record here
</span>, but
whether you can read it is another matter. To me the event was clearly on 18th November, not 15th as the transcribers
recorded, and I have no idea how they have interpreted William's mother's maiden name as "Stager". William's
parents were John and Catherine Shean.</p>

<p>So it seemed William had been born in Carrick between 5 and 10 years before John Noonan, and had left at
some stage to join a seminary. There were a thousand ways in which their paths could have crossed in a small
town like Carrick, but if William was an ordained priest in Manchester at a time when John was new to Salford,
and about to wed, what better person to act as witness?</p>


<div class="container">
<div class="armypic text-center"
      onclick="viewImage('images/67 Main St 1846.jpg')">
Poor Law Rates valuation: John Sheean, Vintner, 67 Main St, Carrick, 1846
</div>
<div class="armypic text-center"
      onclick="viewImage('images/68 Main St 1846.jpg')">
Poor Law Rates valuation: John Sheean, Haberdasher, 68 Main St, Carrick, 1846
</div>
<div class="armypic text-center"
      onclick="viewImage('images/67 Main St 1848.jpg')">
Poor Law Rates valuation: John Sheean, Vintner, 67 (or 10) Main St, Carrick, 1848
</div>
<div class="armypic text-center"
      onclick="viewImage('images/68 Main St 1848.jpg')">
Poor Law Rates valuation: John Sheean, Haberdasher, 68 (or 11) Main St, Carrick, 1848
</div>
<div class="armypic text-center"
      onclick="viewImage('images/Sheeans on Main St Griffiths 1850.jpg')">
Griffiths Irish Rates valuation summary: 1847-1864: John Sheean, Carrick-on-Suir, 1850
</div>
<div class="armypic text-center"
      onclick="viewImage('images/Slaters directory 1846 -  John Sheean, Spirits and Wine.jpg')">
Slater's Irish business directory, 1846, John Sheean, Spirit Merchant, Carrick
</div>
<div class="armypic text-center"
      onclick="viewImage('images/Slaters directory 1846 -  John Sheean Haberdashery etc.jpg')">
Slater's Irish business directory, 1846, John Sheean, Haberdasher etc, Carrick
</div>
</div>


<p>A John Sheehan held two adjacent properties on Main Street in Carrick town centre under leasehold during
the latter part of the 1840s. They were shown as numbers 67 and 68 in the 1846 Rate Books, but by 1848, the 
numbering system seemed to be changing and they became 10 and 11. Or perhaps there was one set of numbers 
for postal purposes and another for registration of title to land. In 1850, No. 7 was mentioned too: it 
looks as if, maybe, there was some shuffling around the street with different owners and tenants occasionally
re-positioning themselves. Anyway, in 1846 No. 67 housed a Vintner's and No. 68 a Cloth Shop (which I call
a haberdasher).</p>

<p>The Rate Books for Irish properties were compiled laboriously during the 1840s, and then summarised in the 
pan-Irish Griffiths valuation books 1847-1864. That then became the (at last solidly founded) basis on 
which property rates could be levied to support the Poor Law system.</p>

<p>The Sheeans also advertised their businesses and both shops had entries in Slater's business directory 
for the southern counties of Ireland in 1846. So however small-scale they may have been, at some stage, 
at least, they had had an advertising budget. But by 1848, things were not looking good. The 1848 property assessor
wrote that Nos. 67 and 68 (with an adjoining door), both held by Mr Sheean, were in a "very ruinous state". 
Amongst other things, they had only two fireplaces between them. Until recently, Mr Sheean had been
paying about £58 a year in rent, but that had recently been reduced to £50.</p>

<p>There was also another property leased by a Sheean, in another part of town, close to one leased by
a Noonan. But we will come back to that. The chances that William Sheean from Carrick, son of John and
Catherine, was the witness to John Noonan's wedding in Salford in 1851 looked pretty high. And he was
exactly the right age to have been ordained, moved to Manchester, and to have been resident as Father 
Sheean in the St Chad's Chapter House at the time of the 1851 census.</p>

<p>That Father William Sheean subsequently spent his whole ecclesiastical career at St Chad's and 
rose to become Rector. He can be followed every ten years in the censuses from 1851 to 1891, but 
he died (in post) just after the last of these censuses.</p>

<img src = "images/Rev William Sheehan St Chads statue.jpg"
	width = "450px" 
	class ="img-fluid piccy-right mb-3 mt-0"
	title = "Expand image"
	 onclick = "viewImage(this.src)">

<p>So it looked like we had our man.....that is until we visited Manchester and I decided to drop in
on St Chad's (which is still standing in March 2019), in the hope of discovering more about Canon 
Shean.</p>

<p>I found this sculptural memorial to the Canon, looking like some beatific St Francis scattering holy
blessings all around him in the grimy streets of 19th century Manchester. To be fair to Canon Sheean, the
statue was produced "post-mortem" by his devoted parishioners and so almost certainly without his say-so
or permission: quite possibly, the object would have horrified him. Never mind. The fact is, it throws
a huge spanner into the workings of my theories about the links between Rev. Sheean and John Noonan.</p>

<p>If you look closely, the inscription below the statue gives the Canon's date of birth as 19 April 1822, 
far too early for a (presumably) religious family living in a tight-knit Catholic town such as Carrick 
to correspond with a baptism on 23 November 1823, nearly eighteen months later. The Carrick-born William
Sheean was <i>not</i> the man who went on to become the Right Reverend Monsignor WJ Canon Sheehan (VCMP), Rector
of St Chad's Manchester. Later, I found a baptism of a William Sheehan in Dublin in April 1822 (no date of birth given), so 
there is at least one viable alternative for the identity of Canon Sheean.</p>

<p>What conclusions can we draw? Perhaps Father Sheehan was indeed John Noonan’s marriage witness, but 
there was no link to Carrick on Suir.</p>

<p>Personally, when I look at Canon Sheehan's statue, reflect on John Noonan's likely origins and 
upbringing,and recall that there was no further evidence at all of any interaction between Father 
Sheean and John during the course of the latter's lifetime, I find this quite hard to believe.</p>

<p>More likely there was another William Sheehan in the Manchester area around 1851, even though we’ve 
failed to locate him. If there was, he may or may not have been the one born in Carrick on Suir around 1823, 
but I would say the chances of this are quite high.</p> 

