<p>Catherine Burgin's godmother at her baptism in 1892 was a Mary Murphy, no address given. Seven years later in 1899, her brother Joseph's godmother
 was a Sara Murphy, again with no address. But they might have come from the same family, they could even be sisters. Murphy is the oldest family name
 by which we know Joseph Burgin's mother, Eliza, and may well have been her maiden name. I couldn't resist giving at least a shot at finding a family
 relationship. So I did the obvious thing and searched for a family of Murphys within reach of St John the Evangelist in Salford, and including a 
 Mary and a Sara, each old enough to play the required godmother role at the required time.</p>
 
 <p>This produced two candidate families. The first was headed by Patrick Murphy with his wife Mary, and there was a daughter Sarah. Either of these
 women could have been a godmother, although Mary obviously was not a Murphy by birth. But there were two problems with this candidate. First, 
 Patrick was too young to have been Eliza's brother (although there could of course been a different relationship). The second is more practical:
 Patrick and his wife left no indication in any of the three E&W censuses in which they participated of which part of Ireland they came from.</p>
 
 <div style="width:30%; float:right;margin-right:3%;"><p>So the other candidate was the one we focused one. This was Dennis Murphy and his wife Margaret. He was much more eligible age-wise, and
 could easily have been Eliza's brother. That would make his daughters Mary and Sarah cousins of Joseph Burgin. And his census returns were
 full of fascinating detail which would mean it wouldn't be too hard to track down his origins. I have glued together three of his returns
 here, covering two decades from 1871 to 1891.</p>
 
 <p>There are quite a few useful facts in these three census records. Dennis Murphy senior was born in Bandon, Cork only a few years either
 way of 1826. Dennis Murphy junior was born around 1867 in Bengal, maybe near Lucknow, in what is now Bangladesh. This means that Dennis senior
took the Queen's shilling and joined the British Army in the late 1850s or early 1860s. Many Irishmen decided to do this and then went out for 
some years to help police the British Empire. </p></div>
 
 <div class="table-responsive-md">
	<table 
	   class="table table-bordered table-link"
       title = "View original census page"
       onclick="viewImage('images/Dennis Murphy family summary 1871-1891.jpg');">
	   <thead>
    <th colspan="5">Dennis Murphy's Household, 1 Gregory Street, 1871</th>
		</thead>
		<tbody>
			<tr>
			<td>Denis Murphy</td>
			<td>Head, married</td>
			<td>44</td>
			<td>Painter's labourer</td>
			<td>Ireland, Bandon, Cork</td>
			</tr>
			<tr>
			<td>Margaret Murphy</td>
			<td>Wife, married</td>
			<td>30</td>
			<td></td>
			<td>Ireland, Tipperary</td>
			</tr>
			<tr>
			<td>Denis Murphy</td>
			<td>Son</td>
			<td>4</td>
			<td>Scholar</td>
			<td>East India, Bengal</td>
			</tr>
			<tr>
			<td>Mary Murphy</td>
			<td>Daughter</td>
			<td>2</td>
			<td></td>
			<td>Salford, Lancashire</td>
			</tr>
			<tr>
			<td>James Murphy</td>
			<td>Son</td>
			<td>1</td>
			<td></td>
			<td>Salford, Lancashire</td>
			</tr>
			<tr>
			<td>Margaret Murphy</td>
			<td>Daughter</td>
			<td>2 mths</td>
			<td></td>
			<td>Salford, Lancashire</td>
			</tr>
			</tbody>
			<thead>
			<tr>
			<th colspan="5">Dennis Murphy's Household, 7 Sherratt Street, 1881</th>
			</tr>
			</thead>
			<tbody>
			<tr>
			<td>Dennis Murphy</td>
			<td>Head, married</td>
			<td>55</td>
			<td>Labourer</td>
			<td>Cork</td>
			</tr>
			<tr>
			<td>Margaret Murphy</td>
			<td>Wife, married</td>
			<td>40</td>
			<td></td>
			<td><i>ditto, Cork</i></td>
			</tr>
			<tr>
			<td>Dennis Murphy</td>
			<td>Son, single</td>
			<td>14</td>
			<td>Nipper</td>
			<td>Bengal, East India</td>
			</tr>
			<tr>
			<td>Mary Murphy</td>
			<td>Daughter</td>
			<td>12</td>
			<td>Scholar</td>
			<td>Salford</td>
			</tr>
			<tr>
			<td>James Murphy</td>
			<td>Son</td>
			<td>12</td>
			<td>Scholar</td>
			<td>Salford</td>
			</tr>
			<tr>
			<td>Margaret Murphy</td>
			<td>Daughter</td>
			<td>11</td>
			<td>Scholar</td>
			<td>Salford</td>
			</tr>
			<tr>
			<td>Sarah Murphy</td>
			<td>Daughter</td>
			<td>10</td>
			<td>Scholar</td>
			<td>Salford</td>
			</tr>
			<tr>
			<td>Edward Murphy</td>
			<td>Son</td>
			<td>8</td>
			<td>Scholar</td>
			<td>Salford</td>
			</tr>
			</tbody>
			<thead>
			<tr>
			<th colspan="5">Dennis Murphy's Household, 4 Ruby Street, 1891</th>
			</tr>
			</thead>
			<tbody>
			<tr>
			<td>Denis Murphy</td>
			<td>Head, widower</td>
			<td>66</td>
			<td>Scavenger</td>
			<td>Ireland, Cork</td>
			</tr>
			<tr>
			<td>Denis Murphy</td>
			<td>Son, single</td>
			<td>24</td>
			<td>Velvet dyer</td>
			<td>India, Lucknow</td>
			</tr>
			<tr>
			<td>Mary Murphy</td>
			<td>Daughter, single</td>
			<td>22</td>
			<td></td>
			<td>Salford, Lancashire</td>
			</tr>
			<tr>
			<td>Sarah Murphy</td>
			<td>Daughter, single</td>
			<td>19</td>
			<td>Cotton weaver</td>
			<td>Salford, Lancashire</td>
			</tr>
			<tr>
			<td>Edward Murphy</td>
			<td>Son</td>
			<td>15</td>
			<td>Railway checker</td>
			<td>Salford, Lancashire</td>
			</tr>
			<tr>
			<td>James E Murphy</td>
			<td>Son</td>
			<td>1</td>
			<td></td>
			<td>Salford, Lancashire</td>
			</tr>
	</tbody>
	</table>
	</div>
 	 
<p>One attractive feature of the arrangement was that you could take your wife and family with you. It was easy to 
establish from the civil records of the births of Margaret's children in Salford that her maiden name was Kennedy. The 
likelihood was that Dennis had been recruited into the British Army in Ireland, in time for him and Margaret to get to
 Bengal and have Dennis junior in about 1867. Based on this assumption, we were able to identify a marriage of a 
 Margaret Kennedy and a Dennis Murphy at St Paul's, Dublin on 13 July 1863. He was living at Royal Barracks, 
 and she was living at 7 Temple St.</p>

	<img src = "images/Dennis Murphy Margaret Kennedy marriage Dublin 1863.jpg"
	width = "600px" 
	id = "dennm_margk_marr_1863"
    title = "Expand and view image"
	class ="img-fluid piccy-right mb-3"
	onclick = "viewImage(this.src);">
		      
 <p>Denis' father was another Denis, and his place of residence looks very like Bandon. Margaret's father was Edward, but his place of residence is almost
 illegible - I've not been able to find anywhere in Tipperary with a name which even vaguely matches. Royal Barracks, Dublin became Collins Barracks at 
 independence in 1922, and now houses one of Ireland's national museums. Prior to independence, it had housed many and various units of the British Army
 over very many years, and from late 1862 to summer 1863, it housed the 36th (Herefordshire) Foot Regiment (as it was then).</p>
  
	<img src = "images/Dennis Murphy baptism Bengal 1867.jpg"
	width = "600px" 
	id = "dennmurph_bapt_1867"
	title = "Expand and view image"
	class ="img-fluid piccy-left mb-3"
	onclick = "viewImage(this.src);">
  		 
 <p>Wikipedia and the regimental history websites tell us that 36th Foot received orders for Bengal in June 1863, so Dennis and Margaret must have
 married in the full knowledge of the international adventure to come. They were shipped out of Queenstown in three vessels during August, and
 arrived severally in Calcutta (Kolkat) in November and December.</p>
 
 <p class="cl-b">They went on to Lucknow arriving in January 1864, but there was a cholera epidemic, and this led to a decision to split 
 up the company. One part went to Moradabad and another to Shahjehanpore. Unfortunately, cholera also struck both
 these places in 1867, but we've already seen that the Murphys must have escaped.</p>
 
 <p>On 23 September 1867, a record of Dennis Murphy junior's baptism was taken down in the Catholic Church in a place called Meerut. He had been 
 born on 12 September to Margaret and Dennis (senior). The record shows that Dennis (senior) was a Private in the 36th and that his place of 
 residence was Moradabad. But they must have been back in Europe, more specifically Salford, by about 1869, because Dennis and Margaret's second
 child Mary was born there around then.</p>
 
 <p>While this is all very interesting (to me at least), and gloriously well-evidenced, does it actually get us anywhere in establishing a link
 between Jospeph Burgin's mother Eliza and the godmothers of his children, Mary and Sarah Murphy? The short and disappointing answer is probably not.
 It is very difficult to establish any relationship except marriage and parentage from the records left by the Catholic parishes in Ireland. For
 sibling-ship, very often all that can be done is a one-by-one comparison of all possible combinations of pairs of baptisms from two separate lists.
 In the current case, I've searched for an Eliza Murphy born to a Dennis around 1819, and a Dennis born to a Dennis around 1826 in or near
 Bandon, Cork. There were two candidates for Eliza, one baptised in county Wexford, mother Mary Carty, and one in St Mary's church Dublin, mother Mary 
 (no maiden name given). Restricting the other search to County Cork, there was a Dennis Murphy baptised on 23 September 1838 by a Dennis and Mary 
 (maiden name Lehane) in Desertserges, an adjacent parish to Bandon.</p>
 
 <p>And that is it. I have clearly not come anywhere near showing there was a familial link between Eliza Murphy and Dennis Murphy. On the other
 hand, I have not shown that there was none. Facing up to the full facts, we don't even know whether the Mary and Sarah Murphy we started with
were the godparents in question. But I hope you've enjoyed the digression.</p>

