<p>I think dad is big enough to forgive me, even from his grave, for laying a goodly portion of the blame for the Nottingham digression at his door.
But as he only knew Mary Foster's married name of Wynne, and he saw his mum behave like a sister to her, it was quite understandable that he
assumed Mary Foster must be a child of Rose Ann Burgin's from a relationship prior to her marriage to Joseph. We had the advantage over dad 
that we knew Mary's maiden name from her marriage record, and we had learned her age from the 1911 census records, so we were able to search
for a record of her birth or baptism. Initially, we found two civil registrations of births of Mary Fosters in Salford made in the first 
quarter of 1889, one with maiden name given as Foster, and the other as Dolman. This latter was quite disconcerting, especially when we discovered
 that the second Mary's grandma was a Rose Ann (Dolman). This looked like a typo, even if that would imply some really convoluted set of 
 relationships. But it turned out that the Dolmans were a coal-mining family originating in Staffordshire.</p>

<p>Focusing on the first Mary Foster, it was not unusual in the late nineteenth century for no maiden name to be supplied at a birth registration, 
and sometimes the records would show the married name in its place. No forenames for either mums or dads were recorded on the national birth 
registration database, so we assumed it was Rose Ann (married name Foster) who had registered the birth. Nothing so far contradicted dad's assumption. 
So we started searching Salford for marriages between a Rose Ann Dolan and a Foster between 1881 (when Rose Ann was a single lodger) and 1889. 
Then we searched Manchester. Then we extended to Lancashire, and finally to England as a whole. Bingo!</p>

<img src = "images/rose dolan samuel foster marriage notts 1885.jpg"
	width = "500px"
	class ="img-fluid piccy-left mb-3"
	title = "Expand and view image"
	onclick = "viewImage(this.src);">
		
<p>This was great, but what on earth was Rose Ann doing in Nottingham? She was Catholic, but this was an Anglican marriage.
She'd have had to fall seriously in love to be prepared to bridge that divide. I could not imagine that Rose Ann would have gone to 
Nottingham alone, so she must have met Samuel Foster in Salford and they must have travelled together. This was strange in my 
recent research experience - in fact it was strange for anyone to ever leave Salford - so all the more interesting and exciting.
 My next task was to locate this Samuel Foster in Salford. It would be helpful if he had a good, readily transferable, trade.
 And Samuel Foster wasn't hard to find in Salford at the 1881 census: he was 19 years old at the time, a Salfordian stonemason, 
the first child of Elizabeth and Samuel (a pavior, or paver in modern terms).</p>

<p> Samuel was almost the same age as Rose Ann and he had a good trade which could support him anywhere. The only problem was, 
 he had been raised in the wrong religion (or at least I assumed so). But the pieces of the jigsaw were falling into place - 
 obviously there would have been religious, quite probably added to racial, prejudice from at least one of the families.</p>

	<img src = "images/samuel foster household salford 1881.jpg"
	width = "600px" 
	id = "samfoster_1881"
	title = "Expand and view image"
	class ="img-fluid piccy-right mb-3"
	onclick = "viewImage(this.src);">
		 
<p>It was increasingly clear that we were looking at an old-fashioned elopement, just like in the movies. They ran off to
 Nottingham together and got hitched. Don't ask why Nottingham, there must have been some tenuous connection. The next thing to do was to check 
 on the children they produced. But there was no sign of any children in Nottingham, which was a little disconcerting. By this time, I was 
 harbouring images of a strong young stonemason, perhaps working on the steeples of the local churches, with a healthy young family on the verge
 of being created. But something seemed wrong.</p>

<p class ="cl-b">Of course, throughout the whole of this analysis, we had been keeping on the back-burner the fact that Mary was born in Salford, not Nottingham. 
But surely some answer to this conundrum would present itself at some stage - and so it did. We found a record of the death of a Samuel Foster 
in Nottingham in the first quarter of 1888, age exactly right - I had a terrible image of the poor young man toppling from his scaffolding - and 
of course he could have left Rose Ann pregnant.</p> 

<p>The timing would be fine - Mary Foster would be born in the fourth quarter of 1888 (and so she was), and her birth would be
registered early in 1889. And what could Rose Ann have done after her husband's death except return to the Salford where she had been raised
to have her baby?</p>

	<img src = "images/samuel foster household salford 1891.jpg"
	width = "600px" 
	id = "samfoster_1891"
	title = "Expand and view image"
	class ="img-fluid piccy-left mb-3"
	onclick = "viewImage(this.src);">
		 
<p>It must have been pretty rough for Rose Ann after her return to Salford, as she would have had hardly anyone to turn to.
 There was her younger brother Thomas who may have helped, although there was no visible evidence of this. She could have gone back to the Foster 
 family, although if there had been an elopement, they might well be unforgiving. I checked their status at the 1891 census. You can see that 
 Samuel (junior) is no longer present, as we would expect. But nor is there any sign of a young widow Rose Ann or a granddaughter Mary. As 
 expected, they had rejected her and the child. So now we had our story and the explanation of Mary Foster's identity.</p> 
 
 <p class="cl-b">Rose Ann was the widow of Samuel Foster when she married Joseph Burgin
in 1892, and she took Mary Foster with her into the marriage. So Mary would have been Catherine Burgin's elder step-sister all along, as dad had 
assumed. Until, that is, we had occasion to pass through Nottingham on entirely different business, giving us an opportunity to drop into 
the office of the Nottinghamshire County Archives (where many of the old church marriage records are held).</p> 

	<img src = "images/rose dolan samuel foster marriage cert.jpg"
	id = "rosed_samf_mcert"
	width = "550px" 
	title = "Expand and view image"
	class ="img-fluid piccy-right mb-3"
	onclick = "viewImage(this.src);">
	     		 
<p>At the expense of 45 minutes of searching, assisted by the very helpful staff, and 20p for the photocopier, we were 
able to obtain a copy of the full record of the marriage of Rose Dolan and Samuel Foster on 4 April 1885 at St Matthias Church in the (now) suburb 
of Sneinton. And then, as on the road to Damascus many years ago, the scales fell from my eyes. No one fell in love with an Anglican stonemason, and 
no one eloped. No one fell from a steeple scaffold leaving a pregnant widow, and the pavior Samuel Foster was not guilty of rejecting his own 
granddaughter out of religious or any other kind of prejudice. I had got the story utterly - or perhaps almost utterly - wrong.</p>
 
 <p class="cl-b">Samuel (a threader and winder) was the son of William (a hose trimmer). Rose (a cleaner in hosiery) was the daughter of 
 Bernard (a labourer). They were local people and had nothing to do with the Salford families in which we were interested. 
 To the amateur genealogist, the message is straightforward: even if it looks exactly like what you're looking for, it probably isn't!</p>
 
 <p>All this took place before we obtained Mary Foster's full birth certificate, which confirmed what we by then suspected, namely that her mother
 was not Rose Ann at all - it turned out to be Ellen Foster. We now assume, perhaps wrongly, that Mary was born out of wedlock, if only because 
 Ellen failed to provide the father's name. But I'm slowly learning to keep my mind enormously open. The most focused of my readers (if any) 
 will have noticed that Samuel Foster (junior) was not the only family member to disappear from his father's household between the 1881 and 
 1891 censuses. His younger sister Ellen also disappeared. We have searched high and low for Mary Foster's mother, and we have an ill-defined 
 shortlist of possible candidates picked from the 1881 census records of Salford. By pure coincidence, I think, Samuel's younger sister Ellen 
 is on that list. But so far there is no evidence to take investigations further.</p>
 
 <p>We did a drive-by of St Matthias while we were in Nottingham. Happily, it is still a church, but now a major headquarters of the Coptic 
 Christian church of Egypt within the UK, so important that the patriarch himself came all the way from Egypt to open it a few years ago. As 
 one of the oldest branches of Christianity, that is something that Sneinton and Nottingham can be proud of.</p>
 

