<p>Here are some potted extracts from the Wikipedia article on Sir Elkanah Armitage, as it stood near the end of November 2018. 
	I have included this little digression here because the time and space in which he lived intersected significantly with those of 
	John Noonan and Peter Reid, and his life highlighted some of the more important social and economic circumstances in the midst of 
	which their lives were lived.</p>
	
	<p>Elkanah was born in 1794 in Failsworth (where James Noonan and Mary Corcoran got married nearly a century a later and near Newton 
	Heath where Peter Reid was living in 1851). So he was a generation older than John Noonan. His father was a farmer and a cotton weaver 
	– and I assume this would be a home hand-weaving enterprise undertaken as a supplement to the farming business.</p>
	
	<p>They say he firstly went to school and secondly left to work in the local cotton mill at the age of eight. The second part of this is 
	easy to believe – the early mills were almost entirely staffed by women and very young children. Perhaps the men saw such repetitive 
	work, under such such strict control, as beneath them - women had probably done most of the weaving (with the help of the children)
	when it had been a cottage industry at home. The first part leaves me asking how old he would have been when he went to 
	school, and how much he could have learned during the short time he attended. The thinking is that he subsequently “hauled himself up 
	by his bootstraps”.</p>
	
	<p>They also say, in the section on Sir Elkanah’s political life, that his name appeared on the 1806 petition for the abolition of 
	the slave trade. Given that he would be aged twelve at the time, that would seem to make him something of a prodigy. But perhaps he was.</p>
	
	<p>His business career seems to have started on Chapel Street, Salford a few years before 1820. He had married a Mary Bowers in 
	1816, and it looks as if they set up a draper’s shop together which did very well. A little later he went into weaving with a guy 
	called James Thomson, presumably using the new industrial processes, and this venture also did well because before 1830 they were 
	employing nearly 30 people.</p>

	<p>Pendleton Mill was first constructed some time between 1830 and 1848, because by the latter date it had been extended and 
	(probably) re-capitalised and re-furbished to become Pendleton New Mill, which by then employed 600 people. In Pendleton,  
	Elkanah and Mary first settled on Gore Hill, near Pendleton Green (so extremely central), almost where the junction of Broad 
	St and Broughton Rd now lies.</p>
	
	<p>By 1853, a couple of years after John had married Bridget and settled in Pendleton, Elkanah’s fortunes (and fortune) had 
	waxed to such an extent that he was able to effect a huge upgrade in his accommodation arrangements. He bought Hope Hall, 
	a little distance to the west of Pendleton on the Eccles Old Road. I imagine that this was some old aristocratic “pile”. 
	The building no longer exists, apparently, but the location-memory (at least) survived in some form and was somehow transmuted 
	in later years to become the nearby Hope Hospital, now carrying some characterless NHS Trust identity.</p>
	
	<p>Elkanah was politically active, but never succeeded in becoming an MP. During the 1830s and 1840s, he was elected as 
	a Councillor for Exchange Ward in Manchester’s first city council, representing the Liberal party. Later, he became an Alderman, 
	and from 1846-1848 (during the upsurge in the Chartist movement), he was Mayor of Manchester. Without checking, I feel he may
	have had considerable sympathy with the chartists, and Elkanah got his knighthood for helping to calm the volatile situation
	in Manchester in 1848. During his time, he held various other senior positions in some of the major institutions of the County
	of Lancashire. He was a vociferous free-trader and supporter of the Anti-Corn Law League, fighting to remove the entrenched
	economic advantages of the landed aristocracy. He was also a pacifist who opposed he Crimean War in opposition to 
	Prime Minister Palmerstone.</p>
	
	<img src = "images/Elkanah Armitage tomb.jpg"
	     width = "600px" 
	     id = "elkie_A_tomb"
		 class ="img-fluid piccy-left mb-3"
		 title = "Expand and view image"
		 onclick = "viewImage(this.src);">
		 
	<p>Sir Elkanah died on 26 November 1876, aged 82, and was buried in Weaste cemetery. This was just a few years after 
	John Noonan (junior) had been laid to rest in the same cemetery and just over a year before his father John Noonan (senior)
	made the same journey. They say Elkanah's funeral procession was half a mile long making the trek from Hope Hall to Weaste.
	Whether it was full of his happy employees and thousands of well-wishing fellow-Pendletonians, I cannot say, but the 
	answer may lie in the archives of the Salford Chronicle in Salford museum. Who knows, perhaps the Noonans joined in the 
	procession! His mill dominated the Pendleton skyline well into the twentieth century and he left a will worth about £15 
	million in today’s money.</p>
	
	
