<h4>A Glimpse of Mary Ann</h4>

  <p>We don't really see much in the way of historical records of Mary Ann Noonan between the mid-1910s and early 1930s. But the 
    last available full census records show that on 2 April 1911, she (mis-transcribed as Moonan) was living at 251 Bury New Road, Broughton, 
	lodging with a young couple who had a shop. Her landlord and landlady were John and Elizabeth Moss (who had married
	in 1905), and they ran a fruiterers which also retailed beer. All three of them were Mancunians (in the broadest sense) and
	stated their ages as 25 (although Mary Ann was still slightly short of her 25th birthday). She was employed in the 
	confectionery industry as a lozenge-cutter, and was still single.</p>