<h4>A Glimpse of Mary Ann</h4>

<p>Mary Ann Noonan left little in the way of documented history between the mid-1910s and 1933 when she eventually
 married (with a notable exception in 1922, described in Chap 5). But in the census records for 2 April 1911 - 
 mis-transcribed as Moonan - she was living at 251 Bury New
 Road, Broughton, lodging with a young couple who had a shop. Her landlord and landlady were John and 
 Elizabeth Moss (who had married in 1905), and they ran a fruiterers which also retailed beer. All three of them were 
 Mancunians (in the broadest sense) and stated their ages as 25 (although Mary Ann was still slightly short 
 of her 25th birthday). She was employed in the confectionery industry as a lozenge-cutter, and was still single.</p>

