
<h4>John Edward and the Malones</h4>
<br>
<img src = "images/56 Union Street Salford 1911.jpg"
     id = "56union_1911"
     title = "Expand and view picture"
	 width="400px"
	 style="float: left;margin-right:20px;"
	 onclick = "new Viewer(document.getElementById(this.id))">

<p style="margin-top:-10px;">At the same date, John Edward was to be found living with newly-wed wife Theresa and his brother Richard
    [II] at 56 Union Street, Lower Broughton. This was about three-quarters of a mile from Mary Ann's lodgings as the crow
    flew. They stated their ages as 25 (Theresa), 23 (John) and 19 (Richard), although John was still a few months short of his
    23rd birthday. This was the first census at which householders were required to complete their own forms, so here
    is the document in John's own hand and signed by him. It looks as if, quite understandably, he struggled a bit with the
    bureaucratic aspects of putting things in the right boxes.</p>

<p>Theresa Bridget Malone had been born in Farnworth near Bolton, but at the 1901 census (then age 15), was living with her
    widowed mother Christina at 92 Sussex Street, Lower Broughton, working as a blouse finisher. This was just across the river
    from East Robert Street where John Edward's dad had died in 1906 - you could cross on Blackfriars Road or Springfield Lane.</p>

<img src = "images/John Edward piccy extract  with Singer car.jpg"
     style ="width: 300px; border: 2px solid sienna;float: right;margin-bottom: 0px; margin-left:20px;"
     class = "linkC"
     title = "View whole photo"
     onclick = "bigimg('fullscreen25', 1, 5, 2, 2892, 1944, 'images/John Edward Molly Kavanagh baby and Singer.jpg');">

<p>So John Edward and Theresa almost certainlyinly lived in the same vicinity for some time and quite possibly went to the same
    church (St Peter's on Greengate?). Here is an extract from a picture of John Edward. If you look at the whole photo, you
    will see two other people and a motor car. The identity of the baby is officially unknown (although see below), but the
    woman is Molly Kavanagh, the eldest of the Malone siblings, more formally called Annie. Of course if you used her nickname,
    her maiden name would have been Molly Malone! But instead of a wheelbarrow, there is a car, and if dad is to believed
    in Down the Arches, almost the only car around in those days was that owned by Kate and Richard Noonan. As it looks like
    a Singer Tourer rather than the infamous Iron Lung which came later, that would date the photo to pre-1934. The Singer had
    been acquired in the mid to late 1920s.</p>

<p>John and Molly's dress suggests a funeral, although they are not visibly sad at the moment
    the photo is taken (by whom?). Could this be September 1927 (RIP Christina Malone) or October 1932 (RIP Richard [I] Noonan)? If
    the former, Richard [II] might have been driving the car and taking the photos, and the baby might be our Aunt Cath, who had
    been born about four months earlier. This seems doubly plausible as it was Cath who supplied us with the photo.
</p>

<p>The only record that we have been able to find of Theresa's marriage - other than the civil register listing - is the miracle
    "prediction" attached to John's 1889 catholic baptism record. So although we know the date was 17 September 1910 and the church
    was St Boniface's in Lower Broughton, we currently have no further details such as witnesses or addresses. It is interesting that
    the marriage was celebrated at St Boniface's, as it must then have been in its earliest days of being a church in the sense
    we generally understand that word (maybe that's why we can't find the church marriage record).</p>

<p>Like the Mother of God and St James' in Pendleton some decades earlier, St Boniface's had started as a catholic mission into the city,
    with a single priest operating from his front room. But it eventually became one of the main Catholic venues for Lower Broughton.</p>
<br>
<img src = "images/Theresa B Malone.jpg"
     id = "tmalone_pic"
     title = "Expand and view picture"
	 width="300px"
	 style="float: left;margin-right:20px;"
	 onclick = "new Viewer(document.getElementById(this.id))">
     

<p style="margin-top:-10px;">Here is a picture of Theresa Bridget Noonan (nee Malone). We don't know when, where or by whom it
    was taken, but as she was born around 1886, the picture might be from the 1940s. She died aged 70 in 1956, but John Edward
    survived to 1987 and died at the grand old age of 98.</p>

<p>St Boniface's was on the eastern bank of the river almost due north of John Edward's place and almost due west of Mary Ann's place,
    very close to Gerald Road. If you crossed the river westwards on Gerald Road, this would lead directly back to Charlestown
    and Whit Lane. On the way, you would pass the turn into Littleton Road on your right, and that is where John Edward and
    Theresa would settle for decades just a year or two after the 1911 census.</p>
<br>
<u>The Malone Quarter</u>
<p style="margin-top: 0px;">Richard's occupation in 1911 (whilst sharing with John and Theresa) was as an Assistant Salesman at a Plumbers'
    Merchants. John's was as a Tramway Conductor with the "Corporation", although I don't know whether this would be Salford
    or Manchester. It is a reasonable guess that he got the job through a family connection, as Theresa's two next eldest sisters,
    Agnes and Margaret, were both married to Tramway Conductors. In fact, it turns out that John Edward had not just married his
    sweetheart Theresa, he had been co-opted into a very tightly-knit local clan which had colonised its own corner of Lower Broughton.</p>

<p>Four older and two younger siblings of Theresa's appear in Salford at the 1911 census. The younger ones, Winnie and Joseph,
    were still living with Christina. The older brother and three older sisters were all married and had set up their own
    households very close to Christina's, and John Edward and Theresa were no exception. Every address was within a few minutes'
    walk of every other. It was almost its own <i><b>Malone Quarter</b></i> within Lower Broughton, headed by a benevolent matriarch.</p>
<br>
<img src = "images/The Malone Quarter 1911 - annotated.jpg"
     id = "malone_q_1911"
     title = "Expand and view picture"
	 style="float: right; margin-left:20px;"
	 width="650px"
	 onclick = "new Viewer(document.getElementById(this.id))">
     

<div style="width:300px;"><p>The table of Lower Broughton Malone families and addresses below also lists the children
    which had been produced by the clan by census day 1911. The signs were that if John and Theresa's grandchildren were
    ever - in the future - to seek out a lost second cousin or two on their grandmother's side, they would probably have a
    large pool to choose from. On their grandfather's side of course, they have me and all my first cousins, descended
    from Richard [II] Noonan.</p></div>

<h5>The Malones in Lower Broughton, 2 April 1911</h5>
<table id="tableJ" class="table1" style="float:left;margin-right: 2%;">
    <tr>
        <td class="frame1">Malone</td>
        <td class="frame1">Spouse</td>
        <td class="frame1">Children(age) at census date</td>
        <td class="frame1">Address</td>
        <td class="frame1">Head's occupation</td>
    </tr>
    <tr>
        <td class="frame1">Christina <i>(mother)</i></td>
        <td class="body1"><i>(Kyran - deceased)</i></td>
        <td class="body1">Winifred(17), Joseph(15)</td>
        <td class="body1">19 Raglan St</td>
        <td class="body1"></td>
    </tr>
    <tr>
        <td class="frame1">Annie (Molly)</td>
        <td class="body1">Richard Kavanagh</td>
        <td class="body1">Christina(6), William(5), Richard(2)</td>
        <td class="body1">15 Raglan St</td>
        <td class="body1">Railway Porter</td>
    </tr>
    <tr>
        <td class="frame1">Samuel Patrick</td>
        <td class="body1">Ada Mary Burns</td>
        <td class="body1">Samuel(3), Norah(0)</td>
        <td class="body1">38 Nora St</td>
        <td class="body1">General labourer</td>
    </tr>
    <tr>
        <td class="frame1">Margaret Mary</td>
        <td class="body1">Francis Henry Lawler</td>
        <td class="body1">Kyran(1)</td>
        <td class="body1">23 Raglan St</td>
        <td class="body1">Tramway conductor</td>
    </tr>
    <tr>
        <td class="frame1">Agnes</td>
        <td class="body1">Henry McGuinness</td>
        <td class="body1">Teresa(1)</td>
        <td class="body1">16 Nora St</td>
        <td class="body1">S32 conductor</td>
    </tr>
    <tr>
        <td class="frame1">Theresa Bridget</td>
        <td class="body1">John Edward Noonan</td>
        <td class="body1"></td>
        <td class="body1">56 Union St</td>
        <td class="body1">Tramway conductor</td>
    </tr>
</table>


<p style="margin-top:-15px;">The "Malone Quarter" was also fairly close to Greengate, where St Peter's Catholic church was located.
    This was convenient, for it was	longer-established than St Boniface's and probably offered more services.</p>
	<br>
	<br>