
<h4>Richard [II] and Kate Burgin</h4>

<p>But it was especially important to young Richard [II] whose future wife, Catherine (Kate) Burgin, lived just off Greengate. From Richard's end
    of Union Street, there were footbridges across the Irwell providing a slightly shorter route to Greengate than on the main roads
    via Union Street and Broughton Bridge. Whether Richard was spurred on in his efforts in the field of romance by his brother's marriage,
    or whether it was just nature on its inexorable course, we don't know. But by April 2012, there is clear historical evidence that
    he and Kate were courting. Perhaps John and Richard found their paths slightly clearer than the average young swain, because having no remaining
    parents they didn't have to face up to the challenge of effecting formal introductions and obtaining official family approval.
    Perhaps Mary Ann [II] took on the responsibility of acting "in loco parentis".</p>

<p>The Burgins, living just off Greengate on census day 2 April 1911, just like the Noonans on Union Street, had been given responsibility
    for filling in their own forms. John Edward managed this, and at first I thought Kate had completed theirs on behalf of her parents (as dad
    wrote that Kate's mother, Rose Ann, was unable to read or write, and I doubted that her husband Joseph could either). But closer scrutiny
    of the form reveals a more interesting story.</p>

<img src = "images/Burgin 1911 census.jpg"
     id = "burgins_1911"
	 class ="img-fluid piccy-right mb-3"
     title = "Expand and view picture"
	 width="400px"
	 onclick = "viewImage(this.src)">
	     
<p>They were living at 1 Ryland Street, on the corner where it met the north side of Greengate. Kate's dad, Joseph Burgin, was
    55 and working as a calenderer, which is to do with the finishing of various types of cloth. He had been in that
    profession for many years. Kate's mum, Rose Ann, was 51 and they had had a total of five children born alive, but only Kate survived. Kate was
    18 and working as a Bobbin Winder in a cotton mill - possibly the nearby (and enormous) Greengate Mills on the Salford-side banks of the
    Irwell. Their numbers were brought up to four by a boarder, the 74 year old widow Jane Elizabeth Drinkwater. Interestingly, she had been
    living at the same address ten years previously (when she had described herself as a charwoman). Somehow, the sub-tenant/landlord relationship
    had been reversed.</p>
	
	<p>The house had two rooms, including the kitchen. It bends my mind a bit thinking about the living and sleeping
    arrangements, and how they must have interacted at bedtime. You will see that the form has been signed by a J. Dempsey, "for J. Burgin". So it wasn't Kate, it was Mr Dempsey who completed it for
    them. Perhaps he was a friend or neighbour with better literacy skills than their own. But if we look at next door's 1911 census form (ie No.
    3 Ryland Street), we find that Mr Dempsey did theirs too. So a very good friend/neighbour, or a man who had identified a market opportunity
    to earn some money from his skills, following the government's decision to issue DIY census forms for the first time? Who knows.</p>

<p>We don't know whether or not Richard and Kate were already "going out" on census day 1911, but just over a year later on 20 April 1912
    they certainly were. We know this because they were joint witnesses to a wedding at Mother of God and St James' in Pendleton. Both Kate
    and Richard had changed addresses in the intervening year: Kate was at 64 Bedford Street (the next side-street of Greengate along from
    Ryland Street) and Richard was at 29 Melbourne Street, Lower Broughton	(quite close to Woodland Street where Mary Ann had been a year
    previously, and may have remained). The rate at which the people we are looking at moved house astounds me. We don't know if Richard was
    lodging by himself at Melbourne Street or still staying with his brother and sister-in-law.</p>

<p>The marriage in question was between Herbert John Wynne (father Charles Wynne) of 36 Woodbine Street and Mary Foster of 11 Sharp
    Street Pendleton. Mary was very close to Kate Burgin, as they had been brought up together for at least part of their childhoods, as if
    sisters. They may indeed have been half-sisters, or possibly adoptive sisters - we'll return to this story elsewhere in the narrative.</p>

<p>Meanwhile, John Edward and Theresa Noonan had baptised their first child, Mary Josephine, at St Peter's Greengate on 17 December 1911. The
    godparents were Francis Lawler and Mary Ann Noonan. Could you call Francis Mary's brother-in-law? I don't know. He was her brother's wife's
    sister's husband. Sadly, Mary Josephine died as an infant during the first quarter of 2012. Their second child, Joseph Maria (a boy), was
    born in 1913, but we haven't found a baptism record.</p>

<img src = "images/JE Noonan Army attestation 1914.jpg"
     id = "jen_army_1914"
     title = "Expand and view image"
	 class ="img-fluid piccy-left mb-3"
	 width="300px"
	 onclick = "viewImage(this.src)">
	      
<p>We can now see the great war looming on the horizon, in which both John Edward and Richard served. We've
    found no military documents for Richard, but we have John Edward's attestation form from when he signed up for "the duration". The
    date was 4 September 1914, about four weeks after the declaration of war, and he was by then living on Littleton Road, where he and Theresa
    would remain for decades afterwards. They seem to have started at Number 37.</p>

<p>John stated his profession as Tram Guard, his army number was 25082, and he was posted to the General Services Corps (GSC), which was used for
    many of the hundreds of thousands of recruits in those months as a kind of holding corps until they were allocated to a proper
    regiment or unit. I have ringed two parts of the form in particular in blue, relating to the definition of "the duration". In the
    top right-hand corner, the words <span style="font-family: Georgia;  color: DarkSlateGrey;"><b><i>"WAR PERIOD"	</i></b></span> are stamped.
    And near the bottom, in Para. 17, the words <span style="font-family: Georgia;  color: DarkSlateGrey;"><b><i>
	"......for a term of Three years unless the War lasts longer, in which case you will be retained until the War is over."</i></b>
	</span>No ifs or buts there then. Had everybody forgotten the Hundred Years' War?
</p>
<p>At present, we are unable to place the next pair of events in order. At some time between 1 April and 30 June 1915, the birth of Theresa
    and John Edward's third child, Theresa W Noonan, was officially registered. The exact date of birth is recorded in manuscript in the 1939
    Register, but is illegible. It has been transcribed as 9 January 1915, but this needs confirming by the family. So it remains unclear
    whether Theresa was born before or after the marriage of Catherine Burgin and Richard Noonan at St Peter's, Greengate, on 1 May.</p>

	<p>Clearly, Richard came back from his war duties to get married, because it was a "khaki wedding", but was John Edward also able to get leave to
    attend his brother's wedding? And perhaps, during the same visit, to meet his new-born daughter? All speculation. But here is a brilliant
    photo of the young couple.</p>
	
<img src = "images/Richard and Catherine wedding 1915 pic.jpg"
     id = "DandK_marr_1915"
     title = "Expand and view picture"
	 class ="img-fluid piccy-right mb-4"
	 width="400px"
	 onclick = "viewImage(this.src)">
	 	 
    <p>To establish the correct chains of descent, we must note that, at the wedding, Richard [II]'s parents
    were recorded as James and Mary, and Catherine's as Joseph and Rose Ann. The witnesses were a team we have met before, namely Mary
    Ann Noonan and Francis Lawler. After the wedding, I would have thought that the young men, married or not, would have been required
    to return rapidly to their regiments and whatever horrors they were enduring.</p>

    <p>But the date of the next major event in our story suggests that there may in fact have been some degree of coming and going from
        the regiments. Richard and Kate's first child, my own uncle Richard (who we will have to label Richard [III]) was born on 19 July 1916.
        The church record of Richard's baptism was unusually full, so I've reproduced the transcription here, including 
		the "predictions" that he would be confirmed at St Peter's on February 23rd 1930, and that he would
		subsequently wed an Olive Brigg at "CSM" church (whatever that might be) in Kersal on 20 July 1940. What a biography - 
		born in the midst of WWI and married in the midst of WWII!</p>
    
    <img src = "images/Richard III baptism transcript.jpg"
	     width="390px"
		 class ="img-fluid piccy-left-basic mb-3">

<p class="cl-r">Mary Ann is performing her usual duties of witnessing and/or god-parenting, but with a different colleague, John Doyle, on this
    occasion. There's been another address change, this time just down the street to 35 Bedford Street. I wonder whether it could be said
    that Richard [II] lived there in that time of war. Was this the exclusive home of the newly-weds, or was Catherine still with her parents,
    with Richard ducking in from time to time? Was he around when his son was born? If not, when did he first get to see him?</p>
      
<p class="cl-b"> Moving on, it seems that in the midst of WWI, granddad Richard [II] lost his new father-in-law Joseph Burgin less than two years after
    marrying his daughter. Although the year of birth seems to be about five years late, there weren't many Joseph Burgins around in Salford,
    so the one contained in the national register for the first quarter of 1917 is probably the correct one. If the young men were away at war,
    Kate and Rose Ann would have had to organise his burial without them. We have not been able to find his grave.</p>
	
<img src = "images/joseph noonan 1924.jpg"
     id = "josephn_1924_pic"
     title = "Expand and view picture"
	 class ="img-fluid piccy-right mb-3"
	 width="300px"
	 onclick = "viewImage(this.src)">
	 
<p>Whatever toings and froings there had been during the war, it was over by November 1918, and the next event of note was the birth of
    Kate and Richard's second child, Joseph, on 14 December 1919. This equalised the score between John Edward and Richard [II] at 2-2, with
    Joseph Maria and Theresa W on John and Theresa's side, and Richard [III] and Joseph on Kate and Richard [II]'s side. But by the end of
    1921, John and Theresa had established a 4-2 lead, having had Mary on 4 January 1920 and Patricia on 20 July 1921.</p>

<p>But Kate and Richard, living at 189 Greengate by then, had my dad James (almost universally known as Jim) on 21 August 1922 and
    the youngest brother John in the first quarter of 1924, so it was level pegging again at 4-4, before fate delivered a red-card offence
    which took Joseph Maria Noonan off the playing field for ever.</p>

<p>He died in the second quarter of 1925 aged 12 or 13. Philomena Liggins recalls her mother Patricia Eltringham telling her that he
    had died of Rheumatic Fever. This left John Edward and Theresa with three girls, and Kate and Richard with four boys (and four girls
    yet to come).</p>