<h4>Joining up the Arches</h4>

<p>We're now at the stage where the arches coming down are meeting the arches coming up. But the lines above the arches have still to
    be dovetailed nicely, and the railway points placed on the correct settings. There is inevitably some degree of overlap with dad's narrative.
    We will skip Kate and Richard's housemoving, upwards then downwards social mobility, and the births of their four girls, as dad
    deals with these matters thoroughly. And we will come back later to the business of earning a living. We must record that Christina Malone, Theresa's
    mother and born in Ireland, died on 7 September 1927 aged 73. She was buried in Agecroft cemetery. Then we must face up to the year 1932,
    during which there were two unexpected and painful losses.</p>

<h6>A motor accident</h6>
<p>Early in 1932, Kate and Richard and their seven children (Margaret was not yet born) moved house from Moor Lane, Upper Kersal
   to 309 Littleton Road on the northern/eastern side of the Irwell, so technically in Lower Kersal rather than Salford, but 
   actually very close to the Charlestown end of Pendleton. At Moor Lane, there had been a large back garden and a small 
   front garden where the young ones could play. There was also Kersal Moor on the other side of the lane, so you would 
   have had to cross the lane to enjoy this amenity, but there would have been no need to play on the street. In any case,
   I imagine Moor Lane would have been fairly narrow, and it had bends and steep inclines. So any cars using it would be 
   unlikely to be speeding. The youngest boy John would have been only about six years old when the family left Greengate
   for Moor Lane, so would have had the shallowest memories of playing on the street.</p>

<p>In contrast, Littleton Road was long and straight and would tempt drivers to put their right foot down on the pedal. There was
    no garden to play in, so the boys would naturally gather on the street (or at least the pavement). The days of generalised motorised
    transport were still relatively young, so nobody had a huge awareness of the dangers associated with traffic. Young John would
    have had the least awareness of all. In the early evening of Tuesday 15 March 1932, he was knocked down and killed by a car as he chased
    a rolling hoop from the pavement into the street. The accident was first reported in the Friday 18 March edition of the Salford City Reporter
    (where they got John's name wrong). The inquest into John's death was held on that same Friday and reported the following Friday.
	Here are the newspaper articles.</p>
	
<img src = "images/John Noonan death report 18-03-1932.jpg"
     id = "jnj2_death_rep_1932"
     title = "Expand and view report"
	 class ="img-fluid piccy-left mb-3"
	 width="225px"
	 onclick = "viewImage(this.src)">
	 
<img src = "images/John Noonan inquest report 25-03-1932.jpg"
     id = "jnj2_inq_rep_1932"
     title = "Expand and view report"
	 class="img-fluid piccy float-lg-right mb-3"
	 width="561px"
	 onclick = "viewImage(this.src)">
     	      
<p class="cl-b">The account of the inquest is somewhat jaw-dropping to a reader from the early 21st century. We might expect
    that, in the early days of motor transport, standards of road and driving safety and acceptable behaviour would look appallingly weak
    compared with the present. But the general standards applied by the coroner look equally low. As reported, the verdict is reached
    without reaching solid conclusions on how fast the car was going, on whether the driver allowed herself to be distracted, on her awareness
    of her stopping distance, on whether or not she took evasive action, and a number of other points.</p>

<p>The coroner himself makes a statement seeming to suggest that, as Littleton Road was long and straight, it was OK to drive as
    fast as you liked along it. Phew. But it looks as if the family accepted the verdict - John had run out into the road, and,
    as might have been feared, there had been a terrible accident. Heaven knows what the adults in the family had been saying to
    each other about who allowed which children to do what.</p>

<p>A new Noonan grave was opened at Agecroft for young John, which he now shares with his mother and father, Kate and Richard [II],
    and grandmother Rose Ann. There's some cruel kind of joke of fate in the fact that the Weaste grave was opened for a fourteen year old John
    Noonan in 1874, and the Agecroft one for an eight year old John Noonan in 1932, 58 years later, both of them taken by a sudden accident.</p>

<h6>The last of the second generation</h6>
<p>Next, we turn our attention to the fate of Richard [I] Noonan. You may remember that he last appeared in this account at the 1891 census,
    just after his mother had died, living at 102 Gill Street Pendleton with his brother James and family. Since then, his nephew Richard [II]
    had been born in 1892, his sister-in-law Mary had died in 1894, and his brother James had re-married in 1899 and later died in 1906. We have no
    idea whether Richard [I] was in attendance at any of these events. We've not been able to find any trace of him acting as a godparent at
    any christening or as a witness at any marriage from 1891 to 1932 (a period of 41 years).</p>

<p>We've also searched and searched the 1901 and 1911 census for any trace of Richard within the UK or Ireland, and come up with nothing.
    We're aware of the possibility that he spent some time in a state institution such as a prison, a workhouse or an asylum. This makes
    searches harder, but except in the case of asylums (where there's a reliance on initials only), it should still be possible to find
    people. So we have a little mystery. Maybe he was living on the streets, or following a gang of navvies, but surely not for forty-one years.
    Wherever he'd been and whatever he'd been doing, he proved to be the longest-lived by far of all his siblings. Richard had been
    43 years old when his brother James died in 1906 at the age of 52. By 1932, when his luck finally ran out, he was 69 years old
    (even though his death certificate said 68). He died on 22 October in Hope Hospital, but there was a short and sad drama leading up
    to this. Here is the death certificate and the newspaper report on the incident and the inquest that followed.</p>

<img src = "images/Richard Noonan DCert 1932.jpg"
     id = "rich1_dcert_1932"
     title = "Expand and view certificate"
	 class ="img-fluid piccy-left mb-3"
	 width="300px"
	 onclick = "viewImage(this.src)">

<img src = "images/Richard Noonan senior death report 1932.jpg"
     id = "rich1_drep_1932"
     title = "Expand and view report"
	 class ="img-fluid piccy-right mb-3"
	 width="490px"
	 onclick = "viewImage(this.src)">
	 
<p class="cl-l">The geographical aspects of these records are perfectly credible. Woden Street is off Ordsall Lane a little to the south of
    Regent Road, and leads to a footbridge across the Irwell which is probably Mark Addy Bridge; Stott Lane is the correct address for Hope
    Hospital. The conclusion reached by the inquest also seems more or less fair given the sequence of events as they were known to it. There had
    in fact been a black eye, but there was nothing to prove that it was acquired before Richard's fall, or that
    it had been inflicted by a third party. As it was described as a "discolouration", perhaps it was an older and/or minor injury.</p>

<p>But there is something seriously wrong with the sequence of dates as recorded in the newspaper article. The fall took place very late
    in the evening of Monday 3 October. The witness Richard Dowse accompanied the injured man in the ambulance to Salford Royal Hospital
    (close to St John's Cathedral in Crescent/Chapel Street). So he was admitted there on 3 October or early on 4 October at the
    latest. The Hope Hospital spokesman says he was admitted to hospital on 6 October, so this must mean to his own hospital. But the
    article also states that John Edward was informed of his uncle's situation on 15 October, and then quoted as saying his uncle was
    later transferred to Hope Hospital. This is impossible, and would also mean (extremely improbably) that it took the authorities
    twelve days to find Richard's family. I think we have to take it that John Edward was informed on Wednesday 5 October. He went to
    see his unconscious uncle in Salford Royal that same day, and the transfer to Hope took place the next day, Thursday 6 October. From
    then until Saturday 22 October, a period of just over two weeks, Richard underwent a slow but seemingly inexorable decline.</p>

<p>Richard [I] may have had a history of creating difficulty for his nephews and niece. One can imagine him turning up late, possibly drunk,
    at a house looking for somewhere to sleep over, trying to borrow money which wouldn't be repaid, and maybe worse. According to John
    Edward, he had a habit of disappearing and wandering (whereabouts unknown) for long periods. When found injured, he had no fixed abode. Or
    perhaps there was a deeper family division, maybe originating in Richard's relationship with his brother James, and events back in the
    1890s or 1900s after they lost their mother and then James his wife.</p>

<p>So I wonder how everybody reacted during his last fortnight alive at Hope Hospital. Were there regular
    visits from family members? If so, which ones? Presumably, one of the first things that John Edward would have done when he got the news
    was to inform his sister Mary Ann (who was after all Richard [I]'s godchild) and his brother Richard [II]. Both of the brothers' wives
    must also have been aware of the situation. By that time, the two eldest children of the two families were almost eighteen and
    had long been earning their own living. The story could hardly have been hidden from them. Apart from Richard and Kate's girls, even
    the youngest children from each family (including my dad Jim) were over age ten, and it would have been hard to hide such a story from them.</p>

<p>Even if dad wasn't aware at the time, he must have learned of the event later. So it looks as if, quite understandably,
    he chose not to include it in Down the Arches. I've taken the view that enough time has now passed for us took back on Richard [I]'s
    life with sadness and sympathy for a man who had lost his way badly, couldn't cope with life and almost certainly had serious problems
    with alcohol. It must have been very difficult for his nephews and niece too.</p>

<p>And then there would have been the funeral and the inquest to face. We don't know where Richard [I] was buried, but we are sure
    it was neither the family grave at Weaste nor that at Agecroft, even though the latter had only been opened a few months earlier for
    young John. This suggests - hardly surprisingly - that there was some degree of resentment and distancing. He was probably buried in a
    public grave at Agecroft, and I expect only the closest adult relatives attended. But there is a tiny glimmer of light in the midst of
    all this gloom. John Edward told the coroner that he had last seen Richard [I] about six months earlier. This would coincide very
    closely with the time of the death and burial of young John Noonan. Perhaps Richard [I] had managed to attend his grand-nephew's
    funeral back in March 1932.</p>

<h6>Mary Ann and Peter Webster</h6>
<p>We have found a civil record on the national register of the marriage between Mary Ann Noonan and Peter Webster in
    Salford in the second quarter of 1933. At that stage, she would have been about age 47 and it turns out that he was about age 57. No
    family member we have asked has any memory of any previous marriage of Mary Ann, and we can find nothing in the official records
    suggesting there was one. This might be confirmed if we obtained a copy of Mary Ann's and Peter's marriage certificate. But Peter was
    a widower and had been for about a year at the time of their marriage.
</p>

<p>Peter Webster was born in 1876 in St Helens to William and Margaret Webster, and was the second of nine children who survived. William had
    been born in Manchester to Samuel Webster (a fustian cutter) and Jane, but Samuel (and Jane's) roots were in Warrington and William spent
    a good part of his childhood there where he was eventually apprenticed as a blower of glass bottles. That would have been his occupation
    when he met and married Margaret, and it looks as if she was Margaret Benson and the marriage was in 1872 in the Fylde. Whether or not we have
    the right marriage here, William's wife Margaret was definitely born in St Helens. So Peter, although not a Mancunian or or Salfordian, was deeply rooted
    in south Lancashire.</p>

<p>Peter followed in his father's footsteps and became a bottle-blower. In 1900, he married a Margaret Rigby, and the 1901 census reveals that
    they set up home in St Helens, where they had both been born. But by 1911 they were living in a location much more familiar to readers of
    this narrative, namely Pendleton, and specifically at 5 Thursfield Street, a side road to the west of Littleton Road just south of the bridge.
    What's more, Peter had changed his occupation - perhaps the bottom had fallen out of the bottle-blowing business (maybe as a result of
    mechanisation). His new profession, however, might be a big clue as to how Peter became known to our family - he became a tramway conductor!</p>

<p>Peter and Margaret hadn't had children during their first eleven years of marriage, and there is no indication that they did in the
    remaining twenty-one years before she  died in 1932. As we shall see, though, there is reason to suspect that they remained in very much
    the same locality throughout that period.</p>

<p>There are people still living (in November 2018) with clear memories of Mary Ann and Peter. Aunty Cath the Carmelite warmly remembers
    Mary Ann visiting them at 309 Littleton Road during WWII to give up her weekly butter ration for the children. At least three of James Noonan's
    great-grandchildren have somewhat negative recollections of the caged bird that Mary and Peter kept at their home. Philomena Liggins remembers
    that it pecked her Aunt Mary in the face, causing an awful wound. Joan Knight remembers it as a budgie of which she was terrified. It sounds
    to me more like a vicious parrot. Philomena thought that maybe Peter Webster had been gassed in WWI - we will see that he was on a disability
    pension by 1939, although we don't know when he gave up his corporation job with the trams.</p>

<h6>Before the war</h6>
<p>
    We are now just over six years short of the outbreak of the second-world war. War was declared on 1 September 1939, and on 29 September
    a mini-national census was taken to assess the resources available for the conflict to come. This came to be known as the 1939 register,
    and it contains records for the households of the three siblings Mary Ann, John Edward and Richard [II], geographically centred around
    Littleton Road.</p>

<p>But before we look at these, we must note the loss of Rose Ann Burgin, our great-grandmother, who died - according to
    dad's account - on 23 December 1936, age 76. We will look more into her life later, but she was the second person 
	buried in the grave at Agecroft that young John Noonan had been buried in nearly five years earlier. On a 
	lighter note, there is a wonderful photo of the May Queen tableau at St Sebastian's in Charlestown, which I think 
	must be from the 1930s. Aunty Cath has confirmed the identity of said queen as herself.</p>

<img src = "images/Cath May pageant.jpg"
id = "cath_pageant_pic"
     title = "Expand and view certificate"
	 class ="img-fluid piccy-left mb-3"
	 width="500px"
	 onclick = "viewImage(this.src)">
	 	 
     <p>Dad wrote in "Down the Arches" of his older brothers being dressed up to the nines to participate in May
    pageants, tableaux and the like, whilst they lived in Greengate (implying surreptitiously that he himself had
	never been required to stoop so low). That would have been Saint Peter's during the 1920s (now - in 2018 - long 
	demolished). The poor boys in this picture are therefore much too young to be any of the Noonans, but it does
	convey an idea of what they must have gone through a decade earlier. Cath was born in 1927, which I think means
	this photo was taken between 1935 and 1940, so if dad was still at St Seb's at the time, his brothers would have
    left school by then and he would be in his final year.</p>

<p>I am curious to know whether this was in the St Sebastian's school hall (which still stands) or the church 
   (which has also now been demolished). Whatever the exact venue, Cath filled in some of the details for us. She
   told us her name had been drawn out of a hat to be the queen, and that her mother Kate was watching from the
    front row (and I wouldn't be surprised if there were other family members, such as dad, for example). At 
	some stage during the day, she had got bubble gum stuck in her hair, so she had had to cut off a big chunk
	of fringe to put this right. This did not please her mum. She remembered that her foot got stuck in a tram-line 
	on the way to the event, and she herself was later infuriated when the priest who had arranged to cue (or guide) 
	her off from stage right went instead to stage left (or vice versa), so throwing her mental preparations awry.
    Oh, the joys of childhood!
</p>
    
<div class="table-responsive-md mb-4">
<table class="table" style="float:left;">
<caption><i>(1) Form damaged, dates unreliable (2) 1939 Register record still closed - no info</i></caption>
<tbody>
    <td colspan="3" class="tab-first-col"><b>42 Levens Street</b>
    </td>
    <tr>
        <td>Peter Webster</td>
        <td>9 Jan 1876</td>
        <td>Transport worker - retired, disability pension</td>
    </tr>
    <tr>
        <td>Mary Ann Webster</td>
        <td>27 Sept 1886</td>
        <td>Unpaid domestic duties</td>
    </tr>
    <tr>
        <td colspan="3" class="tab-first-col"><b>93 Littleton Road</b>
        </td>
    <tr>
        <td>John Edward Noonan</td>
        <td>25 Jan 1889</td>
        <td>Ice cream maker/coal dealer/ARP warden</td>
    </tr>
    </tr>
    <tr>
        <td>Theresa B Noonan</td>
        <td>10 Jan 1886</td>
        <td>Unpaid house duties</td>
    </tr>
    <tr>
        <td>Theresa W Noonan (Coyne)</td>
        <td>5 Jan 1915<sup>(1)</sup></td>
        <td>Book binder</td>
    </tr>
    <tr>
        <td>Mary Noonan (McGuinness)</td>
        <td>4 Jun 1920<sup>(1)</sup></td>
        <td>Packer (tea)</td>
    </tr>
    <tr>
        <td>Patricia Noonan (Eltringham)<sup>(2)</sup></td>
        <td>Q3 1921<sup>(2)</sup></td>
        <td><i>Unknown</i><sup>(2)</sup></td>
    </tr>
    <td colspan="3" class="tab-first-col"><b>309 Littleton Road</b>
    </td>
    <tr>
        <td>Richard Noonan [snr]</td>
        <td>3 Mar 1892</td>
        <td>Ice cream manufacturer/Air raid warden</td>
    </tr>
    </tr>
    <tr>
        <td>Catherine Noonan</td>
        <td>15 Oct 1892</td>
        <td>Draper (retail)</td>
    </tr>
    <tr>
        <td>Richard Noonan [jnr]</td>
        <td>19 Jul 1916</td>
        <td>Electrical linesman</td>
    </tr>
    <tr>
        <td class="body">Joseph Noonan</td>
        <td>14 Dec 1919</td>
        <td>Apprentice printer</td>
    </tr>
    <tr style="border-bottom:1px solid sienna;">
        <td>James Noonan</td>
        <td>21 Aug 1922</td>
        <td>Apprentice motor mechanic</td>
    </tr>
	</tbody>
</table>
</div>

<p>The three households recorded in the 1939 register were at 42 Levens Street, 93 Littleton Road 
   and 309 Littleton Road, and there were a total of twelve people living in them on 29 September that 
   year. Richard and Kate's four girls, of which Cath was the eldest at age 12, had perhaps been sent away 
   as part of that brief but chaotic evacuation which characterised the "phoney war". In contrast, John and 
   Theresa's girls were all present, being recognised as adult independent women. Note that the pages of these
    handwritten records continued to be used after the war as an administrative database for government services
	- so women's married names were often written into the records for many years after 1939.</p>

<p>Levens Street (on which the budgie/parrot must also have been domiciled) was the next side-road of Littleton Rd
    to the south of Thursfield Street, where Peter Webster had lived with his first wife Margaret 28 years earlier in 1911. So he hadn't
    moved far.</p>

<img src = "images/Littleton Rd 1939.jpg"
     id = "littleton_1939_map"
     title = "Expand and view map"
	 class ="img-fluid piccy-right mb-3"
	 width="550px"
	 onclick = "viewImage(this.src)">
	    
<p>When all the girls were present, no. 309 must have housed nine people (ten before Rose Ann Burgin died in 1936).
    God alone knows how they managed it, because, when asked many years later in their adulthoods, none of the children could remember how.
    Of the three siblings' houses, no. 309 is the only one that still stands in late 2018, although in
    a slightly altered form. It now forms half of a BetFred branch, which would no doubt have pleased dad's "Uncle" Henry
    McGuinness greatly - and, apparently, his Aunt Mary, as Philomena Liggins recalls accompanying her on occasional secret gambling outings.
    Perhaps there had always been a number of bookies along Littleton Road, as it ran (in part) adjacent to the racecourse.</p>

<h6>Earning a crust</h6>
<p>All six young people at the two Littleton Road addresses in September 1939 were earning their own livings. Richard [III] was
    already a qualified electrician and would stay with the firm where he did his apprenticeship throughout his working life. Joseph
    would do the same once he had finished his printing apprenticeship. For his part, dad retained, developed and used his mechanical skills
    throughout his life, although his career was more varied.</p>

<p>But what about the seniors, how had they been making ends meet and feeding their families over the years?
    From the information in the 1939 Register, it would seem that there were three strings to the fraternal Noonan bow, two of them
    shared. Both John Edward and Richard [II] claimed ice cream manufacture and air raid duties, although John Edward also had coal
    dealing on the side. The latter seems very sensible as a complement to the ice cream business which was surely essentially a summer
    pursuit.</p>

<p>My own suspicion is that, in reality, Kate Noonan's business was the main and most reliable source of income for my
    grandparents. In my mind, Richard would quietly provide whatever assistance and support that he could to the enterprise  - but there would have
    been no easy way to declare this publicly. Meanwhile, he would also be involved in a number of side-activities which would contribute
    to the family resources - dad wrote that (during the 1920s), Richard [II] had hired out the Singer Tourer for weddings, and if we've
    interpreted the photographic evidence correctly, perhaps he also did funerals. In 1939, he was heavily involved in his brother's ice
    cream business, which I'm guessing was doing quite well at the time. We know that, later on, John Edward was assisted by at least one of
    his sons-in-law (Harry Eltringham, who apparently worked for fourteen years in John's ice cream business). Perhaps all this could be
    better expressed in pictures, and happily we have two excellent images available.</p>

<img src = "images/Big John and the Cones.jpg"
     id = "ice_cream_van"
     title = "Expand and view image"
	 class ="img-fluid piccy-left mb-3"
	 width="500px"
	 onclick = "viewImage(this.src)">
	    
<p>This image requires a little explanation. I wanted a picture of the whole of John Edward's ice cream van, but there were only halves
    available (for which many thanks to his grandchildren). So I had to join two together - and I took the liberty of adding a caption
    (someone please help me to perk this up, "the Cones" somehow isn't quite right). I then circulated the doctored image, asking who was
    the guy working in the back of the van. Philomena promptly responded that it was the same guy who was driving the van. Take this as a
    severe warning, all ye purveyors of False News!</p>

<p>I am struggling to get any solid idea of the date of this photo. The van (aka the Ice Cream Bus?) was electric, so something like
    the milk floats that used to hum their way around our suburbs. But I can't help thinking about the family's connections with the
    Corporation via the tram-ways: had the technology (and maybe even some of the parts) come from the Corporation depots? Just speculation.</p>

<p>Prior to the introduction of the electric van, ice cream was delivered/hawked by hand-cart and horse-cart, and the business assets
    included a horse to power one of these transports, which lived in a stable off Whit Lane. The other was powered by one of at least two men
    who - in addition to family - were employed (at least occasionally) to support the  enterprise, and Philomena Liggins learned from
    her parents that, pre- and post-war, both ice cream and cigarettes were sold directly to the public from 93 Littleton Road. Aunt
    Cath remembers that the horse was called Dolly and Philomena remembers going to feed her in her stable off Whit Lane. So, Dolly must
    have survived into the 1950s, even if she had retired from active service by then. At some stage, John Edward had to rescue her from
    a fire in the stables, and this apparently prompted an action which Harry Eltringham had been advocating for years. Dolly was
    at last, literally, put out to grass in a field in Cheshire.</p>

<p>Thinking practically, there would almost certainly have been an overlap between the old and the new delivery technology, probably
    during the 1940s. The very tentative conclusion is that the photos of the Ice Cream Bus were taken in the late 1940s or early 1950s,
    perhaps by Harry Eltringham himself.</p>

<p>In addition to being Dolly's home, the Whit Lane area (near the junction with Broughton Road) also housed the ice cream factory.
    Philomena and her cousins still have lively discussions to this day about who came out best and worst in competition to be granddad's favourite
    on an ice cream day.</p>

<img src = "images/Little Richard and the Milliners.jpg"
     id = "kate_shop"
     title = "Expand and view image"
	 class ="img-fluid piccy-right mb-2"
	 width="550px"
	 onclick = "viewImage(this.src)">
	     
<p>Here is the second family business, window publicity by Catherine Burgin: <span style="font-family: Georgia;  color: DarkSlateGrey;"><b><i>
	"Noonans for STYLE and VALUE". </i></b></span>And then the products
    on offer:<span style="font-family: Georgia;  color: DarkSlateGrey;"><b><i> "Gowns. Mantles. Knitwear. Underwear".</i></b></span></p>

<p>This photo too is a challenge when it comes to dating. The three people are Margaret, with the bicycle, Winnie on the right and
    Olive Brigg (Richard [III]'s wife since 1940) behind Margaret. There was some doubt about the identification of Olive in the photo,
    but Aunty Cath is 100% sure, and Cousin Joan would place most of her fortune on it. There were three potentially relevant events 
	which probably or definitely took place in 1848. Dad wrote that "about 1948", the family (and the business) moved from 309 
	Littleton Rd to 1a Littleton Rd, so jumping over John Edward and Theresa's household at no. 93 en route.</p>
	
	<p>The birth of Richard and Olive's first child	(my cousin John) was definitely registered in the first quarter of
    1848. Finally, dad implied clearly in Down the Arches that Cath's Carmelite clothing ceremony took place in Exmouth 
	after he eventually got back from India/Bangladesh in 1848, probably in early Autumn(see the photos below).</p>

<p>The next question is, therefore, whether we are looking at 309 or 1a? Without being asked, Aunt Cath immediately identified the image
    as being of no. 309, which would seem to imply - taken with dad's recollection - that the shop photo is from 1948 or earlier.
    But dad's dating does not claim to be accurate. Perhaps the move was later than 1948, although it must have preceded 1952, because
    that was the year he lost his dad, and he would have remembered where they were then. Aunt Cath also wrote in 2018 that she hadn't
    seen the shop at no. 309 for over seventy years (again taking us back to 1948 or earlier). I think she must have seen the shop at 1a at
    least once, if only on the occasion of her dad Richard's death, so she would surely recognise the difference. Checking the photographic evidence,
    Margaret seems rather older in the shop photo than at the clothing ceremony, but images do sometimes play tricks. Perhaps the shop image
    is from 1949, Margaret then being 16 years old, and they moved to 1a later that year, that being at least a scenario which works.
    Beyond this guesswork, I leave the whole question wide open.</p>

<h6>Of your Charity, pray for the souls of........</h6>
<p>Richard [II] Noonan died on 9 March 1952 aged 60, and was buried in the same grave at Agecroft as his son John and mother-in-law Rose Ann. Dad wrote
    of this in Down the Arches, but cousin Joan, then aged about ten, has memories of her own. She remembers our dad (Jim) coming to tell her dad
    (Joe) of our granddad's death (as dad writes, they didn't have a phone at that time). She remembers it being a Sunday, and that it was the first time
    she saw her dad crying. Richard [II] was (at that time) the only person Joan knew who had a car, this being the notorious AVR 36, the Iron Lung.
    She remembers how before driving away at any time, Richard would always consume “One for the Road”, and how much he enjoyed and relied on the pipe
    he smoked. Most of all, she remembers a very gentle person. Catherine Noonan survived another quarter century, until 7 September 1978, when she
    died aged 86. But dad thought she never got over the loss. She was buried in the same grave.</p>

<img src = "images/JE Noonan2.jpg"
id = "JEN_age_90"
     title = "Expand and view image"
	 class ="img-fluid piccy-right mb-2"
	 width="350px"
	 onclick = "viewImage(this.src)">
	 
     <p>Theresa Bridget Noonan died on May 25 1956 and was buried in the same grave as were her son Joseph Maria and mother Christina, about three
    decades earlier. John Edward remarried in 1960 at the age of 71, his bride being Doris Jackson. He then lived until 27 January 1987, just short
    of his 98th birthday. His daughter Mary died a fortnight later on 1 February, and they are both buried in that same grave. What an awful time that must
    have been for that branch of the family.</p>

<p>I don't know whether or not this photo is the one used by the Salford Chronicle for the article published on the occasion of John
    Edward's 90th birthday in 1979. But he seems to be waving a happy goodbye.</p>

<p>Peter Webster died aged 78 in 1954, and Mary Ann nine years later in 1963 aged 76. I don't know where they were buried, but probably
    Agecroft. I assume their caged bird predeceased them, but parrots are renowned for their longevity. Peter and Mary are both remembered
    for their kindness.</p>
	
	<p> All the above deaths were in Salford. There must have been many many thousands of people whose whole lives were encompassed within
    the boundaries of what is now the city of Salford. We round off with some pictures of Cath's 1948 Clothing Ceremony, which almost speak
    for themselves.</p>

<div style="clear:both;float:left;margin-left:3%;margin-right:2%;margin-bottom:1%;">
<h6 style-"margin-top:0;">The procession</h6>	
<img src = "images/Clothing_procession.jpg"
     id = "clothing_procession"
     title = "Expand and view image"
	 style="border:2px solid sienna;"
	 class ="img-fluid table-link"
	 width="446px"
	 onclick = "viewImage(this.src)">
</div>

<div style="float:right;margin-left:2%;margin-right:3%;margin-bottom:3%;margin-top:1%;">
<h6>The brothers</h6>   
<img src = "images/Clothing_brothers.jpg"
     id = "clothing_brothers"
	 title = "Expand and view image"
	 style="border:2px solid sienna;"
	 class ="img-fluid table-link"
	 width="361px"
	 onclick = "viewImage(this.src)">
</div>

<div style="clear:left; float:left;margin-left:3%;margin-right:2%; margin-bottom:1%;">
<h6>The sisters</h6>
<img src = "images/Clothing_sisters.jpg"
     id = "clothing_sisters"
	 title = "Expand and view image"
	 style="border:2px solid sienna;"
	 class ="img-fluid table-link"
	 width="361px"
	 onclick = "viewImage(this.src)">
 </div>
 

 <div style="clear:right; float:right;margin-left:2%;margin-right:3%;margin-top:1%;margin-bottom:1%;">
 <h6>The whole family</h6>
<img src = "images/Clothing_whole family.jpg"
     id = "clothing_family"
	 title = "Expand and view image"
	 style="border:2px solid sienna;"
	 class ="img-fluid table-link"
	 width="446px"
	 onclick = "viewImage(this.src)">
</div>
     
<p style="clear:both;">All I want to add is how striking I find the image of Richard [III], looking so austere and devout, as he leads
    the procession with Jim praying behind (and Joe almost hidden from view). So different from my last memories of him when he came down to
    Shrewsbury to re-wire our house in the 1970s. I used to look forward to the little secret errands he sent me on to the off-sales department
    of the Red Barn for a quarter-bottle. I never saw enough of my quiet and warm Uncle Richard. Finally, a reminder that the bridesmaid
    in the final photo is young Joan, Joe and Joan's first, then around age six.</p>