{% extends "layout.njk" %}

{% block title %}
    2. The Third Generation
{% endblock %}

{% block main %}
    <p>At the census date, 2 April 1911, Mary Ann (mis-transcribed as Moonan) was living at 251 Bury New Road, Broughton,
        lodging with a young couple who had a shop. Her landlord and landlady were John and Elizabeth Moss (who had married
        in 1905), and they ran a fruiterers which also retailed beer. All three of them were Mancunians (in the broadest sense) and
        stated their ages as 25 (although Mary Ann was still slightly short of her 25th birthday). She was employed in the
        confectionery industry as a lozenge-cutter, and was still single.</p>

    {% include "chapter2/je_and_malones.njk" %}
    {% include "chapter2/rich_and_kate.njk" %}
    {% include "chapter2/join_arches.njk" %}

{% endblock %}