{% extends "layout.njk" %}

{% block title %}
    2. The Third Generation
{% endblock %}

{% block main %}
    		
    {% include "chapter2/1-mary_ann_glimpse.njk" %}
    {% include "chapter2/2-je_and_malones.njk" %}
    {% include "chapter2/3-rich_and_kate.njk" %}
    {% include "chapter2/4-join_arches.njk" %}

{% endblock %}