<h4>Harriett Street, Stockport</h4>

<p>We were very lucky that Father Denis Byrne and his assistants recorded an address for Bridget Caffrey, Bridget O’Neill’s marriage witness. 
As Harriet Street was in Stockport, it gave me somewhere to look for the bride on 30 March 1851, census day, less than six months before her 
wedding. And there I readily found her, lodging at no. 6.</p>

<h5>30 March 1851 E&W census: Bridget O'Neill lodging at 6 Harriet Street, Stockport</h5>
	<table id="tableL" 
	       class="table2" 
		   style="float:left;margin-right: 2%;"
	       title = "View original census page" 
		   onclick="bigimg('fullscreen46', 1, 5, 2, 2125, 2177, '6 Harriet St Stockport 1851.jpg');">
			<tr style="height: 35px; vertical-align: bottom; ">
			<td class="frame1">Name</td>
			<td class="frame1" style="width: 40px; text-align: center;">Given age</td>
			<td class="frame1" style="width: 110px;">Relationship, marital status</td>
			<td class="frame1" style="text-align: center;">Place of birth</td>
			<td class="frame1" style="text-align: center;">Occupation</td>
		</tr>
		<tr>
			<td class="frame1">Maria Howarth</td>
			<td class="body1" style="width: 40px; text-align: center;">55</td>
			<td class="body1">Wife, married</td>
			<td class="body1" style="text-align: center;">West Indies, Barbados(?)</td>
			<td class="body1" style="text-align: center;"></td>
		</tr>
		<tr>
			<td class="frame1">Ann Howarth</td>
			<td class="body1" style="width: 40px; text-align: center;">20</td>
			<td class="body1">Daughter, single</td>
			<td class="body1" style="text-align: center;">Rochdale, Lancashire</td>
			<td class="body1" style="text-align: center;">Hank Reeler</td>
		</tr>
		<tr>
			<td class="frame1">Mary A Howarth</td>
			<td class="body1" style="width: 40px; text-align: center;">17</td>
			<td class="body1">Daughter, single</td>
			<td class="body1" style="text-align: center;">Rochdale, Lancashire</td>
			<td class="body1" style="text-align: center;">Hank Reeler</td>
		</tr>
		<tr>
			<td class="frame1">Bridget O'Neil</td>
			<td class="body1" style="width: 40px; text-align: center;">23</td>
			<td class="body1">Lodger, single</td>
			<td class="body1" style="text-align: center;">Ireland</td>
			<td class="body1" style="text-align: center;">Cotton Weaver</td>
		</tr>
		<tr>
			<td class="frame1">Bridget Making</td>
			<td class="body1"style="width: 40px; text-align: center;" >19</td>
			<td class="body1">Lodger, single</td>
			<td class="body1" style="text-align: center;">Ireland</td>
			<td class="body1" style="text-align: center;">Cotton Weaver</td>
		</tr>
		<tr>
			<td class="frame1">Samuel Howins</td>
			<td class="body1"style="width: 40px; text-align: center;" >6</td>
			<td class="body1">Grandchild</td>
			<td class="body1" style="text-align: center;">Reddish, Lancashire</td>
			<td class="body1" style="text-align: center;">Scholar</td>
		</tr>
	</table>
	<p style="margin-top:-5px;">Bridget’s fellow-lodger, Bridget Making, was roughly her age and in the same trade. The bride's marriage
	witness was recorded as a Bridget Caffrey of Harriet Street. We could find no Bridget Caffrey at all in the 1851 census of Harriet St or anywhere 
	nearby, so maybe the witness was Bridget Making, and there was some kind of error in recording or transcribing the wedding records. Or maybe Ms  
	Making married a Mr Caffrey between March and September, although we can find no evidence of this.</p>
	
    <p>I had been hoping that the identities and histories of Bridget O’Neill's fellow-lodgers or wedding witness might throw up some evidence or clue 
	as to her origins in Ireland. But no, at least not so far. The ages given in the four censuses from 1851-1881 are 23, 36, 44 and 50, placing 
	her birth year anywhere between 1824 and 1831. It is entirely possible that she didn’t know her own year of birth, in the form of a number. Her 
	surname is one of the very many available variant English spellings of O’Neill, which itself is surely a translation from Gaelic. In what follows, 
	I’ve mostly used the spellings as found in the original documents – the variations only occasionally give pause for doubt. But - from the 
	marriage record - we know Bridget’s parents’ Christian names were John and Sarah (and that, in September 1951, she believed them to be dead). 
	Also, it is difficult to see why her birthplace should be explicitly specified as County Dublin in the 1871 census if that was not true, whatever 
	might have been recorded at the other censuses.</p>
	
	