<h4>Balbriggan, County Dublin</h4>
	
	<p>I'll now just check whether you've read the chapters in order, or if you did, whether you remember them. If so,
	you will be familiar with my view that "the digitised transcriptions of the hundreds of years of Catholic parish 
	baptisms in Ireland inevitably fall well short of capturing every baptism, and are sure to be inaccurate in places, 
	if only because of the multiple difficulties of interpretation of age-old handwritten scripts." But if you search 
	for the baptism of a Bridget born to a John and Sarah in County Dublin between 1821 and 1831, there are only five 
	results of which one is a Bridget Neil. This baptism took place on 6 March 1825 in Balbriggan, a small seaside town 
	(and Parish, and Townland) about 20 miles north of Dublin. Her parents were John Neil and Sarah Halpenny. Whilst 
	there is no proof that this is the Bridget O’Neill who married John Noonan in Salford in 1851, I think the probability
	looks pretty high. In this case, we have both a 
	<span 
	    class="span-link" 
		title = "View original image" 
		onclick="viewImage('images/Bridget ONeill baptism Balbriggan 1825(1).jpg');">
		digital image of the relevant page</span>
		of the original parish book of baptisms, and a <span 
	    class="span-link" 
		title = "View 1989 transcript" 
		onclick="viewImage('images/Bridget ONeill baptism Balbriggan 1825(2).jpg');">
		transcription of the book</span> typed 
		up by some team of genealogy saints in 1989. I am unable to decipher the names of the witnesses (godparents?).</p>
		
	<p>I have also identified John O'Neill's and Sarah Halpenny's marriage in Balbriggan, which oddly took place after Bridget's
	baptism, on 28 August 1825. From my Irish searches, it is surprising that we don't find the standard abbreviation for the 
	Latin<span style="font-family: Georgia;  color: DarkSlateGrey;"><b><i> "Filia Illegitima"</i></b></span> scrawled heavily
	by the priest in the baptism book. But no, the policy in Balbriggan seems to have been more tolerant - perhaps he simply 
	said kindly to the young couple "<i>come back to get married just as soon as you have saved up the fee</i>". Here is the
	<span 
	    class="span-link" 
		title = "View original image" 
		onclick="viewImage('images/John ONeil Sara Halpenny marriage Balbriggan 1825(0).jpg');">
		digital image</span> from the marriage book,
		and a <span 
	    class="span-link" 
		title = "View 1989 transcript" 
		onclick="viewImage('images/John ONeil Sara Halpenny marriage Balbriggan 1825(1).jpg');">
		transcription</span>. </p>
	     
		 
	 <p>Happily there was a <span style="font-family: Georgia; color: DarkSlateGrey;"><b><i> "Filium Legitimum"</i></b></span> 
	 to follow some time after John and Sarah married, in the form of Francis O'Neill, Bridget's younger brother, who was 
	 baptised on 10 September 1826. Here is the
	<span 
	    class="span-link" 
		title = "View original image" 
		onclick="viewImage('images/Francis ONeill baptism Balbriggan 1826(1).jpg');">
		digital image</span> from the baptism book,
		and the <span 
	    class="span-link" 
		title = "View 1989 transcript" 
		onclick="viewImage('images/Francis ONeill baptism Balbriggan 1826(2).jpg');">
		transcription</span>. The sponsors/godparents seem to be Thomas Neal and Cath Reilly, or something similar. 
		I was hoping that I might find Francis later in his life, perhaps even in England if he migrated there too, and 
		thus provide some supporting evidence that we have the correct Bridget O'Neill. But no luck so far, as Francis 
		simply disappears - he may not even have survived infancy.</p>
		
	
		 
	<p>Unfortunately, John and Sara's marriage record provides no information on parentage, 
	and I cannot trace Sara Halpenny’s birth or baptism, despite searching the whole British Isles, and despite the 
	fact that there seems to have been at least one generation of Halfpennys going back from 1825 in Balbriggan. 
	But if we search for births/baptisms of John O'Neills focusing solely on Balbriggan, the only candidate of a 
	suitable age is the child of Felix O’Neill and Rose Rann, who was baptised on 20 December 1805. They had been married (<span 
	    class="span-link" 
		title = "View 1989 transcript" 
		onclick="viewImage('images/Felix ONeal Rose Rann marriage 1799 Balbriggan(1).jpg');">see transcript</span>) 
		on 4 February 1799 (witnesses Patrick Rann and Hugh Connell), and had Elenor in 1800, 
		Patrick in 1802, John in 1805 (<span 
	    class="span-link" 
		title = "View original image" 
		onclick="viewImage('images/John ONeill baptism 1805 Balbriggan(1).jpg');">see original page</span>) and 
		finally another Felix in 1807. This is the furthest back we’ve reached, 
		and is all based on the assumptions 
		that the Balbriggan Bridget O’Neil is the correct one, and that her father was also born there.</p>
	
	<p>This has allowed us to construct a small and tentative family diagram for Bridget O'Neill. It doesn't mean much 
	by itself, but it might justify a research trip to Balbriggan. Heaven knows how much or how little might be discoverable
	- it is difficult to imagine that a trace might remain of a young woman who emigrated before 1851, probably in the 
	midst of the 1846-1850 chaos.</p>
	
	<img src = "images/The Balbriggan Tree.jpg"
	width = "385px"
	class ="img-fluid piccy-left mb-3"
     title = "Expand and view image"
	 onclick = "viewImage(this.src)">
	
	<img src = "images/Balbriggan business directory 1846.jpg"
	width = "385px" 
	class ="img-fluid piccy-right mb-3"
     title = "Expand and view image"
	 onclick = "viewImage(this.src)">
	
		 
	<p class="cl-l">But there are some faint trails of circumstantial evidence. In the 1846 trade directory 
	for Balbriggan, a John O'Neill had a carpentry business on Hampton Street. There was no similar listing in 1848. 
	But, you will immediately protest, at Bridget's marriage in 1851, John was recorded as having been a labourer. I 
	don't doubt that he could have been a labourer <i>at some stage</i>, but I wonder whether, in Ireland, such a term
	would have been reserved for the masses of itinerant workers who wandered the rural areas seeking temporary
	employment.</p>

	<p>I don't think our John ever fell into the category of itinerant labourer, but the term "labourer" could also 
	have been used to describe the 
	work of those who joined the gangs employed on public works in order to qualify for Poor Law assistance during
	the crisis of the late 1840s. So I believe it is  possible that John did have a carpentry business, that it folded 
	during the Great Hunger, and that he subsequently became a labourer. He may have laboured under Ireland's
	cruel public works scheme before dying, or he may have crossed to Liverppol with Bridget, and
	then got a labouring job before he died. There are a number of death records in Lancashire which could be his.</p>
	
	
	<p>It would have very easy for even a thriving carpentry business to fold between 1846 and 1848. I have read somewhere
	that, for various reasons, the Fingal area (containing Balbriggan) was hard hit by the 1846-1850 crisis. Apparently,
	the crop failure there was almost total as early as 1846. One the major Dublin workhouses was located at nearby 
	Balrothery, and these places became centres of disease. The local powers enforced the cruel and perverse decrees 
	from London strictly. Many local smallholders lost their properties entirely, as larger landowners took 
	advantage of the opportunity to expand and consolidate. There were epidemics of typhoid in 1846 and cholera in 1849.</p>

	<p>The smallholding farming industry must have collapsed completely, with severe knock-on effects on local small 
	businesses. It would be all too easy to succumb to any of these threats, especially if forced back to meet the
	awful conditions for Poor Law relief. If young Bridget lost her parents in their forties in the midst of all this,
	it would not be at all surprising. Perhaps they gave her their last cash towards her travels.</p>
	
	<p>More generally, I have also read that Balbriggan was quite big on cotton weaving, and in the associated 
	textile industries, I think both mechanised and traditional. It was a place where Bridget O'Neill could have 
	learned the skills on which she relied in Stockport. It was a port town, with Liverpool being the main overseas 
	destination for its merchant ships, so Bridget could easily have arranged passage there. But it was also 
	linked by railway to nearby Dublin, offering an alternative route.</p>
	
	<p>But where did John Noonan come into all this? Once he was settled in Pendleton and she in Stockport, they would be 
	unlikely to meet. And how and why did she head for Stockport and he for Salford? My theory is that they met during the 
	escape journey. It is just possible that he travelled through Balbriggan to avoid the worst that Dublin City could 
	throw at him (which would have been very bad). Or she travelled via Dublin and they met there. But it is more likely, 
	I think, that they met in Liverpool, by which time he had some kind of destination point in Salford and she in Stockport. 
	So they each stuck to their individual plan, but agreed to wed as soon as they could.</p>

	<p>All that can be said of this flight of fancy, though, is that to me it is the most plausibly consistent with the 
	few known facts! It also creates an incentive for a visit to Balbriggan, although I'm sure it well deserves this anyway, 
	however slim the chances might be of firming up any of this sketchy family history.</p>

 