{% extends "layout.njk" %}

{% block title %}
6. Bridget O'Neill: from Balbriggan to Stockport
{% endblock %}

{% block main %}

{% include "chapter6/1-harriett_st_stockport.njk" %}
{% include "chapter6/2-balbriggan_co_dublin.njk" %}

{% endblock %}