<br>
<h6>The "Old Maps" website</h6>

<p>The sequence of large-scale detailed maps that I've relied on comes from piecing together shots of what I think 
were originally Ordnance Survey maps, mainly one set from those dated 1890, and the other from two sets dated 
in the early 1950s. Some of them are heavy on Megabytes so might take a while to load.</p>

<p>These maps will be <b>[WHEN WE HAVE SORTED SOME SERVER CAPACITY QUESTIONS]</b> (only Map 2a is available right now):

<ul>

<li><span class="span-link"
        title = "View map"
        onclick="viewImage('images/Map1a - Lower Kersal to Rochdale Rd.jpg');">
		Map1a - Lower Kersal to Rochdale Rd (1890)</span></li>
<li><span class="span-link"
        title = "View map"
        onclick="viewImage('images/Map1b - Rochdale Rd to Culcheth.jpg');">
		Map1b - Rochdale Rd to Culcheth (1950s)</span></li>
<li><span class="span-link"
        title = "View map"
        onclick="viewImage('images/1890s Pendleton.jpg');">
		Map2a - Agecroft to Wallness (1950s)</span></li>
<li><span class="span-link"
        title = "View map"
        onclick="viewImage('images/Map2b - Wallness to Rochdale Rd.jpg');">
		Map2b - Wallness to Rochdale Rd (1950s)</span></li>
<li><span class="span-link"
        title = "View map"
        onclick="viewImage('images/Map3a - St James RC to Crescent.jpg');">
		Map3a - St James RC to Crescent (1890)</span></li>
<li><span class="span-link"
        title = "View map"
        onclick="viewImage('images/Map3b - Crescent to Ancoats.jpg');">
		Map3b - Crescent to Ancoats (1950s)</span></li>
</ul>

</p>

<p>...or <b>[WHEN WE HAVE SORTED SOME SERVER CAPACITY QUESTIONS]</b> you may be able to click on the numbers below (only
2a available now)....</p>

<img src = "images/Manchester backdrop.jpg"
     width = "94%"
	 class="img-fluid map-pic mb-4"
     title = "Click on required map number"
	 usemap = "#mapchoose">
	 
<map name="mapchoose">
<area shape="rect" coords = "180,60,470,140" onclick = "viewImage('images/Map1a - Lower Kersal to Rochdale Rd.jpg');">
<area shape="rect" coords = "475,20,760,155" onclick = "viewImage('images/Map1b - Rochdale Rd to Culcheth.jpg');">
<area shape="rect" coords = "0,90,75,220" onclick = "viewImage('images/1890s Pendleton.jpg');">
<area shape="rect" coords = "180,165,450,250" onclick = "viewImage('images/Map2b - Wallness to Rochdale Rd.jpg');">
<area shape="rect" coords = "0,260,145,340" onclick = "viewImage('images/Map3a - St James RC to Crescent.jpg');">
<area shape="rect" coords = "180,260,500,345" onclick = "viewImage('images/Map3b - Crescent to Ancoats.jpg');">
</map>

<p>The date of publication of each map really only tells us what cannot possibly be shown on it (namely things still to
come into existence). Nearly all maps seem to be based on earlier maps with a series of revisions and updates, so that
 there is really no backwards limit on the times when the features shown might have come into existence. They are often 
 out-of-date in some respect at least: for example, a map published in 1890 could easily omit changes on the ground 
 five or more years old.</p>

<p>In the present case, it was impossible to rely on the 1890 series to cover all geographical areas of interest for
a number of reasons. First the series did not cover a wide enough area. Second it had "holes" in it where sheets had
been lost or become undecipherable. Finally, some the features we needed to look at did not come into being until
after 1890 - for example Littleton Road and Nora Street in Lower Broughton. So for these areas I relied on two
series of maps published in the 1950s, which remarkably seemed to show nearly all the features that had existed
in the 1890s, but also new developments since then. The first series (1952ish) was at the same scale as the 1890
publication, and these show a tremendous level of detail, such as house numbers, the seating capacity of public
institutions and markers and descriptors for industrial and infrastructure installations. But there were "holes"
in the series from the early 1950s, so I filled the gaps with expanded extracts from a series at half the scale
from around 1954.<p>

<p>One of the curiosities of this approach is that in some cases, it places our ancestors amongst streets and
infrastructure which didn't yet exist at the time they were present. But this is quite fun, and a little thought
can usually unravel what is going on.</p>

<p>These series' of maps are all based on the historic work of the UK Ordnance Survey office, starting in the 1840s. 
They are held at <a href ="https://www.old-maps.co.uk" target="_blank">https://www.old-maps.co.uk</a>. 
This website stipulates 
that any images captured from it should not be re-used for commercial purposes, which we should respect. 
Many thanks to those who constructed the "old-maps" site.</p>

<p>From the same site, I also captured the following map images:</p>
<ul>
 <li><span class="span-link"
	       title = "View map"
           onclick="viewImage('images/1840s Pendleton.jpg')">1840s Pendleton</span></li>
 <li><span class="span-link"
	       title = "View map"
           onclick="viewImage('images/The Malone Quarter 1911 - annotated.jpg')">
		   The "Malone Quarter" of Lower Broughton, 1911</span></li>
 <li><span class="span-link"
	       title = "View map"
           onclick="viewImage('images/Poor Clares Longsight sites.jpg')">
		   The Poor Clares, Longsight sites, 1860s-1870s</span></li>
 <li><span class="span-link"
	       title = "View map"
           onclick="viewImage('images/Poor Clares Levenshulme site.jpg')">
		   The Poor Clares, Levenshulme, 1870s - 1920s</span></li> 
 </ul>
 <h6>The 1930s street maps from the Artus Family History website</h6>
 
 <p>I have also used maps constructed from a series of (indexed) street-maps of the Manchester area dating from 
 the 1930s - but once again, it is amazing how much 19th century detail they contain. These were pieced together
 by a member of the Artus family researching his own genealogy, and can be found at 
 <a href ="http://www.artus-familyhistory.com/Manchester%201930/Main%20Map.html" target="_blank">
 http://www.artus-familyhistory.com/Manchester%201930/Main%20Map.html</a>. This website stipulates that 
 any images captured from it should not be re-used for commercial purposes, which we should respect. 
 Many thanks to those who constructed the maps section of the "Artus family" site.</p>
 
 <p>The three maps based on the Artus family series are:</p>
 
 <ul>
 <li><span class="span-link"
	       title = "View map"
           onclick="viewImage('images/Salford - noonan main sites.jpg')">Overview of Salford locations</span></li>
 <li><span class="span-link"
	       title = "View map"
           onclick="viewImage('images/SE Manchester locations.jpg')">Overview of South East Manchester locations - 
		   Thomas Dolan's background and the Poor Clares</span></li>
 <li><span class="span-link"
	       title = "View map"
           onclick="viewImage('images/Matt Dolan area 1911-1918.jpg')">Ardwick, Gorton & Longsight locations - the Matthew 
		   Dolan area, 1911-1918</span></li>
</ul>

<h6>Counties and Catholic parishes of Ireland - National Library of Ireland</h6>
 
<p>Our map of the counties and catholic parishes of Ireland has been constructed from material on
the National Library of Ireland (NLI) website at <a href="https://registers.nli.ie/" target="_blank">
https://registers.nli.ie/</a>. Here is our map:

<ul>
<li><span class="span-link"
	       title = "View map"
           onclick="viewImage('images/Ireland counties and parishes.jpg')">Southern Ireland locations, counties
		   and Catholic parishes</span></li>
</ul>
<p>The NLI stipulates that 
 any images captured from its website should not be re-used for commercial purposes, which we should respect. 
 Many thanks to those who constructed the map.</p>


 