<h4>Dublin to Salford</h4>

<p>On 7 April, 1861, the Corcoran family was based at 1 Hart Street, Crescent, Salford, Lancashire. Their census return shows seven people in the household, Mum
and Dad and five offspring aged from 4 to 20. None were yet married.</p>

<h5>7 April 1861 E&W census: Corcoran family at 1 Hart street, Crescent, Salford</h5>
	<table id="tableA5" 
	       class="table2" 
		   style="float:left;margin-right: 2%;"
	       title = "View original census page" 
		   onclick="bigimg('fullscreen128', 1, 4, 2, 2189, 1700, 'Corcoran household Salford 1861.jpg');">
			<tr style="height: 35px; vertical-align: bottom; ">
			<td class="frame1">Name</td>
			<td class="frame1" style="width: 50px; text-align: center;">Given age</td>
			<td class="frame1" style="width: 115px;">Relationship, marital status</td>
			<td class="frame1" style="text-align: center; width:170px;">Place of birth</td>
			<td class="frame1" style="text-align: center;">Occupation</td>
		</tr>
		<tr>
			<td class="frame1">Patrick J Corcoran</td>
			<td class="body1" style="width: 40px; text-align: center;">50</td>
			<td class="body1">Head/married</td>
			<td class="body1" style="text-align: center;">Ireland, Queens County</td>
			<td class="body1" style="text-align: center;">Railway Coach Cleaner</td>
		</tr>
		<tr>
			<td class="frame1">Margaret Corcoran</td>
			<td class="body1" style="width: 40px; text-align: center;">40</td>
			<td class="body1">Wife/married</td>
			<td class="body1" style="text-align: center;">Ireland, Queens County</td>
			<td class="body1" style="text-align: center;">Housekeeper</td>
		</tr>
		<tr>
			<td class="frame1">Henry J Corcoran</td>
			<td class="body1" style="width: 40px; text-align: center;">20</td>
			<td class="body1">Son/single</td>
			<td class="body1" style="text-align: center;">Ireland, Dublin</td>
			<td class="body1" style="text-align: center;">Stationer's Assistant</td>
		</tr>
		<tr>
			<td class="frame1">Anny Corcoran</td>
			<td class="body1" style="width: 40px; text-align: center;">18</td>
			<td class="body1">Daughter/single</td>
			<td class="body1" style="text-align: center;">Ireland, Dublin</td>
			<td class="body1" style="text-align: center;">Cotton Twist Winder</td>
		</tr>
		<tr>
			<td class="frame1">Edward Corcoran</td>
			<td class="body1"style="width: 40px; text-align: center;" >11</td>
			<td class="body1">Son</td>
			<td class="body1" style="text-align: center;">Ireland, Dublin</td>
			<td class="body1" style="text-align: center;">Scholar</td>
		</tr>
		<tr>
			<td class="frame1">Mary Corcoran</td>
			<td class="body1"style="width: 40px; text-align: center;" >8</td>
			<td class="body1">Daughter</td>
			<td class="body1" style="text-align: center;">Ireland, Dublin</td>
			<td class="body1" style="text-align: center;">Scholar</td>
		</tr>
		<tr>
			<td class="frame1">Eliza Corcoran</td>
			<td class="body1"style="width: 40px; text-align: center;" >4</td>
			<td class="body1">Daughter</td>
			<td class="body1" style="text-align: center;">Lancashire, Salford</td>
			<td class="body1" style="text-align: center;">Scholar</td>
		</tr>
		</table>
	<p style="margin-top:-17px;">Again the transcribers have hindered by using "Cowman" or "Cocoran" instead of "Corcoran", easily avoidable errors. 
	But the record, once found, was invaluable. The ages and birthplaces of the children show us that the 
	family had probably relocated from Dublin to Salford between about 1853 and 1856. It leads to Eliza's baptism record at St John the Evangelist,
	which in turn gives us Ramsbottom, Margaret's maiden name.</p>

	<p>We can then identify a string of baptisms in Dublin, and Patrick and Margaret's marriage in 1838 in the parish of Stradbally in Laois (Queen's). 
	Let's look at the baptisms first, all except one of which specify Patrick Corcoran as the father and Margaret Ramsbottom as mother. The exception 
	was Henry's baptism, for which the mother was recorded as Mary Ramsbottom.</p>
	
	<h5>Patrick and Margaret Corcoran's children, 1840 - 1857*</h5>
	<table id="tableA6" class="table1" style="table-layout:fixed; text-align:center;">
	<caption class="caption1">* All names have been rendered from Latin to English where necessary. All but the final baptism were at St Catherine's,  
	Dublin. Eliza's was at John the Evangelist, Salford.</caption>
		<tr>
			<td class="frame1" style="width:140px;">Name</td>
			<td class="frame1" style="width:80px;">Birth date</td>
			<td class="frame1" style="width:80px;">Baptism* date</td>
			<td class="frame1" style="width:150px;">Location/address at baptism</td>
			<td class="frame1" style="width:160px;">Godparent1</td>
			<td class="frame1" style="width:160px;">Godparent2</td>
			<td class="frame1" style="width: 80px;">Early death</td>
			</tr>
		<tr>
			<td class="frame1" style="text-align:left;">Henry</td>
			<td class="body1"></td>
			<td class="body1">1/9/1840</td>
			<td class="body1">Dublin</td>
			<td class="body1">Joseph McCabe</td>
			<td class="body1">Catherine Nolan</td>
			<td class="body1"></td>
		</tr>
		<tr>
			<td class="frame1" style="text-align:left;">Honoria</td>
			<td class="body1"></td>
			<td class="body1">15/11/1842</td>
			<td class="body1">Dublin</td>
			<td class="body1">John Byrne</td>
			<td class="body1">Antonia Ramsbottom</td>
			<td class="body1"></td>
		</tr>
		<tr>
			<td class="frame1" style="text-align:left;">Thomas</td>
			<td class="body1"></td>
			<td class="body1">7/5/45</td>
			<td class="body1">Dublin</td>
			<td class="body1">Edward Ramsbottom</td>
			<td class="body1">Mary ??Slagin??</td>
			<td class="body1">??</td>
		</tr>
		<tr>
			<td class="frame1" style="text-align:left;">Mary</td>
			<td class="body1"></td>
			<td class="body1">16/5/47</td>
			<td class="body1">Dublin</td>
			<td class="body1">James McCabe</td>
			<td class="body1">Bridget Drennan(?)</td>
			<td class="body1">??</td>
		</tr>
		<tr>
			<td class="frame1" style="text-align:left;">Edward</td>
			<td class="body1"></td>
			<td class="body1">8/4/49</td>
			<td class="frame1">Dublin</td>
			<td class="frame1">James McCabe</td>
			<td class="frame1">Anna McCabe</td>
			<td class="frame1"></td>
		</tr>
		<tr>
			<td class="frame1" style="text-align:left;">Elizabeth</td>
			<td class="body1">17/11/1856</td>
			<td class="body1">23/11/1856</td>
			<td class="body1">Salford</td>
			<td class="body1">Henry Corcoran</td>
			<td class="body1">Mary Ann Murphy</td>
			<td class="body1"></td>
		</tr>
	</table>
	<p>Comparing the baptism list with the 1861 census entries, there are one or two obvious anomalies. We will see later that Honoria went through
	many "name changes" during her life, so we can immediately equate Honoria with Anny. If we assume that the Dublin baptisms followed soon after
	the births, it is clear that, except in Mary's case, the given ages (at the previous birthday) are given very nearly perfectly at the 1861 census
	(although in Edward's case, we need to assume he was baptised on his birthday, as the twelfth anniversary of this fell on the day after 1861 census 
	day). Even where parents give inaccurate ages for their children, they rarely get the birth-order wrong, and in all the E&W census returns I have
    seen, the enumerators have listed children in birth-order.</p>
	
	<p>Thus there is a major anomaly around Mary Corcoran's birthdate and age. Her recorded ages at the subsequent three censuses from 1871 to 1891 are
	reasonably consistent with a year of birth of about 1853, as is the age recorded at her death in 1894. The Mary baptised in Dublin in 1847 simply
	cannot be our great-grandmother - this would require Patrick and Margaret to shift the seniority order so that a sister two years older than Edward
	became three years younger.</p>
	
	<p>So perhaps the first Mary had died. The records of deaths in early to mid-nineteenth century Ireland - or at least those digitised and 
	accessible on-line - are massively deficient. Part of the reason for this, of course, is that during and following on from the Great Hunger, 
	there were so many deaths and so little in the way of apparatus for dealing with them, let alone documenting them.</p>

	<p>Thomas Corcoran is also notable for his presence in the Dublin baptism records and his apparent absence from the Salford household in 
	early April 1861. Clearly, he has either died or gone his separate way. If his parents left Dublin around 1855, he would only have been about 
	ten, so probably hadn't "gone his own way" by then, although he might easily have already died as a youngster in Dublin. If he did cross the 
	water with his parents, he could possibly have died en route, and there were quite a few Thomas Corcorans recorded as dying in Liverpool in 
	the mid-1850s, although none of them  gave any indication of age. There were no death records in the Salford area which looked like a potential 
	match.</p>
	
	<p>Alternatively, Thomas may have flown the nest after arriving in Salford, but if so we would hope to find him in another household in Salford or
	Manchester at the 1861 census, which we don't. Nor do we see him appear at any subsequent Corcoran family events such as the marriages of his
	sisters or the baptisms of their children. I think he probably died young, and the greatest risks would have been in the Dublin of the late 1840s,
	or maybe passing through Liverpool if they had to stop over for any length of time.</p>
	
	<p>The story around Mary Corcoran must be slightly different. Enormous efforts have been made to locate our great-grandmother's (1853ish) baptism
	record, whether it took place in Ireland or England (because she could have left Ireland before being baptised), all to no avail. But the very fact
	that she was named "Mary" tells us that her older sister Mary had died before she was born. So the 1847 Mary must have died in Dublin, probably as an
	infant. 1847 must have been one the worst possible years to be born in Dublin, because the city was by then filling up rapidly with starving, 
	impoverished and diseased refugees from the countryside. Our great-grandmother Mary was later born in Dublin, probably some time from April
	1852 to March 1853, before the family emigrated to England in the mid-1850s. The large gap between Edward and Eliza's births also supports
	this theory.</p>
	
	