<h4>Dublin to Salford</h4>

<p>On 7 April, 1861, the Corcoran family was based at 1 Hart Street, Crescent, Salford, Lancashire. Their census return shows seven people in the household, Mum
and Dad and five offspring aged from 4 to 20. None were yet married.</p>

<h6>7 April 1861 E&W census: Corcoran family at 1 Hart street, Crescent, Salford</h6>
<div class="table-responsive-md">
	<table 
	   class="table table-bordered table-link"
       title = "View original census page"
       onclick="viewImage('images/Corcoran household Salford 1861.jpg');">
	   <thead>
		<tr>
			<th class="tab-first-col">Name</th>
			<th>Given age</th>
			<th>Relationship, marital status</th>
			<th>Place of birth</th>
			<th>Occupation</th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<td class="tab-first-col">Patrick J Corcoran</td>
			<td class="tab-center-col">50</td>
			<td>Head/married</td>
			<td>Ireland, Queens County</td>
			<td>Railway Coach Cleaner</td>
		</tr>
		<tr>
			<td class="tab-first-col">Margaret Corcoran</td>
			<td class="tab-center-col">40</td>
			<td>Wife/married</td>
			<td>Ireland, Queens County</td>
			<td>Housekeeper</td>
		</tr>
		<tr>
			<td class="tab-first-col">Henry J Corcoran</td>
			<td class="tab-center-col">20</td>
			<td>Son/single</td>
			<td>Ireland, Dublin</td>
			<td>Stationer's Assistant</td>
		</tr>
		<tr>
			<td class="tab-first-col">Anny Corcoran</td>
			<td class="tab-center-col">18</td>
			<td>Daughter/single</td>
			<td>Ireland, Dublin</td>
			<td>Cotton Twist Winder</td>
		</tr>
		<tr>
			<td class="tab-first-col">Edward Corcoran</td>
			<td class="tab-center-col">11</td>
			<td>Son</td>
			<td>Ireland, Dublin</td>
			<td>Scholar</td>
		</tr>
		<tr>
			<td class="tab-first-col">Mary Corcoran</td>
			<td class="tab-center-col">8</td>
			<td>Daughter</td>
			<td>Ireland, Dublin</td>
			<td>Scholar</td>
		</tr>
		<tr>
			<td class="tab-first-col">Eliza Corcoran</td>
			<td class="tab-center-col">4</td>
			<td>Daughter</td>
			<td>Lancashire, Salford</td>
			<td>Scholar</td>
		</tr>
	</tbody>
</table>
</div>
	<p>Again the transcribers have hindered us by using "Cowman" or "Cocoran" instead of 
	"Corcoran", easily avoidable errors. But the record, once found, was invaluable (and thanks to Mary Clements 
	for this).  The ages and birthplaces of the children show us that the family had probably relocated from 
	Dublin to Salford between about 1853 and 1856. It leads to Eliza's baptism record at St John the Evangelist, 
	which in turn gives us Ramsbottom, Margaret's maiden name (sometimes spelled Ransbottom in the Irish records).</p>

	<p>We can then identify a string of baptisms in Dublin, plus the parents’ marriage in 1838 in the parish of 
	Stradbally in Laois (Queens). Let's look at the baptisms first, all except one of which specify Patrick Corcoran 
	as the father and Margaret Ramsbottom as the mother. The exception was Henry's baptism record, in which the mother's 
	name might read either "Mary" or "Marg".</p>
	
	<h6>Patrick and Margaret Corcoran's children, 1840 - 1857*</h6>
	<div class="table-responsive-md">
	<table 
	   class="table table-bordered">
	<caption><i>* All names have been rendered from Latin to English where necessary. All but the final baptism were at St Catherine's,  
	Dublin. Eliza's was at John the Evangelist, Salford.</i></caption>
	  <thead>
		<tr>
			<th class="tab-first-col">Name</th>
			<th>Birth date</th>
			<th>Baptism* date</th>
			<th>Abode</th>
			<th>Godparent1</th>
			<th>Godparent2</th>
			<th>Early death</th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<td class="tab-first-col">Henry</td>
			<td></td>
			<td>1/9/1840</td>
			<td>Dublin</td>
			<td>Joseph McCabe</td>
			<td>Catherine Nolan</td>
			<td></td>
		</tr>
		<tr>
			<td class="tab-first-col">Honoria</td>
			<td></td>
			<td>15/11/1842</td>
			<td>Dublin</td>
			<td>John Byrne</td>
			<td>Antonia Ramsbottom</td>
			<td></td>
		</tr>
		<tr>
			<td class="tab-first-col">Thomas</td>
			<td></td>
			<td>7/5/1845</td>
			<td>Dublin</td>
			<td>Edward Ramsbottom</td>
			<td>Mary ??Slagin??</td>
			<td>??</td>
		</tr>
		<tr>
			<td class="tab-first-col">Mary</td>
			<td></td>
			<td>16/5/1847</td>
			<td>Dublin</td>
			<td>James McCabe</td>
			<td>Bridget Drennan(?)</td>
			<td>??</td>
		</tr>
		<tr>
			<td class="tab-first-col">Edward</td>
			<td></td>
			<td>8/4/1849</td>
			<td>Dublin</td>
			<td>James McCabe</td>
			<td>Anna McCabe</td>
			<td></td>
		</tr>
		<tr>
			<td class="tab-first-col">Mary</td>
			<td>1852-53?</td>
			<td>??</td>
			<td>Dublin??</td>
			<td>N/K</td>
			<td>N/K</td>
			<td></td>
		</tr>
		<tr>
			<td class="tab-first-col">Elizabeth</td>
			<td>17/11/1856</td>
			<td>23/11/1856</td>
			<td>Salford</td>
			<td>Henry Corcoran</td>
			<td>Mary Ann Murphy</td>
			<td></td>
		</tr>
		</tbody>
	</table>
	</div>
	<p>Comparing the baptism list with the 1861 census entries, there are one or two obvious anomalies. We will
	see later that Honoria went through many "name changes" during her life, so we can immediately equate Honoria
	with Anny. If we assume that the Dublin baptisms followed soon after the births, it is clear that, except in
	Mary's case, the given ages (at the previous birthday) are given very nearly perfectly at the 1861 census 
	(although in Edward's case, we would need to assume he was baptised on his birthday, as the twelfth anniversary
	of this fell on the day after 1861 census day). Even where parents gave inaccurate ages for their children,
	they rarely got the birth-order wrong, and in all the E&W census returns I have seen, the enumerators have
	listed children in birth-order.</p>
	
	<p>Thus there is a major anomaly around Mary Corcoran's birth-date and age. Her recorded ages at the subsequent
	three censuses from 1871 to 1891 are reasonably consistent with a year of birth of about 1853, as is the age
	recorded at her death in 1894. The Mary baptised in Dublin in 1847 simply cannot be our great-grandmother - 
	this would require the parents to have shifted the seniority order of their children so that a sister two 
	years older than Edward became three years younger.</p>
	
	<p>So perhaps the first Mary had died. The records of deaths in early to mid-nineteenth century Ireland - 
	or at least those digitised and accessible on-line - are massively deficient. Part of the reason for this,
	of course, is that during and following on from the Great Hunger, 
	there were so many deaths and so little in the way of apparatus for dealing with them, let alone documenting them.</p>

	<p>It also stands out that Thomas Corcoran, born in 1840s Dublin, is absent from the Salford household census 
	record in early April 1861. It would seem he has either died or “gone his separate way”. If his parents left 
	Dublin around 1855, he would only have been about ten, so probably hadn't "gone his own way" by then, although
	he might easily have already died as a youngster in Dublin. If he did cross the water with his parents, he 
	could possibly have died en route, and there were quite a few Thomas Corcorans recorded as dying in Liverpool 
	in the mid-1850s, although none of them gave any indication of age. There were no death records in the 
	Salford area which looked like a potential match.</p>
	
	<p>Alternatively, Thomas may have flown the nest after arriving in Salford, but if so we would hope to find
	him in another household in Salford or Manchester at the 1861 census, which we don't. Nor do we see him appear 
	at any subsequent Corcoran family events such as the marriages of his sisters or the baptisms of their children.
	I think he probably died young, and the greatest risks would have been in the Dublin of the late 1840s.</p>
	
	<p>The story around Mary Corcoran must be slightly different. Every effort to locate our great-grandmother's (1853ish) 
	baptism record has drawn a blank. This was despite searching both Ireland and England (because she could have left 
	Ireland before being baptised). But, unless she was in fact born in the 1840s, the very fact that she was named 
	"Mary" tells us that her older sister Mary had died before she was born. So the 1847 Mary must have died in Dublin, 
	probably as an infant. 1847 must have been a bad one  to be born in Dublin, because the city was by then beginning 
	to fill up with the refugees from the rural Hunger.</p>
	
	<p>I’ve tentatively concluded that our great-grandmother Mary was indeed born in Dublin, but I feel pretty sure 
	some time later than the 1847 Mary, probably between April 1852 and March 1853 (before the family emigrated to 
	England sometime in the mid-1850s). The large gap between Edward and Eliza's births also supports this theory.</p>
	
	