<h4>Stradbally roots</h4>
	
	<p>At the 1861 E&W census, Patrick and Margaret very thoughtfully left a marker that they had both been born in 
	Laois (aka Queens County). The ages they gave at the census look as if there was some deliberate rounding, suggesting
	that they weren't entirely sure of their exact year of birth. But they clearly knew that Patrick was significantly 
	older. Taking the given age of 40 literally, Margaret would have been born between April 1820 and March 1821. 
	This would mean she married at age 17 or 18, had her first child at about age 20 and her last at age 36. All 
	this seems perfectly plausible. There are two later censuses suggesting she was around five years older, but 
	that timeline would also stand up. Perhaps a doubtful 44 got rounded down to 40 at the 1861 census. Other 
	than the 1861 census in which age 40 was recorded, there is no other evidence on Patrick's age, so we must take 
	1810-11 to be the central estimate for his year of birth.</p>
	
	<img src = "images/Patrick Corcoran Margaret Ramsbottom marriage Queens.jpg"
	width = "300px" 
	class ="img-fluid piccy-left mb-3"
     title = "Expand and view image"
	 onclick = "viewImage(this.src)">
		 
	<p>Patrick and Margaret's marriage record tells us very little, not even the names of any of their 
	parents. They were married in Stradbally Catholic parish, Laois, on 2 July 1838, and the witnesses were James Foy and Judith Byrne. The
	page contains a column headed "Place", and for Patrick and Margaret this was recorded as Celbridge, County Dublin. Strictly speaking, the
	Catholic parish of Celbridge lies just outside County Dublin in Kildare (although it is well within the Catholic diocese of Dublin). But
	perhaps the 1838 boundaries were different. The significance of this is not entirely clear, as they both seem to have been born in or near
    Stradbally, although their first child Henry was baptised in central Dublin two years later. Perhaps the pair had met near Dublin and
	returned for a family wedding. Or perhaps Patrick had gone ahead to set up a bridal home near Dublin.</p>
	
	<h6>The Ramsbottoms</h6>
	<p>Focusing first on the Ramsbottoms, my immediate reaction was that Margaret's maiden name was 
	English not Irish.</p>

	<p>Yet it's clear from the digital records that there were small pockets of Ramsbottoms dotted around 
	Ireland going back at least as far as the mid-18th century, including at least one in Laois in the 1740s. Maybe one 
	or two arrived with Oliver's army and never left! It certainly doesn't sound like a name that filtered down from 
	the descendants of the Norman/Anglo-Irish barons, who would have been Catholic until the English reformation and 
	then divided in a proportion unknown to me.</p>

    <p>What can be seen clearly is that, starting roughly from the 1790s, a small clan of Ramsbottoms started to accumulate in south-eastern Laois 
	and adjacent parts of some of the neighbouring counties such as Kildare, Carlow and Kilkenny.  Whether or not they had ever been Puritans, Quakers,
    Methodists or any other flavour of Protestant I do not know. But if so, they seem to have long since been assimilated into the local Catholic 
	culture. All the Ramsbottoms baptisms and marriages I have seen in the area have been Catholic, and there has not been so much as a whisper of 
	a passion-driven conversion to the faith.</p>
	
	<p>During the search for Margaret's parents, I came across two interesting early Ramsbottoms in Ireland, although they tell us little or
	nothing of the means by which the Ramsbottom genes might have transferred across the Irish Sea. Henry seems to have been a very popular boy's
	name amongst the Ramsbottoms, and there is a reference to an event involving one such in the County Laois Quaker Congregational records for 1747.
	Apparently, the Society of Friends in Ireland had been founded only two years after the English Society, about one hundred years previously, and
	it quickly spread to have a nationwide presence in Ireland.</p>
	
	<p>Students of Irish history will know of the hated tax imposed by the British Crown (in its role as head of the established church) in the
	form of a tithe extracted from church members of all denominations. I'm not sure whether Church of Ireland members themselves were
	required to pay it, but most of them probably supported it anyway  - in fact, they quite possibly controlled a large proportion of
	the proceeds of the tax. Although the tithe was aimed at members of the Catholic Church, it was also imposed on the Quakers. Being Quakers, though,
	they didn't take up arms to fight the exploitative authorities, but instead vented their anger and resentment by meticulously documenting
	every last farthings-worth of value extracted from them (mostly in beautiful handwriting).</p>
	
	<p>The record I found for Henry Ramsbottom, somewhere in Laois in 1747, is a detailed list of exactly what was taken by the tithe-takers from each
	member of the local Society of Friends. But if I read the record correctly, Henry was not one of the Quakers, rather he was amongst the (no doubt 
	highly unpopular) team of tithe-takers extracting the tax.</p>
	
		 <img src = "images/henry ramsbottom quaker 1847 laois.jpg"
	width = "500px" 
	class ="img-fluid piccy-right mb-3"
     title = "Expand and view image"
	 onclick = "viewImage(this.src)">
		
	<p>Unless I misunderstand, this means he was highly unlikely to be associated with any church
	except the established Church of Ireland. And this in turn implies, I think, that either Henry or his forefathers had at some stage in the previous
	hundred years or so, migrated from England to Ireland.</p>
	
	<p>My best reading is as follows: <span style="font-family: Georgia;  color: DarkSlateGrey;"><b><i>Joshua Thompson had taken from him for Tithe by
	William Nowlands & Associates, Servants to William Dawson, Priest of the Parish of Dysarts Galin, 5 Fleeces of Wool, 2 Lambs & 6 Carlo. of Hay worth
	£1 12s. And by Henry Ramsbottom & Associates, Tithe-taker understudy Priest, 2 Ridges of Potatoes & 80lbs of small Barley worth 19s 6d - All
	worth £2 11s 6d.</i></b></span></p>

	<p class="cl-b">All that amounts to quite a tidy annual haul from a single member of a single church, remembering that the non-Church of Ireland were in most
	places a massive majority. The "priests" and "under-priests" were what we would call vicars of the Church of Ireland. Dysartsgalen, as it is now called, is a parish of 
	that church, often called a civil parish. It is in the Catholic parish of Abbeyleix, which is next to Stradbally. The centres of Abbeyleix and
	Stradbally are only about 10 miles apart, and Athy, where the Malones and Sunderlands came from, is just beyond Stradbally across the County 
	border in Kildare.</p>
	
	<p>If Henry Ramsbottom of the civil parish of Dysartgalen, the under-tithe-taker of 1747, was a Protestant, his 
	probable descendants were certainly not. The next occurrence of the Ramsbottom name in the County Laois records which I can access was at 
	a baptism nearly 50 years later in the Catholic parish of Ballynakill (adjacent to its sister-parishes of Abbeyleix and Stradbally). 
	An Elizabeth Ramsbottom was born to a George Ramsbottom and Anne Conrahy in Ballynakill in 1796, and given a Catholic baptism. More 
	Ramsbottoms appear in later records for that area, but before following them any further down the arches, it might be interesting to 
	take a brief look at another Ramsbottom who passed through the adjacent county of Kilkenny a few years later in 1818.</p>
		 
		 <img src = "images/charles ramsbottom army discharge 1818 kilkenny.jpg"
	width= "450px"
	class ="img-fluid piccy-left mb-3"
     title = "Expand and view image"
	 onclick = "viewImage(this.src)">
			
	<p>Charles Ramsbottom from near Blackburn was recruited for life into the 44th Infantry Regiment of the British army at the age of 24 in 1792. 
	During the following 26 years he served in St Lucia and in Baltimore, no doubt amongst many other outposts of relevance to the emerging 
	British Empire. In 1796 in St Lucia he took a severe wound to his left leg, and in 1814 Baltimore dished out a similar punishment to his 
	left arm. The year 1818 found him in what was probably a military hospital, I think part of a major British Army barracks in County Kilkenny.
	From there, normally there would be a march to Dublin to embark on the next voyage to the next destination. But in Charles' case, he was 50
	years old and suffering from his wounds, so the army gave him a medical discharge.</p>
	
	<p>It sounds rather as if Charles was in no condition to sow any wild oats as he passed through Ireland. Anyway he was a little far
	from the Stradbally area, and his visit seems to have post-dated the build-up of the Ramsbottom clan in that area.</p>
	
	<p class="cl-b">But many sections of armies assembled in England had passed through Ireland over the centuries, and it is certainly 
	not beyond the bounds of possibility that some love-struck English Ramsbottom at some stage went permanently AWOL and
	settled to raise a family in green Erin.</p>
	
	<p>Returning to Stradbally and environs, George and Anne Ramsbottom went on to have (at least) two more children, 
	Patrick in 1798 and	Mary in 1801. But after that the records run dry until 1820 - it looks as if the parish register
	books for that period are lost (and just where we hoped to find Margaret Ramsbottom's baptism). I found nine further 
	Ramsbottom baptisms in Stradbally and adjacent parishes from 1820 to 1832. They paint a confusing picture.</p>
	
	<h6>Ramsbottom baptisms around Stradbally, 1820 - 1832</h6>
	<div class="table-responsive-md">
	<table class="table table-bordered">
	<thead>
		<tr>
			<th class="tab-first-col" style="padding-bottom: 20px;"><i>Parents:</i></th>
			<th>Henry & Mary</th>
			<th>Pat & Biddy Kelly</th>
			<th>Michael & Judy</th>
			<th>Henry & Alice Barson (or Barras)</th>
			<th>John & a Miss Kenna</th>
			<th>George & Anne McEvoy</th>
			<th>James & Mary Readen</th>
			</tr>
		</thead>
		<tbody>
		<tr>
			<td class="tab-first-col"><i>Parish:</i></td>
			<td><b><i>Stradbally</i></b></td>
			<td><b><i>Abbeyleix</i></b></td>
			<td><b><i>Stradbally</i></b></td>
			<td><b><i>Stradbally</i></b></td>
			<td><b><i>Stradbally</i></b></td>
			<td><b><i>Ballyadams</i></b></td>
			<td><b><i>Stradbally</i></b></td>
		</tr>
		<tr>
			<td class="tab-first-col">1820</td>
			<td>Patrick</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td class="tab-first-col"t;">1821</td>
			<td></td>
			<td>Catherine</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td class="tab-first-col">1822</td>
			<td>Elizabeth</td>
			<td></td>
			<td>Michael</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td class="tab-first-col">1825</td>
			<td></td>
			<td></td>
			<td></td>
			<td>Henry</td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td class="tab-first-col">1830</td>
			<td></td>
			<td></td>
			<td></td>
			<td>Ed</td>
			<td>Patt</td>
			<td>Edward</td>
			<td></td>
		</tr>
		<tr>
			<td class="tab-first-col">1832</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td>Ann</td>
		</tr>
		</tbody>
		</table>
		</div>
	    <p>I do wonder whether we have picked up two dads named Henry here, or whether (perhaps) Mary died and Henry was re-married to Alice.  
		There are no Margarets, and not even any Marys (which I sometimes think was used interchangeably with Margaret). But we have surely picked 
		up one or two siblings and/or cousins of our Margaret in this trawl. Given the pattern of names, it's very tempting to think that Margaret 
		might have been born in around 1819 to Henry and Alice, and had younger brothers Henry and Ed (plus possibly an Ann whose records are somehow
		lost). An Edward Ramsbottom was a sponsor to Thomas Corcoran's baptism in 1845. So let's look back at the marriage witnesses and the baptism 
		sponsors again. Patrick and Margaret's own wedding witnesses (in Athy in 1838) were James Foy and Judith Byrne. Amongst the baptism sponsors 
		(in Dublin from 1840-49) were John Byrne, Antonia Ramsbottom, Edward Ramsbottom and Joseph, James and Anna McCabe. It became clear that there 
		was probably a network of relationships linking many of these people.</p>
		
		<p>More specifically, a John McCabe married a Catherine Nolan in the parish of Borris, County Carlow, in 1845, although I'm not sure 
		whether either or both of them had been Henry's baptism sponsors in 1840. And there were marriages in the Dublin area between a Patrick
		Corcoran and a Margaret Byrne in 1849, and a Thomas Corcoran and an Anne Byrne in 1853 - but we don't even know whether our Patrick and
		Margaret were still in Dublin by that stage. There is a strong feeling - but no proof - that many of these people (including baptism
		sponsors and wedding witnesses) must have had reasonably close family ties.</p>

        <p>But there is one example which gives a very strong impression that there were family ties: there	is a 
		<span class = "span-link"
		 title = "view the McCabe Ramsbottom marriage record"
	     onclick = "viewImage('images/james mccabe - ann ramsbottom 1848 dublin.jpg');">record of a marriage on 13 January 
		1848</span> between a James McCabe and an Anne Ramsbottom at St Catherine's church, Dublin, and the witnesses were none other than Patrick and 
		Margaret Corcoran. Whether that Anne Ramsbottom equated with the baptism witness called Antonia Ramsbottom, I do not know (although I 
		cannot find any record of a birth or baptism of anyone called Antonia Ramsbottom across the whole of the British Isles with a plausible date). 
		And whether either of those Ramsbottoms equated with the one born to James and Mary in Stradbally in 1832 is also unknown (although she
		might be rather young to sponsor an 1842 baptism).</p>
		
		<p>That is it on the Ramsbottoms. I have shaken a number of jigsaw pieces onto the table, and hinted at ways in which a few subgroups of them
		might fit together to form a fragment of the whole picture. That's as far as I can get for now, although I feel that, in this case, a visit
		to Stradbally might pay some dividends.</p>

	<h6>Patrick Corcoran</h6>
	<p>A pan-Ireland search, allowing spelling variants, for Patrick Corcorans baptisms from 1805 to 
	1815 produces 38 results, none of them in Laois, but a handful in nearby counties. My gut feeling is that the correct record 
	is probably in the lost pre-1820 Stradbally records, so we'll not look at alternatives here. In the 1861 census, both Patrick 
	and Margaret clearly specified their birthplaces as Queens County. There are a few Corcoran births in Stradbally in the early 
	1820s which might just be Patrick's siblings. These are............ANY OF THEM APPEARING AT LATER MARRIAGES
	OR BAPTISMS???</p>