<h4>The Corcorans in Salford</h4>

<p>By the time of the 1871 E&W census, taken on 3 April, the Corcoran family were still located in Salford, but
 at 9 West Thompson Street, a little distance from their 1861 home on Hart Street. Their numbers had reduced from seven to four 
since 1861: Patrick, Edward and Anny were no longer present. There is a civil record of the death of a Patrick Corcoran 
in the Salford district in the first quarter of 1864 (age not given), and this is probably our great x 2 grandfather. We need 
to obtain the death certificate. There is also a civil record of the death of an Edward Corcoran in the Manchester
district in the fourth quarter of 1862. Our Edward would have been thirteen years old then, and as I've been unable
to find any plausible candidates for him at the 1871 census, it's tempting to believe that this Edward died young.
The death certificate needs to be added to the shopping list.</p>

<p>My Aunt Cath the Carmelite told us she was in possession of some letters written to her father Richard in his younger
years by an aunt of his who was a nun in the Order of the Poor Clares, based in Levenshulme. The letters' signatory
styled herself Sister Colette, and I think Cath first thought that she was a paternal aunt of Richard. Cath wasn't 
particularly enamoured of the style (or even the content) of these letters, and she used the word "pious" in its
derogatory sense. I think these letters were likely written between 1906, when Richard - age 14 - lost his father 
and Colette her brother-in-law, and 1914, when Richard signed up for "the duration". But after we had learned some
 more about the Corcoran family, Cath reached the conclusion that Sister Colette must in fact have been Richard's 
 maternal aunt.</p>

<p>Because we hadn't yet found the Corcoran 1861 census record at that stage - thanks to the careless transcriptions -
we were not aware that Mary Corcoran had any sisters other than Eliza, so we assumed she must be Sister Colette.
But in addition to the letters, Aunt Cath also had possession of the Religious Notice of Death of her Poor Clare 
aunt “Colette”, who died in 1918. This showed that Eliza could not possibly have been “Colette”. Searching the 
Lancashire census results for members of religious institutions, we were able to locate an M Coletta Corcoran in 
the 1871 census within Richmond Grove Convent, which was located in the administrative district of Chorlton upon Medlock,
which includes Levenshulme. The community comprised a number of religious and lay sisters from England, Ireland and 
Belgium, including the Mother Superior a Frances Tielen from Belgium.</p>

<p>We were still to learn how important name changes became in the life of Anny Corcoran, Mary's older sister. Our
further searches for Colette Corcoran in later censuses drew a blank. But there were now enough leads to begin to 
fill out the full history of Honoria/Anny/Colette's religious career through five successive censuses. Read the
 <a href="dig5a" title = "Take the digression">Poor Clares Digression</a> to find out more.  Eventually, we searched 
 the civil registers for 1918 for deaths of Corcorans and discovered that the death of an Honoria Corcoran was 
 registered in Quarter 4 in the disctrict of Chorlton, aged 76. This opened the door for us to the earlier Irish records, as 
 it became clear that Anny was Honoria was Colette, and, Honoria Corcoran being such an unusual name, it was easy to
  find her baptism record in Dublin.</p>

<p>So this gives us an explanation for the reduction in the strength of the Salford Corcoran household between 1861 
and 1871, even if some of it is slightly uncertain. Here is the 1871 census record:</p>

<h6>2 April 1871 E&W census: the Corcoran Household, 9 West Thompson St, Salford</h6>
<div class="table-responsive-md">
	<table 
	   class="table table-bordered table-link"
       title = "View original census page"
       onclick="viewImage('images/9 West Thompson St Salford - Margaret Corcoran 1871 household.jpg');">
	   <thead>
		<tr>
			<th class="tab-first-col">Name</th>
			<th>Given age</th>
			<th>Relationship, marital status</th>
			<th>Place of birth</th>
			<th>Occupation</th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<td class="tab-first-col">Margaret Corcoran</td>
			<td class="tab-center-col">54</td>
			<td>Head, widow</td>
			<td>Ireland</td>
			<td>Housekeeper</td>
		</tr>
		<tr>
			<td class="tab-first-col">Henry Corcoran</td>
			<td class="tab-center-col">30</td>
			<td>Son, single</td>
			<td>Ireland</td>
			<td>Stationer's Assistant (out of employ)</td>
		</tr>
		<tr>
			<td class="tab-first-col">Mary Corcoran</td>
			<td class="tab-center-col">17</td>
			<td>Daughter, single</td>
			<td>Ireland</td>
			<td>Cotton Winder</td>
		</tr>
		<tr>
			<td class="tab-first-col">Elizabeth Corcoran</td>
			<td class="tab-center-col">14</td>
			<td>Daughter, single</td>
			<td>Salford</td>
			<td>Cotton Winder</td>
		</tr>
	</tbody>
</table>
</div>

<p>I have enjoyed watching Henry Corcoran's career trajectory. As a 20-year-old young man relatively fresh from Dublin
in early 1861, he had found a job as a Stationer's Assistant. He seemed subsequently to have attached considerable status
to this role, as if it had required a major investment of time and effort to qualify for such an exalted profession. So he
 is still a Stationer's Assistant in early 1871, notwithstanding the fact that he doesn't actually have a job! I wonder whether
Henry had some unusual aspect in his psychological make-up, to which these days we might attach a label under the
broad heading of "educationally challenged". There will be more on Henry's ongoing life and career later. Anyway,
moving on, the big family event for the Corcorans in the decade between the 1871 and 1881 censuses was Elizabeth's marriage
to James Cassidy on 8 February 1880. Here is the transcription from the Lancashire Parish Clerks' records:</p>

<h6>Catholic church* record of James Cassidy & Elizabeth Corcoran marriage, 8 Feb 1880</h6>
<div class="table-responsive-md">
  <table class="table table-bordered">
    <caption><i>* At the Mother of God & St James' church Pendleton. All names have been rendered from Latin to English where necessary.</i></caption>
	<thead>
    <tr>
        <th class="tab-first-col"></th>
        <th>Name</th>
        <th>Residence</th>
        <th>Parents</th>
        <th>Witness</th>
        <th>Witness Address</th>
    </tr>
	</thead>
	<tbody>
    <tr>
        <td class="tab-first-col">Groom</td>
        <td>James Cassidy</td>
        <td>2 Crowther St, Mount Carmel</td>
        <td>Thomas & Bridget Cassidy</td>
        <td>James Noonan</td>
        <td>71 Whit Lane, Pendleton</td>
    </tr>
    <tr>
        <td class="tab-first-col">Bride</td>
        <td>Elizabeth Corcoran</td>
        <td>Herbert St, Pendleton</td>
        <td>Patrick & Margaret Corcoran</td>
        <td>Mary Corcoran</td>
        <td>3 Heber St, Pendleton</td>
    </tr>
	</tbody>
</table>
</div>

<p>So by 3 April 1881, census day, the Corcoran household had divided into two parts. Mary was left alone as a lodger
working in a mill in Pendleton (well, not quite alone, as her sweetheart James was just around the corner), whilst
Margaret and Henry became part of the newly-weds household over in Newton Heath. Here is Mary's 1881 two census record:</p>

<h6>3 April 1881 E&W census: Mary Corcoran, boarder at the widow Bull’s household, 6 Hall St, Pendleton</h6>
<div class="table-responsive-md">
	<table 
	   class="table table-bordered table-link"
       title = "View original census page"
       onclick="viewImage('images/6 Hall St - Mary Corcoran boarder 1881.jpg');">
	   <thead>
		<tr>
			<th class="tab-first-col">Name</th>
			<th>Given age</th>
			<th>Relationship, marital status</th>
			<th>Place of birth</th>
			<th>Occupation</th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<td class="tab-first-col">Jane Ball</td>
			<td class="tab-center-col">59</td>
			<td>Head, widow</td>
			<td>Lancashire, Bedford Leigh</td>
			<td>Silk Warp Picker</td>
		</tr>
		<tr>
			<td class="tab-first-col">Frederick Ball</td>
			<td class="tab-center-col">18</td>
			<td>Son, single</td>
			<td>Lancashire, Pendleton</td>
			<td>Cotton Beamer</td>
		</tr>
		<tr>
			<td class="tab-first-col">Mary J Ball</td>
			<td class="tab-center-col">16</td>
			<td>Daughter, single</td>
			<td>Lancashire, Pendleton</td>
			<td>Silk Weaver</td>
		</tr>
		<tr>
			<td class="tab-first-col">Ernest Ball</td>
			<td class="tab-center-col">13</td>
			<td>Son</td>
			<td>Lancashire, Pendleton</td>
			<td>Scholar</td>
		</tr>
		<tr>
			<td class="tab-first-col">Elizabeth Lawless</td>
			<td class="tab-center-col">38</td>
			<td>Boarder, married</td>
			<td>Lancashire, Manchester</td>
			<td>Cotton Weaver</td>
		</tr>
		<tr>	
			<td class="tab-first-col">Mary Corcoran</td>
			<td class="tab-center-col">26</td>
			<td>Boarder, single</td>
			<td>Ireland</td>
			<td>Cotton Winder</td>
		</tr>
	</tbody>
</table>
</div>

<p>At this stage, we will break off the story of Mary Corcoran, because as we know she married James Noonan on 16 November 1885, and 
the remainder of her story was written up in Chapter 1. Let's now move on to the Cassidys.</p>