<h4>James & Elizabeth Cassidy</h4>

<p>Just over a year after James and Elizabeth married in February 1880, on census day 1881, the second part of the 
now divided Corcoran household was residing at 75 Briscoe Street, Newton Heath.</p>

<h6>3 April 1881 E&W census: James & Elizabeth Cassidy household, 75 Briscoe Street, Newton Heath</h6>
<div class="table-responsive-md">
	<table 
	   class="table table-bordered table-link"
       title = "View original census page"
       onclick="viewImage('images/James 1881 household Newton.jpg');">
	   <thead>
		<tr>
			<th class="tab-first-col">Name</th>
			<th>Given age</th>
			<th>Relationship, marital status</th>
			<th>Place of birth</th>
			<th>Occupation</th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<td class="tab-first-col">James Cassidy</td>
			<td class="tab-center-col">25</td>
			<td>Head, married</td>
			<td>Ireland</td>
			<td>Locomotive Fireman</td>
		</tr>
		<tr>
			<td class="tab-first-col">Elizabeth Cassidy</td>
			<td class="tab-center-col">24</td>
			<td>Wife, married</td>
			<td>Salford, Lancashire</td>
			<td></td>
		</tr>
		<tr>
			<td class="tab-first-col">Margaret Corcoran</td>
			<td class="tab-center-col">56(?)</td>
			<td>Mother-in-law, widow</td>
			<td>Ireland</td>
			<td></td>
		</tr>
		<tr>
			<td class="tab-first-col">Henry Corcoran</td>
			<td class="tab-center-col">40</td>
			<td>Brother-in-law, unmarried(?)</td>
			<td>Ireland</td>
			<td>Painter's Labourer on Railways</td>
		</tr>
	</tbody>
</table>
</div>

<p>It looks very much as if, by 1881, James has succeeded in removing his brother-in-law's "out-of-employ" status by finding him 
a job on the railways, although even at age 40, his job still involves assisting another. I am sure Henry was not married at the 1871
census, and I think he shows as single in censuses after 1881. But at this one, it is difficult to see whether the enumerator has 
written "Married" or "Unmarried".
</p>