<h4>James & Elizabeth Cassidy</h4>

<p>Just over a year after James and Elizabeth married in February 1880, on census day 1881, the second part of the 
now divided Corcoran household was residing at 75 Briscoe Street, Newton Heath.</p>

<h6>3 April 1881 E&W census: James & Elizabeth Cassidy household, 75 Briscoe Street, Newton Heath</h6>
<div class="table-responsive-md">
	<table 
	   class="table table-bordered table-link"
       title = "View original census page"
       onclick="viewImage('images/James 1881 household Newton.jpg');">
	   <thead>
		<tr>
			<th class="tab-first-col">Name</th>
			<th>Given age</th>
			<th>Relationship, marital status</th>
			<th>Place of birth</th>
			<th>Occupation</th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<td class="tab-first-col">James Cassidy</td>
			<td class="tab-center-col">25</td>
			<td>Head, married</td>
			<td>Ireland</td>
			<td>Locomotive Fireman</td>
		</tr>
		<tr>
			<td class="tab-first-col">Elizabeth Cassidy</td>
			<td class="tab-center-col">24</td>
			<td>Wife, married</td>
			<td>Salford, Lancashire</td>
			<td></td>
		</tr>
		<tr>
			<td class="tab-first-col">Margaret Corcoran</td>
			<td class="tab-center-col">56(?)</td>
			<td>Mother-in-law, widow</td>
			<td>Ireland</td>
			<td></td>
		</tr>
		<tr>
			<td class="tab-first-col">Henry Corcoran</td>
			<td class="tab-center-col">40</td>
			<td>Brother-in-law, unmarried(?)</td>
			<td>Ireland</td>
			<td>Painter's Labourer on Railways</td>
		</tr>
	</tbody>
</table>
</div>

<p>It looks very much as if, by 1881, James has succeeded in removing his brother-in-law's "out-of-employ" status by finding him 
a job on the railways, although even at age 40, his job still involves assisting another. I am sure Henry was not married at the 1871
census, and I think he shows as single in censuses after 1881. But at this one, it is difficult to see whether the enumerator has 
written "Married" or "Unmarried".
</p>

<p>There is a civil death registration in Prestwich district for a Margaret Corcoran in the third quarter of 1883. The recorded
age at death is 57, but death records seem to be very inaccurate in this respect, and I'm inclined to believe she was closer to 65. 
As she can't be found amongst her descendants in any later censuses, I'm inclined to believe that this was our great x 2 grandmother. 
We should order the death certificate. This would mean she didn't live to see her daughter Mary's marriage in 1885, or her death
less than ten years later (although she must have known James Noonan). But she would have seen the birth of her first grandchild, 
James' and Elizabeth's firstborn Joseph, in 1881. He would become the first cousin of Mary Ann Noonan, to be born about five years
later in 1886. Did they ever meet?</p>

<p>So by the 1891 census, Margaret had vanished from the Cassidy household (and so had Henry - more on him later). We can trace
the history of the Cassidy family through the three censuses from 1891 to 1911, living throughout the 20-year period at 81 Brierley
Street, Bury, and here they are:</p>

<h6>5 April 1891 E&W census: James & Elizabeth Cassidy's family at 81, Brierley Street, Bury</h6>

<div class="table-responsive-md">
	<table 
	   class="table table-bordered table-link"
       title = "View original census page"
       onclick="viewImage('images/81 Brierley St Bury, James and Liz 1891.jpg');">
	   <thead>
		<tr>
			<th class="tab-first-col">Name</th>
			<th>Given age</th>
			<th>Relationship, marital status</th>
			<th>Place of birth</th>
			<th>Occupation</th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<td class="tab-first-col">James Cassidy</td>
			<td class="tab-center-col">35</td>
			<td>Head, married</td>
			<td>Ireland</td>
			<td>Railway Engine Driver</td>
		</tr>
		<tr>
			<td class="tab-first-col">Elizabeth Cassidy</td>
			<td class="tab-center-col">35</td>
			<td>Wife, married</td>
			<td>Salford, Lancashire</td>
			<td></td>
		</tr>
		<tr>
			<td class="tab-first-col">Joseph Cassidy</td>
			<td class="tab-center-col">9</td>
			<td>Son</td>
			<td>Newton Heath, Lancashire</td>
			<td>Scholar</td>
		</tr>
		<tr>
			<td class="tab-first-col">Mary Cassidy</td>
			<td class="tab-center-col">6</td>
			<td>Daughter</td>
			<td>Newton Heath, Lancashire</td>
			<td>Scholar</td>
		</tr>
		<tr>
			<td class="tab-first-col">Annie Cassidy</td>
			<td class="tab-center-col">4</td>
			<td>Daughter</td>
			<td>Newton Heath, Lancashire</td>
			<td></td>
		</tr>
		<tr>
			<td class="tab-first-col">Elizabeth Cassidy</td>
			<td class="tab-center-col">1</td>
			<td>Daughter</td>
			<td>Failsworth, Lancashire</td>
			<td></td>
		</tr>
		<tr>
			<td class="tab-first-col">Mary Turkey(?)</td>
			<td class="tab-center-col">14</td>
			<td>Niece, single</td>
			<td>Salford, Lancashire</td>
			<td>Back Tenter for Carder</td>
		</tr>
	</tbody>
</table>
</div>




<h6>31 March 1901 E&W census: James & Elizabeth Cassidy's family at 81, Brierley Street, Bury</h6>
<div class="table-responsive-md">
	<table 
	   class="table table-bordered table-link"
       title = "View original census page"
       onclick="viewImage('images/81 Brierley St Bury, James and Liz 1891.jpg');">
	   <thead>
		<tr>
			<th class="tab-first-col">Name</th>
			<th>Given age</th>
			<th>Relationship, marital status</th>
			<th>Place of birth</th>
			<th>Occupation</th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<td class="tab-first-col">James Cassidy</td>
			<td class="tab-center-col">45</td>
			<td>Head, married</td>
			<td>Ireland</td>
			<td>Railway Engine Driver</td>
		</tr>
		<tr>
			<td class="tab-first-col">Elizabeth Cassidy</td>
			<td class="tab-center-col">43</td>
			<td>Wife, married</td>
			<td>Salford, Lancashire</td>
			<td></td>
		</tr>
		<tr>
			<td class="tab-first-col">Mary Cassidy</td>
			<td class="tab-center-col">16</td>
			<td>Daughter, single</td>
			<td>Newton Heath, Lancashire</td>
			<td>Cotton Card Room Hand</td>
		</tr>
		<tr>
			<td class="tab-first-col">Annie Cassidy</td>
			<td class="tab-center-col">14</td>
			<td>Daughter, single</td>
			<td>Newton Heath, Lancashire</td>
			<td>Cotton Card Room Hand</td>
		</tr>
		<tr>
			<td class="tab-first-col">Elizabeth Cassidy</td>
			<td class="tab-center-col">11</td>
			<td>Daughter</td>
			<td>Failsworth, Lancashire</td>
			<td></td>
		</tr>
		<tr>
			<td class="tab-first-col">James Cassidy</td>
			<td class="tab-center-col">8</td>
			<td>Son</td>
			<td>Bury, Lancashire</td>
			<td></td>
		</tr>
	</tbody>
</table>
</div>



<h6>2 April 1911 E&W census: the widow Elizabeth Cassidy's family at 81, Brierley Street, Bury</h6>
<div class="table-responsive-md">
	<table 
	   class="table table-bordered table-link"
       title = "View original census page"
       onclick="viewImage('images/81 Brierley St Bury, Widow Liz 1911.jpg');">
	   <thead>
		<tr>
			<th class="tab-first-col">Name</th>
			<th>Given age</th>
			<th>Relationship, marital status</th>
			<th>Place of birth</th>
			<th>Occupation</th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<td class="tab-first-col">Elizabeth Cassidy</td>
			<td class="tab-center-col">54</td>
			<td>Head, widow</td>
			<td>Salford, Lancashire</td>
			<td></td>
		</tr>
		<tr>
			<td class="tab-first-col">Mary Cassidy</td>
			<td class="tab-center-col">26</td>
			<td>Daughter, single</td>
			<td>Failsworth, Lancashire</td>
			<td>Slabber, Card Room, Cotton Mill</td>
		</tr>
		<tr>
			<td class="tab-first-col">Annie Cassidy</td>
			<td class="tab-center-col">24</td>
			<td>Daughter, single</td>
			<td>Failsworth, Lancashire</td>
			<td>Rover, Card Room, Cotton Mill</td>
		</tr>
		<tr>
			<td class="tab-first-col">Elizabeth Cassidy</td>
			<td class="tab-center-col">21</td>
			<td>Daughter, single</td>
			<td>Failsworth, Lancashire</td>
			<td>Winder, Cotton Mill</td>
		</tr>
		<tr>
			<td class="tab-first-col">James E Cassidy</td>
			<td class="tab-center-col">18</td>
			<td>Son, single</td>
			<td>Bury, Lancashire</td>
			<td>Felt Hat Finisher</td>
		</tr>
	</tbody>
</table>
</div>

<p>Looking at the 1911 census return, you will see that Elizabeth originally reported that she had had six children, of whom five
survived. She then deleted this, presumably thinking that it was meant to apply only to married couples, not widows. Her lastborn
had in fact been Thomas, who was born in 1896, but died an infant in the same year. So her last surviving child was James
Edward, born in the same year as my grandfather Richard [II], 1892. Thus the Noonan siblings Mary Ann (1886), John Edward 
(1889) and Richard (1892) had five maternal Cassidy cousins as follows: Joseph (1881), Mary (1884), Annie (1886), Elizabeth 
(1889) and James (1892). As I was first drafting this, I was thinking as follows: given that the elder sister (Honoria) 
of Mary and Elizabeth Corcoran was writing letters to Richard [II] Noonan between 1905 and 1915, it seemed inconceivable 
that the Noonan siblings were unaware of their Cassidy cousins from Bury. Later, I found solid evidence that at least 
some of them were well aware.</p>

<p>The eldest of James' and Elizabeth's children, Joseph, left home at some point during the 1890s, and at 
   
   <span class = "span-link"
		 title = "view Joseph's 1901 census return"
	     onclick = "viewImage('images/Joseph Cassidy 1901 St Marys Rd Newton Heath.jpg');">the 1901 census</span>
		 
was to be found in lodgings back in Newton Heath again, at 1 St Marys Road. He was recorded as a single 21-year-old Railway
Stoker, born in Failsworth, and his lodgings were two doors down from the Railway Hotel. His father, James Cassidy (snr)
later died in the second quarter of 1906 in Bury, age recorded as 51.</p>

<p>During the first quarter of 1902, Joseph Cassidy registered a marriage with a Mary Higginbottom in the Prestwich district.
I have discovered two children, Frederick (b. 16/7/1903) and Mary Josephine (b. 4/2/1912), who we shall label "junior". 
They can be identified 

	<span class = "span-link"
		 title = "view Joseph's 1901 census return"
	     onclick = "viewImage('images/Joseph and Mary Cassidy 1911.jpg');">back in Bury at the 1911 census</span>
		 at 67 Horne Street, Fishpool, and 
	<span class = "span-link"
		 title = "view Joseph's 1939 Register return"
	     onclick = "viewImage('images/Joseph and Mary Cassidy 1939.jpg');">in the 1939 Register</span>
		 at 16 Wells Street, Bury. The latter document records that both children were still single in 1939, but that 
		 Mary later married into the Fallon family. They had a schoolboy, Mary's nephew Robert Higginbottom, staying with
		 them at the time.</p>
		 
<p>Our Frederick Cassidy seems to have married a Violet Brearley in Bury in 1942. There were two Cassidy children's births
registered in England with MMN Brearley between 1942 and 1962, Brian A Cassidy in 1944 in Bury and Nicholas D Cassidy
in 1955 in Littleborough (both locations in Lancashire). I think these are our third cousins.</p>

<p>Mary J Cassidy (junior) married Ralph Fallon in Bury in the third quarter of 1948. They seem to have had twins, Mary E and 
Nigel P Fallon, registered in Bury in the second quarter of 1957. Two more third cousins, and almost exactly my age.</p>

<p>Stepping back again to the previous generation, a Mary Cassidy (who would be "senior") married a George Berry in 
Bury in 1926 (although our Mary would by then have been over age 40). Sticking to the town of Bury, an Annie Cassidy 
married a Thomas Harrington, and an Elizabeth Cassidy married an Edward Feast, both in 1915. Finally, also in Bury, 
a James E Cassidy married an Amelie Duckworth in 1917.</p>

<p>A George and Mary Berry can be found in the 1939 Register living at an address in Leyland, Lancashire, with no other 
family members present. As one might expect with such a late marriage, there is no sign there were any children. Thomas 
and Annie Harrington seem to have had Austen J (1916, Bury), Mary (1919, Bury) and Margaret M (1925, 
Middlesborough), assuming they migrated to Yorkshire at some stage. And we could go on, and on, and on, and........</p>

<p>Following all the possible lines of descent, and quite possibly missing a child or two and/or a marriage or two,
I have constructed a family tree going down to my own generation suggesting that we (the descendants of Mary Corcoran)
 have at least 23 third cousins via Mary's sister Elizabeth.</p>
 
 <img src = "images/The third cousins diagram.jpg"
	width = "94%" 
	class ="img-fluid piccy-left mb-3"
	title = "Expand and view diagram"
	 onclick = "viewImage(this.src)">
 
 <p>We all have in common great x2 grandparents Patrick Corcoran and Margaret Ramsbottom, married in Stradbally, 
 Laois in 1838. We may even be descended from that 18th century Henry Ramsbottom involved in the distraining 
 of produce from the good Quaker brethren of Laois.</p>
 
 <p>The civil records suggest that the great-grandmother of these 23 third cousins, Elizabeth Cassidy (nee Corcoran), died
in the north Manchester district (so possibly at Crumpsall hospital), in the first quarter of 1939, aged 82, so a very good
innings. So she did not get a record in the 1939 Register compiled later that year, but we have found records for most of
her children and some of her grandchildren.</p>

<p>My dad would in early 1939 be approaching his seventeenth birthday, and nearly three years into his working career.
 I wonder if he attended the funeral. Elizabeth was, after all, his great-aunt. I feel sure that his parents Richard
 and Kate would have (if practicable), together with his uncle and aunt John Edward and Theresa.</p>

