<h4>Honoria of the Poor Clares</h4>

<p>When we had finally established the true identity of Sister Colette, for whom Aunt Cath held the Religious Notice of Death, 
and with whom her father Richard corresponded, Aunt Cath wrote to the Poor Clares seeking more information. She received a 
response from Sister M Bede, the archivist of the Poor Clares order in England, based near the city of Hereford.</p>


 
 <p>The Poor Clares monastery in Manchester was founded as an offshoot of the order in Bruges, Belgium on 19 July 1863. Previously, 
 the Belgian Poor Clares had founded English monasteries at Baddesley, Clinton, Staffordshire in 1850, and at Notting Hill in 
 London in 1858. I have been wondering what gave them the impetus to move into England, and why they chose those locations. The 
 Roman Catholic Relief Act, which almost entirely emancipated catholics throughout the United Kingdom, had been passed in 1829. 
 Cardinal John Newman had converted from high Anglicanism to Catholicism in 1845 - so I guess the move into England could 
 expect at least a decent following wind. More plausibly, the move could have been a response to the rapidly growing size of 
 the Irish Catholic population in the cities of England following the multiple catastrophes of the late 1940s in Ireland. This 
 might explain the London and Manchester locations (although not the choice of Notting Hill, as I imagine hardly an Irish 
 face would be seen there in 1850). As for Staffordshire, I can only think that it was connected with a common interest in 
 pottery - but there's no doubt some other factor of which I am blissfully unaware.</p>

<p>Honoria had been born in Dublin in 1842, almost certainly in the latter part of the year. She was brought with her family to
Salford between about 1853 and 1856, so was then very likely less than thirteen years old. We don't know what schooling she had 
had, but by census day 1861, living in Salford, she was recorded as being an 18-year-old Cotton Twist Winder in a mill. 
The Poor Clare records state that she entered the monastery aged 24 in 1866, making sense if it was near the year-end.</p> 

<p>I wonder what took her to Levenshulme. Had she harboured a secret vocation back in Dublin? The Corcoran's
local church in Salford was the Cathedral of St John the Evangelist on Chapel Street, and Levenshulme was some distance away. 
I can only think that the Belgian newcomers were invited to introduce themselves by the bishop, and one thing slowly led to 
another. Without intending to undermine Honoria's vocation in any way, I suspect that, in her place, I might be glad to take up 
any route on offer out of the cotton mill.</p>

<img src = "images/List of founding sisters.jpg"
	width = "350px" 
	class ="img-fluid piccy-left mb-3 mt-0"
	title = "Expand and view image"
	 onclick = "viewImage(this.src)">
	 
<p>The Poor Clare archive records show that the convent started at Fairfield, where Honoria was clothed on 28 June 1867. 
They then moved to Richmond Grove, which is where she formally Professed on 2 February 1869. The full name held in the 
archives is Sister Mary Colette Honoria Corcoran.</p>
	 
<p>Here is a list of the nine founding sisters of the Levenshulme convent, kindly supplied by Sister Bede in Hereford.
They divide into two categories, Choir Sisters and Lay (or Extern) Sisters. The five ringed in blue were still present at the 
1871 census, eight years later. The naming system seems interesting - every Poor Clare except the Abbess is actually 
a Mary, but the Abbess is a Francis (or sometimes Frances). The middle name is then nearly always some saint's name, 
irrespective of whether the saint was male or female. This was very confusing to start with as it appeared that 
some of the sisters were in fact brothers.</p>

<p>Although the information that Sr Bede was able to find gave us only the bare bones of Sr Colette's religious life, 
there is also a full set of five E&W census records from 1871 to 1911 inclusive showing the full Convent establishment 
every ten years.So the initial strength in 1863 was nine sisters, but by 1871, four had left or died and another nine had 
joined (including Honoria), bringing the numbers up to fourteen. </p>

<p class="cl-b"></p>

<div class="accordion1Wrapper">
<div class="accordion1Item ferme">
      <div class="accordion1ItemHeading text-center">Coletta: 1871: Richmond Grove</div>
      <div class="accordion1ItemContent text-center">
	  
    <p>In 1871, the Convent was still on Richmond Grove, which to us would be in Longsight. One end of the Grove was
    pretty well-to-do, the other end less so. The previous location at Fairfield House had been close by,
	but at the grander end. Honoria styled herself as Coletta in 1871, the name which Aunt Cath knew. The 
	"head" of the "household", Frances Tielen, was described as a "Superioress". Of the remaining thirteen nuns,
	the "relationship to the head" is given as "Choir Religious" in eight cases, and "Lay Sister" in the other five. The
	enumerator must have been totally flummoxed: in the "Occupation" column, he wrote "No Profession or Occupation"!
	</p>
	<span 
	class="span-link" 
	title="View Document"
	onclick = "viewImage('images/Poor Clares 1871.jpg');"><i><b>VIEW DOCUMENT</b></i></span>
      </div>
    </div>

    <div class="accordion1Item ferme">
      <div class="accordion1ItemHeading text-center">Anne: 1881: Alma Park</div>
      <div class="accordion1ItemContent text-center">
        <p>By 1881, the census enumerators were leaving the "Relationship to Head of Family" column well
	 alone - blank, in fact. In the "Occupation" column, Frances, who was still in charge, was described as an Abbess, 
	 and all the rest but one as "Religeuse of the Order PCC". The exception was Catharine Duffily from
	  Ireland who was described as "Mistress of the Poor School". Then they were all bracketed together, and the word
	  "Nuns" written large and diagonal across the top.
	</p>
	<span 
	class="span-link" 
	title="View Document"
	onclick = "viewImage('images/Poor Clares 1881.jpg');"><i><b>VIEW DOCUMENT</b></i></span>
      </div>
    </div>

    <div class="accordion1Item ferme">
      <div class="accordion1ItemHeading text-center">Anora: 1891: Alma Park</div>
      <div class="accordion1ItemContent text-center">
        <p>The 1891 census return is the most interesting, as it gives the individual working role of each sister, 
	so allowing us to build up a picture of their activities and functions. Frances Tielen
	had died in 1889, and Mary Sheridan from Ireland had taken over as Abbess. It looks as if she was brought in from 
	elsewhere to take up the role. By 1891, there was only one sister left who was born in continental
    Europe - Prudence Beurnes, the Belgian. The Convent had lost its original cosmopolitan flavour.
	</p>
	<span 
	class="span-link" 
	title="View Document"
	onclick = "viewImage('images/Poor Clares 1891.jpg');"><i><b>VIEW DOCUMENT</b></i></span>
      </div>
    </div>
	
	<div class="accordion1Item ferme">
      <div class="accordion1ItemHeading text-center">Honoria: 1901: Clare Road</div>
      <div class="accordion1ItemContent text-center">
        <p>Mary Sheridan was still in charge in 1901, but the census enumerators had reverted to their 1881 bad 
	practices: every sister's occupation was described as "Religious RC". I think the change of address was
	cosmetic (either that, or there had been an extremely local move). Clare Road seems to have been named
	after the Convent, and was within the original development which was known as "Alma Park".
	</p>
	<span 
	class="span-link" 
	title="View Document"
	onclick = "viewImage('images/Poor Clares 1901.jpg');"><i><b>VIEW DOCUMENT</b></i></span>
      </div>
    </div>

    <div class="accordion1Item ferme">
      <div class="accordion1ItemHeading text-center">Anne: 1911: Clare Road</div>
      <div class="accordion1ItemContent text-center">
        <p>By 1911, Mary Sheridan had stood down as Abbess, and Prudence Beurnes had taken over. The occupation of every
	sister was described as "household duties". Of those present at the 1871 census, only Honoria and the Extern 
	Sister Theresa Lever (from Bolton) remained, having accompanied each other on their vocational journey for over
	forty years. There were another four sisters, including Prudence, who had been alongside for at least thirty years.
	
	</p>
	<span 
	class="span-link" 
	title="View Document"
	onclick = "viewImage('images/Poor Clares 1911.jpg');"><i><b>VIEW DOCUMENT</b></i></span>
      </div>
    </div>

    	
</div>






<p>Ten years later in 1881, the strength had 
increased again to 22, then to 25 by 1891 and to 27 by 1901. It was a gradually expanding institution, and 
initially, it pretty cosmopolitan in its composition: in 1881, it included Belgian, French and Dutch nationals, plus
representatives from all four components of the UK. Subsequently, the continental numbers fell off, but
 the Belgians remained present until at least 1911.</p>
 
 <p>As in so many similar instances, the main function of the convent developed to be educational, and the 
 kinds of instruction being given to the girls who attended can be seen in the 1891 vensus. There is still
 a Catholic School at, or very near, the site of the convent on Clare Road, Levenshulme.</p>
 
 <p>The various locations of the convent caused multiple headaches. Even now, I am unsure whether there were
 three or four locations between the foundation and the 1911 census (although if there were four, the last two 
 were so close together as to be almost indistinguishable). This 
 
 <span 
	class="span-link" 
	title="View Map"
	onclick = "viewImage('images/SE Manchester locations.jpg');">map of SE Manchester</span>

gives an indication of the two main areas of interest: the first is in what we would now call Longsight 
and the second in Levenshulme. Earlier larger-scale maps give more interesting detail:</p>

<img src = "images/Poor Clares Longsight sites.jpg"
	width = "395px" 
	class ="img-fluid piccy-left mb-4 mt-0"
	title = "Expand and view map"
	 onclick = "viewImage(this.src)">
	 
<img src = "images/Poor Clares Levenshulme site.jpg"
	width = "395px" 
	class ="img-fluid piccy-right mb-3 mt-0"
	title = "Expand and view map"
	 onclick = "viewImage(this.src)">
		 
<p class="cl-b">Somehow, the way Sister Bede the archivist wrote of Sister Colette's Golden Jubilee gave the impression that 
it had been the single highlight of her career and the main purpose of her vocation. But I'm sure this was only
because the information on file was so low in any other detail. Anyway, that took place on 4 July, 1917,
and the Rev. William Sassen was the celebrant.</p>

<img src = "images/Colette Corcoran headstone.jpg"
	width = "300px" 
	class ="img-fluid cl-b piccy-right mb-3 mt-0"
	title = "Expand and view image"
	 onclick = "viewImage(this.src)">
	 
<p>Honoria died slightly over a year later on 9 October 1918, 33 days before WWI ended. I wonder who attended her funeral.
 Although Mary had long since died, her other sister Eliza and her brother Henry were still alive. Few if any
 nephews would have been able to attend, as they would still be away at war. But there were nieces: Mary Ann Noonan
  plus a number on the Cassidy side. Maybe there is a record hidden in the archives somewhere.</p>
  
  <p>The Clare Road site closed sometime in the 1970s, and I think was due for a major redevelopment, perhaps to
  build a more modern school (as that seems to be the land-use today). The Catholic authorities decided that the
  developers could not be allowed to build over the mortal remains of generations of its nuns. They were
  disinterred and transferred to Wardley Cemetery in west Manchester, mainly or wholly Catholic, in 1978. Sr Bede
  sent Cath an image of one of the new headstones at Wardley, on which Colette's name "tops the bill". The constant
   variations in name uses makes analysis difficult, but I feel sure that some of those recorded on the same stone
   could also be found amongst the census-lists as decades-long friends and colleagues.</p>

<p>It would be wonderful if someone had taken and preserved some images of the Clare Road site, including its
sisters, its gardens and its cemetery, before it closed. Presumably, Sister Bede is not aware of any which 
might still exist.</p>   
  
