<h4>What happened to Henry</h4>

<p>We last saw Henry in Newton Heath at the 1881 census. Aged about 40, he was living in his sister's and brother-in-law's 
household, together with his mother Margaret Corcoran. Although the census form was difficult to read, I believe that he 
was still single (in fact, I think he never married). It looked as if James Cassidy had found him a job on the railways, 
as a painter's assistant. But we think that Margaret died in 1883, and this - together with James' and Elizabeth's 
growing family - may have been the trigger for Henry to strike out on his own.</p>
 
 <p>By the time of the 1891 census, he had re-styled himself Harry Corcoran and seemed to be exerting some authority in 
 his life. Although the 1891 census return that I've found wrongly records his birthplace as Salford, this might have been
 an enumerator error or even a deliberate deception, possibly connected with his new profession. The age given is accurate, 
 as it is in the 1901 census when he again calls himself Harry, and records his birthplace accurately as Dublin.</p>
 
 <h6>5 April 1891 E&W census: Harry Corcoran, Local Bailiff, lodger at 30 Angel Street, Manchester</h6>
 <img src = "images/Henry Corcoran 1891.jpg"
	width = "600px" 
	class ="img-fluid piccy-left mb-3 mt-0"
	title = "Expand and view image"
	 onclick = "viewImage(this.src)">
 
 <p>In 1891, Henry's record came at the tail end of long list of boarders in a lodging house at 30 Angel Street in Manchester. 
 The house was headed by John M<sup>c</sup>Kay, a 27-year-old labourer from Scotland, and his wife Agnes from Plymouth. The
  record is split over two pages, but there were no fewer than sixteen boarders in total, all but two of which were male. 
  One of the women was married to a fellow-boarder, but all the others were single. Most of the boarders came from 
  in and around Manchester, but there were two from Ireland (or three if you correct Henry's own record), plus 
  one from Yorkshire.</p>

<p>Nine of the boarders were under age 20, one was 67, Henry was next at 51 (so nearly "Father of 
  the House"), and most of remainder in their 30s and 40s. Occupations were pretty varied, but Henry stood out, as he
  was employed as a "Local Bailiff" (any echoes of Henry Ramsbottom in 1740s Laois?). He was clearly described as single.</p>
  
  <h6 style="float:right; margin-right:3%;">
  2 April 1911 E&W census: Harry Corcoran, Lodging House Manager at 36 Byrom Street, Manchester</h6>
  <img src = "images/Henry Corcoran 1901.jpg"
	width = "600px" 
	class ="img-fluid piccy-right mb-3 mt-0"
	title = "Expand and view image"
	 onclick = "viewImage(this.src)">
    
  <p>By 1901 census day, Henry had taken a leaf out of John M<sup>c</sup>Kay's book, swapped the boot to the other foot 
  (as it were), and was himself a Lodging House Manager. The address was 36 Byrom Street, Manchester, and Henry's
   span of control was sixteen lodgers, all male and most middle-aged. Happily, he had a female assistant, in the
 person of Mary Parkin (age 51, status married), whose daughter, Nellie, age 10, was also present on census night.</p>
 
 <p>At some point during the 1880s, well into his forties, Henry had miraculously cut the apron-strings (or they
 had been cut by the grim reaper), and learned to stand on his own two feet.</p>

<p class="cl-b">In 1891, at age 50, he was lodging 
 amongst fifteen others (how wonder how many rooms there were), but earning his own living. By 1901 at age 60, he was
 running a lodging-house at about the same capacity. This means that he was probably in work, and in Manchester, in 1894 when
 his sister Mary died in Pendleton.</p>
 
 <p>I feel sure he attended the funeral, and James & Elizabeth Cassidy would certainly have come down from Bury if 
 at all possible. Surely Sister Colette was also given permission to come up from her convent in Levenshulme to
 say her farewells to her younger sister.  If so, it would have been two sisters and a brother burying a third sister,
 together with her widower and their three children (aged 8, 5 and 2, in round numbers). If you recall Mary Noonan
 (Corcoran) was the last to be interred in Grave C20-2447 at Weaste.</p>
 
 <p>But how much further could Henry progress his career, being already around age 60 in 1901? So far, we have no idea at
  all, because the only later record we can find for him is of his death on 28/2/1922. Although some of 
  the records of his death and burial are held in books prepared for use by the Manchester Poor Law Union, 
  we can find no record at all of Henry (or Harry) being admitted to any Manchester workhouse. What's worse, 
  searches of the 1911 census have been fruitless. We simply don't know what became of Henry between April 1901
  and February 1922 when he died, over 80 years old.</p>
  
  <p>Here are the records of his death and funeral (which took place three days later on 3 March):</p>
  
  <img src = "images/Henry Corcoran death 28021922.jpg"
	width = "395px" 
	class ="img-fluid piccy-left mb-3"
	title = "Expand and view image"
	 onclick = "viewImage(this.src)">
  
 <img src = "images/Henry Corcoran burial 03031922.jpg"
	width = "395px" 
	class ="img-fluid piccy-right mb-3"
	title = "Expand and view image"
	 onclick = "viewImage(this.src)"> 
  
  <p class="cl-b">The rather wonderful information contained in the burial record is that two nieces turned up to pay 
  their respects at the interment. One is clearly Mary Ann Noonan, Henry being her late mother's older brother, residing 
  at at 9 Gerald Street, Pendleton (not far from the two Littleton Road hoseholds). The other is definitely a Cassidy
  niece and resided at 81 Brierley Street, Fishpool (so Bury). By 1922, all except one of the Cassidy children had 
  married and surely left home, so this is almost certainly Mary Cassidy, who was almost the same age as Mary Ann 
  Noonan. Perhaps the manuscript reads "Miss Cassidy". So the two families were not only aware of each others, but 
  maintained relationships and exchanged support.</p>
  
  <p>Mary Corcoran was long dead in 1922, and Sister Colette had died in 1918. It looks as if for some reason, Henry's
   remaining sibling, Elizabeth Cassidy, didn't attend her brother's funeral - perhaps she was ill, or maybe the 
   relationship had been so difficult the grief would have been too much. But at least she sent her daughter. As an 
   afterthought, it occurs that since Mary Ann Noonan attended Henry's funeral, it's almost certain that John Edward, 
   Theresa, Richard and Kate Noonan were aware of his death. Kate (Grandma) Noonan would at that time have been 
   pregnant with my dad.</p>
  
 
 