{% extends "layout.njk" %}

{% block title %}
5. The Corcorans and Ramsbottoms 
{% endblock %}

{% block main %}

{% include "chapter5/1-dublin_to_salford.njk" %}
{% include "chapter5/2-stradbally_roots.njk" %}

{% endblock %}