<h4>A Sole Survivor</h4>

<p>If you remember, the earliest sighting we have had so far of Kate Burgin was in the 
<span class = "span-link"
      title = "view census page"
      onclick = "viewImage('images/Burgin 1911 census.jpg');">1911 census return</span>, living with her parents
    Rose Ann and Joseph at 1 Ryland Street, on the corner of Greengate. In the normal course of genealogical research, we would obviously
    next search for the family at the previous census in 1901. But there is not a sign of them, in Salford or anywhere else in England, whether
    all together, individually or in any of the three possible combinations of twosomes. As there are other clear indications that Rose and
    Joseph were in fact in Salford in the years immediately preceding and following 1901, I am beginning to think that the census missed a
    dwelling place, or that the relevant page has somehow become separated from the rest of the census returns.</p>

<p>As Joseph and Rose Ann's marriage post-dated the 1891 census, the family will not be found at any other census. But
    even searching for Rose Ann and Joseph separately at the 1891 census in Manchester or Salford, we hit huge problems. Let's start with
    what we have found. Rose Ann Dolan and Joseph Burgin were married at St Peter's Greengate on 2 January 1892, and the record can be found
    in the church register books which are held at the county archives in Preston. </p>

<h6>Catholic church record of Joseph and Rose Ann's marriage, 1892</h6>
<div class="table-responsive-md">
	<table class="table table-bordered">
    <caption><i>Names have been rendered from Latin to English where necessary</i></caption>
	<thead>
    <tr>
        <th class="tab-first-col"></th>
        <th>Name</th>
        <th>Residence</th>
        <th>Parents</th>
        <th>Witnesses</th>
    </tr>
	</thead>
	<tbody>
    <tr>
        <td class="tab-first-col">Groom</td>
        <td>Joseph</td>
        <td>Salford</td>
        <td>Francis and Elizabeth Burgon</td>
        <td style="border-bottom:none;">Mary Jane and</td>
    </tr>
    <tr>
        <td class="tab-first-col">Bride</td>
        <td>Rose Ann</td>
        <td>Salford</td>
        <td>John and Mary Dolan</td>
        <td style="border-top:none;">Thomas Dolan</td>
    </tr>
	</tbody>
</table>
</div>
<p>The 1911 census form shows that Catherine, the first child, was the only one of Joseph and Rose Ann's five
    who survived until the census date. I have found birth records for all five, baptism records for three of these (all at
    St John the Evangelist), and funeral records for all four who died.</p>

<h6>Catholic church records for Joseph and Rose Ann's children, 1892 - 1902*</h6>
<div class="table-responsive-md">
	<table class="table table-bordered">
    <caption><i>* All names have been rendered from Latin to English where necessary</i></caption>
	<thead>
    <tr>
        <th class="tab-first-col">Name</th>
        <th>Birth</th>
        <th>Register</th>
        <th>Baptism</th>
        <th>Abode @ baptism</th>
        <th>Sponsor1</th>
        <th>Sponsor2</th>
        <th>Death</th>
    </tr>
	</thead>
	<tbody>
    <tr>
        <td class="tab-first-col">Catherine</td>
        <td>15 Oct 1892</td>
        <td>Q4 1892</td>
        <td>18 Nov 1892</td>
        <td>2 Crosley St, off Brewery St</td>
        <td>Mary Murphy</td>
        <td></td>
        <td></td>

    </tr>
    <tr>
        <td class="tab-first-col">Elizabeth</td>
        <td></td>
        <td>Q1 1895</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>21 Nov 1896</td>

    </tr>
    <tr>
        <td class="tab-first-col">John</td>
        <td></td>
        <td>Q4 1896</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>24 Sep 1900</td>

    </tr>
    <tr>
        <td class="tab-first-col">Joseph</td>
        <td>5 May 1899</td>
        <td>Q3 1899</td>
        <td>13 Aug 1899</td>
        <td>31 Methvin St, Adelphi</td>
        <td>Sara Murphy</td>
        <td></td>
        <td>18 Oct 1900</td>

    </tr>
    <tr>
        <td class="tab-first-col">William</td>
        <td>12 Aug 1902</td>
        <td>Q4 1902</td>
        <td>29 Aug 1902</td>
        <td>42 Canon St</td>
        <td>Robert Nicolson</td>
        <td>Mary Coulon</td>
        <td>10 Aug 1904</td>
    </tr>
	<tbody>
</table>
</div>

<p>These child deaths are not perinatal. If you look at the sequence of events, John, the third child, is born just before or just after
    Elizabeth dies, probably just short of her second birthday. For over twelve months, from mid-1899 (when Joseph is born) to Autumn 1900, there are three
    children alive. Then two of them are snatched in very short order, one aged about four, the other nearly 18 months, leaving only Catherine again.
    Was there an epidemic that year? Finally, William's life runs from August 1902 to August 1904, before Catherine is alone again.</p>