<h4>Joseph not a Burgin? The Donohoes and the Murphys</h4>
<p>There is a pretty reliable sighting of Joseph Burgin in 1881, when the 
<span class = "span-link"
        title = "view original census return"
        onclick = "viewImage('images/Joseph Bergan 1881 census extract manchester.jpg');">census return</span>
    shows him lodging at 1 Buckingham Street in Manchester. I am very confident that this is the same Joseph Burgin that we see thirty
    years later in the 1911 census married to Rose Ann. His implied year of birth is identical, his occupation is identical (the very
    specialised calenderer, or cloth finisher), and his place of birth is identical. Remarkably, there is only a single letter difference
    in the spelling of the surname, for which I have seen upwards of five different variants. Some believe the name is derived
    from the French Bourgogne - would this involve the dukes of Burgundy, I ask, and could they have somehow been associated with the
    Normans? The story goes that in Ireland, their mixed descendants morphed (maybe with an intermediate Gaelic phase) into Bergans, Burgons,
    etc etc etc, whilst in England, the spelling stayed closer to the original French, such as Burgoyne. But I digress.</p>

<p>Joseph is also readily identified at the 1871 census, this time with some parents present. I don't know whether 2 April 1871 was
    a typical evening in that household, but the large number and varied mix of people present is interesting enough for me to reproduce
    all that was recorded.</p>

<h6>2 April 1871 E&W census: the Burgin household at 29 Great Horrocks, Manchester</h6>
<div class="table-responsive-md">
	<table class="table table-bordered table-link"
       title = "View original census page"
       onclick="viewImage('images/1871 Fanton Burgan household.jpg');">
	   <thead>
    <tr>
        <th class="tab-first-col">Name</th>
        <th>Given age</th>
        <th>Relationship, marital status</th>
        <th>Place of birth</th>
        <th>Occupation</th>
    </tr>
	</thead>
	<tbody>
    <tr>
        <td class="tab-first-col">Fanton Burgin</td>
        <td class="tab-center-col">60</td>
        <td>Head, married</td>
        <td>Ireland</td>
        <td>Dyer</td>
    </tr>
    <tr>
        <td class="tab-first-col">Eliza Burgin</td>
        <td class="tab-center-col">52</td>
        <td>Wife, married</td>
        <td>Ireland</td>
        <td>Housewife</td>
    </tr>
    <tr>
        <td class="tab-first-col">Joseph Burgin</td>
        <td class="tab-center-col">16</td>
        <td>Son, single</td>
        <td>Manchester</td>
        <td>Poulterer's assistant</td>
    </tr>
    <tr>
        <td class="tab-first-col">John Nield</td>
        <td class="tab-center-col">58</td>
        <td>Boarder, married</td>
        <td>Ireland</td>
        <td>Scavenger</td>
    </tr>
    <tr>
        <td class="tab-first-col">Catherine Walker</td>
        <td class="tab-center-col">70</td>
        <td>Lodger, widow</td>
        <td>Ireland</td>
        <td>Hawker</td>
    </tr>
    <tr>
        <td class="tab-first-col">Joseph Whitehead</td>
        <td class="tab-center-col">28</td>
        <td>Lodger, single</td>
        <td>Manchester</td>
        <td>Dyer</td>
    </tr>
    <tr>
        <td class="tab-first-col">Samuel Coe</td>
        <td class="tab-center-col">58</td>
        <td>Widower</td>
        <td>Manchester</td>
        <td>Labourer</td>
    </tr>
    <tr>
        <td class="tab-first-col">James Lyons</td>
        <td class="tab-center-col">18</td>
        <td>Single</td>
        <td>London</td>
        <td>Poulterer's assistant</td>
    </tr>
    <tr>
        <td class="tab-first-col">Thomas Seagrave</td>
        <td class="tab-center-col">28</td>
        <td>Visitor</td>
        <td>Ireland</td>
        <td>Tanner</td>
    </tr>
    <tr>
        <td class="tab-first-col">Phillip Ward</td>
        <td class="tab-center-col">18</td>
        <td></td>
        <td>Ireland</td>
        <td>Labourer</td>
    </tr>
    <tr>
        <td class="tab-first-col">Lawrence Seagrave</td>
        <td class="tab-center-col">25</td>
        <td></td>
        <td>Ireland</td>
        <td>Parchment maker</td>
    </tr>
	</tbody>
</table>
</div>
<p>Once again, there can be hardly any doubt that this is the correct Joseph Burgin. There is a one year 
difference in
    year of birth, but the name is spot on, as is the place of birth. His father's occupation is closely related to the one he will take up later.
    As for his own occupation, he might have been assisting a chicken-rearer and vendor - that is the only dictionary definition I can find.
    But note that there are two young men present with that occupation, and two dyers, and think of the word "poultice" and its connotations. I
    wouldn't be at all surprised if poultering was a process in the cloth production industry of the time.</p>

<p>But there is an apparent discrepancy in Joseph's father's name - are these really his parents? Comparing with Joseph 
	and Rose Ann's marriage record, Fanton had somehow to become Francis. More accurately, in the Latin used for the 
	marriage record, Fanton and Eliza became Francisci and Elisabethae. I think either Joseph became embarrassed 
	and confused over his father's unusual name, or the priest (who became exasperated tryinI think was Dutch or Belgian) 
	trying to translate it (or both). Fenton is occasionally used as a given name, but mostly in England. Fanton is so 
	unusual that it sounds like a familiar contraction of Frank Anthony, or something like that.  Nevertheless I have 
	a strong feeling that this is the correct couple. My sister Fran later discovered that Fintan is a "bona fide" 
	Irish Christian name, derived from the Gaelic, and - as generally required - associated with an officially sanctified 
	saint. "Fenton" wouldn't be a bad stab at a transcription for an English census enumerator who, like me, had 
	never heard the name Fintan before.</p>

<p>Looking at the 1871 census return, the natural conclusion to draw would be that Fanton and Eliza arrived in England from Ireland prior to the
    mid-1850s, when they had Joseph together. But we would need to keep an open mind on whether they married in Ireland or in England, and on
    whether Joseph had any older siblings. Either way, we would expect to find the family present in England - probably in the Manchester area -
    at the 1861 census. But we find that there is no sign whatsoever of a Fanton Burgin - or anyone close - at the 1861 census.</p>

<h6>Fanton and Eliza married in 1865</h6>
<p>Fanton and Eliza are a little on the old side to have a sixteen year-old boy, which made me consider the 
	possibility that they married slightly late in life. But I was amazed when I discovered how late. There is a civil record of a 
	marriage between a Fenton Bergen and an Eliza Donoghoe in the fourth quarter of 1865 in the Chorlton registration district 
	(the southern edge of central Manchester to you and me). They would have been about 54 and 46 years old, respectively, at 
	the time. To my mind, this must be the same couple, but the question is whether Donoghoe is a married or a maiden name. So 
	far, we had been unable to locate any record of the birth of Joseph Burgin in the 1850s in Lancashire, but perhaps now we had
	the key to this riddle.</p>

<h6>Joseph born a Donoghoe in 1854</h6>
<p>Sure enough, there is a civil record of the birth of a Joseph Donohoe, registered in Manchester in the 
	fourth quarter of 1854, mother's maiden name Murphy. So it looks very much as if Joseph Burgin was in fact the son of Eliza 
	Murphy and some Mr Donoghoe, in which case the name Burgin would have been adopted when Eliza re-married in 1865. Joseph was 
	then ten or eleven years old, so would have been aware that he was a Donoghoe, but acquiring a new step-father. The year of 
	birth is close enough to the years implied by the 1871, 1881 and 1911 census returns to be entirely credible. Our case was not 
	yet proven but looked reasonably strong.</p>
	
<p> Later we obtained a copy of <span class = "span-link"
        title = "view certificate"
        onclick = "viewImage('images/Joseph_Donohoe Birth_Cert 1854.jpg');">Joseph Donohoe's birth certificate</span>, and if
		only his mother's Christian name had been given as Eliza, or some equivalent, and not Margaret, I would have felt
		that the case had been clinched. In every other respect, the analysis hangs together. But I got this certificate very
		late in the day, after my FindMyPast subscription had lapsed. So here is a major loose end, which I am leaving
		hanging loose. If I still had the subscription, I would have searched for Margaret Donohoe in the 1861 census, 
		and for a marriage of a Margaret Murphy to a John Donohoe, on either side of the Irish sea. I could also have
		localised census searches to central Manchester where Joseph was born. Despite this, it's not at 
		all impossible that Eliza sometimes used the alternative name of Margaret.</p>

<p>But without having seen Joseph's birth certificate, my next steps were to find the Murphy-Donoghoe marriage, establish
 the full identity of Joseph's blood-father, and then 
    find the Donoghoe family in the 1861 census. Of course, this simple-sounding plan conveniently side-steps a built-in 
	problem which underlies the whole of this narrative, as it cannot convey the thoroughness - or otherwise - 
	with which searches for events that have never been found were undertaken. I've used wild-cards, variant spellings, 
	adjustments of the search time windows and variation of search areas (such as switching between Salford and 
	Manchester, expanding to the whole of Lancashire - and occasionally to England, or Ireland). But if the event
	being sought never happened, or wasn't recorded, or if the record is lost, or was never digitised, the degree 
	of "search-diligence" is hardly relevant.</p>

<p>In the current instance, my first failure was to find a birth of a Joseph Burgin in or near Manchester between 1850 and 1860. 
   Then there was no sign at all of a marriage between Fanton Burgin and any Eliza prior to that birth, including Irish marriages.
   Finally, I could not find any marriage between an Eliza Murphy and a Donohoe in England in the decade prior to 1855. 
   But I did find one in Ireland.</p>

<img src = "images/John Donohoe - Eliza Murphy Dublin 1853.jpg"
     style ="width: 400px" 
     class = "piccy-right img-fluid mb-3"
     title = "expand and zoom image"
     onclick = "viewImage('images/John Donohoe - Eliza Murphy Dublin 1853.jpg');">

<h6>John Donohoe and Eliza Murphy married in Dublin</h6>
<p>John Donohoe was married to Eliza Murphy in St Nicholas (Without), Francis Street, Dublin on 12 January 1853.
    The witnesses were Daniele  Kavanagh and Catharina King, these being the only clues - unusable so far - that 
	the record gives as to the bride and groom's origins.</p>
	
	<p>I would expect a Murphy to have a background in Cork, or at least Munster, but that could have been generations 
	back. If we have the right Eliza here, she would have been about 34 in 1853 (from the Manchester 1871 census return),
	which is quite late for a typical marriage in the catholic community in the Ireland of those times. I wonder whether
	there could have been a previous family - in fact, it is possible that Murphy is a married, not a maiden name, 
	in which case there may have been no link to Cork at all. The numbers of second marriages must have increased in the
	aftermath of the Great Hunger, as the number of premature deaths of spouses increased. At this point, there seems 
	little likelihood of tracing either of these two individuals back further given the paucity of information on them.</p>

<p> My imagination baulks when I think of what the conditions in Dublin must have been in the early 1850s - there had 
    been hundreds of thousands of deaths, the countryside was still emptying into the cities, and the cities were 
	emptying to the rest of the world. Dublin would have been full of desperate people, many of them hoping to be 
	"just passing through". It is possible that John and Eliza married with the explicit plan of "getting out of there" 
	together.</p>

<p>And get out they did. Because by the fourth quarter of 1854, they were registering the birth of their child Joseph 
    with the local authorities in Manchester, England. From that time, we would hope they'd be able to settle in the 
	Manchester area, perhaps grow  their family, and we would then be able to find their household in the 1861 E&W census.</p>

	<p>But no - from what we already know, John Donoghoe must have died by 1865, when Eliza married Fanton. What we 
	don't know is whether he died before or after the 1861 census, and whether they had had any more children by then. 
	The fact that Eliza brought only one child into her marriage with Fanton suggests there were no more children who 
	survived, at least. And as we think she was about age 35 when she had Joseph, it wouldn't be surprising if he 
	was her last.</p>

<p>We have no idea of John Donoghoe's date of birth, except that in 1853, his age must have fallen within an 
  "acceptable range" for marrying a woman of about 34. This compounds the difficulty of identifying 
  the record of his death. But there are numerous "candidates" for his death in the civil records for the 
  Manchester area from 1855 to 1865, so I think we simply have to accept that one of these is our John's death.
  Which leaves us with the 1861 census - we simply cannot find a family headed by a John Donoghoe and including 
  an Eliza and a Joseph both of the right age. Nor can we find John living with either one of them separately. 
  But if we search the 1861 census for a Joseph Donohoe born around 1855, we get a hit - although not of the type 
  we would hope for.</p>

<img src = "images/SUWH_1.jpg"
     style ="width: 400px; border: 2px solid sienna;float: left;margin-bottom: 0px; margin-right:20px;"
	 class = "piccy-left img-fluid mb-3"
     title = "expand and view image"
     onclick = "viewImage('images/SUWH_1.jpg');">

<p class="mb-0">Here are two J Donohoes, a widow aged 28 together with her seven year-old son. On census day, 7 
	April 1861, they are inmates in Salford Union Workhouse. Could this be our Eliza and young Joseph? 
	In favour of this supposition:</p>
 
<ul class="bullet-list">
    <li>we can't find them anywhere else</li>
    <li>the surname is correct</li>
    <li>John's age and initial are accurate</li>
    <li>his mother is a widow</li>
    <li>maybe she had no alternative but the workhouse after John died</li>
</ul>
<p class="mb-0">On the other hand:</p>

<ul class="bullet-list">
    <li>Eliza's initial is wrong</li>
    <li>her given age is far too young</li>
</ul>


<p>I don't know whether poor old Eliza and Joseph, who would be my great-great-grandmother and great-grandfather, really 
	did have to suffer the workhouse experience or not. I've simply set out what we've discovered so far. But it does seem 
	absolutely clear that Fanton Burgin married Eliza Donohoe ten years after Joseph was born, and the records do show the birth
	of a Joseph Donohoe (mother's "maiden" name Murphy) at the time and in the place that we failed to find a birth in the name 
	of Joseph Burgin. And a John Donohoe did marry an Eliza Murphy in Dublin less than two years previously. Personally, I find
	all that fairly convincing. Before we move on though, for those who have a morbid interest in the workhouse, here is
    a little flavour from the <span class = "span-link"
                                    title = "view documents"
                                    onclick = "viewImage('images/SUWH2-5.jpg');">header pages of the 
									institutional return</span>,
    run by the surely redoubtable couple Thomas and Hannah Bebbington. Incidentally, this was the institution on Regent Road, a
    little south of the cattle market, and not far from where Elizabeth Corcoran would later live prior to her marriage in 1880,
    or from where James and Hannah Noonan lived in early 1901.</p>

<p>Before we turn to the Dolans, there are a couple of loose ends to consider - I don't say tie up, as we've rarely been able to
    form any kind of finished knot at the end of any string. What became of Fanton and Eliza Burgin after 1871? Whilst not proven, it
    looks very much as if Eliza died in the third quarter of 1873. The age given was 47, which would have her born around 1826, rather than
    around 1819 as implied by the 1871 census. But death records have proved to be notoriously inaccurate as to age. No other deaths
    in Manchester, Salford or nearby from 1871 to 1911 look at all like hers.</p>

<p>If that is correct, Eliza's marriage to Fanton - and Joseph's experience as a stepson - lasted only eight years. It looks as if Fanton
    was about 55 when he married Eliza, and it might be difficult even for the most child-friendly of men to form a good relationship with
    a ten year-old at that age. I do think Fanton helped Joseph find a trade, however, and it looks as if he relied on it for the rest of his
    life. But Joseph would have been about nineteen when his mother died, and he probably couldn't wait to flee the nest. Especially if he
    regularly had to compete for attention with a miscellany of around ten other visitors, lodgers and miscellaneous!</p>

<p>As for Fanton himself, it appears that he found some people to care for him during at least part of his latter years, these being 
	"The Little Sisters of the Poor" in their "Home for Aged People" on Culcheth Lane in Newton Heath. I wonder whether Joseph 
	ever visited him there. This institution was still marked on street-maps in the 1930s, and was very close to where Peter Reid
	began his industrial career in Manchester, and to Failsworth, where James and Elizabeth Cassidy moved together with Margaret 
	Corcoran after their marriage in 1880. Our promising candidate appears with other elderly inmates on the relevant 
	<span class = "span-link" 
		  title = "view census page" 
		  onclick = "viewImage('images/Fenton Bargan 1881 old peoples home.jpg');">
		  page of the 1881 census return</span>.</p>

<p> After 1881, Fanton seems to evaporate from the records entirely. Not only does he fail to appear in any subsequent censuses 
   (quite reasonable for a 73 year-old), but he also shows no sign of having died, ever or anywhere (rather more spooky). 
   In the 1930s, All Saints cemetery was just around the corner from the Home for the Aged on Culcheth Lane. I wonder if it 
   is still there, and contains any memorial of Fanton Burgin.</p>

<p>In the event, it has turned out that the Burgin branch has been the hardest of all the branches to trace back. This section 
	reflects some really last minute progress, but it remains too tentative for my liking, as we have so far not found any of 
	those tiny, but so valuable, links between the beginning and end of the chain of descent. But hope springs eternal, and 
	never having been able to resist clutching at any visible straw, I noticed that two of the godparents of Joseph and Rose 
	Ann's children were named Murphy, just as Eliza had been many years before. Could they be related somehow? This led me on 
	to what I must call "<a href="dig3b" title = "Take the digression">The Bangladesh Digression</a>". And although I didn't 
	prove there was a family link, I didn't prove there wasn't either.</p>
