<h4>The Dolans - John and Mary's family</h4>

<p>We've already seen a possible but doubtful 1891 census record for Rose Ann Dolan, under the name of Devlin. But there is a contrastingly
    solid <span class = "span-link"
                title = "view census page"
                onclick = "viewImage('images/Rose Ann Dolan 1881 census.jpg');">record from the 1881 census</span>.
    Rose Ann is staying in a boarding house at 39 Bridgewater Street in the Greengate district. Her age is given as 21 and she is a tenter
    in a cotton mill. Thomas Dolan, age 15, who turns out to be her younger brother, is staying there too, working as an errand boy, but more
    on him later. We know from Rose Ann's marriage record that her parents were John and Mary Dolan, and there is a church record of their
    marriage at St John the Evangelist on 30 October 1858.</p>

<h6>Catholic church record of John Dolan and Mary Connelly's marriage, 1858</h6>
<div class="table-responsive-md">
	<table class="table table-bordered">
    <caption><i>Names have been rendered from Latin to English where necessary</i></caption>
	<thead>
    <tr>
        <th class="tab-first-col"></th>
        <th>Name</th>
        <th>Residence</th>
        <th>Parents</th>
        <th>Witness</th>
        <th>Witness residence</th>
    </tr>
	</thead>
	<tbody>
    <tr>
        <td class="tab-first-col">Groom</td>
        <td>John</td>
        <td>Salford</td>
        <td>Patrick and Rose Ann Dolan</td>
        <td>William Cantwell</td>
        <td>Salford</td>
    </tr>
    <tr>
        <td class="tab-first-col">Bride</td>
        <td>Mary</td>
        <td>Salford</td>
        <td>Richard and Mary Connelly</td>
        <td>Catherine Haggarty</td>
        <td>Manchester</td>
    </tr>
	</tbody>
</table>
</div>
<p>As far as we can tell, John and Mary had seven children (including a pair of twins), but all except Rose Ann (the first)
    and Thomas (the third) died within a couple of months of birth. We have baptism records for all seven. Rose Ann 
	was born on 13 October 1859 and baptised three days later at St John the Evangelist. Her godparents were the two 
	people who had witnessed her parents' marriage a year before. The address given was 3 Greengate, so she was born
    a few doors down the same street on which we found her over sixty years later, at dad's birthday in August 1922, as 
	he related in Down the Arches.	It's no wonder that dad described her behaviour as somewhat eccentric after they 
	shipped her out of Greengate to Upper Kersal around 1920.</p>

<p>On census day in 1861, the young family was still living in Salford, at 2 Elton's Court in Trinity Ward. Although I couldn't find this address
    on any historical map, two short scrolls backwards and forwards through the census returns shows that they were living just south of Greengate,
    somewhere near the Ragged School, Garden Lane and Rolla Street. Their <span class = "span-link"
             title = "view 1861 census page"
             onclick = "viewImage('images/1861 E_W census john and mary dolan household.jpg');">
			 census return</span> 
			 
	shows John and Mary, aged 22 and 23 and born in Ireland, with their one year-old daughter Ann, born in Salford, and Ann Smith, an 82 
	year-old widow from Ireland, staying as a lodger. The missing forename "Rose" and the ages at first roused a suspicion that this was 
	the wrong family, but in the end, the location persuaded me that it was probably right. John is recorded as a "factory grinder". 
	More on the detail later.</p>

<p>Some time between April 1861 and June 1863, the family crossed the Irwell to settle in Manchester. This sounds quite grandiose in words, but
    the walking time might have been only about 30 minutes. It also means that Rose Ann was (temporarily) extracted from her Greengate roots
    before reaching age 5, but she returned some time between age 12 and 22, because in 1881 she was living on Bridgewater Street. From mid-1863,
    all John and Mary's children were born in Manchester (rather than Salford), and baptised at St Joseph's, Ancoats. All except Thomas seem to
    have died extremely young, although for this we have had had to rely only on civil death records, which give the minimum of detail and a wide
    three-month window for the date of death.</p>

<h6>St Joseph's Catholic church records for John and Mary Dolan's children, 1863 - 1870*</h6>
<div class="table-responsive-md">
	<table class="table table-bordered">
    <caption><i>* All names have been rendered from Latin to English where necessary</i></caption>
	<thead>
    <tr>
        <th class="tab-first-col">Name</th>
        <th>Birth</th>
        <th>Registration</th>
        <th>Baptism</th>
        <th>Godparent1</th>
        <th>Godparent2</th>
        <th>Death</th>
    </tr>
	</thead>
	<tbody>
    <tr>
        <td class="tab-first-col">Richard Patrick</td>
        <td>17/6/1863</td>
        <td>Q3 1863</td>
        <td>21/6/1863</td>
        <td>Patrick Connell</td>
        <td>Mary Cadaghan</td>
        <td>Q3 1863</td>

    </tr>
    <tr>
        <td class="tab-first-col">Thomas</td>
        <td>29/10/1865</td>
        <td>Q4 1865</td>
        <td>29/10/1865</td>
        <td>Michael Connell</td>
        <td>Mary Moran</td>
        <td><i>SURVIVOR</i></td>

    </tr>
    <tr>
        <td class="tab-first-col">John (<i>twin</i>)</td>
        <td>1/2/1868</td>
        <td>Q1 1868</td>
        <td>2/2/1868</td>
        <td>Robert Anney</td>
        <td>Catherine Anney</td>
        <td>Q1 1868</td>


    </tr>
    <tr>
        <td class="tab-first-col">Joseph (<i>twin</i>)</td>
        <td>1/2/1868</td>
        <td>Q1 1868</td>
        <td>2/2/1868</td>
        <td>James Lynch</td>
        <td>Julia Sherrock</td>
        <td>Q1 1868</td>

    </tr>
    <tr>
        <td class="tab-first-col">John Joseph</td>
        <td>9/3/1869</td>
        <td>Q1 1869</td>
        <td>21/3/1869</td>
        <td>Martin Nohely</td>
        <td>Anne Murphy</td>
        <td>Q1 1869</td>

    </tr>
    <tr>
        <td class="tab-first-col">Mary</td>
        <td>26/8/1870</td>
        <td>Q3 1870</td>
        <td>18/9/1870</td>
        <td>Martin Nogaly</td>
        <td>Elizabeth Watson</td>
        <td>Q4 1870</td>

    </tr>
	</tbody>
</table>
</div>

<p>You can see that the baptisms frequently followed on very soon after the births, typically a sign of a fear that the baby might die any day unbaptised.
    Also, in all but one case, the quarter of death includes the birth date, implying that the baby lived for less than three months. Here was a
    couple going through great pains to produce a large family and failing at nearly every turn. Our best candidate for the identity of the mother, Mary
    Connell(y), was baptised in 1834 in Limerick City and had a brother Patrick baptised in 1841 (see below). I've looked at the Patrick Connell(y)s living in
    Manchester and Salford in the 1861 and 1871 censuses, and at those involved in some way in Roman Catholic marriages and baptisms in the area around those
    times, but I am so far unable to find any family connection with Mary.  I have no idea whether Michael Connell was any relation to Mary, but I found
    no brother called Michael in my Irish searches. There's definitely still scope for more investigation of Mary Connell's siblings on both sides of
    the Irish sea.</p>

<p>We find <span class = "span-link"
            title = "view 1871 census page"
            onclick = "viewImage('images/40 Thompson St Cellar 1871 JandM Dolan.jpg');">
			another record of the Dolan family</span>,
    this time in central Manchester, at the 1871 census. They were lodging at 40, Thompson Street Cellar. I hope the cellar is no longer a dwelling, but
    the street still exists, in Ancoats, joining Oldham Road to Rochdale Road. Rose Ann (this time with both forenames supplied) is recorded as an
    eleven year-old scholar, born in Salford, and Thomas, age five, as born in Manchester. So far so good, although given that dad suggested that
    Rose Ann was unable to write her name, any schooling was short-lived and/or ineffective. John is now recorded as a "factory operative", and,
    over ten years, John and Mary's ages had remarkably increased by eighteen and seventeen years respectively. This led me to wonder whether we
    had the wrong family, either in 1861, 1871 or both. But the locations, birthplaces, birthdates of children and baptism records all support
    our interpretation.</p>

<p>There is something about the way John's occupation is described in the two censuses that brings my imagination back to those discussions with the
    census enumerators on the doorstep. "<i style="font-family: Georgia;  color: DarkSlateGrey;">And what is your occupation, sir?",
        "Oi'm down the fackory", "So what do you do there?", "Some grinding", </i>, or whatever, "<i style="font-family: Georgia;  color: DarkSlateGrey;">
        I'll put down 'operative', then. How old are you both?</i>". And then confusion, because it is not at all inconceivable that, from the backgrounds
    that they didn't choose, and with all the chaos	they had to live through, neither John nor Mary ever learned to count beyond their fingers (at least
    in English). At one or other of the two censuses they just shrugged and let the English-speaking enumerator write down whatever made sense to him. But
    they believed they were around the same age and the rough window for their birthdates must be between about 1830 and 1840.</p>

<p>John and Mary did leave some better clues as to their origins than many other Irish immigrants. The 1871 census return contains a clear
    indication that Mary believed she was was born in County Galway. And John left a clue too, although I've not been able to make much sense of it -
    "Maides, Ireland", it seems to read. We'll come back to these.</p>

<p>I've not been able to find John or Mary Dolan, separately or together, at the 1881 census. We know that, by that date, their youngest child
    Thomas (15) was lodging with his elder sister Rose Ann, with no sign of either parent. The natural assumption, given the way of things those
    days, is that John and Mary had died between 1871 and 1881. After all, they had been living in a cellar, there had been a long sequence of
    peri-natal deaths, and of all the ancestors whose lives I have looked at for this narrative, John and Mary seem amongst the worst-equipped for
    survival in urban industrialised England. Amongst the civil records of deaths in Manchester and Salford from 1871 to 1881, there are a
    number of candidates which would match John, and equally for Mary, but none are yet verifiable. The uncertainty around their years of birth
    doesn't help, but in my opinion, they both left for a much better existence during that decade, dying whilst their only two surviving children
    were still in their teens.</p>
	
	