<h4>Thomas Dolan and family</h4>

<p>Some five years after the 1881 census (at which we found Thomas the errand boy lodging with his sister on Bridgewater Street), on 19 June
    1886, a record was added to the book of marriages at St John the Evangelist, Chapel Street, Salford. Thomas Dolan had married a Mary Jane Foy.</p>

<h6>Catholic church record of Thomas Dolan and Mary Jane Foy's marriage, 1886</h6>
<div class="table-responsive-md">
	<table class="table table-bordered">
    <caption><i>Names have been rendered from Latin to English where necessary</i></caption>
	<thead>
    <tr>
        <th class="frame1"></th>
        <th class="frame1">Name</th>
        <th class="frame1">Residence</th>
        <th class="frame1">Parents</th>
        <th class="frame1">Witnesses</th>

    </tr>
	</thead>
	<tbody>
    <tr>
        <td class="frame1">Groom</td>
        <td class="body1">Thomas Dolan</td>
        <td class="body1">Broughton</td>
        <td class="body1">John and Mary Dolan</td>
        <td class="body1">Rose Ann Dolan</td>

    </tr>
    <tr>
        <td class="frame1">Bride</td>
        <td class="body1">Mary Jane Foy</td>
        <td class="body1"></td>
        <td class="body1">Matthew and Jane Foy</td>
        <td class="body1">Francis Watson</td>

    </tr>
	</tbody>
</table>
</div>
<p>You can see that Thomas' sister Rose Ann acted as a witness to his marriage, and that favour was returned twofold
    six years later when Thomas and Mary Jane Dolan acted as witnesses of Rose Ann's marriage to Joseph Burgin, in 1892 (as shown above).
</p>

<p>We have Mary Jane Foy's baptism record at - where else? - St John the Evangelist's. She was born on 4 October 1865 and baptised on the 22nd, so
    she was very slightly older than Thomas. Her parents were Matthew Foy and Jane Shield (or Sheil or Shean in other records), and they were living
    at 7 Paradise Road - I joke not  - a little side-road off Greengate. The godparents were a Francis Dunphon and a Mary Allen. We can follow the
    Foy family through 
	<span class = "span-link"
            title = "view the census pages"
            onclick = "viewImage('images/Foy family Salford 1871-1881.jpg');">
			
			the two censuses</span>

	between Mary Jane's birth and her marriage. Her parents' marriage had been registered in Manchester in the third quarter of 1864 - we have the
    civil record but no church record.</p>

<p>You can see that Matthew and Jane were both first generation immigrants from Ireland, he born around 1828, and she about 1831. His
    occupation was cork-cutter, and hers tailoress, and her daughter Mary Jane followed into this profession. In 1871, they were
    still at number 7, although the road was named a little more fancily: "Paradise Vale Terrace". By 1881, they had moved to Davies Street,
    which was still off the northern side of Greengate, but six side-streets to the west of Paradise St, almost adjacent to the junction
    with Blackfriars Road.	All these addresses are within spitting distance of 189 Greengate where dad was born. It looks very much as if
    Mary Jane was an only child.</p>

<p>It's pretty clear that Matthew and Jane arrived separately from Ireland, and eventually met and married in the Greengate area quite
    late in their lives. There is a definite record of Jane Shield at the 1861 census, a single tailoress of 29 heading a household of two on
    Caygill Street, another side-road off Greengate, but I can't find her in England before then. Unless Matthew Foy is the son of Thomas Fay
    (a coachman who brought his young Irish family to settle in Liverpool in the early 1840s), I can find no sign of him in England prior to
    his marriage in 1864.</p>

<p>Turning the clock-hands forward again to look at Thomas and Mary Jane's marriage as it developed, we yet again experienced the now familiar
    disappointment on failing to find any of the persons of interest at the 1891 census. No Thomas Dolan, no Mary Jane Dolan, no Matthew Foy
    and no Jane Foy. But there were three major events recorded between their marriage and the census. There were two births registered in the district
    of Prestwich (broadly north Manchester), Thomas Dolan in the third quarter of 1888 and Matthew Dolan in the third quarter of 1890. In both
    cases, the mother's maiden name was Foy (there was	also a John Dolan registered in Salford in the first quarter of 1887, but with no maiden
    name given). These were the future Catherine Noonan's cousins! But in between these happy events, in the first quarter of 1890, Matthew Foy
    died aged about 61 (in the same north Manchester registration area) .  At least he saw the marriage of his daughter and the birth of his
    first grandchild.</p>

<p>It was at about this stage that I learned that digital copies of birth and death (but not marriage) certificates could be bought on-line
    from the national General Register Office for just £6. I decided to test out the new system with a reality-check on our most recent
    discoveries. It worked well - here is 
	<span class = "span-link"
          title = "view certificate"
          onclick = "viewImage('images/Thomas Dolan BCert 1888.jpg');">
		  Thomas Dolan's 1888 birth certificate</span>. 
		  
    He was born on 1 July 1888 at 7 Edward Street, Cheetham (as expected in the Prestwich registration district), his father
    was a fruit salesman and Mary Jane signed with her full name when she registered the birth on 10 August. We checked 7 Edward Street
    at the 1891 census, but the Dolans were no longer there. We later learned from the 1939 Register - assuming that all our identifications
    are correct - that Matthew Dolan's date of birth was 26 May 1890.</p>

<p>On the second day of the new year in 1892, Thomas and Mary Jane Dolan made their way from their Cheetham address to St Peter's on
    Greengate to act as witnesses to Joseph Burgin's and Rose Ann Dolan's wedding. Mary Jane must have been pregnant, because the birth of
    their third child, Florence, was registered in Prestwich in the second quarter of 1892, and we'd expect that she and Catherine
    Burgin - to be born a few months later - would in time become quite close cousins. After all, they were born in the same year and
    neither had any other female cousins. I have not come across any evidence that they did become close - or even that they knew each
    other. But if they did not, some of the reasons may become clear following the later events of the 1890s (as far as we can).</p>

<p>The first such event was the real disaster and probably led to nearly all that followed. The death of Mary Jane Dolan, age 28, was registered
    in Prestwich in the fourth quarter of 1893. This would have been a terrible blow for the family, but was perhaps slightly mitigated if
    Jane Foy was with them. I am hoping that she was. Because Matthew Foy's death in 1890 had also been registered in Prestwich, I suspect
    that he and Jane Foy had left the Greengate area to live near or with their daughter's family in Cheetham some time between 1885 and 1890.
    If so, this would have left a family made up of the widow Jane, her widower son-in-law Thomas and her three grandchildren Thomas, Matthew
    and Florence (aged about 5, 3 and 1). </p>

<p>So perhaps they muddled through for a while, with Jane on household and mothering duties, and Thomas marketing his fruit. But then in the
    fourth quarter of 1897, Jane Foy's death was registered, again in Prestwich, aged 64. The sequence of events through the late 1890s is
    unclear - we can come back to that - but a search for Thomas Dolan (snr) at the 1901 census comes up with a fairly convincing - but
    very surprising - result. He seems to have moved to Workington on the coast of Cumbria (as it is called now). The
	<span class = "span-link"
          title = "view certificate"
          onclick = "viewImage('images/Thomas Dolan snr Workington 1901.jpg');">census return</span> 
		  shows he was boarding at 7 Lonsdale Street, in St Michael's ward in Workington. It absolutely must be our Thomas (I tell myself),
		  as only the age is slightly dubious (it should be 35, but looks more like 38, although this may refer to the person whose name has 
		  been deleted). All the other details are perfect, including name, marital status, occupation and birthplace. If it is not our Thomas,
		  I have no idea where he was in 1901 as I've searched high and low elsewhere. Nor can I find him, dead or alive, at any point after 
		  the 1901 census - the only information we have is that his son Matthew recorded at his own wedding in 1918 that his father was dead,
		  and at this point he passes out of our story. But there is a lot more information on his children.</p>

<img src = "images/1901 Poor Law School combined header pages.jpg"
     width = "600px" 
     class = "piccy-right"
     title = "view Poor Law school census header "
     onclick = "viewImage('images/1901 Poor Law School combined header pages.jpg');">
<h6>The Dolans in the Poor Law School</h6>
<p>It was Florence who we found first as a "scholar" in the Township of Manchester
    Poor Law school, one girl on a list of 281 present on the 1901 census night. We later found Thomas and Matthew, listed adjacently, 
	on the list of boys which conventionally preceded the girls and numbered 411 (John Dolan, slightly older, was listed next to them, just 
	possibly a third brother born in Salford in early 1887). The school was situated on Chorley Road in Swinton, so some distance from the 
	original workhouse for adults, and hospital, which was located in Crumpsall and served the north Manchester Prestwich district. This 
	eventually became the main north Manchester hospital.</p>

<p class="cl-b">From what I have seen, the Prestwich Poor Law Union and various others surrounding central Manchester seemed to have been subsumed at 
    some point into the Manchester Union. But they were originally separate legal entities, and would have been distinct from the Salford 
	Union, which we think was kindly accommodating Eliza and Joseph Donohoe in 1861.</p>

<p>The lists of scholars tell us very little, except their names and given ages (13, 11 and 10 respectively in the case of 
<span class = "span-link"
      title = "view 1901 census page"
      onclick = "viewImage('images/Tho and Matt Dolan 1901 Poor Law School.jpg');">Thomas, Matthew</span> and
    <span class = "span-link"
          title = "view 1901 census page"
          onclick = "viewImage(images/Florence Dolan 1901 Poor Law School.jpg');">Florence</span>). But
		  the covering pages are quite interesting, if you feel like peering at them.</p>

<p>On one of them, it is stipulated that the official enumerator for each institution should be paid 10s 6d
    (52.5p) for the first 300 inmates duly enumerated and recorded, plus a further 2s 6d (12.5p) for every additional 100 inmates. We have looked
    at two pages of the product of this exercise, each containing 25 entries. The only variables were the forename, the surname and the age.
    Additionally, every row had the word "scholar" entered in one column, and (almost invariably) "Lancs, Prestwich" entered in another. The lazy way
    of earning the shillings available here would be to catch a few children in a misdemeanour and give them "lines" to write out. But I doubt
    such a mild punishment was even on the menu in the workhouse schools.</p>
	

<div class="accordion">
<div class="poorcard text-center">
<div class="poorcard-header">
          Th<sup>o</sup>. Dolan (snr), 1894
</div>
<div class="poornoshow">
    <div class="poorcard-body">
    <p>
	This Thomas Dolan was born in 1865, and was entered as an RC in the 1894-5 Religious Creed Register
	of the Manchester Poor Law Reception Centre at Bridge St. on 30 Oct 1894. He then left on 5 Feb 1895, returned 
	on 26 Feb, left again on 2 March but returned on 12 March.</p>
	<span 
	class="span-link" 
	title="View Document"
	onclick = "viewImage('images/A Workhouse Thomas Dolan snr 1894.jpg');"><i><b>VIEW DOCUMENT</b></i></span>
   </div>
</div>
</div>
<div class="poorcard text-center">
<div class="poorcard-header">
          Th<sup>o</sup>. Dolan (snr), 1895
</div>
<div class="poornoshow">
    <div class="poorcard-body">
    <p>
	This - surely the same - Thomas Dolan was born in 1865, and was entered as an RC in the 1895-6 Creed Register
	on 12 March 1895. He then left on 1 April 1895, returned on 30 July, left again
	on 22 Aug, and had a final night in the Workhouse from 5-6 September. </p>
	<span 
	class="span-link" 
	title="View Document"
	onclick = "viewImage('images/A Workhouse Thomas Dolan snr 1895.jpg');"><i><b>VIEW DOCUMENT</b></i></span>
   </div>
</div>
</div>
<div class="poorcard text-center">
<div class="poorcard-header">
          Florence Dolan referral, 1902
</div>
<div class="poornoshow">
    <div class="poorcard-body">
    <p>
	This record of a Florence Dolan shows an admission date to the Manchester Poor Law School of 30 Oct 1896. Her age is
	reported as 7. She was discharged to the hospital at Crumpsall for treatment on 11 Dec 1902 (where Thomas [snr] would
	have been next door in the adult Workhouse). Her return from the hospital would have been recorded on a
	later page of the Admissions Book.</p>
	<span 
	class="span-link" 
	title="View Document"
	onclick = "viewImage('images/florence poor school Nov1896-Dec1902.jpg');"><i><b>VIEW DOCUMENT</b></i></span>
   </div>
</div>
</div>
<div class="poorcard text-center">
<div class="poorcard-header">
          Matthew Dolan referral, 1903(1)
</div>
<div class="poornoshow">
    <div class="poorcard-body">
    <p>
	This record of a Matthew Dolan states his age as 7 and as having an admission date of 27 March 1899. He was
	referred for treatment to CWH (Crumpsall Workhouse Hospital) on 20 April 1903.</p>
	<span 
	class="span-link" 
	title="View Document"
	onclick = "viewImage('images/Matt poor school Mar1899-Apr1903.jpg');"><i><b>VIEW DOCUMENT</b></i></span>
   </div>
</div>
</div>
<div class="poorcard text-center">
<div class="poorcard-header">
          Matthew Dolan referral, 1903(2)
</div>
<div class="poornoshow">
    <div class="poorcard-body">
    <p>
	This record of a Matthew Dolan states his age as 13 and as having an admission date of 11 May 1903. He was
	referred for treatment to CWH on 27 July 1903. If the ages recorded correspond 
	with the admission dates, this could be the same Matthew.</p>
	<span 
	class="span-link" 
	title="View Document"
	onclick = "viewImage('images/Matt poor school May1903-Jul1903.jpg');"><i><b>VIEW DOCUMENT</b></i></span>
   </div>
</div>
</div>
<div class="poorcard text-center">
<div class="poorcard-header">
          Matthew Dolan discharge, 1904
</div>
<div class="poornoshow">
    <div class="poorcard-body">
    <p>
	This record of a Matthew Dolan states his age as 13 and as having an admission date of 31 Aug 1903. He was
	finally discharged from the Poor Law School on 8 Oct 1904 and sent to Fairy Hill, a home for Catholic working boys.
	</p>
	<span 
	class="span-link" 
	title="View Document"
	onclick = "viewImage('images/Matt poor school discharge Oct1904.jpg');"><i><b>VIEW DOCUMENT</b></i></span>
   </div>
</div>
</div>
<div class="poorcard text-center">
<div class="poorcard-header">
          Th<sup>o</sup>. Dolan (jnr) discharge, 1902
</div>
<div class="poornoshow">
    <div class="poorcard-body">
    <p>
	This record of a Thomas Dolan states his age as 8 and as having an admission date of 30 Oct 1896. He was
	finally discharged from the Poor Law School on 23 July 1902 and sent to the Band of the Royal Irish
	Fusiliers. 
	</p>
	<span 
	class="span-link" 
	title="View Document"
	onclick = "viewImage('images/Thomas poor school discharge Jul1902.jpg');"><i><b>VIEW DOCUMENT</b></i></span>
   </div>
</div>
</div>
</div>
    
<p>There is some more information about the the three "scholars". A number of documents survive from the workhouse/school books of
    admissions and discharges (including temporary discharges for medical treatment etc). These can be quite confusing, as it is not always
    clear what date is being referenced when the child's age is entered. But they are (to me at least) worth a look, especially those showing
    the final discharges of Thomas in 1902 and Matthew in 1904.</p>

<p>I was hoping to get some idea of how, why and when the three children were enrolled into the Poor Law School, and what criteria were
    applied in "selecting" them. Instinctively, I thought either both parents would have to be dead, or at least one would have to be in
    the larger institution alongside them. The name Thomas Dolan, year of birth 1865, does appear at least twice as part of the main
    workhouse records (emanating from the "Receiving Ward" in Bridge Street) in 1894 and 1895, seemingly going in and out quite frequently
    for fairly short periods. But Thomas Dolan was clearly a pretty common name, and quite a few seem to have "done time" in the workhouses.
    I was unable to match any adult Thomas Dolan with a school enrolment for young Thomas, Matthew or Florence.</p>

<p>Most children in the workhouse school at the 1901 census seem to have been aged between 7 and 14, but there were a handful
    of younger scholars. Thomas would have reached age 7 in 1895, Matthew in 1897 and Florence in 1899. Their mother had died towards
    the end of 1893, and their grandmother	died in late 1897. We have found a record for a Florence Dolan - a reasonably unusual
    name - suggesting she was admitted in 1896, but the age given looks very wrong (although this was just
    possibly a deliberate error on somebody's part).</p>

<p>We have been rather luckier in the case of Matthew and Thomas, although the original admission dates still
    remain unclear. One reason for this is that each administrative record we have found contains only the most recent school admission
    date. For example, the first of Matthew's referrals to CWH (Crumpsall Workhouse Hospital), on 20 April 1903, shows his admission date
    as 27 March 1899, whilst the second, on 27 July 1903, shows an admission date of 11 May 1903. Obviously, he had spent 21 days in
    hospital between April and May, returned to school, and then had to be sent back to hospital in July. But we don't know when
    he first enrolled into the school.</p>

<p>Thomas was the first to be fully discharged from the Poor Law School, at the usual age of fourteen, on 23 July 1902. He was
    sent to a "Band", more specifically the band of the Royal Irish Fusiliers, from which it appears that he may have learned to
    play a musical instrument at the Poor Law School. Perhaps these schools weren't as awful as I have assumed.</p>

<p>Matthew was next to be discharged, to an institution called Fairy Hill Home on 8 October 1904, again at the age of fourteen.
    This was a Catholic-run "home for working boys". The 10 October 1896 edition of the Catholic periodical "The Tablet" carried the following
    article:</p>

<p><i style="font-family: Georgia;  color: DarkSlateGrey;">"A NEW HOME FOR WORKING BOYS.—The Salford
        Protection and Rescue Society has just purchased a large house and grounds, known as Fairy Hill House, Cheetham Hill, Manchester,
        to take the place of the existing Home at Manor-street, which has become too small for the ever-increasing needs of the Society.
        The Home already shelters 34 boys, all of whom, except one, are in active employment. During the month of August the Society received,
        from all sources, £276 6s. 9d."</i></p>

<p>Let's hope that the "ever-increasing needs" arose entirely due to the growing population, rather than a growing rate of poverty within that
    population.</p>

<h6>Florence Dolan</h6>
<p>I haven't found Florence's final school discharge record, which we would expect to have taken place in 1906. But I
    have located a very good candidate for her 
	<span class = "span-link"
          title = "view Florence's 1911 census page"
          onclick = "viewImage('images/florence dolan 1911 waitress broughton.jpg');">1911 census entry</span>.
    Let's remind ourselves that this is a record of the same night, 2 April 1911, on which her first cousin, Catherine Burgin, almost the
    same age, was residing with her parents and the elderly widow Mrs Drinkwater at 1 Ryland St, Greengate. Could Catherine have been
    completely unaware of her existence? Certainly, her mother Rose Ann could not, because her sister-in-law Mary Jane had been pregnant
    with Florence when she had witnessed Rose Ann's marriage. If I've found the right Florence, she was staying as a lodger at 23 Allen Street,
    Lower Broughton (less than 30 minutes' walk from Greengate) and working as a restaurant waitress. Her age was given as eighteen (correct)
    and her birthplace as Lower Broughton (not quite correct, but easily explainable). But this is as far as we have been able to follow
    Florence Dolan. There are a number of possible marriages in that name over the subsequent ten to fifteen years, but no means as yet
    of identifying the right one (unless just possibly a link could be established with a 1939 Register record).</p>

<h6>Thomas Dolan</h6>
<p>Nor have I been able to find Thomas Dolan junior's 1911 census return, although for a while I thought I had. 
    But it turned out that there were at least two Thomas Dolans whose births were registered in Manchester in 1888. The Thomas Dolan 
	(a porter working for a commission agent) that I located in Harhurpey at the 1911 census clearly matches another 1901 record 
	(with two brothers present at both censuses plus parents in 1901), at the time when our Thomas was in the Poor School with 
	Matthew and Florence. There was a Trade Union membership record (Amalgamated Society of Railway Servants) for a 22 year-old 
	Thomas Dolan registered in nearby Hollinwood in late 1911, which eventually lapsed in 1924. This Thomas was a shunter on the
	L&Y railway. And there was a Thomas Dolan who had married an Evelyne Flynne in Chorlton in 1906, and in 1911 was residing in 
	Ancoats and hewing at a coalface for a living. But I haven't been able to tie any of them in - a young man of that generation 
	would in any event have a high probability of losing his life in WWI.</p>

<h6>Matthew Dolan</h6>
<p>I haven't exhausted all search options for Thomas and Florence, but it does look tricky. However, I believe we have had
    more luck with Matthew. There is a series of documents which has hopefully led us to identify at least one of his grandchildren. Such a person
    would be the third cousin of the grandchildren - such as myself - of Catherine Noonan (because we would share great great grandparents, in the
    persons of John and Mary Dolan). But a couple of the steps in the chain require a leap of faith, so let me line up the documents, discuss the
    issues and then leave readers to make up their own minds. Later, we may be able to obtain documents to fill in the gaps in the chain of proofs,
    or we might find someone on the Dolan side doing their own research. For reasons which will become clear, we'll start at the end and work
    backwards in time from Matthew's 1939 Register record.</p>

<div style="float:left; margin-left:3%;margin-right:3%;">
    <h6 style="margin-top:0;margin-left:0;">Matthew and Eliza Dolan household, 1939 Register</h6>
    <img src = "images/matthew dolan 11 copse ave 1939.jpg"
         width = "460px" 
         class = "img-fluid table-link mt-0 mb-3 imgborder"
         title = "Expland and view image"
         onclick = "viewImage(this.src);">

    <h6 style="margin-bottom:0px;margin-left:0;">Locations in Ardwick, Gorton and Longsight</h6>
    <img src = "images/Matt Dolan area 1911-1918.jpg"
         width = "460px"
         class = "img-fluid table-link mt-0 mb-3 imgborder"
		 title = "Expland and view image"
         onclick = "viewImage(this.src);">
        
    <h6 style="margin-bottom:0px;margin-left:0">Matthew Dolan & Eliza Amy Schofield marriage, St Stephen's Ardwick, 1918</h6>
    <img src = "images/matthew dolan eliza amy schofield marriage 1918.jpg"
         width = "460px"
         class = "img-fluid table-link mt-0 mb-3 imgborder"
		 title = "Expland and view image"
         onclick = "viewImage(this.src);">

    <h6 style="margin-bottom:0px;margin-left:0;">Amy Schofield, parents and siblings, Longsight, 1911</h6>
    <img src = "images/44 Chell St Charles Schofield Longsight1911.jpg"
         width = "460px"
         class = "img-fluid table-link mt-0 imgborder"
		 title = "Expland and view image"
         onclick = "viewImage(this.src);">
</div>
<p>Matthew Dolan's household at 11 Copse Avenue was made up of four people on 29 September 1939, including 
    his wife Eliza A Dolan and two others whose names remain blacked out because they are still alive or their deaths have not yet
	been notified. I am guessing these are Matthew and Eliza's daughters Anne and Florence, but it could be another combination. 
	Copse Avenue (well south of the map shown here) is part of a housing estate which looks from Google Streetview as if it could have been 
	built in the 1920s or 1930s. It is near  Wythenshawe, so like many thousands of others, we assume Matthew had migrated from inner 
	to outer Manchester by the outbreak of WWII. </p>

<p>Matthew's occupation (at the age of 49) was "Sheet Metal Worker (heavy)", and his date of birth was given
    as 26 May 1890, a date consistent with his official birth record if there was a delay of some weeks until registration took place during the
    third quarter of 1890. We need to obtain his full birth certificate to confirm. His wife was Eliza Amy Schofield, and her date of birth of 17
    January 1895 coincides exactly with a registration in the Prestwich district in the first quarter of 1895 (mother's maiden name Corfield).</p>

<p>Working backwards from 1939, the next document of interest is the record of the Matthew and Amy's church wedding on 21 September
    1918 at St Stephen's parish church, Ardwick (now demolished along with all the streets around it). In this record, both Matthew's and
    Eliza's ages are spot on. Matthew's father is named as Thomas (deceased), and his occupation as salesman. Whilst I would
    have preferred to see "fruiterer", or "greengrocer" here, it would not be unreasonable to describe Thomas as a salesman, especially if
    Matthew's memories were of him hawking his veggies on the street. Or perhaps Matthew knew of other work his father had done since
    the 1901 census, when we last spotted him in Workington. Matthew's siblings are slightly conspicuous by their absence as witnesses.</p>

<p>Matthew's occupation was shown in the marriage record as Warehouseman (so the sheet metal work came later) and his bride's as
    Telephonist (at a time when this technology was very new). Her father, Charles Schofield, was recorded as a boilermaker.
    Matthew was living at 10 Royds St, and Amy at 27 Corporation Street, Matthew almost certainly lodging, Amy possibly
    still with her family, if they had all moved to Corporation street by 1918.</p>

<p>Surprisingly, it was difficult to identify Amy's family with certainty, because there were more Schofields than I had expected
    scattered around various corners of the conurbation of Manchester. At first I thought her background was in Salford, but her birth
    registration district (and those of her siblings), together with her father's sequence of occupations (Stationery Boiler Fireman at the 1901
    census) have now convinced me she was one of ten children born to Charles Schofield (of Ardwick) and Susan Corfield (of Newtown, 
	Montgomery, Wales). The family's 1911 census record is shown here. I have simply accepted that Eliza's birthplace records are vague 
	and/or inaccurate, unless possibly part of Gorton fell within the Prestwich registration district.</p>
	
<p>Reassuringly, the 1901 census of this same Schofield family does record Amy using her full name "Eliza Amy".
    Whilst on the case, I also spent a little time investigating the witnesses to the marriage, in case they supplied any links back to the families of
    the bride or groom. Interestingly, the two witnesses were themselves married in July 1919. It turns out that they were both still living at
    home then with their families, in the immediate vicinity of St Stephen's church. The map shows the relevant addresses and suggests that
    all the parties probably knew each other through neighbourhood networks rather than any kinship. Almost certainly, one of the marriages
    came about through an introduction made by one of the parties to the other.</p>
	
<div style="float:right; margin-right:3%;margin-left:3%;">
    <h6 style="margin-top:0;margin-left:0;">Matthew Dolan, Army Discharge, Liverpool 1916</h6>
<img src = "images/matthew dolan army discharge 1916.jpg"
     width = "400px"
	 class = "img-fluid table-link mt-0 imgborder"
	 title = "Expland and view image"
     onclick = "viewImage(this.src);">
     </div>
<p>The chain of evidence so far on Matthew Dolan's identity must be judged as it comes, but the next document incontrovertibly belongs
    to the Matthew Dolan who married Eliza Schofield in 1918, because it refers to the exact return address and occupation. The document
    records Matthew's 1916 discharge from the army. </p>

<p>The army record is full of information. Matthew was very short and slightly bow-legged, although full-chested. If he was brought up
    under the Poor Laws, the diet may have been less than perfect, and vitamin deficiency springs immediately to mind. Physically, he fell
    short of the requirements for military service, but his character reference was excellent. His facial scarification and tattoos suggest
    a rough (or maybe a navy) background, but the tattoo on record as being in memory of his mother - who died when he was about three - is
    a striking and touching detail. The latter suggests, just possibly, that respect for his father's memory was less. The army discharge does beg
    two big questions, namely what his military record may have been from 1914 to 1916, and why the discharge took place then, for which we
    have no answers at present.</p>

<p>Following the chain of evidence further back, the military record is consistent with what might be expected for an orphan raised in
    a public institution. Also, the fact that he was recruited into the Manchester Regiment (and discharged to a Manchester address) at least
    gives us a good city location. Our next record is of a Matthew Dolan lodging at 234 Gorton Lane in 1911. He was recorded as a single twenty
    year-old greengrocer's assistant, details which are spot on, even as far as following in his father's occupational footsteps. That location
    is also good for the return address from the army and for an eventual meeting with the Schofields, Blackwoods and Thornhills, all of
    whom shared broadly the same stamping ground. I've probably put more time into following the Dolan line than is strictly justified, all
    to establish whether there is any possibility of locating a third cousin, so here we go.</p>
	
<div style="float:left; margin-left:3%;margin-right:3%;">
<h6 style="margin-bottom:0px;margin-left:0;">Matthew Dolan, lodger at 234 Gorton Lane, 1911</h6>
<img src = "images/matt dolan 1911 greengrocer chorlton-gorton.jpg"
     width = "600px" 
	 class = "img-fluid table-link mt-0 imgborder"
	 title = "Expland and view image"
     onclick = "viewImage(this.src);">
</div>
    
<p>Florence W Dolan's birth was registered in the first quarter of 1920 in the Chorlton district, with her mother's maiden
    name given as Schofield. Elsie M's birth was registered there in the second quarter of 1924 (MMN "Schcfield"). Other than the two blacked out entries
    in the 1939 Register, the only other corroborating evidence that we are still on the right track here comes from names: Eliza Amy had younger
    sisters called Elsie and Winifred, and Thomas had his sister Florence and dearly missed mother Mary Jane. Together, these would account for
    both names and middle initials.</p>

<p>The story continues to hang together when we find that, apparently, both daughters married after the 1939 Register was compiled,
    during the 1940s. This brings us to my own parents' generation. A Florence W Dolan married a Ronald Robinson in the Manchester registration
    district in the third quarter of 1941, and an Elsie M Dolan married a John Holt in Salford in the first quarter of 1946. The names,
    initials and locations are enough to convince me we're still on the right track.</p>

<p>I have found only one obviously solid-seeming birth from the first of these marriages, that is Susan J Robinson born in Manchester in
    the third quarter of 1942. There is another, Trevor J Robinson in 1954 in Prescot, Lancashire (with an exact spelling match), plus others
    dotted around the wider county if you allow variant spellings of Dolan. There are two more during the later 1940s with exact matches if
    you allow a migration to west London. I've found no candidates with any promise at all as a child of John and Elsie Holt.</p>

<p>This gives us at least one possible third cousin, in the person of Susan J Robinson. The records suggest strongly that her father, Matthew
    Dolan, died somewhere in Manchester in 1950. He in turn was a nephew to Rose Ann Burgin (who died in Salford in 1936), much loved and remembered
    by dad and his siblings. Thomas' father was Rose Ann's brother, and they had witnessed each other's weddings in the 1880s and 1890s. If there was
    a schism causing all these family ties to be lost, it must have been very deep - and also (it occurs) maybe had the effect of visiting
    the sins of the father (Thomas Dolan senior) on his three children.</p>

<p>Across England, there were hundreds of marriages of Susan Robinsons during the 1960s and 1970s, scores of which had middle initial "J". There
    was a Susan J Robinson who married a John McMahon in Salford in the first quarter of 1976, and one who married a Harry McCaugherty in the third
    quarter of 1983 in Manchester. Both of these marriages would be slightly late in life for our Susan, who was born in 1942, but not impossible.</p>

	