<h4>John Dolan and Mary Connelly - Irish origins</h4>

<p>You might recall that John and Mary married at St John the Evangelist, Salford, in 1858, and our surmise is that they arrived separately from
    Ireland as part of the human detritus scattered to the winds in the aftermath of the Great Hunger. They were one of the rare couples of
    first-generation Irish immigrants to Salford who left some clues on their original locations in Ireland in the census records. Thus they gave me high
    hopes that there would be good traces of the Dolan and Connelly ancestors. At the 1871 census, Mary was recorded as having been born in County Galway,
    and John in a place which seems to be called "Maides". But I was disappointed in this, as I could find no matching baptisms in matching places and
    times.</p>

<p>The digitised transcriptions of the hundreds of years of Catholic parish baptisms in Ireland inevitably fall well short of capturing
    every baptism, and are sure to be inaccurate in places, if only because of the multiple difficulties of interpretation of age-old handwritten
    scripts. I imagine the records for Galway would have been particularly unreliable, as, even by early nineteenth century Irish standards,
    it would have been relatively undeveloped. The density of parishes might have been low, and the quality of church record-keeping below average, maybe,
    because of the difficulty of attracting the most educated, literate and administratively rigorous parish priests.</p>

<p>At Mary Connelly's 1858 Salford marriage, her parents were recorded as Richard and Mary (Connelly). Using a wide time window from 1825 to 1845,
    and searching for a Mary baptised to a Richard and Mary Connelly (allowing for multiple spelling permutations), there are no results at all from
    County Galway. My two possible "runners" are an 1834 in Limerick City (mother's maiden name Flinn), and an 1835 in Rochfortbridge, Westmeath 
	(MMN Moran), both of which are about 40 miles from the Galway border. There is also an 1839 in  Ballyhale, Kilkenny (MMN Brenan), but that 
	is south-east Ireland, an 1838 Conlan in Kildare (wrong name), and an 1844 in Armagh, but that is much too late and too far north. Of
	course, the correct baptism record may simply be lost.</p>

<p>It is easy to entertain scenarios of how Galway might have come into the picture. Perhaps the mother or father were of Galway stock, and this
    somehow transmuted into "birthplace", even though she was born elsewhere. There could easily be a misinterpretation if parents told a 
	child of their origins fairly early in life, particularly if the parents then died young (as many did in the 1840s). Or maybe Mary was 
	born in Galway, then the baptism was delayed until the family had settled elsewhere. Or they lived outside Galway, but her mother went
	pregnant to her parental home in Galway to give birth and then returned home for the baptism.</p>

	<div style="float:left; margin-left:3%;margin-right:1%;">
<h6 style="margin-top:0;margin-left:0;">Richard Connell/Mary Flynn wedding, 2/6/1833, St John's Limerick City</h6>

<img src = "images/Mary Flynn and Richard Connel marriage Limerick 1833.jpg"
     width= "435px"
	 class = "img-fluid table-link mt-0 mb-3 imgborder"
	 title = "Expland and view image"
     onclick = "viewImage(this.src);">
     	</div>
	
<div style="float:right; margin-right:3%;margin-left:1%;">	 
<h6 style="margin-top:0;margin-left:0;">Mary Connell baptism, 13/6/1834, St John's Limerick City</h6>
<img src = "images/Mary Connel baptism Limerick 1834.jpg"
     width = "390px" 
	 class = "img-fluid table-link mt-0 mb-3 imgborder"
	 title = "Expland and view image"
     onclick = "viewImage(this.src);">
     </div>

<h6 style="clear:both;">Mary Connell of Limerick City</h6>
<p>A Richard Connell married a Mary Flynn on 2 June 1833 in St John's catholic church, Limerick City, witnessed by a John
    Flynn and a Thomas Walsh. Their first child, another Mary, was baptised in the same church on 13 June the following year, with "sponsors" James
    Gromwell and Mary Rourke. Richard and Mary went on to have five more children, all baptised in the same church, Catherine I (1836), John (1838),
    Patrick (1841), Catherine II (1843) and Joseph (1844). Amongst the many sponsors of these baptisms, the names Flynn and Blandford feature heavily,
    but none seem to re-occur later in the Manchester area as witnesses or sponsors to John and Mary's family events. Of course, it is possible that
    Mary's younger brother Patrick Connelly was the person named as godparent at the Manchester baptism of John and Mary Dolan's first child, Richard
    Patrick, in June 1863, but I haven't been able to support this conjecture with evidence.</p>

<p>Although Limerick City is only about 40 miles south of the southern border of County Galway, my instincts are that this Mary was neither born
   in Galway nor wrongly believed she had been. With a wedding followed by five baptisms stretching over an eleven year period, and all at the 
   same church, the Limerick City Connells seem very well established there. Something suggests to me that this family was relatively educated 
   and literate, which I very much doubt John Dolan's wife was. Mary Connell would have been at least eleven years old by the time her 
   youngest brother Joseph was baptised there, and his would have been the fourth she had seen by then, all within the City. So I doubt she
   had a false belief she had been born in Galway. Of course, her mother could have gone to Galway in the spring of 1834 to give birth, and delayed
   the baptism until her return, but I rather doubt it. So I am inclined to dismiss the Limerick City Mary Connell as the future bride of John 
   Dolan in Salford.</p>
   
<div style="float:left; margin-left:3%;margin-right:3%;">
<h6 style="margin-top:0;margin-left:0;">Mary Connell baptism, 2/11/1835, Rochfortbridge, County Westmeath</h6>
<img src = "images/Mary Connll baptism Rochfortbridge 1835.jpg"
     width = "500px"
	 class = "img-fluid table-link mt-0 mb-3 imgborder"
	 title = "Expland and view image"
     onclick = "viewImage(this.src);">
 </div>

<h6>Mary Connell of Rochfortbridge</h6>
<p> The second candidate is a baptism which took place on 2 November 1835 in the parish of Rochfortbridge in the county of
    Westmeath. There seem to be some missing letters, but a Mary Connll had been born to a Richard and a Mary Moran, the baptism being sponsored by
    a John Connor and an Anne Biglin. I was unable to find a marriage record, but Mary was pretty clearly the third of at least four siblings: James
    (1828), Richard (mistranscribed as Bernard, 1833), Mary (1835) and Catharine (1837).</p>

<p>The name Biglin, with multiple spelling variants, features prominently amongst the sponsors of the four Connell baptisms, but doesn't seem
    to reappear in the context of John and Mary Dolan's Manchester family.</p>

<p style="clear:both;">One of the sponsors of the baptism of Mary's younger sister Catharine
    was herself a Catharine Connell, but this hardly resonates with anything in the Manchester records. Geographically, Rochfortbridge is about
    40 miles due east of the western border of County Galway, across the south of County Roscommon, or closer to 30 miles if you start further
    south and head north-east through Offaly.</p>

<p>But the coincidence of the Rochfortbridge Mary Connelly being the daughter of a Mary Moran, and a Mary Moran then appearing as a godparent to
    Thomas Dolan at his baptism in 1865 is too much to resist. The godparent could just be Thomas' grandmother, if she had been widowed and reverted
    to her maiden name, but more likely would be a maternal cousin of Thomas' mother, perhaps a daughter of James or Richard Moran. The 1871 E&W
    census shows a number of Moran (and Connelly) families living in the central Manchester area.</p>


<h6>John Doran of Nobber</h6>
<p>Moving on to Mary Connelly's husband, John Dolan, his parents were recorded at his marriage as Patrick Dolan
    and Rose Ann, and we've only been able to decipher his birthplace (as given at the 1871 Manchester census) as "Maides". Apart from
	representing some Irish version of the English "maiden" or "maidens" - and there are hundreds of geographic references which might
	match this interpretation - we were not initially able to make anything of this - but see below. We had also noticed that the 
	letters "l" and "r" are sometimes used interchangeably in the name Dolan, so I have searched for baptisms of children with either 
	family name born to a Patrick and a Rose (or Rose Ann). A search for a baptism between 1825 and 1845 of a John who met these criteria
	initially threw up only one result, in a parish called Nobber in Meath.</p>
	
<div style="float:right; margin-right:3%;margin-left:3%;">	 
<h6 style="margin-top:0;margin-left:0;">John Doran baptism, April 1827, Nobber, Meath</h6>
<img src = "images/John Doran baptism Nobber Apr 1827.jpg"
     width= "500px"
	 class = "img-fluid table-link mt-0 mb-3 imgborder"
	 title = "Expland and view image"
     onclick = "viewImage(this.src);">
</div>

<p>Patt and Rose Doran lived in a pinprick of a place called Spidal in the parish of Nobber. This lies in the north-eastern
    portion of the county of Meath, not too far from the town of Ardee across the border in County Louth. They had at least four children baptised
    in Nobber parish church: there was John on 29th April 1827 (although this has been transcribed as 9th April), Patt in 1833, Biddy in 1836 and
    James in 1838. [I've shown John's baptism record here partly to show how varied the quality of the Irish parish records was, compared with St
    John's Limerick City, for example].</p>

<p>No mother's maiden name was given at any of these four baptisms, but there was a marriage in Nobber in 1819 between a Patt Doran and a Rose
    Maguiness (surname unclear). My main doubt about accepting this couple as the parents of John, Patt, Biddy and James is not the lateness of
    James' birth in 1838, but rather the long gap between the marriage and John's birth in 1827- although this could be a product of nature or a
    deficiency in the baptism records.</p>

<p>Unfortunately, the only evidence to support the theory that the Nobber John Doran was the John Dolan who married Mary Connelly in 1858
    was the (initial) lack of any other viable candidate thrown up by all our searches. So as a very last throw of the dice, I did a search
    allowing John Dolan's forename to vary to include any starting with "J". This search first gave us a James Doolan, baptised on 23 August
    1830 in Rochfortbridge, County Westmeath, and this was of interest because one of our candidates for Mary Connelly was baptised in that area.</p>

<h6>James (John?) Doolan of Rochfortbridge</h6>
<p>Of course, there was the small problem of James versus John, but what the heck, an easy mistake to make, 
    "J<sup>as</sup>" versus "J<sup>no</sup>", Seamus versus Sean, etc etc. Or maybe there was always a middle name John, not written
	down at the baptism. The parents were Patrick Doolan and Rose Mulloy, and the sponsors (or godparents) were Mary Meade and Ambrose 
	Cuffe. But perhaps James had a brother called John? We couldn't find one, but he did seem to have a sister Mary and a brother Thomas 
	born in 1832 and 1834, as their mother's name was Rose Mulloy. But their father's name was Thomas Doolan, and I later found an 1829 
	Rochfortbridge marriage between Thomas Doolan and Rose Mulloy. It was almost as if the entry of "Patrick" at James' baptism had been
	a simple error. Anyway, there were too many wrong names, too many doubts and no familiar-looking names from the later Manchester 
	records amongst the witnesses and sponsors to the marriage and baptisms.</p>

<h6>John Doran of Kells</h6>
<p>
    All this was somewhat discouraging, but the search for a "J" Dolan or Doran had produced a "last-minute" hit. The town of Kells, County
    Meath, was once a major centre of the northern part of that county. It is an ancient town, and was a major junction on Ireland's ancient
    road network. Five roads met at the town, each with its own town wall gate. One of these - on the road to the north-east towards Ardlee,
    County Louth - is now called Maudlin gate, and it looks as if there was a townland of that or similar name some way beyond the town walls.
    On Google Earth, the road out of town has a Gaelic name, Sraid Mhaidilin, and I have now become optimistic that we may have located the "Maides",
    as I transcribed John Dolan's birthplace entry from the 1871 Manchester census.</p>

<p>Sticking to the original Latin, Joannem Doran was baptised in the parish of Kells on 21 January 1834. His father was recorded as Patr Doran
    and his mother as Rosa Doran and the sponsors were Patricia Doran and Maria Gilligan. I haven't found a marriage record for this John's parents,
    but	presumably the priest believed there had been one, otherwise the Latin for "illegitimate" would probably have been entered on the baptism
    record. But I have found a likely brother of John's, in the person of Michael Doran, baptised in Kells on 11 December 1840, with father Patt
    Doran, mother Rose Simons and sponsors Michael Gilligan (or Gillman) and Catherine Simons.</p>

<p>For the purpose of drawing up Gran Noonan's descendancy diagram, I am going to run with Mary Connell of Rochfortbridge, County Westmeath and
    John Doran of Kells, County Meath, with major question marks in both cases. Let's finish by showing the baptism records of the two Kells boys,
    John (1834) and Michael (1840).</p>
	
<div style="float:left; margin-left:3%;margin-right:1%;">
<h6 style="margin-top:0;margin-left:0;">John Doran baptism, 21/1/1834, Kells, County Meath</h6>

<img src = "images/John Doran baptism Kells 1834.jpg"
     width= "400px"
	 class = "img-fluid table-link mt-0 mb-3 imgborder"
	 title = "Expland and view image"
     onclick = "viewImage(this.src);">
 </div>
	 
	<div style="float:right; margin-left:1%;margin-right:3%;">
<h6 style="margin-top:0;margin-left:0;"> Michael Doran baptism, 11/12/1840, Kells, County Meath</h6>
<img src = "images/Michael Doran baptism Kells 1840.jpg"
     width= "400px"
	 class = "img-fluid table-link mt-0 mb-3 imgborder"
	 title = "Expland and view image"
     onclick = "viewImage(this.src);">
 </div>	 
	 