
<h4>Discrepancies and mysteries</h4>
<p>There are some differences with dad's account in Down the Arches. In 1999, he wrote that there was a copy of Catherine's birth certificate held
    by Phil and Harry, and that it stated that she was born on 15 August 1892 at Bedford Street off Greengate. I suspect the month was just somebody's
    slip-up as Down the Arches was put together. As for the address, it is not impossible that she was born at Bedford Street - for example, the family
    could have moved to Crosley Street during the month between birth and baptism - but it does seem slightly odd, especially as her first son
    Richard [III] Noonan was born at Bedford Street nearly a quarter century later (and we know there were many moves in between times). So we
    have a little address mystery.</p>

<p>There are also some geographical difficulties unlinked to Down the Arches. Just north of St John's, all broadly in the area which might be
    called Adelphi, there is a Brewery Street, a Methvin Street and a Cannon Street. But try as I might, I cannot find a Crosley Street, whichever
    generation of maps I look at. There is another Brewery Street just across the river to the east, near Strangeways Prison. This is near a
    Cross Lane, but no Crosley Street. On the other hand, there is a Crossley Street in central Manchester, but no Brewery Street within sight. This
    is the second address mystery.</p>

<p>Then there is the Mary Foster mystery - that was the maiden name of Mary Wynne, who features in Down the Arches as a probable half-sister to
    Catherine Burgin. We continue to assume that she did live in the Burgin household for a considerable period, as if a sister to Catherine, if only
    because Catherine's later actions in life demonstrated that she cared for her like a sister. But we can find no evidence at all of any
    blood-relationship, and we have no idea when or why she joined the household. Mary was born on 8 November 1888 at 26 Factory Lane and baptised the
    same day at St John's Cathedral less than five minutes walk away. Her mother was Ellen Foster, a flax-rover in a mill, the godparent was named as
    Elizabeth Connor, but no father's name was given either at the baptism or the registration. We have a <span class = "linkA"
                                                                                                                title = "view certificate"
                                                                                                                onclick = "bigimg('fullscreen58', 1, 5, 2, 2868, 2016, 'Mary Foster BCert 1888.jpg');">copy birth certificate</span> from the registration,
    which took place on 3 January 1889 and for which Ellen signed with an X. Incidentally, no. 26 Factory Lane was recorded as an empty house at
    the 1891 census, but that was over two years later.</p>

<p>The next sighting of Mary Foster in the historical records is on 2 April 1911, census night. The <span class = "linkA"
                                                                                                          title = "view original census return"
                                                                                                          onclick = "bigimg('fullscreen59', 1, 6, 2, 5970, 3601, 'Mary Foster Sharp St 1911.jpg');">census return</span> shows her boarding with
    the widow Ann Gordon Crossley at 11 Sharp Street, Salford, from where they both work as cop winders in a cotton mill. So, if she had been staying
    with the Burgins during her youth, she had already moved out and set up independently by age 22 (which explains why we didn't find her with the
    rest of the family at no. 1 Ryland Street at the 1911 census). Sharp Street is to the south of Whit Lane on the other side of the railway, not
    far from the junction of Bolton Road and Eccles Old Road (near one of Peter Reid's earlier homes). A year later, we have the record of her
    marriage on 20 April 2012, at the Mother of God and St James in Pendleton, witnessed by not-yet-wed couple Catherine Burgin and Richard Noonan.</p>



<h5>Catholic church record of marriage of Mary Foster and Herbert Wynne, 1912</h5>
<table id="tableO" class="table1">
    <caption class="caption1">Names have been rendered from Latin to English where necessary</caption>
    <tr>
        <td class="frame1"></td>
        <td class="frame1">Name</td>
        <td class="frame1">Residence</td>
        <td class="frame1">Father</td>
        <td class="frame1">Witnesses</td>
        <td class="frame1">Witness address</td>
    </tr>
    <tr>
        <td class="frame1">Groom</td>
        <td class="body1">Herbert John Wynne</td>
        <td class="body1">36 Woodbine Street, Salford</td>
        <td class="body1">Charles Wynne</td>
        <td class="body1">Richard Noonan</td>
        <td class="body1">29 Melbourne St, Lower Broughton</td>
    </tr>
    <tr>
        <td class="frame1">Bride</td>
        <td class="body1">Mary Foster</td>
        <td class="body1">11 Sharp St, Pendleton</td>
        <td class="body1"></td>
        <td class="body1">Catherine Burgin</td>
        <td class="body1">64 Bedford St, Greengate</td>
    </tr>
</table>

<p>And that is all we know, so far, of Mary Foster's background and her relationship with the Burgins - in other words, almost nothing. Until
    we made a physical visit to Nottinghamshire records office, we had reached an entirely different conclusion on the subject of Mary Foster.
    That's another story, but if you fancy a <span
            class="linkA"
            title = "Take the digression"
            onclick="opench3a();">wee digression, like ours to Nottingham</span>, please feel free to take it.</p>


<p>Then we have the census mysteries. The first relates to the 1901 census, in which none of the Burgins seem to be present at any of the houses
    on any of the streets around the Adelphi area given in the baptism records. Or, for that matter, anywhere else in Salford, Manchester or Prestwich
    registration districts. Strange, given that the family had buried two children at Weaste about six months before census day, and were to baptise
    another at St John's eighteen months later. Mary Foster is also conspicuous by her absence in any of those districts, even if we search for her
    under the name of Burgin. The absence of all four individuals does point gently to the conclusion that a whole household has somehow been missed by,
    the enumerators, become hidden from searchers, or gone missing from the records entirely.</p>

<p>The 1891 census has also been problematic. I can find no one even approximating to Joseph Burgin or Mary Foster, and the only candidate I have
    come up with for Rose Ann is tenuous, because the name given is Rose Ann Devlin and the age is a couple of years out. The <span class = "linkA"
                                                                                                                                    title = "view original census return"
                                                                                                                                    onclick = "bigimg('fullscreen60', 1, 5, 2, 3414, 2224, 'Rose Ann Devlin Boarder 1891.jpg');">census return</span> shows
    that she is one of three boarders lodging with an extended family at 45 Blackfriars Street, not far from Greengate on one side and Adelphi on
    the other. Her age is recorded as 29 (I would have preferred 31), she is working as a winder in a mill, and she was born (as was our Rose Ann)
    in Salford.</p>

<p>Having expressed these doubts, there would be plenty of scope for enumerator recording errors in a house of multiple occupation. Where the
    head of household was unable to answer a question from memory, he wouldn't always be able to call the individual concerned to the door to obtain
    the correct answer first hand. "<i style="font-family: Georgia;  color: DarkSlateGrey;">What's your lodger's name?</i>", so the head of household
    turns into the house calling, "<i style="font-family: Georgia;  color: DarkSlateGrey;">Rose, Rose are
        you there? No, she's out on an errand, let me see now, it's an Irish name, Dillon, no, or Devlin is it?</i>"
    "<i style="font-family: Georgia;  color: DarkSlateGrey;">And how old is she?</i>", to
    which the response is "<i style="font-family: Georgia;  color: DarkSlateGrey;">Let me see now, the wife said she's not yet 30,</i>" forgetting
    this was two years previously, so the enumerator
    says "<i style="font-family: Georgia;  color: DarkSlateGrey;">Well I'll put down 29</i>". Such scenarios seem very plausible to me.</p>