{% extends "layout.njk" %}

{% block title %}
    2. The Burgins and the Dolans
{% endblock %}

{% block main %}
    		
    {% include "chapter3/1-sole_survivor.njk" %}
    {% include "chapter3/2-discs_and_mysts.njk" %}
    {% include "chapter3/3-joe_not_burgin.njk" %}
    {% include "chapter3/4-dolans_jandm_family.njk" %}
    {% include "chapter3/5-tom_dolan_family.njk" %}
	{% include "chapter3/6-dolans_jandm_roots.njk" %}
	
{% endblock %}