<p>If you remember, the earliest sighting we have had so far of Kate Burgin was in the <span class = "linkA"
                                                                                             title = "view census page"
                                                                                             onclick = "bigimg('fullscreen28', 1, 5, 1, 5905, 3490, 'Burgin 1911 census.jpg');">1911 census return</span>, living with her parents
    Rose Ann and Joseph at 1 Ryland Street, on the corner of Greengate. In the normal course of genealogical research, we would obviously
    next search for the family at the previous census in 1901. But there is not a sign of them, in Salford or anywhere else in England, whether
    all together, individually or in any of the three possible combinations of twosomes. As there are other clear indications that Rose and
    Joseph were in fact in Salford in the years immediately preceding and following 1911, I am beginning to think that the census missed a
    dwelling place, or that the relevant page has somehow become separated from the rest of the census returns.</p>

<p>As Joseph and Rose Ann's marriage post-dated the 1891 census, the family will not be found at any other census. But
    even searching for Rose Ann and Joseph separately at the 1891 census in Manchester or Salford, we hit huge problems. Let's start with
    what we have found. Rose Ann Dolan and Joseph Burgin were married at St Peter's Greengate on 2 January 1892, and the record can be found
    in the church register books which are held at the county archives in Preston. </p>

<h5>Catholic church record of Joseph and Rose Ann's marriage, 1892</h5>
<table id="tableM" class="table1" style="float:left;margin-right: 20px;">
    <caption class="caption1">Names have been rendered from Latin to English where necessary</caption>
    <tr>
        <td class="frame1"></td>
        <td class="frame1">Name</td>
        <td class="frame1">Residence</td>
        <td class="frame1">Parents</td>
        <td class="frame1">Witnesses</td>
    </tr>
    <tr>
        <td class="frame1">Groom</td>
        <td class="body1">Joseph</td>
        <td class="body1">Salford</td>
        <td class="body1">Francis and Elizabeth Burgon</td>
        <td class="body1" style="border-bottom:none;">Mary Jane and</td>
    </tr>
    <tr>
        <td class="frame1">Bride</td>
        <td class="body1">Rose Ann</td>
        <td class="body1">Salford</td>
        <td class="body1">John and Mary Dolan</td>
        <td class="body1" style="border-top:none;">Thomas Dolan</td>
    </tr>
</table>
<p style="margin-top:-10px;">The 1911 census form shows that Catherine, the first child, was the only one of Joseph and Rose Ann's five
    who survived until the census date. I have found birth records for all five, baptism records for three of these (all at
    St John the Evangelist), and funeral records for all four who died.</p>

<h5>Catholic church records for Joseph and Rose Ann's children, 1892 - 1902*</h5>
<table id="tableN" class="table1" style="table-layout:fixed; text-align:center;">
    <caption class="caption1">* All names have been rendered from Latin to English where necessary</caption>
    <tr>
        <td class="frame1">Name</td>
        <td class="frame1" style="width:110px;">Birth date</td>
        <td class="frame1" style="width:110px;">Registration quarter</td>
        <td class="frame1" style="width:110px;">Baptism date</td>
        <td class="frame1" style="width:280px;">Address when baptised</td>
        <td class="frame1" style="width:140px;">Godparent1</td>
        <td class="frame1" style="width:110px;">Godparent2</td>
        <td class="frame1" style="width: 120px;">Date of death</td>
    </tr>
    <tr>
        <td class="frame1" style="text-align:left;">Catherine</td>
        <td class="body1">15 Oct 1892</td>
        <td class="body1">Q4 1892</td>
        <td class="body1">18 Nov 1892</td>
        <td class="body1">2 Crosley St, off Brewery St</td>
        <td class="body1">Mary Murphy</td>
        <td class="body1"></td>
        <td class="body1"></td>

    </tr>
    <tr>
        <td class="frame1" style="text-align:left;">Elizabeth</td>
        <td class="body1"></td>
        <td class="body1">Q1 1895</td>
        <td class="body1"></td>
        <td class="body1"></td>
        <td class="body1"></td>
        <td class="body1"></td>
        <td class="body1">21 Nov 1896</td>

    </tr>
    <tr>
        <td class="frame1" style="text-align:left;">John</td>
        <td class="body1"></td>
        <td class="body1">Q4 1896</td>
        <td class="body1"></td>
        <td class="body1"></td>
        <td class="body1"></td>
        <td class="body1"></td>
        <td class="body1">24 Sep 1900</td>

    </tr>
    <tr>
        <td class="frame1" style="text-align:left;">Joseph</td>
        <td class="body1">5 May 1899</td>
        <td class="body1">Q3 1899</td>
        <td class="body1">13 Aug 1899</td>
        <td class="body1">31 Methvin St, Adelphi</td>
        <td class="body1">Sara Murphy</td>
        <td class="body1"></td>
        <td class="body1">18 Oct 1900</td>

    </tr>
    <tr>
        <td class="frame1" style="text-align:left;">William</td>
        <td class="body1">12 Aug 1902</td>
        <td class="body1">Q4 1902</td>
        <td class="body1">29 Aug 1902</td>
        <td class="body1">42 Canon St</td>
        <td class="body1">Robert Nicolson</td>
        <td class="body1">Mary Coulon</td>
        <td class="body1">10 Aug 1904</td>

    </tr>

</table>

<p>These child deaths are not perinatal. If you look at the sequence of events, John, the third child, is born just before or just after
    Elizabeth dies, probably just short of her second birthday. For over twelve months, from mid-1899 (when Joseph is born) to Autumn 1900, there are three
    children alive. Then two of them are snatched in very short order, one aged about four, the other nearly 18 months, leaving only Catherine again.
    Was there an epidemic that year? Finally, William's life runs from August 1902 to August 1904, before Catherine is alone again.</p>

<h4>Discrepancies and mysteries</h4>
<p>There are some differences with dad's account in Down the Arches. In 1999, he wrote that there was a copy of Catherine's birth certificate held
    by Phil and Harry, and that it stated that she was born on 15 August 1892 at Bedford Street off Greengate. I suspect the month was just somebody's
    slip-up as Down the Arches was put together. As for the address, it is not impossible that she was born at Bedford Street - for example, the family
    could have moved to Crosley Street during the month between birth and baptism - but it does seem slightly odd, especially as her first son
    Richard [III] Noonan was born at Bedford Street nearly a quarter century later (and we know there were many moves in between times). So we
    have a little address mystery.</p>

<p>There are also some geographical difficulties unlinked to Down the Arches. Just north of St John's, all broadly in the area which might be
    called Adelphi, there is a Brewery Street, a Methvin Street and a Cannon Street. But try as I might, I cannot find a Crosley Street, whichever
    generation of maps I look at. There is another Brewery Street just across the river to the east, near Strangeways Prison. This is near a
    Cross Lane, but no Crosley Street. On the other hand, there is a Crossley Street in central Manchester, but no Brewery Street within sight. This
    is the second address mystery.</p>

<p>Then there is the Mary Foster mystery - that was the maiden name of Mary Wynne, who features in Down the Arches as a probable half-sister to
    Catherine Burgin. We continue to assume that she did live in the Burgin household for a considerable period, as if a sister to Catherine, if only
    because Catherine's later actions in life demonstrated that she cared for her like a sister. But we can find no evidence at all of any
    blood-relationship, and we have no idea when or why she joined the household. Mary was born on 8 November 1888 at 26 Factory Lane and baptised the
    same day at St John's Cathedral less than five minutes walk away. Her mother was Ellen Foster, a flax-rover in a mill, the godparent was named as
    Elizabeth Connor, but no father's name was given either at the baptism or the registration. We have a <span class = "linkA"
                                                                                                                title = "view certificate"
                                                                                                                onclick = "bigimg('fullscreen58', 1, 5, 2, 2868, 2016, 'Mary Foster BCert 1888.jpg');">copy birth certificate</span> from the registration,
    which took place on 3 January 1889 and for which Ellen signed with an X. Incidentally, no. 26 Factory Lane was recorded as an empty house at
    the 1891 census, but that was over two years later.</p>

<p>The next sighting of Mary Foster in the historical records is on 2 April 1911, census night. The <span class = "linkA"
                                                                                                          title = "view original census return"
                                                                                                          onclick = "bigimg('fullscreen59', 1, 6, 2, 5970, 3601, 'Mary Foster Sharp St 1911.jpg');">census return</span> shows her boarding with
    the widow Ann Gordon Crossley at 11 Sharp Street, Salford, from where they both work as cop winders in a cotton mill. So, if she had been staying
    with the Burgins during her youth, she had already moved out and set up independently by age 22 (which explains why we didn't find her with the
    rest of the family at no. 1 Ryland Street at the 1911 census). Sharp Street is to the south of Whit Lane on the other side of the railway, not
    far from the junction of Bolton Road and Eccles Old Road (near one of Peter Reid's earlier homes). A year later, we have the record of her
    marriage on 20 April 2012, at the Mother of God and St James in Pendleton, witnessed by not-yet-wed couple Catherine Burgin and Richard Noonan.</p>



<h5>Catholic church record of marriage of Mary Foster and Herbert Wynne, 1912</h5>
<table id="tableO" class="table1">
    <caption class="caption1">Names have been rendered from Latin to English where necessary</caption>
    <tr>
        <td class="frame1"></td>
        <td class="frame1">Name</td>
        <td class="frame1">Residence</td>
        <td class="frame1">Father</td>
        <td class="frame1">Witnesses</td>
        <td class="frame1">Witness address</td>
    </tr>
    <tr>
        <td class="frame1">Groom</td>
        <td class="body1">Herbert John Wynne</td>
        <td class="body1">36 Woodbine Street, Salford</td>
        <td class="body1">Charles Wynne</td>
        <td class="body1">Richard Noonan</td>
        <td class="body1">29 Melbourne St, Lower Broughton</td>
    </tr>
    <tr>
        <td class="frame1">Bride</td>
        <td class="body1">Mary Foster</td>
        <td class="body1">11 Sharp St, Pendleton</td>
        <td class="body1"></td>
        <td class="body1">Catherine Burgin</td>
        <td class="body1">64 Bedford St, Greengate</td>
    </tr>
</table>

<p>And that is all we know, so far, of Mary Foster's background and her relationship with the Burgins - in other words, almost nothing. Until
    we made a physical visit to Nottinghamshire records office, we had reached an entirely different conclusion on the subject of Mary Foster.
    That's another story, but if you fancy a <span
            class="linkA"
            title = "Take the digression"
            onclick="opench3a();">wee digression, like ours to Nottingham</span>, please feel free to take it.</p>


<p>Then we have the census mysteries. The first relates to the 1901 census, in which none of the Burgins seem to be present at any of the houses
    on any of the streets around the Adelphi area given in the baptism records. Or, for that matter, anywhere else in Salford, Manchester or Prestwich
    registration districts. Strange, given that the family had buried two children at Weaste about six months before census day, and were to baptise
    another at St John's eighteen months later. Mary Foster is also conspicuous by her absence in any of those districts, even if we search for her
    under the name of Burgin. The absence of all four individuals does point gently to the conclusion that a whole household has somehow been missed by,
    the enumerators, become hidden from searchers, or gone missing from the records entirely.</p>

<p>The 1891 census has also been problematic. I can find no one even approximating to Joseph Burgin or Mary Foster, and the only candidate I have
    come up with for Rose Ann is tenuous, because the name given is Rose Ann Devlin and the age is a couple of years out. The <span class = "linkA"
                                                                                                                                    title = "view original census return"
                                                                                                                                    onclick = "bigimg('fullscreen60', 1, 5, 2, 3414, 2224, 'Rose Ann Devlin Boarder 1891.jpg');">census return</span> shows
    that she is one of three boarders lodging with an extended family at 45 Blackfriars Street, not far from Greengate on one side and Adelphi on
    the other. Her age is recorded as 29 (I would have preferred 31), she is working as a winder in a mill, and she was born (as was our Rose Ann)
    in Salford.</p>

<p>Having expressed these doubts, there would be plenty of scope for enumerator recording errors in a house of multiple occupation. Where the
    head of household was unable to answer a question from memory, he wouldn't always be able to call the individual concerned to the door to obtain
    the correct answer first hand. "<i style="font-family: Georgia;  color: DarkSlateGrey;">What's your lodger's name?</i>", so the head of household
    turns into the house calling, "<i style="font-family: Georgia;  color: DarkSlateGrey;">Rose, Rose are
        you there? No, she's out on an errand, let me see now, it's an Irish name, Dillon, no, or Devlin is it?</i>"
    "<i style="font-family: Georgia;  color: DarkSlateGrey;">And how old is she?</i>", to
    which the response is "<i style="font-family: Georgia;  color: DarkSlateGrey;">Let me see now, the wife said she's not yet 30,</i>" forgetting
    this was two years previously, so the enumerator
    says "<i style="font-family: Georgia;  color: DarkSlateGrey;">Well I'll put down 29</i>". Such scenarios seem very plausible to me.</p>

<h4>Joseph not a Burgin? The Donohoes and the Murphys</h4>
<p>There is a pretty reliable sighting of Joseph Burgin in 1881, when the <span class = "linkA"
                                                                                title = "view original census return"
                                                                                onclick = "bigimg('fullscreen61', 1, 5, 2, 2444, 1799, 'Joseph Bergan 1881 census extract manchester.jpg');">census return</span>
    shows him lodging at 1 Buckingham Street in Manchester. I am very confident that this is the same Joseph Burgin that we see thirty
    years later in the 1911 census married to Rose Ann. His implied year of birth is identical, his occupation is identical (the very
    specialised calenderer, or cloth finisher), and his place of birth is identical. Remarkably, there is only a single letter difference
    in the spelling of the surname, for which I have seen upwards of five different variants. Some believe the name is derived
    from the French Bourgogne - would this involve the dukes of Burgundy, I ask, and could they have somehow been associated with the
    Normans? The story goes that in Ireland, their mixed descendants morphed (maybe with an intermediate Gaelic phase) into Bergans, Burgons,
    etc etc etc, whilst in England, the spelling stayed closer to the original French, such as Burgoyne. But I digress.</p>

<p>Joseph is also readily identified at the 1871 census, this time with some parents present. I don't know whether 2 April 1871 was
    a typical evening in that household, but the large number and varied mix of people present is interesting enough for me to reproduce
    all that was recorded.</p>

<h5>2 April 1871 E&W census: the Burgin household at 29 Great Horrocks, Manchester</h5>
<table id="tableP"
       class="table2"
       style="float:left;margin-right: 2%;"
       title = "View original census page"
       onclick="bigimg('fullscreen62', 1, 5, 2, 2675, 1528, '1871 Fanton Burgan household.jpg');">
    <tr style="height: 35px; vertical-align: bottom; ">
        <td class="frame1">Name</td>
        <td class="frame1" style="width: 40px; text-align: center;">Given age</td>
        <td class="frame1" style="width: 110px;">Relationship, marital status</td>
        <td class="frame1" style="text-align: center;">Place of birth</td>
        <td class="frame1" style="text-align: center;">Occupation</td>
    </tr>
    <tr>
        <td class="frame1">Fanton Burgin</td>
        <td class="body1" style="width: 40px; text-align: center;">60</td>
        <td class="body1">Head, married</td>
        <td class="body1" style="text-align: center;">Ireland</td>
        <td class="body1" style="text-align: center;">Dyer</td>
    </tr>
    <tr>
        <td class="frame1">Eliza Burgin</td>
        <td class="body1" style="width: 40px; text-align: center;">52</td>
        <td class="body1">Wife, married</td>
        <td class="body1" style="text-align: center;">Ireland</td>
        <td class="body1" style="text-align: center;">Housewife</td>
    </tr>
    <tr>
        <td class="frame1">Joseph Burgin</td>
        <td class="body1" style="width: 40px; text-align: center;">16</td>
        <td class="body1">Son, single</td>
        <td class="body1" style="text-align: center;">Manchester</td>
        <td class="body1" style="text-align: center;">Poulterer's assistant</td>
    </tr>
    <tr>
        <td class="frame1">John Nield</td>
        <td class="body1" style="width: 40px; text-align: center;">58</td>
        <td class="body1">Boarder, married</td>
        <td class="body1" style="text-align: center;">Ireland</td>
        <td class="body1" style="text-align: center;">Scavenger</td>
    </tr>
    <tr>
        <td class="frame1">Catherine Walker</td>
        <td class="body1" style="width: 40px; text-align: center;">70</td>
        <td class="body1">Lodger, widow</td>
        <td class="body1" style="text-align: center;">Ireland</td>
        <td class="body1" style="text-align: center;">Hawker</td>
    </tr>
    <tr>
        <td class="frame1">Joseph Whitehead</td>
        <td class="body1" style="width: 40px; text-align: center;">28</td>
        <td class="body1">Lodger, single</td>
        <td class="body1" style="text-align: center;">Manchester</td>
        <td class="body1" style="text-align: center;">Dyer</td>
    </tr>
    <tr>
        <td class="frame1">Samuel Coe</td>
        <td class="body1" style="width: 40px; text-align: center;">58</td>
        <td class="body1">Widower</td>
        <td class="body1" style="text-align: center;">Manchester</td>
        <td class="body1" style="text-align: center;">Labourer</td>
    </tr>
    <tr>
        <td class="frame1">James Lyons</td>
        <td class="body1" style="width: 40px; text-align: center;">18</td>
        <td class="body1">Single</td>
        <td class="body1" style="text-align: center;">London</td>
        <td class="body1" style="text-align: center;">Poulterer's assistant</td>
    </tr>
    <tr>
        <td class="frame1">Thomas Seagrave</td>
        <td class="body1" style="width: 40px; text-align: center;">28</td>
        <td class="body1">Visitor</td>
        <td class="body1" style="text-align: center;">Ireland</td>
        <td class="body1" style="text-align: center;">Tanner</td>
    </tr>
    <tr>
        <td class="frame1">Phillip Ward</td>
        <td class="body1" style="width: 40px; text-align: center;">18</td>
        <td class="body1"></td>
        <td class="body1" style="text-align: center;">Ireland</td>
        <td class="body1" style="text-align: center;">Labourer</td>
    </tr>
    <tr>
        <td class="frame1">Lawrence Seagrave</td>
        <td class="body1" style="width: 40px; text-align: center;">25</td>
        <td class="body1"></td>
        <td class="body1" style="text-align: center;">Ireland</td>
        <td class="body1" style="text-align: center;">Parchment maker</td>
    </tr>
</table>
<p style = "margin-top: -15px;">Once again, there can be hardly any doubt that this is the correct Joseph Burgin. There is a one year difference in
    year of birth, but the name is spot on, as is the place of birth. His father's occupation is closely related to the one he will take up later.
    As for his own occupation, he might have been assisting a chicken-rearer and vendor - that is the only dictionary definition I can find.
    But note that there are two young men present with that occupation, and two dyers, and think of the word "poultice" and its connotations. I
    wouldn't be at all surprised if poultering was a process in the cloth production industry of the time.</p>

<p>But have we really found Joseph's parents? There is a wrinkle - comparing with Joseph and Rose Ann's marriage record, Fanton somehow
    became Francis.</p>

<p>In fact Fanton and Eliza became Francisci and Elisabethae, in Latin. I think either Joseph became embarrassed and confused, or the priest
    became exasperated trying to Latinise the unusual name Fanton (or both). Fenton is occasionally used as a given name, but mostly in England.
    Fanton is so unusual that it sounds like a familiar contraction of Frank Anthony, or something like that. Nevertheless I have a strong
    feeling that this is the correct couple.</p>

<p>Looking at the 1871 census return, the natural conclusion to draw would be that Fanton and Eliza arrived in England from Ireland prior to the
    mid-1850s, when they had Joseph together. But we would need to keep an open mind on whether they married in Ireland or in England, and on
    whether Joseph had any older siblings. Either way, we would expect to find the family present in England - probably in the Manchester area -
    at the 1861 census. But we find that there is no sign whatsoever of a Fanton Burgin - or anyone close - at the 1861 census.</p>
<br>
<u>Fanton and Eliza married in 1865</u>
<p style="margin-top:0;">Fanton and Eliza are a little on the old side to have a sixteeen year-old boy, which made me consider the possibility
    that they married
    slightly late in life. But I was amazed when I discovered how late. There is a civil record of a marriage between a Fenton Bergen and an Eliza
    Donoghoe in the fourth quarter of 1865 in the Chorlton registration district (the southern edge of central Manchester to you and me). They
    would have been about 54 and 46 years old, respectively, at the time. To my mind, this must be the same couple, but the question is whether
    Donoghoe is a married or a maiden name. So far, we had been unable to locate any record of the birth of Joseph Burgin in the 1850s in
    Lancashire, but perhaps now we had the key to this riddle.</p>
<br>
<u>Joseph born a Donoghoe in 1854</u>
<p style="margin-top:0;">Sure enough, there is a civil record of the birth of a Joseph Donohoe, registered in Manchester in the fourth quarter
    of 1854, mother's
    maiden name Murphy. So it looks very much as if Joseph Burgin was in fact the son of Eliza Murphy and some Mr Donoghoe, in which case the
    name Burgin would have been adopted when Eliza re-married in 1865. Joseph was then ten or eleven years old, so would have been aware that
    he was a Donoghoe, but acquiring a new step-father. The year of birth is close enough to the years implied by the 1871, 1881 and 1911 census
    returns to be entirely credible. Our case is not yet proven but looks very strong.</p>

<p>The next step was to find the Murphy-Donoghoe marriage and establish the full identity of Joseph's blood-father. Then we would need to
    establish where the Donoghoe family was at the 1861 census. There is a built-in problem with this narrative, as it cannot convey the
    thoroughness - or otherwise - with which searches for events that have never been found were undertaken. I've used wildcards, variant
    spellings, adjustments of the search time windows and variation of search areas (such as switching between Salford and Manchester, expanding
    to the whole of Lancashire - and occasionally to England, or Ireland).</p>

<p>In the current instance, my first failure was to find a birth of a Joseph Burgin in or near Manchester between 1850 and 1860. Then there
    was no sign at all of a marriage between Fanton Burgin and any Eliza prior to that birth, including Irish marriages. Finally, I cannot
    find any marriage between an Eliza Murphy and a Donohoe in England in the decade prior to 1855. But I can find one in Ireland.</p>
<br>
<img src = "John Donohoe - Eliza Murphy Dublin 1853.jpg"
     style ="width: 400px; border: 2px solid sienna;float: right;margin-bottom: 15px; margin-left:20px;"
     class = "linkC"
     title = "view flexible image"
     onclick = "bigimg('fullscreen63', 1, 5, 2, 2608, 4040, 'John Donohoe - Eliza Murphy Dublin 1853.jpg');">

<p style="margin-top:0;"><u>John Donohoe and Eliza Murphy married in Dublin</u></p>
<p style="margin-top:0;">John Donohoe was married to Eliza Murphy in St Nicholas (Without), Francis Street, Dublin on 12 January 1853.
    The witnesses were Daniele
    Kavanagh and Catharina King, these being the only clues - unusable so far - that the record gives as to the bride and groom's origins.
    I would expect a Murphy to have a background in Cork, or at least Munster, but that could have been generations back. If we have the right
    Eliza here, she would have been about 34 in 1853 (from the Manchester 1871 census return), which is quite late for a typical marriage in
    the catholic community in the Ireland of those times. I wonder whether there could have been a previous family - in fact, it is possible
    that Murphy is a married, not a maiden name, in which case there may have been no link to Cork at all.</p>

<p>But everything would have been blown apart by the effects of the Great Hunger by then, so it is impossible to say. My imagination
    baulks when I think of what the conditions in Dublin must have been in the early 1850s - there had been hundreds of thousands of deaths,
    the countryside was still emptying into the cities, and the cities were emptying to the rest of the world. Dublin would have been full
    of near starving and utterly impoverished people, many of them hoping to be "just passing through". It is possible that John and Eliza
    married with the explict plan of "getting out of there" together.</p>

<p>And get out they did. Because by the fourth quarter of 1854, they were registering the birth of their child Joseph with the local authorities
    in Manchester, England. From that time, we would hope they'd be able to settle in the Machester area, perhaps grow their family, and we would
    then be able to find their household in the 1861 E&W census. But no - from what we already know, John Donoghoe must have died by 1865, when
    Eliza married Fanton. What we don't know is whether he died before or after the 1861 census, and whether they had had any more children by then.
    The fact that Eliza brought only one child into her marriage with Fanton suggests there were no more children who survived, at least. And as we
    think she was about age 35 when she had Joseph, it wouldn't be surprising if he was her last.</p>

<p>We have no idea of John Donoghoe's age, except that it must have fallen within the acceptable range for marrying a woman of about 34 in 1853. This
    compounds the difficulty of identifying the record of his death.</p>

<p>But there are numerous "candidates" for his death in the civil records for the Manchester area from
    1855 to 1865, so I think we simply have to accept that one of these is our John's death. Which leaves us with the 1861 census - we cannot find a
    family headed by a John Donoghoe and including an Eliza and a Joseph both of the right age. Nor can we find John living with either one of
    them separately. But if we search for a Joseph Donohoe born around 1855, we get a hit - although not of the type we would hope for.</p>
<br>
<img src = "SUWH_1.jpg"
     style ="width: 400px; border: 2px solid sienna;float: left;margin-bottom: 0px; margin-right:20px;"
     class = "linkC"
     title = "view flexible image"
     onclick = "bigimg('fullscreen64', 1, 4, 2, 2270, 1411, 'SUWH_1.jpg');">

<p style="margin-top:0;">Here are two J Donohoes, a widow aged 28 together with her seven year-old son. On census day, 7 April 1861, they are
    inmates in Salford Union Workhouse. Could this be our Eliza and young Joseph? In favour of this supposition,
    <br>
<ul style="margin-left:20px;list-style-position:inside;">
    <li>we can't find them anywhere else</li>
    <li>the surname is correct</li>
    <li>John's age and initial are accurate</li>
    <li>his mother is a widow</li>
    <li>it is plausible that she had no alternative but the workhouse after her husband died</li>
</ul>
On the other hand,
<br>
<ul style="margin-left:20px;list-style-position:inside;">
    <li>Eliza's initial is wrong</li>
    <li>her given age is far too young</li>
</ul>
</p>
<p>I don't know whether poor old Eliza and Joseph, who would be my great-great-grandmother and great-grandfather, really did have to suffer the
    workhouse experience or not. I've simply set out what we've discovered so far. But it does seem absolutely clear that Fanton Burgin married Eliza
    Donohoe ten years after Joseph was born, and the records do show the birth of a Joseph Donohoe (mother's "maiden" name Murphy) at the time and
    in the place that we failed to find a birth in the name of Joseph Burgin. And a John Donohoe did marry an Eliza Murphy in Dublin less than two years
    previously. Personally, I find all that fairly convincing. Before we move on though, for those who have a morbid interest in the workhouse, here is
    a little flavour from the <span class = "linkA"
                                    title = "view documents"
                                    onclick = "bigimg('fullscreen65', 1, 6, 2, 4532, 2856, 'SUWH2-5.jpg');">header pages of the institutional return</span>,
    run by the surely redoubtable couple Thomas and Hannah Bebbington. Incidentally, this was the institution on Regent Road, a
    little south of the cattle market, and not far from where Elizabeth Corcoran would later live prior to her marriage in 1880,
    or from where James and Hannah Noonan lived in early 1901.</p>

<p>Before we turn to the Dolans, there are a couple of loose ends to consider - I don't say tie up, as we've rarely been able to
    form any kind of finished knot at the end of any string. What became of Fanton and Eliza Burgin after 1871? Whilst not proven, it
    looks very much as if Eliza died in the third quarter of 1873. The age given was 47, which would have her born around 1826, rather than
    around 1819 as implied by the 1871 census. But death records have proved to be notoriously inaccurate as to age. No other deaths
    in Manchester, Salford or nearby from 1871 to 1911 look at all like hers.</p>

<p>If that is correct, Eliza's marriage to Fanton - and Joseph's experience as a stepson - lasted only eight years. It looks as if Fanton
    was about 55 when he married Eliza, and it might be difficult even for the most child-friendly of men to form a good relationship with
    a ten year-old at that age. I do think Fanton helped Joseph find a trade, however, and it looks as if he relied on it for the rest of his
    life. But Joseph would have been about nineteen when his mother died, and he probably couldn't wait to flee the nest. Especially if he
    regularly had to compete for attention with a miscellany of around ten other visitors, lodgers and miscellaneous!</p>

<p>As for Fanton himself, it appears that he found some people to care for him during at least part of his latter years, these being "The Little
    Sisters of the Poor" in their "Home for Aged People" on Culcheth Lane in Newton Heath. I wonder whether Joseph ever visited him there. This
    institution was still marked on streetmaps in the 1930s, and was very close to where Peter Reid began his industrial career in Manchester, and
    to Failsworth, where James and Elizabeth Cassidy moved together with Margaret Corcoran after their marriage in 1880. Our promising candidate
    appears with other elderly inmates on the relevant <span class = "linkA"
                                                             title = "view census page"
                                                             onclick = "bigimg('fullscreen66', 1, 4, 2, 1723, 1096, 'Fenton Bargan 1881 old peoples home.jpg');">page of the 1881 census return</span>.</p>

<p> After 1881, Fanton seems to evaporate from the records entirely. Not
    only does he fail to appear in any subsequent censuses (quite reasonable for a 73 year-old), but he also shows no sign of having died, ever or
    anywhere (rather more spooky). In the 1930s, All Saints cemetery was just around the corner from the Home for the Aged on Culcheth Lane. I wonder
    if it is still there, and contains any memorial of Fanton Burgin.</p>

<p>In the event, it has turned out that the Burgin branch has been the hardest of all the branches to trace back. This section reflects some really
    last minute progress, but it remains too tentative for my liking, as we have so far not found any of those tiny, but so valuable, links between
    the beginning and end of the chain of descent. But hope springs eternal, and never having been able to resist clutching at any visible straw, I
    noticed that two of the godparents of Joseph and Rose Ann's children were named Murphy, just as Eliza had been many years before. Could they be
    related somehow? This led me on to what I must call "<span
            class="linkA"
            title = "Take the digression"
            onclick="opench3b();">The Bangladesh Digression</span>". And although I didn't prove there was a family link, I didn't prove
    there wasn't either.</p>

<h4>The Dolans - John and Mary's family</h4>

<p>We've already seen a possible but doubtful 1891 census record for Rose Ann Dolan, under the name of Devlin. But there is a contrastingly
    solid <span class = "linkA"
                title = "view census page"
                onclick = "bigimg('fullscreen74', 1, 4, 2, 2436, 1645, 'Rose Ann Dolan 1881 census.jpg');">record from the 1881 census</span>.
    Rose Ann is staying in a boarding house at 39 Bridgewater Street in the Greengate district. Her age is given as 21 and she is a tenter
    in a cotton mill. Thomas Dolan, age 15, who turns out to be her younger brother, is staying there too, working as an errand boy, but more
    on him later. We know from Rose Ann's marriage record that her parents were John and Mary Dolan, and there is a church record of their
    marriage at St John the Evangelist on 30 October 1858.</p>

<h5>Catholic church record of John Dolan and Mary Connelly's marriage, 1858</h5>
<table id="tableQ" class="table1" style="float:left;margin-right: 20px;">
    <caption class="caption1">Names have been rendered from Latin to English where necessary</caption>
    <tr>
        <td class="frame1"></td>
        <td class="frame1">Name</td>
        <td class="frame1">Residence</td>
        <td class="frame1">Parents</td>
        <td class="frame1">Witness</td>
        <td class="frame1">Witness residence</td>
    </tr>
    <tr>
        <td class="frame1">Groom</td>
        <td class="body1">John</td>
        <td class="body1">Salford</td>
        <td class="body1">Patrick and Rose Ann Dolan</td>
        <td class="body1">William Cantwell</td>
        <td class="body1">Salford</td>
    </tr>
    <tr>
        <td class="frame1">Bride</td>
        <td class="body1">Mary</td>
        <td class="body1">Salford</td>
        <td class="body1">Richard and Mary Connelly</td>
        <td class="body1">Catherine Haggarty</td>
        <td class="body1">Manchester</td>
    </tr>
</table>
<p style="margin-top:-10px;">As far as we can tell, John and Mary had seven children (including a pair of twins), but all except Rose Ann (the first)
    and Thomas (the third) died within a couple of months of birth.</p>

<p>We have baptism records for all seven babies. Rose Ann was born on 13 October 1859 and baptised three days later at St John the Evangelist.
    Her godparents were the two people who had witnessed her parents' marriage a year before. The address given was 3 Greengate, so she was born
    a few doors down the same street on which we found her over sixty years later, at dad's birthday in August 1922, as he related in Down the Arches.</p>

<p>On census day in 1861, the young family was still living in Salford, at 2 Elton's Court in Trinity Ward. Although I couldn't find this address
    on any historical map, two short scrolls backwards and forwards through the census returns shows that they were living just south of Greengate,
    somewhere near the Ragged School, Garden Lane and Rolla Street. Their <span class = "linkA"
                                                                                title = "view 1861 census page"
                                                                                onclick = "bigimg('fullscreen75', 1, 4, 2, 2377, 1522, '1861 E&W census john and mary dolan household.jpg');">census return</span> shows John
    and Mary, aged 22 and 23 and born in Ireland, with their one year-old daughter Ann, born in Salford, and Ann Smith, an 82 year-old widow from
    Ireland, staying as a lodger. The missing forename "Rose" and the ages at first roused a suspicion that this was the wrong family, but in the
    end, the location persuaded me that it was probably right. John is recorded as a "factory grinder". More on the detail later.</p>

<p>Some time between April 1861 and June 1863, the family crossed the Irwell to settle in Manchester. This sounds quite grandiose in words, but
    the walking time might have been only about 30 minutes. It also means that Rose Ann was (temporarily) extracted from her Greengate roots
    before reaching age 5, but she returned some time between age 12 and 22, because in 1881 she was living on Bridgewater Street. From mid-1863,
    all John and Mary's children were born in Manchester (rather than Salford), and baptised at St Joseph's, Ancoats. All except Thomas seem to
    have died extremely young, although for this we have had had to rely only on civil death records, which give the minimum of detail and a wide
    three-month window for the date of death.</p>

<h5>St Joseph's Catholic church records for John and Mary Dolan's children, 1863 - 1870*</h5>
<table id="tableR" class="table1" style="table-layout:fixed; text-align:center;">
    <caption class="caption1">* All names have been rendered from Latin to English where necessary</caption>
    <tr>
        <td class="frame1">Name</td>
        <td class="frame1" style="width:110px;">Birth date</td>
        <td class="frame1" style="width:110px;">Registration quarter</td>
        <td class="frame1" style="width:110px;">Baptism date</td>
        <td class="frame1" style="width:140px;">Godparent1</td>
        <td class="frame1" style="width:140px;">Godparent2</td>
        <td class="frame1" style="width:120px;">Quarter of death</td>
    </tr>
    <tr>
        <td class="frame1" style="text-align:left;">Richard Patrick</td>
        <td class="body1">17/6/1863</td>
        <td class="body1">Q3 1863</td>
        <td class="body1">21/6/1863</td>
        <td class="body1">Patrick Connell</td>
        <td class="body1">Mary Cadaghan</td>
        <td class="body1">Q3 1863</td>

    </tr>
    <tr>
        <td class="frame1" style="text-align:left;">Thomas</td>
        <td class="body1">29/10/1865</td>
        <td class="body1">Q4 1865</td>
        <td class="body1">29/10/1865</td>
        <td class="body1">Michael Connell</td>
        <td class="body1">Mary Moran</td>
        <td class="body1"><i>SURVIVOR</i></td>

    </tr>
    <tr>
        <td class="frame1" style="text-align:left;">John (<i>twin</i>)</td>
        <td class="body1">1/2/1868</td>
        <td class="body1">Q1 1868</td>
        <td class="body1">2/2/1868</td>
        <td class="body1">Robert Anney</td>
        <td class="body1">Catherine Anney</td>
        <td class="body1">Q1 1868</td>


    </tr>
    <tr>
        <td class="frame1" style="text-align:left;">Joseph (<i>twin</i>)</td>
        <td class="body1">1/2/1868</td>
        <td class="body1">Q1 1868</td>
        <td class="body1">2/2/1868</td>
        <td class="body1">James Lynch</td>
        <td class="body1">Julia Sherrock</td>
        <td class="body1">Q1 1868</td>

    </tr>
    <tr>
        <td class="frame1" style="text-align:left;">John Joseph</td>
        <td class="body1">9/3/1869</td>
        <td class="body1">Q1 1869</td>
        <td class="body1">21/3/1869</td>
        <td class="body1">Martin Nohely</td>
        <td class="body1">Anne Murphy</td>
        <td class="body1">Q1 1869</td>

    </tr>
    <tr>
        <td class="frame1" style="text-align:left;">Mary</td>
        <td class="body1">26/8/1870</td>
        <td class="body1">Q3 1870</td>
        <td class="body1">18/9/1870</td>
        <td class="body1">Martin Nogaly</td>
        <td class="body1">Elizabeth Watson</td>
        <td class="body1">Q4 1870</td>

    </tr>
</table>

<p>You can see that the baptisms frequently followed on very soon after the births, typically a sign of a fear that the baby might die any day unbaptised.
    Also, in all but one case, the quarter of death includes the birth date, implying that the baby lived for less than three months. Here was a
    couple going through great pains to produce a large family and failing at nearly every turn. Our best candidate for the identity of the mother, Mary
    Connell(y), was baptised in 1834 in Limerick City and had a brother Patrick baptised in 1841 (see below). I've looked at the Patrick Connell(y)s living in
    Manchester and Salford in the 1861 and 1871 censuses, and at those involved in some way in Roman Catholic marriages and baptisms in the area around those
    times, but I am so far unable to find any family connection with Mary.  I have no idea whether Michael Connell was any relation to Mary, but I found
    no brother called Michael in my Irish searches. There's definitely still scope for more investigation of Mary Connell's siblings on both sides of
    the Irish sea.</p>

<p>We find <span class = "linkA"
                 title = "view 1871 census page"
                 onclick = "bigimg('fullscreen76', 1, 6, 2, 6509, 4025, '40 Thompson St Cellar 1871 JandM Dolan.jpg');">another record of the Dolan family</span>,
    this time in central Manchester, at the 1871 census. They were lodging at 40, Thompson Street Cellar. I hope the cellar is no longer a dwelling, but
    the street still exists, in Ancoats, joining Oldham Road to Rochdale Road. Rose Ann (this time with both forenames supplied) is recorded as an
    eleven year-old scholar, born in Salford, and Thomas, age five, as born in Manchester. So far so good, although given that dad suggested that
    Rose Ann was unable to write her name, any schooling was short-lived and/or ineffective. John is now recorded as a "factory operative", and,
    over ten years, John and Mary's ages had remarkably increased by eighteen and seventeen years respectively. This led me to wonder whether we
    had the wrong family, either in 1861, 1871 or both. But the locations, birthplaces, birthdates of children and baptism records all support
    our interpretation.</p>

<p>There is something about the way John's occupation is described in the two censuses that brings my imagination back to those discussions with the
    census enumerators on the doorstep. "<i style="font-family: Georgia;  color: DarkSlateGrey;">And what is your occupation, sir?",
        "Oi'm down the fackory", "So what do you do there?", "Some grinding", </i>, or whatever, "<i style="font-family: Georgia;  color: DarkSlateGrey;">
        I'll put down 'operative', then. How old are you both?</i>". And then confusion, because it is not at all inconceivable that, from the backgrounds
    that they didn't choose, and with all the chaos	they had to live through, neither John nor Mary ever learned to count beyond their fingers (at least
    in English). At one or other of the two censuses they just shrugged and let the English-speaking enumerator write down whatever made sense to him. But
    they believed they were around the same age and the rough window for their birthdates must be between about 1830 and 1840.</p>

<p>John and Mary did leave some better clues as to their origins than many other Irish immigrants. The 1871 census return contains a clear
    indication that Mary believed she was was born in County Galway. And John left a clue too, although I've not been able to make sense of it -
    "Maides, Ireland", it seems to read. We'll come back to these.</p>

<p>I've not been able to find John or Mary Dolan, separately or together, at the 1881 census. We know that, by that date, their youngest child
    Thomas (15) was lodging with his elder sister Rose Ann, with no sign of either parent. The natural assumption, given the way of things those
    days, is that John and Mary had died between 1871 and 1881. After all, they had been living in a cellar, there had been a long sequence of
    peri-natal deaths, and of all the ancestors whose lives I have looked at for this narrative, John and Mary seem amongst the worst-equipped for
    survival in urban industrialised England. Amongst the civil records of deaths in Manchester and Salford from 1871 to 1881, there are a
    number of candidates which would match John, and equally for Mary, but none are yet verifiable. The uncertainty around their years of birth
    doesn't help, but in my opinion, they both left for a much better existence during that decade, dying whilst their only two surviving children
    were still in their teens.</p>

<h4>Thomas Dolan and family</h4>

<p>Some five years after the 1881 census (at which we found Thomas the errand boy lodging with his sister on Bridgewater Street), on 19 June
    1886, a record was added to the book of marriages at St John the Evangelist, Chapel Street, Salford. Thomas Dolan had married a Mary Jane Foy.</p>

<h5>Catholic church record of Thomas Dolan and Mary Jane Foy's marriage, 1886</h5>

<table id="tableR" class="table1" style="float:left;margin-right: 20px;">
    <caption class="caption1">Names have been rendered from Latin to English where necessary</caption>
    <tr>
        <td class="frame1"></td>
        <td class="frame1">Name</td>
        <td class="frame1">Residence</td>
        <td class="frame1">Parents</td>
        <td class="frame1">Witnesses</td>

    </tr>
    <tr>
        <td class="frame1">Groom</td>
        <td class="body1">Thomas Dolan</td>
        <td class="body1">Broughton</td>
        <td class="body1">John and Mary Dolan</td>
        <td class="body1">Rose Ann Dolan</td>

    </tr>
    <tr>
        <td class="frame1">Bride</td>
        <td class="body1">Mary Jane Foy</td>
        <td class="body1"></td>
        <td class="body1">Matthew and Jane Foy</td>
        <td class="body1">Francis Watson</td>

    </tr>
</table>
<p style="margin-top:-10px;">You can see that Thomas' sister Rose Ann acted as a witness to his marriage, and that favour was returned twofold
    six years later when Thomas and Mary Jane Dolan acted as witnesses of Rose Ann's marriage to Joseph Burgin, in 1892 (as shown above).
</p>

<p>We have Mary Jane Foy's baptism record at - where else? - St John the Evangelist's. She was born on 4 October 1865 and baptised on the 22nd, so
    she was very slightly older than Thomas. Her parents were Matthew Foy and Jane Shield (or Sheil or Shean in other records), and they were living
    at 7 Paradise Road - I joke not  - a lttle side-road off Greengate. The godparents were a Francis Dunphon and a Mary Allen. We can follow the
    Foy family through <span class = "linkA"
                             title = "view the census pages"
                             onclick = "bigimg('fullscreen77', 1, 6, 2, 4531, 6000, 'Foy family Salford 1871-1881.jpg');">the two censuses</span> between
    Mary Jane's birth and her marriage. Her parents' marriage had been registered in Manchester in the third quarter of 1864 - we have the
    civil record but no church record.</p>

<p>You can see that Matthew and Jane were both first generation immigrants from Ireland, he born around 1828, and she about 1831. His
    occupation was cork-cutter, and hers tailoress, and her daughter Mary Jane followed into this profession. In 1871, they were
    still at number 7, although the road was named a little more fancily: "Paradise Vale Terrace". By 1881, they had moved to Davies Street,
    which was still off the northern side of Greengate, but six side-streets to the west of Paradise St, almost adjacent to the junction
    with Blackfriars Road.	All these addresses are within spitting distance of 189 Greengate where dad was born. It looks very much as if
    Mary Jane was an only child.</p>

<p>It's pretty clear that Matthew and Jane arrived separately from Ireland, and eventually met and married in the Greengate area quite
    late in their lives. There is a definite record of Jane Shield at the 1861 census, a single tailoress of 29 heading a household of two on
    Caygill Street, another side-road off Greengate, but I can't find her in England before then. Unless Matthew Foy is the son of Thomas Fay
    (a coachman who brought his young Irish family to settle in Liverpool in the early 1840s), I can find no sign of him in England prior to
    his marriage in 1864.</p>

<p>Turning the clock-hands forward again to look at Thomas and Mary Jane's marriage as it developed, we yet again experienced the now familiar
    disappointment on failing to find any of the persons of interest at the 1891 census. No Thomas Dolan, no Mary Jane Dolan, no Matthew Foy
    and no Jane Foy. But there were three major events recorded between their marriage and the census. There were two births registered in the district
    of Prestwich (broadly north Manchester), Thomas Dolan in the third quarter of 1888 and Matthew Dolan in the third quarter of 1890. In both
    cases, the mother's maiden name was Foy (there was	also a John Dolan registered in Salford in the first quarter of 1887, but with no maiden
    name given). These were the future Catherine Noonan's cousins! But in between these happy events, in the first quarter of 1890, Matthew Foy
    died aged about 61 (in the same north Manchester registration area) - but at least he saw the marriage of his daughter and the birth of his
    first grandchild.</p>

<p>It was at about this stage that I learned that digital copies of birth and death (but not marriage) certificates could be bought on-line
    from the national General Register Office for just £6. I decided to test out the new system with a reality-check on our most recent
    discoveries. It worked well - here is <span class = "linkA"
                                                title = "view certificate"
                                                onclick = "bigimg('fullscreen78', 1, 3, 2, 1047, 327, 'Thomas Dolan BCert 1888.jpg');">Thomas Dolan's 1888 birth certificate
		 </span>. He was born on 1 July 1888 at 7 Edward Street, Cheetham (as expected in the Prestwich registration district), his father
    was a fruit salesman and Mary Jane signed with her full name when she registered the birth on 10 August. We checked 7 Edward Street
    at the 1891 census, but the Dolans were no longer there. We later learned from the 1939 Register - assuming that all our identifications
    are correct - that Matthew Dolan's date of birth was 26 May 1890.</p>

<p>On the second day of the new year in 1892, Thomas and Mary Jane Dolan made their way from their Cheetham address to St Peter's on
    Greengate to act as witnesses to Joseph Burgin's and Rose Ann Dolan's wedding. Mary Jane must have been pregnant, because the birth of
    their third child, Florence, was registered in Prestwich in the second quarter of 1892, and we'd expect that she and Catherine
    Burgin - to be born a few months later - would in time become quite close cousins. After all, they were born in the same year and
    neither had any other female cousins. I have not come across any evidence that they did become close - or even that they knew each
    other. But if they did not, some of the reasons may become clear following the later events of the 1890s (as far as we can).</p>

<p>The first such event was the real disaster and probably led to nearly all that followed. The death of Mary Jane Dolan, age 28, was registered
    in Prestwich in the fourth quarter of 1893. This would have been a terrible blow for the family, but was perhaps slightly mitigated if
    Jane Foy was with them. I am hoping that she was - because Matthew Foy's death in 1890 had also been registered in Prestwich, I suspect
    that he and Jane Foy had left the Greengate area to live near or with their daughter's family in Cheetham some time between 1885 and 1890.
    If so, this would have left a family made up of the widow Jane, her widower son-in-law Thomas and her three grandchildren Thomas, Matthew
    and Florence (aged about 5, 3 and 1). </p>

<p>So perhaps they muddled through for a while, with Jane on household and mothering duties, and Thomas marketing his fruit. But then in the
    fourth quarter of 1897, Jane Foy's death was registered, again in Prestwich, aged 64. The sequence of events through the late 1890s is
    unclear - we can come back to that - but a search for Thomas Dolan (snr) at the 1901 census comes up with a fairly convincing - but
    very surprising - result. He seems to have moved to Workington on the coast of Cumbria. The <span class = "linkA"
                                                                                                      title = "view certificate"
                                                                                                      onclick = "bigimg('fullscreen80', 1, 5, 2, 3022, 1952, 'Thomas Dolan snr Workington 1901.jpg');">census return</span> shows he was boarding
    at 7 Lonsdale Street, in St Michael's ward in Workington. It absolutely must be our Thomas (I tell myself), as only the age is slightly
    dubious (it should be 35, but looks more like 38, although this may refer to the person whose name has been deleted). All the other details are
    perfect, including name, marital status, occupation and birthplace. If it is not our Thomas, I have no idea where he was in 1901 as I've
    searched high and low elsewhere. Nor can I find him, dead or alive, at any point after the 1901 census - the only information we have is
    that his son Matthew recorded at his wedding in 1918 that his father was dead, and at this point he passes out of our story. But there is
    a lot more information on his children.</p>
<br>
<img src = "1901 Poor Law School combined header pages.jpg"
     style ="width: 600px; border: 2px solid sienna;float: right;margin-bottom: 0px; margin-left:20px;"
     class = "linkC"
     title = "view flexible image"
     onclick = "bigimg('fullscreen79', 1, 6, 2, 4357, 2800, '1901 Poor Law School combined header pages.jpg');">
<u>The Dolans in the Poor Law School</u><p style="margin-top:0">It was Florence who we found first as a "scholar" in the Township of Manchester
    Poor Law school, one girl on a list of 281 present on the 1901 census night. We later found Thomas and Matthew, listed adjacently, on the list of boys
    which conventionally preceded the girls and numbered 411 (John Dolan, slightly older, was listed next to them, just possibly a third brother born
    in Salford in early 1887). The school was situated on Chorley Road in Swinton, so some distance from the original workhouse for adults, and hospital,
    which was located in Crumpsall and served the north Manchester Prestwich district. This eventually became the main north Manchester hospital.</p>

<p>From what I have seen, the Prestwich Poor Law Union and various
    others surrounding central Manchester seemed to have been subsumed at some point into the Manchester Union. But they were originally separate
    legal entities, and would have been distinct from the Salford Union, which we think was kindly accommodating Eliza and Joseph Donohoe in 1861.</p>

<p>The lists of scholars tell us very little, except their names and given ages (13, 11 and 10 respectively in the case of <span class = "linkA"
                                                                                                                                 title = "view 1901 census page"
                                                                                                                                 onclick = "bigimg('fullscreen82', 1, 4, 2, 2201, 1464, 'Tho and Matt Dolan 1901 Poor Law School.jpg');">Thomas, Matthew</span> and
    <span class = "linkA"
          title = "view 1901 census page"
          onclick = "bigimg('fullscreen81', 1, 4, 2, 2214, 1453, 'Florence Dolan 1901 Poor Law School.jpg');">Florence</span>). But the covering
    pages are quite interesting, if you feel like peering at them.</p>

<p>On one of them, it is stipulated that the official enumerator for each institution should be paid 10s 6d
    (52.5p) for the first 300 inmates duly enumerated and recorded, plus a further 2s 6d (12.5p) for every additional 100 inmates. We have looked
    at two pages of the product of this exercise, each containing 25 entries. The only variables were the forename, the surname and the age.
    Additionally, every row had the word "scholar" entered in one column, and (almost invariably) "Lancs, Prestwich" entered in another. The lazy way
    of earning the shillings available here would be to catch a few children in a misdemeanour and give them "lines" to write out. But I doubt
    such a mild punishment was even on the menu in the workhouse schools.</p>
<br>
<div id="PoorSchoolBox" class="poorbox">

    <div class = "rimgbox" style="top: 10px; width:215px;" title = "View image"
         onclick="bigimg('fullscreen83', 1, 5, 2, 4077, 3248, 'A Workhouse Thomas Dolan snr 1894.jpg');">
        <img src="A Workhouse Thomas Dolan snr 1894.jpg" style="width:100px;margin-left:0px; float: left;border: 1px solid sienna;">
        <div class ="rpoorbox">
            Some adult Thomas Dolan, b.1865, Bridge St. Poor Law reception, 1894
        </div>
    </div>

    <div class = "rimgbox" style="top: 105px;width:215px;" title = "View image"
         onclick="bigimg('fullscreen84', 1, 5, 2, 4091, 3144, 'A Workhouse Thomas Dolan snr 1895.jpg');">
        <img src="A Workhouse Thomas Dolan snr 1895.jpg" style="width:100px;margin-left:0px; float: left;border: 1px solid sienna;">
        <div class ="rpoorbox">
            Some adult Thomas Dolan, b.1865, Bridge St. Poor Law reception, 1895
        </div>
    </div>

    <div class = "rimgbox" style="top: 200px;width:215px;" title = "View image"
         onclick="bigimg('fullscreen85', 1, 5, 2, 4794, 3759, 'florence poor school Nov1896-Dec1902.jpg');">
        <img src="florence poor school Nov1896-Dec1902.jpg" style="width:100px;margin-left:0px; float: left;border: 1px solid sienna;">
        <div class ="rpoorbox">
            Maybe our Florence Dolan, medical referral from Poor Law School, 1902
        </div>
    </div>

    <div class = "rimgbox" style="top: 295px;width:215px;" title = "View image"
         onclick="bigimg('fullscreen86', 1, 5, 2, 4655, 3526, 'Matt poor school Mar1899-Apr1903.jpg');">
        <img src="Matt poor school Mar1899-Apr1903.jpg" style="width:100px;margin-left:0px; float: left;border: 1px solid sienna;">
        <div class ="rpoorbox">
            Matthew Dolan, medical referral from Poor Law School, Apr 1903
        </div>
    </div>

    <div class = "rimgbox" style="top: 390px;width:215px;" title = "View image"
         onclick="bigimg('fullscreen87', 1, 5, 2, 4672, 3557, 'Matt poor school May1903-Jul1903.jpg');">
        <img src="Matt poor school May1903-Jul1903.jpg" style="width:100px;margin-left:0px; float: left;border: 1px solid sienna;">
        <div class ="rpoorbox">
            Matthew Dolan, medical referral from Poor Law School, July 1903
        </div>
    </div>

    <div class = "rimgbox" style="top: 485px;width:215px;" title = "View image"
         onclick="bigimg('fullscreen88', 1, 5, 2, 4621, 3578, 'Matt poor school discharge Oct1904.jpg');">
        <img src="Matt poor school discharge Oct1904.jpg" style="width:100px;margin-left:0px; float: left;border: 1px solid sienna;">
        <div class ="rpoorbox">
            Matthew Dolan, final discharge from Poor Law School, Oct 1904
        </div>
    </div>

    <div class = "rimgbox" style="top: 580px;width:215px;" title = "View image"
         onclick="bigimg('fullscreen89', 1, 5, 2, 4776, 3619, 'Thomas poor school discharge Jul1902.jpg');">
        <img src="Thomas poor school discharge Jul1902.jpg" style="width:100px;margin-left:0px; float: left;border: 1px solid sienna;">
        <div class ="rpoorbox">
            Thomas Dolan, final discharge from Poor Law School, July 1902
        </div>
    </div>
</div>

<p style="margin-top:0;">There is some more information about the the three "scholars". A number of documents survive from the workhouse/school books of
    admissions and discharges (including temporary discharges for medical treatment etc). These can be quite confusing, as it is not always
    clear what date is being referenced when the child's age is entered. But they are (to me at least) worth a look, especially those showing
    the final discharges of Thomas in 1902 and Matthew in 1904.</p>

<p>I was hoping to get some idea of how, why and when the three children were enrolled into the poor law school, and what criteria were
    applied in "selecting" them. Instinctively, I thought either both parents would have to be dead, or at least one would have to be in
    the larger institution alongside them. The name Thomas Dolan, year of birth 1865, does appear at least twice as part of the main
    workhouse records (emanating from the "Receiving Ward" in Bridge Street) in 1894 and 1895, seemingly going in and out quite frequently
    for fairly short periods. But Thomas Dolan was clearly a pretty common name, and quite a few seem to have "done time" in the workhouses.
    I was unable to match any adult Thomas Dolan with a school enrolment for young Thomas, Matthew or Florence.</p>

<p>Most children in the workhouse school at the 1901 census seem to have been aged between 7 and 14, but there were a handful
    of younger scholars. Thomas would have reached age 7 in 1895, Matthew in 1897 and Florence in 1899. Their mother had died towards
    the end of 1893, and their grandmother	died in late 1897. We have found a record for a Florence Dolan - a reasonably unusual
    name - suggesting she was admitted in 1896, but the age given looks very wrong (although this was just
    possibly a deliberate error on somebody's part).</p>

<p>We have been rather luckier in the case of Matthew and Thomas, although the original admission dates still
    remain unclear. One reason for this is that each administrative record we have found contains only the most recent school admission
    date. For example, the first of Matthew's referrals to CWH (Crumpsall Workhouse Hospital), on 20 April 1903, shows his admission date
    as 27 March 1899, whilst the second, on 27 July 1903, shows an admission date of 11 May 1903. Obviously, he had spent 21 days in
    hospital between April and May, returned to school, and then had to be sent back to hospital in July. But we don't know when
    he first enrolled into the school.</p>

<p>Thomas was the first to be fully discharged from the Poor Law School, at the usual age of fourteen, on 23 July 1902. He was
    sent to a "Band", more specifically the band of the Royal Irish Fusiliers, from which it appears that he may have learned to
    play a musical instrument at the Poor Law School. Perhaps these schools weren't as awful as I have assumed.</p>

<p>Matthew was next to be discharged, to an institution called Fairy Hill Home on 8 October 1904, again at the age of fourteen.
    This was a Catholic-run "home for working boys". The 10 October 1896 edition of the Catholic periodical "The Tablet" carried the following
    article:</p>

<p style="margin-top:15px;"><i style="font-family: Georgia;  color: DarkSlateGrey;">"A NEW HOME FOR WORKING BOYS.—The Salford
        Protection and Rescue Society has just purchased a large house and grounds, known as Fairy Hill House, Cheetham Hill, Manchester,
        to take the place of the existing Home at Manor-street, which has become too small for the ever-increasing needs of the Society.
        The Home already shelters 34 boys, all of whom, except one, are in active employment. During the month of August the Society received,
        from all sources, £276 6s. 9d."</i></p>

<p>Let's hope that the "ever-increasing needs" arose entirely due to the growing population, rather than a growing rate of poverty within that
    population.</p>
<br>
<u>Florence Dolan</u>
<p style="margin-top:0;">I haven't found Florence's final school discharge record, which we would expect to have taken place in 1906. But I
    have located a very good candidate for her <span class = "linkA"
                                                     title = "view Florence's 1911 census page"
                                                     onclick = "bigimg('fullscreen90', 1, 5, 2, 2944, 1765, 'florence dolan 1911 waitress broughton.jpg');">1911 census entry</span>.
    Let's remind ourselves that this is a record of the same night, 2 April 1911, on which her first cousin, Catherine Burgin, almost the
    same age, was residing with her parents and the elderly widow Mrs Drinkwater at 1 Ryland St, Greengate. Could Catherine have been
    completely unaware of her existence? Certainly, her mother Rose Ann could not, because her sister-in-law Mary Jane had been pregnant
    with Florence when she had witnessed Rose Ann's marriage. If I've found the right Florence, she was staying as a lodger at 23 Allen Street,
    Lower Broughton (less than 30 minutes' walk from Greengate) and working as a restaurant waitress. Her age was given as eighteen (correct)
    and her birthplace as Lower Broughton (not quite correct, but easily explainable). But this is as far as we have been able to follow
    Florence Dolan. There are a number of possible marriages in that name over the subsequent ten to fifteen years, but no means as yet
    of identifying the right one (unless just possibly a link could be established with a 1939 Register record).</p>
<br>
<u>Thomas Dolan</u>
<p style="margin-top:0;">Nor have I been able to find Thomas Dolan junior's 1911 census return, although for a while I thought I had. But it turned out that
    there were at least two Thomas Dolans whose births were registered in Manchester in 1888. The Thomas Dolan (a porter working for a commission
    agent) that I located in Harhurpey at the 1911 census clearly matches another 1901 record (with two brothers present at both censuses plus
    parents in 1901), at the time when our Thomas was in the Poor School with Matthew and Florence. There was a Trade Union membership record (Amalgamated
    Society of Railway Servants) for a 22 year-old Thomas Dolan registered in nearby Hollinwood in late 1911, which eventually lapsed in 1924.
    This Thomas was a shunter on the L&Y railway. And there was a Thomas Dolan who had married an Evelyne Flynne in Chorlton in 1906, and
    in 1911 was residing in Ancoats and hewing at a coalface for a living. But I haven't been able to tie any of them in - a young man of
    that generation would in any event have a high probability of losing his life in WWI.</p>
<br>
<u>Matthew Dolan</u>
<p style="margin-top:0;">I haven't exhausted all search options for Thomas and Florence, but it does look tricky. However, I believe we have had
    more luck with Matthew. There is a series of documents which has hopefully led us to identify at least one of his grandchildren.Such a person
    would be the third cousin of the grandchildren, such as myself, of Catherine Noonan (because we would share great great grandparents, in the
    persons of John and Mary Dolan). But a couple of the steps in the chain require a  leap of faith, so let me line up the documents, discuss the
    issues and then leave readers to make up their own minds. Later, we may be able to obtain documents to fill in the gaps in the chain of proofs,
    or we might find someone on the Dolan side	doing their own research. For reasons which will become clear, we'll start at the end and work
    backwards in time from Matthew's 1939 Register record.</p>
<br>
<div style="width:605px;float:left;margin-right:20px;">
    <h5 style="margin-top:0;">Matthew and Eliza Dolan household, 1939 Register</h5>
    <img src = "matthew dolan 11 copse ave 1939.jpg"
         style ="width: 600px; border: 2px solid sienna;float: left;margin-bottom: 10px;"
         class = "linkC"
         title = "view flexible image"
         onclick = "bigimg('fullscreen93', 1, 5, 2, 3007, 1328, 'matthew dolan 11 copse ave 1939.jpg');">

    <h5 style="margin-bottom:0px;">Locations in Ardwick, Gorton and Longsight</h5>
    <img src = "Matt Dolan area 1911-1918.jpg"
         style ="width: 600px; border: 2px solid sienna;float: left;margin-top: 0px; margin-bottom:10px; margin-right:20px;"
         class = "linkC"
         title = "view flexible image"
         onclick = "bigimg('fullscreen95', 1, 5, 2, 3900, 2051, 'Matt Dolan area 1911-1918.jpg');">

    <h5 style="margin-bottom:0px;">Matthew Dolan & Eliza Amy Schofield marriage, St Stephen's Ardwick, 1918</h5>
    <img src = "matthew dolan eliza amy schofield marriage 1918.jpg"
         style ="width: 600px; border: 2px solid sienna;float: left;margin-top: 0px; margin-bottom:10px; margin-right:20px;"
         class = "linkC"
         title = "view flexible image"
         onclick = "bigimg('fullscreen94', 1, 5, 2, 3007, 1328, 'matthew dolan eliza amy schofield marriage 1918.jpg');">

    <h5 style="margin-bottom:0px;">Amy Schofield, parents and siblings, Longsight, 1911</h5>
    <img src = "44 Chell St Charles Schofield Longsight1911.jpg"
         style ="width: 600px; border: 2px solid sienna;float: left;margin-top: 0px; margin-bottom:10px; margin-right:20px;"
         class = "linkC"
         title = "view flexible image"
         onclick = "bigimg('fullscreen96', 1, 5, 2, 2947, 1758, '44 Chell St Charles Schofield Longsight1911.jpg');">


</div>
<p style="margin-top:0;">Matthew Dolan's household at 11 Copse Avenue was made up of four people on 29 September 1939, including his wife Eliza A
    Dolan and two others whose names remain blacked out because they are still alive or their deaths have not yet been notified. I am guessing these are
    Matthew and Eliza's daughters Anne and Florence, but it could be another combination. Copse Avenue is part of a housing
    estate (which looks from Google Streetview as if it could have been built in the 1920s or 1930s) a little to the south of Wythenshawe, so like
    many thousands of others, Matthew had migrated from inner Manchester to outer Manchester by the outbreak of WWII. Copse Avenue is well
    south of the map shown here.</p>

<p>Matthew's occupation (at the age of 49) was "Sheet Metal Worker (heavy)", and his date of birth was given
    as 26 May 1890, a date consistent with his official birth record if there was a delay of some weeks until registration took place during the
    third quarter of 1890. We need to obtain his full birth certificate to confirm. His wife was Eliza Amy Schofield, and her date of birth of 17
    January 1895 coincides exactly with a registration in the Prestwich district in the first quarter of 1895 (mother's maiden name Corfield).</p>

<p>Working backwards from 1939, the next document of interest is the record of the Matthew and Eliza's church wedding on 21 September
    1918 at St Stephen's parish church, Ardwick (now demolished along with all the streets around it). In this record, both Matthew's and
    Eliza's ages are spot on. Matthew's father is named as Thomas (deceased), and his occupation as salesman. Whilst I would
    have preferred to see "fruiterer", or "greengrocer" here, it would not be unreasonable to describe Thomas as a salesman, especially if
    Matthew's memories were of him hawking his fruit and veg on the street. Or perhaps Matthew knew of other work his father had done since
    the 1901 census, when we last spotted him in Workington. Matthew's siblings are slightly conspicuous by their absence as witnesses.</p>

<p>Matthew's own occupation was shown in the marriage record as Warehouseman (so the sheet metal work came later) and his bride's as
    Telephonist (at a time when this technology must have been in its infancy). Her father, Charles Schofield, was recorded as a boilermaker.
    Matthew was living at 10 Royds St, and Eliza at 27 Corporation Street, Matthew almost certainly in single-person's lodgings, Eliza possibly
    still with her family, if they had moved from Chell Street since 1911.</p>

<p>Surprisingly, it was difficult to identify Eliza's family with certainty, because there were more Eliza Schofields than I had expected
    scattered around various corners of the current conurbation of Manchester. At first I thought her background was in Salford, but her birth
    registration district (and those of her siblings), together with her father's sequence of occupations (Stationery Boiler Fireman at the 1901
    census) have now convinced me she was one of ten children born to Charles Schofield (of Ardwick) and Susan Corfield (of Newtown, Montgomery, Wales).
    The family's 1911 census record is shown here. I have simply accepted that Eliza's birthplace records are vague and/or inaccurate, unless
    possibly part of Gorton fell within the Prestwich registration district.

<h5 style="margin-bottom:0px;">Matthew Dolan, Army Discharge, Liverpool 1916</h5>
<img src = "matthew dolan army discharge 1916.jpg"
     style ="width: 400px; border: 2px solid sienna;float: left;margin-top: 0px; margin-bottom:0px; margin-right:20px;"
     class = "linkC"
     title = "view flexible image"
     onclick = "bigimg('fullscreen92', 1, 5, 2, 1198, 2016, 'matthew dolan army discharge 1916.jpg');">

<p style="margin-top:0;">Reassuringly, the 1901 census of this same Schofield family does record Amy using her full name "Eliza Amy".
    Whilst on the case, I also spent a little time investigating the witnesses to the marriage, in case they supplied any links back to the families of
    the bride or groom. Interestingly, the two witnesses were themselves married in July 1919. It turns out that they were both still living at
    home then with their families, in the immediate vicinity of St Stephen's church. The map shows the relevant addresses and suggests that
    all the parties probably knew each other through neighbourhood networks rather than any kinship. Almost certainly, one of the marriages
    came about through an introduction made by one of the parties to the other.</p>

<p>The chain of evidence so far on Matthew Dolan's identity must be judged as it comes, but the next document incontrovertibly belongs
    to the Matthew Dolan who married Eliza Schofield in 1918, because it refers to the exact return address and occupation. The document
    records Matthew's 1916 discharge from the army. </p>

<p>The army record is full of information. Matthew was very short and slightly bow-legged, although full-chested. If he was brought up
    under the Poor Laws, the diet may have been less than perfect, and vitamin deficiency springs immediately to mind. Physically, he fell
    short of the requirements for military service, but his character reference was excellent. His facial scarification and tattoos suggest
    a rough (or maybe a navy) background, but the tattoo on record as being in memory of his mother - who died when he was about three - is
    a striking and touching detail. The latter suggests, just possibly, that respect for his father's memory was less. The army discharge does beg
    two big questions, namely what his military record may have been from 1914 to 1916, and why the discharge took place then, for which we
    have no answers at present.</p>

<p>Following the chain of evidence further back, the military record is consistent with what might be expected for an orphan raised in
    a public institution. Also, the fact that he was recruited into the Manchester Regiment (and discharged to a Manchester address) at least
    gives us a good city location. Our next record is of a Matthew Dolan lodging at 234 Gorton Lane in 1911. He was recorded as a single twenty
    year-old greengrocer's assistant, details which are spot on, even as far as following in his father's occupational footsteps. That location
    is also good for the return address from the army and for an eventual meeting with the Schofields, Blackwoods and Thornhills, all of
    whom shared broadly the same stamping ground. I've probably put more time into following the Dolan line than is strictly justified, all
    to establish whether there is any possibility of locating a third cousin, so here we go.</p>

<h5 style="margin-bottom:0px;">Matthew Dolan, lodger at 234 Gorton Lane, 1911</h5>
<img src = "matt dolan 1911 greengrocer chorlton-gorton.jpg"
     style ="width: 600px; border: 2px solid sienna;float: left;margin-bottom: 0px; margin-top:0px; margin-right:20px;"
     class = "linkC"
     title = "view flexible image"
     onclick = "bigimg('fullscreen91', 1, 5, 2, 2945, 1765, 'matt dolan 1911 greengrocer chorlton-gorton.jpg');">



<p style="margin-top:-10px">Florence W Dolan's birth was registered in the first quarter of 1920 in the Chorlton district, with her mother's maiden
    name given as Schofield. Elsie M's birth was registered there in the second quarter of 1924 (MMN "Schcfield"). Other than the two blacked out entries
    in the 1939 Register, the only other corroborating evidence that we are still on the right track here comes from names: Eliza Amy had younger
    sisters called Elsie and Winifred, and Thomas had his sister Florence and dearly missed mother Mary Jane. Together, these would account for
    both names and middle initials.</p>

<p>The story continues to hang together when we find that, apparently, both daughters married after the 1939 Register was compiled,
    during the 1940s. This brings us to my own parents' generation. A Florence W Dolan married a Ronald Robinson in the Manchester registration
    district in the third quarter of 1941, and an Elsie M Dolan married a John Holt in Salford in the first quarter of 1946. The names,
    initials and locations are enough to convince me we're still on the right track.</p>

<p>I have found only one obviously solid-seeming birth from the first of these marriages, that is Susan J Robinson born in Manchester in
    the third quarter of 1942. There is another, Trevor J Robinson in 1954 in Prescot, Lancashire (with an exact spelling match), plus others
    dotted around the wider county if you allow variant spellings of Dolan. There are two more during the later 1940s with exact matches if
    you allow a migration to west London. I've found no candidates with any promise at all as a child of John and Elsie Holt.</p>

<p>This gives us at least one possible third cousin, in the person of Susan J Robinson. The records suggest strongly that her father, Matthew
    Dolan, died somewhere in Manchester in 1950. He in turn was a nephew to Rose Ann Burgin (who died in Salford in 1936), much loved and remembered
    by dad and his siblings. Thomas' father was Rose Ann's brother, and they had witnessed each other's weddings in the 1880s and 1890s. If there was
    a schism causing all these family ties to be lost, it must have been very deep - and also (it occurs) maybe had the effect of visiting
    the sins of the father (Thomas Dolan senior) on his three children.</p>

<p>Across England, there were hundreds of marriages of Susan Robinsons during the 1960s and 1970s, scores of which had middle initial "J". There
    was a Susan J Robinson who married a John McMahon in Salford in the first quarter of 1976, and one who married a Harry McCaugherty in the third
    quarter of 1983 in Manchester. Both of these marriages would be slightly late in life for our Susan, who was born in 1942, but not impossible.</p>

<h4>John Dolan and Mary Connelly - Irish origins</h4>

<p>You might recall that John and Mary married at St John the Evangelist, Salford, in 1858, and our surmise is that they arrived separately from
    Ireland as part of the human detritus scattered to the winds in the aftermath of the Great Hunger. They were one of the rare couples of
    first-generation Irish immigrants to Salford who left some clues on their original locations in Ireland in the census records. Thus they gave me high
    hopes that there would be good traces of the Dolan and Connelly ancestors. At the 1871 census, Mary was recorded as having been born in County Galway,
    and John in a place which seems to be called "Maides". But I was disappointed in this, as I could find no matching baptisms in matching places and
    times.</p>

<p>I'll now just check whether you've read the chapters in order, or if you did, whether you remember them. If so, you will be familiar with my
    view that "the digitised transcriptions of the hundreds of years of Catholic parish baptisms in Ireland inevitably fall well short of capturing
    every baptism, and are sure to be inaccurate in places, if only because of the multiple difficulties of interpretation of age-old handwritten
    scripts." I imagine the records for Galway would have been particularly unreliable, as, even by early nineteenth century Irish standards,
    it would have been relatively undeveloped. The density of parishes might have been low, and the quality of church record-keeping below average, maybe,
    because of the difficulty of attracting the most educated, literate and administratively rigorous parish priests.</p>

<p>At Mary Connelly's 1858 Salford marriage, her parents were recorded as Richard and Mary (Connelly). Using a wide time window from 1825 to 1845,
    and searching for a Mary baptised to a Richard and Mary Connelly (allowing for multiple spelling permuations), there are no results at all from
    County Galway. My two possible "runners" are an 1834 in Limerick City (mother's maiden name Flinn), and an 1835 in Rochfortbridge, Westmeath (MMN Moran),
    both of which are about 40 miles from the Galway border. There is also an 1839 in  Ballyhale, Kilkenny (MMN Brenan), but that is south-east Ireland,
    an 1838 Conlan in Kildare (wrong name), and an 1844 in Armagh, but that is much too late and too far north.</p>

<p>It is easy to entertain scenarios of how Galway might have come into the picture. Perhaps the mother or father were of Galway stock, and this
    somehow transmuted into "birthplace". There could easily be a misinterpretation if parents told a child of their origins fairly early in life,
    particularly if the parents then died young (as many did in the 1840s). Or maybe Mary was born in Galway, then the baptism was delayed until
    the family had settled elsewhere. Or her mother went to her parental home in Galway to give birth, then returned before the baptism.</p>

<h5 style="margin-bottom:0px;float:left;margin-right:45px;">Richard Connell/Mary Flynn wedding, 2/6/1833, St John's Limerick City</h5>
<h5 style="margin-bottom:0px;margin-right:0px;">Mary Connell baptism, 13/6/1834, St John's Limerick City</h5>
<img src = "Mary Flynn and Richard Connel marriage Limerick 1833.jpg"
     style ="width: 500px; border: 2px solid sienna;float: left;margin-bottom: 18px; margin-top:0px; margin-right:10px;"
     class = "linkC"
     title = "view flexible image"
     onclick = "bigimg('fullscreen97', 1, 5, 2, 3932, 3168, 'Mary Flynn and Richard Connel marriage Limerick 1833.jpg');">

<img src = "Mary Connel baptism Limerick 1834.jpg"
     style ="width: 488px; border: 2px solid sienna;margin-bottom: 15px; margin-top:0px; margin-right:0px;"
     class = "linkC"
     title = "view flexible image"
     onclick = "bigimg('fullscreen98', 1, 5, 2, 3686, 3040, 'Mary Connel baptism Limerick 1834.jpg');">
<p style="margin-top:15px;clear:both;"></p>
<u style="margin-left:0;">Mary Connell of Limerick City</u>
<p style="margin-top:0;">A Richard Connell married a Mary Flynn on 2 June 1833 in St John's catholic church, Limerick City, witnessed by a John
    Flynn and a Thomas Walsh. Their first child, another Mary, was baptised in the same church on 13 June the following year, with "sponsors" James
    Gromwell and Mary Rourke. Richard and Mary went on to have five more children, all baptised in the same church, Catherine I (1836), John (1838),
    Patrick (1841), Catherine II (1843) and Joseph (1844). Amongst the many sponsors of these baptisms, the names Flynn and Blandford feature heavily,
    but none seem to re-occur later in the Manchester area as witnesses or sponsors to John and Mary's family events. Of course, it is possible that
    Mary's younger brother Patrick Connelly was the person named as godparent at the Manchester baptism of John and Mary Dolan's first child, Richard
    Patrick, in June 1863, but I haven't been able to support this conjecture with evidence.</p>

<p>Although Limerick City is only about 40 miles south of the southern border of County Galway, the Limerick City Connells seem very well established
    in that city, and Mary Connell would have been at least eleven years old by the time her youngest brother Joseph was baptised there. It seems unlikely
    that Mary believed wrongly that she was born in Galway, so if she was in fact born there, her mother would have had to return to Galway between her
    own wedding and her daughter's birth, returning to Limerick City with her baby for the baptism. In addition, I have an unprovable instinct that this
    family was relatively educated and literate, which I very much doubt John Dolan's wife was. So I am inclined to dismiss the Limerick City Mary Connell
    as the future bride of John Dolan in Salford.</p>

<h5 style="margin-bottom:0px;float:left;margin-right:48px;">Mary Connell baptism, 2/11/1835, Rochfortbridge, County Westmeath</h5>
<p><u style="margin-bottom:0px;margin-right:0px;">Mary Connell of Rochfortbridge</u></p>


<img src = "Mary Connll baptism Rochfortbridge 1835.jpg"
     style ="width: 500px; border: 2px solid sienna;float: left;margin-bottom: 0px; margin-top:0px; margin-right:20px;"
     class = "linkC"
     title = "view flexible image"
     onclick = "bigimg('fullscreen100', 1, 5, 2, 4006, 2541, 'Mary Connll baptism Rochfortbridge 1835.jpg');">


<p style="margin-top:0;"> The second candidate is a baptism which took place on 2 November 1835 in the parish of Rochfortbridge in the county of
    Westmeath. There seem to be some missing letters, but a Mary Connll had been born to a Richard and a Mary Moran, the baptism being sponsored by
    a John Connor and an Anne Biglin. I was unable to find a marriage record, but Mary was pretty clearly the third of at least four siblings: James
    (1828), Richard (mistranscribed as Bernard, 1833), Mary (1835) and Catharine (1837).</p>

<p>The name Biglin, with multiple spelling variants, features prominently amongst the sponsors of the four Connell baptisms, but doesn't seem
    to reappear in the context of John and Mary Dolan's Manchester family. One of the sponsors of the baptism of Mary's younger sister Catharine
    was herself a Catharine Connell, but otherwise there are no resonances with the Manchester records. Geographically, Rochfortbridge is about
    40 miles due east of the western border of County Galway, across the south of County Roscommon, or closer to 30 miles if you start further
    south and head north-east through Offaly.</p>

<p>But the coincidence of the Rochfortbridge Mary Connelly being the daughter of a Mary Moran, and a Mary Moran then appearing as a godparent to
    Thomas Dolan at his baptism in 1865 is too much to resist. The godparent could just be Thomas' grandmother, if she had been widowed and reverted
    to her maiden name, but more likely would be a maternal cousin of Thomas' mother, perhaps a daughter of James or Richard Moran. The 1871 E&W
    census shows a number of Moran (and Connelly) families living in the central Manchester area.</p>

</p>

<u>John Doran of Nobber</u>
<p style="margin-top:0;">Moving on to Mary Connelly's husband, John Dolan, his parents were recorded at his marriage as Patrick Dolan and Rose Ann, and we've
    only been able to decipher his birthplace (as given at the 1871 Manchester census) as "Maides". Apart from repesenting some Irish version of the
    English "maiden" or "maidens" - and there are hundreds of geographic references which might match this interpretation - we were not initially able
    to make anything of this - but see below. We had also noticed that the letters "l" and "r" are sometimes used interchangeably in the name Dolan,
    so I have searched for baptisms of children with either family name born to a Patrick and a Rose (or Rose Ann). A search for a baptism between
    1825 and 1845 of a John who met these criteria initially threw up only one result, in a parish called Nobber in Meath.</p>
<br>
<h5 style="margin-bottom:0px;margin-left:525px;margin-top:0px;">John Doran baptism, April 1827, Nobber, Meath</h5>
<img src = "John Doran baptism Nobber Apr 1827.jpg"
     style ="width: 500px; border: 2px solid sienna;float: right;margin-left: 20px; margin-bottom: 0px; margin-top:0px; margin-right:0px;"
     class = "linkC"
     title = "view flexible image"
     onclick = "bigimg('fullscreen99', 1, 5, 2, 3951, 3424, 'John Doran baptism Nobber Apr 1827.jpg');">
<p style="margin-top:-15px;">Patt and Rose Doran lived in a pinprick of a place called Spidal in the parish of Nobber. This lies in the north-eastern
    portion of the county of Meath, not too far from the town of Ardee across the border in County Louth. They had at least four children baptised
    in Nobber parish church: there was John on 29th April 1827 (although this has been transcribed as 9th April), Patt in 1833, Biddy in 1836 and
    James in 1838. [I've shown John's baptism record here partly to show how varied the quality of the Irish parish records was, compared with St
    John's Limerick City, for example].</p>

<p>No mother's maiden name was given at any of these four baptisms, but there was a marriage in Nobber in 1819 between a Patt Doran and a Rose
    Maguiness (surname unclear). My main doubt about accepting this couple as the parents of John, Patt, Biddy and James is not the lateness of
    James' birth in 1838, but rather the long gap between the marriage and John's birth in 1827- although this could be a product of nature or a
    deficiency in the baptism records.</p>

<p>Unfortunately, the only evidence to support the theory that the Nobber John Doran was the John Dolan who married Mary Connelly in 1858
    was the (initial) lack of any other viable candidate thrown up by all our searches. So as a very last throw of the dice, I did a search
    allowing John Dolan's forename to vary to include any starting with "J". This search first gave us a James Doolan, baptised on 23 August
    1830 in Rochfortbridge, County Westmeath, and this was of interest because one of our candidates for Mary Connelly was baptised in that area.</p>
<br>
<u>James (John?) Doolan of Rochfortbridge</u>
<p style="margin-top:0;">Of course, there was the small problem of James versus John, but what the heck, an easy mistake to make, "J<sup>as</sup>" versus "J<sup>no</sup>",
    Seamus versus Sean, etc etc. Or maybe there was always a middle name John, not written down at the baptism. The parents were Patrick Doolan and
    Rose Mulloy, and the sponsors (or godparents) were Mary Meade and Ambrose Cuffe. But perhaps James had a brother called John? We couldn't
    find one, but he did seem to have a sister Mary and a brother Thomas born in 1832 and 1834, as their mother's name was Rose Mulloy. But
    their father's name was Thomas Doolan, and I later found an 1829 Rochfortbridge marriage between Thomas Doolan and Rose Mulloy. It was
    almost as if the entry of "Patrick" at James' baptism had been a simple error. Anyway, there were too many wrong names, too many doubts
    and no familiar-looking names from the later Manchester records amongst the witnesses and sponsors to the marriage and baptisms.</p>
<br>
<u>John Doran of Kells</u>
<p style="margin-top:0;">
    All this was somewhat discouraging, but the search for a "J" Dolan or Doran had produced a "last-minute" hit. The town of Kells, County
    Meath, was once a major centre of the northern part of that county. It is an ancient town, and was a major junction on Ireland's ancient
    road network. Five roads met at the town, each with its own town wall gate. One of these - on the road to the north-east towards Ardlee,
    County Louth - is now called Maudlin gate, and it looks as if there was a townland of that or similar name some way beyond the town walls.
    On Google Earth, the road out of town has a Gaelic name, Sraid Mhaidilin, and I have now become optimistic that we may have located the "Maides",
    as I transcribed John Dolan's birthplace entry from the 1871 Manchester census.</p>

<p>Sticking to the original Latin, Joannem Doran was baptised in the parish of Kells on 21 January 1834. His father was recorded as Patr Doran
    and his mother as Rosa Doran and the sponsors were Patricia Doran and Maria Gilligan. I haven't found a marriage record for this John's parents,
    but	presumably the priest believed there had been one, otherwise the Latin for "illegitimate" would probably have been entered on the baptism
    record. But I have found a likely brother of John's, in the person of Michael Doran, baptised in Kells on 11 December 1840, with father Patt
    Doran, mother Rose Simons and sponsors Michael Gilligan (or Gillman) and Catherine Simons.</p>

<p>For the purpose of drawing up Gran Noonan's descendancy diagram, I am going to run with Mary Connell of Rochfortbridge, County Westmeath and
    John Doran of Kells, County Meath, with major question marks in both cases. Let's finish by showing the baptism records of the two Kells boys,
    John (1834) and Michael (1840).</p>

<h5 style="margin-bottom:0px;float:left;margin-right:170px;">John Doran baptism, 21/1/1834, Kells, County Meath</h5>
<h5 style="margin-bottom:0px;margin-right:0px;">Michael Doran baptism, 11/12/1840, Kells, County Meath</h5>
<img src = "John Doran baptism Kells 1834.jpg"
     style ="width: 500px; border: 2px solid sienna;float: left;margin-bottom: 18px; margin-top:0px; margin-right:10px;"
     class = "linkC"
     title = "view flexible image"
     onclick = "bigimg('fullscreen101', 1, 5, 2, 3444, 3595, 'John Doran baptism Kells 1834.jpg');">

<img src = "Michael Doran baptism Kells 1840.jpg"
     style ="width: 500px; border: 2px solid sienna;margin-bottom: 15px; margin-top:0px; margin-right:0px;"
     class = "linkC"
     title = "view flexible image"
     onclick = "bigimg('fullscreen102', 1, 5, 2, 3510, 3664, 'Michael Doran baptism Kells 1840.jpg');">
