<h4>A running landing in Lancashire</h4>

<p>Kyran Malone married Christina Sunderland sometime in 1876 in the civil registration district of Athy about 40 miles south-west of Dublin City.
But by 1878 at the latest they had settled in Lancashire, and set about creating what turned out to be a family with the potential of growing
into a dynasty.</p> 

<p>I am not sure about the civil district, but the RC parish of Athy lay mostly in southern Kildare, with the southern tip protruding 
over the border into Laois (Queen's) - apparently, the chapel in which the marriage took place was on the Kildare side, where the town
is situated. The whole parish, however, lay within the RC Diocese of Dublin, comprising its south-westerly-most corner. Unusually, 
we have a civil record of this marriage but no church record. If they did have a church wedding in Athy, there seems to be no findable 
transcription of it - perhaps the original records are lost or illegible.</p>

<p>By some point in 1878, the young couple seem to have been living in Heywood, between Bury and Rochdale in Lancashire. This follows
from the 1881 E&W census in which a daughter named Anna Marie was recorded as being age three, with birthplace Heywood. She was the first 
of Kyran and Christina's children, and would later get the nickname Molly. By the end of 1880, the family had moved to Kearsley 
(near Farnworth), halfway between Bolton and Salford, where their second child was born.</p>

<h6>3 April 1881 E&W census: Kyran and Christina Malone family at 52 Rosco Building, Kearsley</h6>
<div class="table-responsive-md">
	<table 
	   class="table table-bordered table-link"
       title = "View original census page"
       onclick="viewImage('images/malones 1881 household nr bolton.jpg');">
	   <thead>
		<tr>
			<th class="tab-first-col">Name</th>
			<th>Given age</th>
			<th>Relationship, marital status</th>
			<th>Place of birth</th>
			<th>Occupation</th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<td class="tab-first-col">Kyran Malone</td>
			<td class="tab-center-col">32</td>
			<td>Head/married</td>
			<td>Ireland</td>
			<td>Railway signalman</td>
		</tr>
		<tr>
			<td class="tab-first-col">Christina Malone</td>
			<td class="tab-center-col">27</td>
			<td>Wife/married</td>
			<td>Ireland</td>
			<td>Dress milliner/House duties</td>
		</tr>
		<tr>
			<td class="tab-first-col">Anny Marrie Malone</td>
			<td class="tab-center-col">3</td>
			<td>Daughter</td>
			<td>Heywood</td>
			<td></td>
		</tr>
		<tr>
			<td class="tab-first-col">Samuel James Malone</td>
			<td class="tab-center-col">1</td>
			<td>Son</td>
			<td>Kearsley</td>
			<td></td>
		</tr>
		<tr>
			<td class="tab-first-col">Catherine Sunderland</td>
			<td class="tab-center-col">59</td>
			<td>Mother-in-law/widow</td>
			<td>Ireland</td>
			<td>Servant</td>
		</tr>
		<tr>
			<td class="tab-first-col">William Sunderland</td>
			<td class="tab-center-col">22</td>
			<td>Brother-in-law/single</td>
			<td>Ireland</td>
			<td>Coal Miner</td>
		</tr>
		<tr>
			<td class="tab-first-col">Mary Sunderland</td>
			<td class="tab-center-col">11</td>
			<td>Sister-in-law/single</td>
			<td>Ireland</td>
			<td>Scholar</td>
		</tr>
		</tbody>
	</table>
	</div>
	<p>There are two remarkable aspects of this record. The first is the stunningly poor transcription job: for
	example, Kyran Malone was rendered as Kyves Marland. There is also a little doubt about his daughter's forename: Amy equates with Amelia,
	which converts more readily to Molly than Anny does. But rather strangely I have been unable to identify her, or Samuel's, birth 
	registration details with any confidence, whether I searched for Amy or Anny.</p>
	
	<p>The second is the presence of many of Christina's close family. I wonder whether they travelled together or followed on.
	Whichever, this is what allowed John Edward Noonan's granddaughter, Mary Clements, to locate this census record despite the efforts of the
	transcriber. Once she knew Christina's maiden name, she was able to search for Sunderland instead of Malone.</p>