	<h4>The Sunderlands and Malones in Ireland</h4>
	
	<p>Mary Clements managed to trace this branch of the family some way back in Ireland. I am not sure quite how much my discoveries overlap with
	hers, so I'll just present it all as one. Mary obtained the full extract from the Irish civil marriage registry for Kyran and Christina and
	so learned that their fathers had been recorded as Patrick Malone (a farmer) and Samuel Sunderland (a baker). Mary also discovered that
	Samuel had married a Catherine Foster in Athy on 22 November 1851, and (quite unusually for a Catholic marriage in Ireland at that time), there
	is a civil record of that marriage which tells us that both Samuel's and Catherine's fathers were named Robert.</p>
	
	<p>So the maiden name of Christina's mother, Catherine Sunderland, who appeared in the Kearsley 1881 census, was Foster. 
	We should be able to find at least three catholic Sunderland baptisms in the Irish records, quite possibly in Athy: 
	Christina around 1854, William around 1859 and Mary around 1870. I scored two out of three, in Athy as expected: 
	Christina Mary Sunderland was born on Christmas day 1852, and 
	<span class = "span-link"
		 title = "view Christina's original baptism record"
	     onclick = "viewImage('images/Christina Sunderland baptism Athy 1853.jpg');">
		 baptised on 2 January</span>, whilst Mary was born on 12 August 1868 and 
	<span class = "span-link"
		 title = "view Mary's original baptism record"
	     onclick = "viewImage('images/Mary Sunderland baptism Athy 1868.jpg');">
		 baptised on 15 August</span>. 
		 As Christina later married in Athy in 1876, this almost certainly gives a quarter century of continuous
		 Sunderland habitation of Athy, running from 1851 at the latest to at least 1876.  In Mary's case, the 
		 transcribers of the original documents have once again caused vexation by entering a maiden name of Hynes 
		 (which appears elsewhere on the original page).</p>
	
	<h6>The Sunderlands' provenance</h6>
	<p>In searching for a record of Samuel Sunderland's birth, it does not seem unreasonable to assume that a man 
	who married in 1851 and was still generating children in 1868 was likely to have been born between 1795 and 1835. But none of the 
	Irish sources of records of birth contain any such Samuel Sunderland (or even an S Sunderland), with or without a reasonable 
	mix of spelling variants of the surname, and even without a requirement that his father's name should be Robert. Dropping the
	surname and searching simply for a Samuel born to a Robert in Ireland during the same period throws up only 46 results, many of 
	them Catholics (but I had learned by then that Samuel had converted to Catholicism only just before his marriage). Of the remaining
	results, most are Quakers (who seem to have been quite strong in Ireland) with a smattering of Church of Ireland. But none of their 
	surnames came anywhere close to any approximation to Sunderland.</p>
	
	<p>Approaching from a slightly different angle, you can search for any occurrence of the surname Sunderland connected with the town/parish of 
	Athy in the half-century ending in 1850. Only one comes up, an 1850 property rates valuation, in which a Daniel Sunderland leases and occupies 
	a house at 51 Barrack Street, Athy (remember that street name). The records of this lease continue through 1851 and 1852. Prior to 1850, 
	Daniel Sunderland appears in a number of other property rates valuations in nearby towns in Kildare and before that (going back to the early 
	1840s), in neighbouring Laois. In one of these he is described as a farmer. Attempts to trace Daniel's origins have proved futile, but it 
	looks very much as if he was one of the few Irish-born Sunderlands of those years, and had no close or direct links with the other family 
	of Sunderlands which seems to have arrived in Athy perhaps a year or two before 1851. There certainly seem to have been no Sunderlands at 
	all in Athy before then other than Daniel (who himself appeared only as late as 1850).</p>
	
	<p>My fingers are still heavily scarred from my last genealogical scalding, caused by the tempting but so often fatal sin of making a deduction 
	based on the apparent absence of information where you'd expect to find it. But given the dearth of Sunderlands in Ireland and in Athy, 
	I couldn't resist the urge to search for Samuel Sunderland's birth in England. His dad had to be Robert, he had to be non-Catholic 
	(because as we will see later, there is a record of his conversion to Catholicism), and I assumed he was born between 1795 and 1835.
	This gave two baptisms, both in Yorkshire and both in 1832. The first was the son of Robert and Betty, baptised into the Church of 
	England on 23 July in Haworth. The second was the son of Robert and Mary, born on 11 September 1828 and baptised in the Primitive 
	Methodist chapel in Bradford on 23 December 1832, alongside his younger sister Susannah who was born that year. Here is the 
	<span class = "span-link"
		 title = "view Samuel's methodist baptism record"
	     onclick = "viewImage('images/Samuel sunderland baptism 1832 Bradford.jpg');">
		 methodist baptism record</span>. 
		 Given the lateness of Samuel's baptism, it is possible that the family may have been recent converts to Methodism.</p>
		 
		 <p>So, if either of these is the correct Samuel Sunderland, which one should we pick? There were two main reasons why I was immediately 
		 biased in favour of the non-conformist: his family might be more inclined than an Anglican family to cross the water to Ireland driven 
		 by missionary zeal (and quite possibly a genuine desire to help in the aftermath of the Great Hunger); and a little research shows that 
		 Athy did have a thriving non-conformist community and chapel in the mid-nineteenth century.</p>

		<p>But there is harder evidence than this, as there are 1841 census records for both of our Samuels. Here's the 
		<span class = "span-link"
		 title = "view the CoE Samuel's census record"
	     onclick = "viewImage('images/Robert Sunderland household Haworth 1841.jpg');">
		 CofE household in Hanbury</span>, Haworth, and here's the 
		 <span class = "span-link"
		 title = "view the Methodist Samuel's census record"
	     onclick = "viewImage('images/Robert Sunderland household Bradford 1841.jpg');">
		 Methodist household in Bowling</span>, Bradford. Note that the methodist Samuel is a "Mill Boy" in a wool mill. 
		 Stretching the imagination slightly, this might give him some skills transferable to a flour grinding mill, which in 
		 turn could lead on to the baking trade - well, I am only trying! Note too that his younger sister Susannah, whose baptism 
		 is shown together with Samuel's on the 1832 methodist record, also appears on the census record. There is 
		 another methodist <span class = "span-link"
		 title = "view William's methodist baptism record"
	     onclick = "viewImage('images/William Young Sunderland methodist baptism 1835 Bradford.jpg');">
		 baptism record for their younger brother William</span>, in 1835. He is given the middle name "Young", which turns out to be 
		 the critical clue for the identification of Robert and Mary's marriage: Young was Mary's maiden name, and they were married 
		 in Bradford on 15 August 1828, less than a month before Samuel's birth. Unfortunately the transcript of the marriage record 
		 contains no information on either of the two sets of parents, so we can get no further for now. Nevertheless, I shall place 
		 Robert and Mary at the top of the Malone family diagram, even if surrounded by question marks.</p>
		 
		 <p>Switching to the CofE Sunderland family, we can follow that young Samuel from Haworth through the 1851 and 1861 censuses 
		 (by which time he is married), which means he was not the groom at the 1851 wedding in Athy. Contrastingly, the Methodist 
		 Robert and Mary Sunderland and their family seem to disappear from the E&W census records completely after 1841, giving 
		 their son Samuel plenty of opportunity to get to Athy, meet and court Catherine, and complete the Catholic conversion 
		 course by November 1851. There is however a <span class = "span-link"
		 title = "view James' funeral record"
	     onclick = "viewImage('images/James Sunderland death Bowling 1844.jpg');">record of the funeral
		 </span> in 1844 of their youngest child James, born in 1840, so any migration to Athy took place between 1844 and 1851.</p>
		 
		 <p>So my theory is that Robert and Mary's family, having joined the Primitive Methodists in Bradford in 1832, were at some point persuaded
		 that it might be a good idea to go and spread their evangelical message within (largely) catholic Ireland, and somehow landed in Athy. If 
		 this flight of fancy of mine has any basis in fact, there will surely be some scraps (at least) of methodist records in Bradford which would
		 confirm it, but meanwhile we will have to rely on the following items of circumstantial evidence from Athy.</p>
	
	<p>In chronological order, we first have the <span 
	     class = "span-link"
		 title = "view Samuel's catholic baptism"
	     onclick = "viewImage('images/Samuel sunderland Catholic baptism 1851 Athy.jpg');">
		 record of Samuel Sunderland's baptism into Catholicism</span>, which took place in Athy on 9 November 1851, less than 
		 a fortnight before his wedding. Perhaps it had been a crash course in Catholicism which finished just in time. My reading
		 of the script is <span style="font-family: Georgia;  color: DarkSlateGrey;"><b><i>"Samuel Sunderland. Adult Convert from 
		 Protestantism"</i></b></span>, but I remain open-minded about the transcription of the final word. It does seem right, 
		 however, that to an Irish Catholic priest, any Christian who was not a Catholic would be a Protestant by definition. 
		 This description would cover the Anglicans, whether of England or of Ireland (which had been my first assumption), or 
		 equally the Methodists.</p>
		 
		 <img src = "images/Samuel sunderland Catherine Foster church wedding 1851 Athy.jpg"
		width= "350px" 
		class ="img-fluid piccy-right mb-3"
     title = "Expand and view image"
	 onclick = "viewImage(this.src)">
		
		 
		 <p>Second, on 22 November 1851, we have the Catholic church record of Samuel and Catherine's marriage 
		 (rather than the civil record). It's challenging to decipher, and this is as far as I can get: <span style="font-family: Georgia;
		 color: DarkSlateGrey;"><b><i>"Samuel Sutherland, Thresher(?) Lane, to Catherine Foster, Nelson's Lane; Sponsors Joseph(?) Dever(?) 
		 and Margaret Hughes - Samuel Sunderland having become a Catholic...................the parties, to comply with the requirements 
		 of the civil law, has (had?) previously contracted to engage a marriage before the Civil Registrar."</i></b></span> Can someone 
		 please do better?</p>
		 	 
		 <p>Thirdly, on 4 October 1852, there is a transcription of the civil registration of a marriage in Athy between a William Sunderland 
		 (father Robert) to Margaret Darcey (born 1826).If this is the William Sunderland born in Bradford in January 1835, at age 17, this seems
		 very young to get married, and to a woman apparently nine years his senior.</p>

		 <p>But it appears there was an imperative, as the next document 
		 in the historical sequence is an Athy baptism record from 26 March 1853. On that same day, but 12 hours apart, two children had been born
		 to William and Margaret, namely Margaret at 3am and Patrick at 3pm. There may be have been little choice but to marry for a young boy who
		 had been careless and got carried away during the summer of 1852.</p>
		 
		 <img src = "images/patrick and margaret sunderland baptism Athy 1853.jpg"
		 class ="img-fluid piccy-left mb-3"
         title = "Expand and view image"
	      width="500px"
	      onclick = "viewImage(this.src)">
	      
		 
		 <p>My reading of this is: <span style="font-family: Georgia;  color: DarkSlateGrey;"><b><i>"<u>Twins.</u> 
		 <u>March 26th 1853.</u> Patrick of William Sunderland and Margaret Dorsay, Margaret of same parents, both born 26th of March, 
		 Margaret at 3am, Patrick at 3pm in Barrick Street. Mary Shelly Sponsor for Patrick. Mary North Sponsor for Margaret."</i></b></span> 
		 Do you agree (and is that really the Barrack Street address again)?</p>
		 
		 <p>Fourth, there is a record of <span class = "span-link"
		 title = "view William's catholic baptism"
	     onclick = "viewImage('images/William Sunderland Catholic baptism Kildare 1854.jpg');">the 
		 Catholic baptism of William Sunderland</span> on 7 May 1854 in the adjacent Kildare parish of Narraghmore, Crookstown and 
		 Kilmeade. It reads: <span style="font-family: Georgia;  color: DarkSlateGrey;"><b><i>"William Sunderland, a Protestant, 
		 was this day received into the Church and Baptised conditionally. Sponsors John Horan and Mrs Murphy."</i></b>, 
		 or something similar.</p>
		 
		 <p>Fifthly (and finally, at least in relation to William Sunderland), there is a record of <span class = "span-link"
		 title = "view William's catholic baptism"
	     onclick = "viewImage('images/patrick sunderland margaret darcy catholic marriage 1854.jpg');">
		 the Catholic marriage of William Sunderland and Margaret Darcy</span> of Inchaquire, again in the Narraghmore parish, on 14 
		 May 1854. It states that they were previously married by the civil registrar of the Union of Athy.</p>
		 
		 <p>None of these items about William give any idea of his age, to support (or contradict) the theory that he is the son of Robert and Mary 
		 from Bradford. But the next item, concerning an incident in Samuel Sunderland's life in Athy does give <u>his</u> age.</p>

		 <p class="cl-b">The item suggests he may - inadvertently or unavoidably - have somehow strayed from the strait and narrow path normally 
		 associated with a non-conformist upbringing. It is the <span class = "span-link"
		 title = "view Samuel's charge-sheet"
	     onclick = "viewImage('images/Samuel Sunderland assault charge Athy 1858.jpg');">
		 record of a charge brought against him</span> for a crime allegedly committed on 22 November 1858, which happened to be 
		 his seventh wedding anniversary (and around the time when his son William Sunderland was born). He and a certain Michael 
		 Fitzpatrick supposedly hit Comptroller William Heywood over the head with an iron bar, on Barrack Street (again!), where 
		 William apparently lived. Samuel's age is given as 29, although this should strictly be 30 if he was the Samuel Sunderland 
		 born in Bradford in September 1828, but that's very close.</p>
		 
		 <p>The document gives useful physical descriptions of both defendants, and Samuel's profession is stated as "baker". 
		 He seems to have spent a few nights in the police cells and then to have been bailed until a court appearance in mid-December.
		 Without investigating properly, I have glimpsed other documents which suggest that the pair were convicted and served a gaol 
		 sentence. This incident raises all manner of questions. Whether or not it was related to the position of the victim, the 
		 "Comptroller", I have no idea. Did this mean control as in authority, or was he some sort of accountant? The word was 
		 certainly used to describe a certain class of customs official, so perhaps there was an issue related to taxes or goods. 
		 Why do we keep on finding apparently unconnected references to Barrack Street - is there some link to the Daniel Sunderland
		 who apparently lived there in the early 1850s? Did the pair visit Mr Heywood's street intending assault, or did a doorstep 
		 dispute get out of hand? If the crime was un-premeditated, did there happen to be an iron bar conveniently to hand?  It does 
		 rather sound like the culmination of a grievance, however disproportionate the reaction, and we are surely hearing only one 
		 side of a complex story here.</p>
		 
		 <p>The final Samuel Sunderland record is the registration of his death, in Athy, in 1869 (not long after the last child Mary
		 Sunderland was born). The age at death is recorded as 40, which would be exactly consistent with that of the Bradford Samuel 
		 Sunderland if he died before 11 September. As the death was registered with the civil authorities, the Irish Registrar should
		 be able to supply a full extract from the Register.</p>
		 
		 <p>But what of Robert, Mary and Susannah Sunderland, if they left Bradford for Athy "en famille" in the late 1840s? Although 
		 it is clear from interrogating the Athy records that a mini-Sunderland clan was accumulating in and around Athy in the latter 
		 half of the nineteenth century, I can find no trace of these three, either in Yorkshire or Ireland, unless you allow Robert 
		 to have a mid-life crisis in 1864, and/or to lose his wife Mary before 1867 and re-marry in that year. Since Robert had 
		 married Mary in 1828, he was probably born just after the turn of the century, so perhaps - as I would like to think - we're 
		 looking at a completely different and much younger Robert Sunderland here. Because it is difficult to a imagine a man of about 
		 60, a methodist to boot, being convicted of fishing in someone else's waters and on-street gaming and gambling, as some Robert 
		 Sunderland was in 1864. I remain open-minded about the 1867 marriage: interestingly, the record is of a civil registration, 
		 not a catholic ceremony, which would be expected if, unlike his two sons, he had never been "Received into the Church", 
		 conditionally or not.</p>
		 
		 <p>Here we must leave the Athy Sunderlands. Do you believe that Samuel and William were the sons of Robert and Mary from Bradford? I
		 think I do.</p>
		 
	<h6>The Fosters' background</h6>
	<p>Taking a similar approach as with Samuel, I searched Irish Catholic baptisms from 1795 to 1835 for a Catherine, daughter
	of a Robert Foster. There was a single baptism that met these conditions, on 28 June 1825 in Dundalk, County Louth. The mother was a Mary Casidy.
	That is what the transcription says. But if you look carefully at the <span class = "span-link"
		 title = "view Dundalk 1825 Foster baptism"
	     onclick = "viewImage('images/Catherine Foster baptism 1825.jpg');">original document</span>, I think 
		 you will agree that it was not a Catherine that was baptised that day, but a William! So I've treated this as a red herring.</p>
		 
	<p>Taking an alternative approach, I searched for any baptisms in County Kildare with father Robert Foster from 1800 to 1840. This produced a
	John (1824), Michael (1826), Robert (1830), Susan (1832), another Robert (1836) and a George (1840), all baptised in Athy. In John's case the 
	mother was named as Catherine Ratigan, in Michael's as Bridget Foster, and in the other four as Bridget Ratigan. For John, I think the priest 
	got muddled with the name of one of the sponsors (Catherine), and for Michael he simply used the married name (as in myriads of other baptisms).</p>
	
	<p>At the 1881 census in Kearsley Lancashire, Catherine Foster's age was recorded as 59, so she could well have been baptised in the latter part
	of 1822. The catholic parish of Athy record of baptisms for 1822 is largely illegible, most of the writing having faded to almost nothing (some 
	originally in pencil, possibly). I think Catherine was the first of seven children born to Robert Foster and Bridget Ratigan in Athy from 1822 to
	1840. Or at least that is the best I can do for now - Robert Foster and and Bridget Ratigan of Athy will come high on the Malone family diagram, 
	albeit beset by question marks as usual.</p>
	
	<h6>The Malones' pedigree</h6>
    <p>There are three slightly inconsistent sources from which we might deduce Kyran Malone's date of birth 
	(or at least an approximation). He said he was 32 at the 1881 census (so born between April 1848 and March 1849) and 40 at the 
	1891 census (implying April 1850 to March 1851). At his death in the fourth quarter of 1900, his age was recorded as 49 
	(implying Oct 1850 to Dec 1851). In any event, Kyran is not a particularly common name, so I did a pan-Ireland search for 
	Kyran Malone baptisms between 1845 and 1855. Only two came up, both in the diocese of Ossory, one in the parish of Aghaboe in 
	County Laois and the other in the parish of Johnstown in County Kilkenny. The Aghaboe Kyran was baptised on 29 August 1849, and 
	the other on 17 October 1847. These dates are fairly reliable, as the records were kept on sequential pages in sequential books.</p>

    <p>Both locations and dates are entirely plausible for a young man to get to the town of Athy by 1876 and meet, woo and wed Christina Sunderland. 
	The problem is that the good year of birth (1849 in Aghaboe) turns out to be associated with the wrong father's name, James. Whereas the father's
	name in the 1847 Johnstown baptism is Patrick as required, but the 1847 date is somewhat early. I would tend to plump for the name over the year,
	but it's quite possible that neither of them is correct, as the correct baptism record might be lost or have become so garbled as to be unfindable by
	means of a digital search. Even a variant of the search, omitting surnames, for any Kyran born to a Patrick doesn't reveal any obvious 
	alternative possibilities. So I'll run with Patrick Malone and Anne Cody and an 1847 birth in Johnstown Kilkenny. In this instance, the question 
	marks will have to be in crimson, because there are no linking factors whatsoever. I even checked the property valuations of the 1840s in the 
	hope that a farmer would hold a lease over some land. But there were so many Patrick Malones in that category dotted all over Ossory that this
	foray led nowhere. It seems that Ossory, straddling south Laois and north Kilkenny, may have been the original homeland of the Malones.</p>
	
	<p>Our Johnstown Kyran appears to have been the second of three children born to Patrick Malone and Anne Cody: Nancy in 1843, Kyran in 1847 and
	John in 1856 (by which time they had moved northwards into the parish of Rathdowney adjacent to Aghaboe in Laois). In Rathdowney, they were
	slightly closer to Kyran's marital destination of Athy than they had been in Johnstown.</p>
	

