	<h4>The Malones in Salford</h4>

<p>By census day 1891, the Malones were living at 3 Sagar Street, just on the Lower Broughton side of the river, so not quite in Salford technically. 
Working backwards from the ages and places of birth of their children, they had moved some time between 1885 and 1890.</p>

<h6>5 April 1891 E&W census: Kyran and Christina Malone family at 3 Sagar Street</h6>
<div class="table-responsive-md">
	<table 
	   class="table table-bordered table-link"
       title = "View original census page"
       onclick="viewImage('images/Kyran Malone household 1891 (combined pages).jpg');">
	   <thead>
		<tr>
			<th class="tab-first-col">Name</th>
			<th>Given age</th>
			<th>Relationship, marital status</th>
			<th>Place of birth</th>
			<th>Occupation</th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<td class="tab-first-col">Kyran Malone</td>
			<td class="tab-center-col">40</td>
			<td>Head/married</td>
			<td>Ireland</td>
			<td>Shop assistant</td>
		</tr>
		<tr>
			<td class="tab-first-col">Christina Malone</td>
			<td class="tab-center-col">36</td>
			<td>Wife/married</td>
			<td>Ireland</td>
			<td></td>
		</tr>
		<tr>
			<td class="tab-first-col">Samuel J Malone</td>
			<td class="tab-center-col">11</td>
			<td>Son</td>
			<td>Farnworth</td>
			<td>Scholar</td>
		</tr>
		<tr>
			<td class="tab-first-col">Mary M Malone</td>
			<td class="tab-center-col">8</td>
			<td>Daughter</td>
			<td>Farnworth</td>
			<td>Scholar</td>
		</tr>
		<tr>
			<td class="tab-first-col">Agnes Malone</td>
			<td class="tab-center-col">6</td>
			<td>Daughter</td>
			<td>Farnworth</td>
			<td>Scholar</td>
		</tr>
		<tr>
			<td class="tab-first-col">Theresa B Malone</td>
			<td class="tab-center-col">5</td>
			<td>Daughter</td>
			<td>Farnworth</td>
			<td>Scholar</td>
		</tr>
		<tr>
			<td class="tab-first-col">John F Malone</td>
			<td class="tab-center-col">6 mths</td>
			<td>Son</td>
			<td>Salford</td>
			<td></td>
		</tr>
		</tbody>
	</table>
	</div>
	<p>There had been four additions to the Malone household since 1881 from six births (for which we have 
	registration records) less two infant deaths. There are baptism records from St John the Evangelist for the Salford-born children, including
	three more who came after John Francis during the 1890s. There had also been four subtractions: the three Sunderlands had disappeared and Anny Marie
	was no longer present. I have been unable to trace the fate of William or Mary - just possibly, they returned to Ireland. But there was a death 
	of a Catherine Sunderland registered in Bolton in the third quarter of 1890.</p> 
	
	<p>If our Catherine did in fact die in Bolton between July and September 1890, the move to Salford must have been very soon after, as John Francis
	was born there around October. The age at death given in the civil registration was 60, but experience has shown that this was recorded very 
	unreliably - it could easily have been meant to be 69. At the age of 13, Anny Marie - named in the <span class = "span-link"
		 title = "view Ann Marie's 1891 census return"
	     onclick = "viewImage('images/Anna Malone servant 1891.jpg');">census return</span> as Hannah - 
		 turns out to have been working as a live-in servant in the household of a Post Office Messenger called George Haworth at 28 
		 Broughton Street.</p>

<h6>Kyran and Christina Malone's children, 1878 - 1896*</h6>
<div class="table-responsive-md">
	<table class="table table-bordered table-link">
	<caption><i>* All names have been rendered from Latin to English where necessary. Baptisms were all at St John the 
	Evangelist, Salford</i></caption>
	<thead>
		<tr>
			<th class="tab-first-col">Name</th>
			<th>Birth</th>
			<th>Register</th>
			<th>Baptism</th>
			<th>Abode</th>
			<th>Godparent1</th>
			<th>Godparent2</th>
			<th>Death</th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<td class="tab-first-col">Anny Marie</td>
			<td>1877-78</td>
			<td></td>
			<td></td>
			<td>Heywood</td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td class="tab-first-col">Samuel James</td>
			<td>1879-80</td>
			<td></td>
			<td></td>
			<td>Farnworth</td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td class="tab-first-col">Catherine</td>
			<td></td>
			<td>Q3 1881</td>
			<td></td>
			<td>Farnworth</td>
			<td></td>
			<td></td>
			<td>Q4 1881</td>
		</tr>
		<tr>
			<td class="tab-first-col">Mary Margaret</td>
			<td>1882-83</td>
			<td>Q1 1883</td>
			<td></td>
			<td>Farnworth</td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td class="tab-first-col">Agnes</td>
			<td>1884</td>
			<td>Q2 1884</td>
			<td></td>
			<td>Farnworth</td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td class="tab-first-col">Theresa Bridget</td>
			<td>1885-86</td>
			<td>Q1 1886</td>
			<td></td>
			<td>Farnworth</td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td class="tab-first-col">Martin Joseph</td>
			<td></td>
			<td>Q4 1887</td>
			<td></td>
			<td>Farnworth</td>
			<td></td>
			<td></td>
			<td>Q1 1888</td>
		</tr>
		<tr>
			<td class="tab-first-col">John Francis</td>
			<td>7/9/1890</td>
			<td>Q4 1890</td>
			<td>19/9/1890</td>
			<td>10 Temperance St</td>
			<td>Anna M Malone</td>
			<td></td>
			<td>Q2 1892</td>
		</tr>
		<tr>
			<td class="tab-first-col">Winifred</td>
			<td>3/6/1893</td>
			<td>Q3 1893</td>
			<td>18/6/1893</td>
			<td>19 Ford Lane</td>
			<td>William J Fowler</td>
			<td>Anna M Malone</td>
			<td></td>
		</tr>
		<tr>
			<td class="tab-first-col">Christina</td>
			<td>26/10/1894</td>
			<td>Q1 1895</td>
			<td>9/11/1894</td>
			<td>19 Ford Lane</td>
			<td>Anna Malone</td>
			<td></td>
			<td>Q4 1895</td>
		</tr>
		<tr>
			<td class="tab-first-col">Joseph Kyran</td>
			<td>21/1/1896</td>
			<td>Q1 1896</td>
			<td>2/2/1896</td>
			<td>19 Ford Lane</td>
			<td>Samuel P Malone</td>
			<td>Mary Ratchford</td>
			<td></td>
		</tr>
		</tbody>
	</table>
	</div>
	
	<p>Kyran Malone died in the fourth quarter of 1900, the death being recorded in Chorlton (inner south Manchester to us) 
	rather than Salford. Perhaps he died in a hospital, or suddenly a little distance from home. He left seven children who had survived infancy out 
	of the eleven to which Christina had given birth. Quite an accomplishment. At the 1901 census, just a few months after his death, all seven were 
	gathered under the roof of their widowed mother's house at 92 Sussex Street, Lower Broughton. So here were seven offspring, five of whom were of 
	marriageable age, and the other two fast approaching.</p>
	
	<h6>31 March 1901 E&W census: Malone family at 92 Sussex Street, Lower Broughton</h6>
	<div class="table-responsive-md">
	<table 
	   class="table table-bordered table-link"
       title = "View original census page"
       onclick="viewImage('images/Christina Malone household 1901.jpg');">
	   <thead>
		<tr>
			<th class="tab-first-col">Name</th>
			<th>Given age</th>
			<th>Relationship, marital status</th>
			<th>Place of birth</th>
			<th>Occupation</th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<td class="tab-first-col">Christina Malone</td>
			<td class="tab-center-col">46</td>
			<td>Head/widowed</td>
			<td>Ireland</td>
			<td></td>
		</tr>
		<tr>
			<td class="tab-first-col">Anna Malone</td>
			<td class="tab-center-col">23</td>
			<td>Daughter/single</td>
			<td>Heywood</td>
			<td>Cap embroiderer</td>
		</tr>
		<tr>
			<td class="tab-first-col">Samuel Malone</td>
			<td class="tab-center-col">21</td>
			<td>Son/single</td>
			<td>Farnworth</td>
			<td>Warehouse porter</td>
		</tr>
		<tr>
			<td class="tab-first-col">Margaret Malone</td>
			<td class="tab-center-col">18</td>
			<td>Daughter/single</td>
			<td>Farnworth</td>
			<td>Blouse machinist</td>
		</tr>
		<tr>
			<td class="tab-first-col">Agnes Malone</td>
			<td class="tab-center-col">16</td>
			<td>Daughter/single</td>
			<td>Farnworth</td>
			<td>Blouse machinist</td>
		</tr>
		<tr>
			<td class="tab-first-col">Theresa Malone</td>
			<td class="tab-center-col">15</td>
			<td>Daughter/single</td>
			<td>Farnworth</td>
			<td>Blouse finisher</td>
		</tr>
		<tr>
			<td class="tab-first-col">Winifred Malone</td>
			<td class="tab-center-col">7</td>
			<td>Daughter</td>
			<td>Salford</td>
			<td></td>
		</tr>
		<tr>
			<td class="tab-first-col">Joseph K Malone</td>
			<td class="tab-center-col">5</td>
			<td>Son</td>
			<td>Salford</td>
			<td></td>
		</tr>
		</tbody>
	</table>
	</div>
	 
	
	<p>What happened next is exactly what you would expect, namely a sequence of marriages. It began in 1902 and ended in 1922, by which time there were 
	no unmarried offspring remaining. If you've read in order, you'll know from Chapter 2 that we've already looked at the early days of the first 
	five of the seven families that grew from these marriages, all living cheek-by-jowl in the "Malone Quarter" of Lower Broughton in 1911. For
	Theresa Malone and John Noonan, we were able to fast forward to 1939 and find their whole family in the national Register compiled that September.
	It turns that we can do the same with all six of the other Malone branches, although in many cases we find only the residue of the family, due 
	to children leaving home and deaths. So let's look backwards at the six families through the prism of the household information collected for
	the 1939 Register.</p>
	
	<p>I haven't investigated the children produced by these six families in any depth - I may have missed some, or there may have
	been early deaths. In some cases, where a daughter is still present in the household in the 1939 Register (which gives clues on future marriages), 
	I've followed up those clues.</p>
	
	<p>Starting with the oldest, Anna Malone married Richard Kavanagh in 1902, but by the outset of WWII she was a widow. 
	<span class = "span-link"
		 title = "view the Kavanagh's 1939 record"
	     onclick = "viewImage('images/Part of Cavanagh family 1939.jpg');">Anna's 1939 Register entry</span>
		 shows her living at 22 Stancliffe Road (maybe in Wythenshawe) with her third child Richard, his wife Katheen (nee Matthews, a 1931 marriage), 
	and their daughter Sheila born in 1936. The entry tells us that Sheila will marry into the Baguley family, and the civil register of marriages
    confirms that she duly married a Philip Baguley, in Manchester in 1960. There is an issue with Anna Kavanagh's date of birth, given as 7 December
	1879. She was recorded as age three at the 1881 census, and if this was 3 completed years, she had to be born before the end of March 1878. Even
	if she hadn't quite reached her third birthday, her parents are hardly likely to get her so inaccurate. What's more, her younger brother Samuel 
	was recorded as age one in 1881, which means he was born before April 1880, biologically impossible relying on the 1939 record. Perhaps the correct
	date of birth is 7 December 1877.</p>
	
	<p>Anna and Richard (senior) registered the births of five children in Salford from 1904 to 1917. There were three more births registered in the
	names of Kavanagh/Malone in the Barton registration district from 1920 to 1924. Even though I cannot find a separate marriage to which these "belong", 
	I somehow doubt that they were Anna and Richard's.</p>
	
	<p>Next, Samuel Malone married Ada Mary Burns in 1906, but Ada was also a widow by the start of WWII. <span class = "span-link"
		 title = "view Ada Malone's 1939 record"
	     onclick = "viewImage('images/Ada and Dorothy Malone 1939.jpg');">Ada's 1939 Register entry</span>
		 shows her living with Dorothy Malone at 3 Winster Avenue. This was within the estate on the opposite side of Littleton Road from No. 309 
		 where Richard and Kate Noonan and family lived. Dorothy Malone (nee Wright) had married Samuel and Ada's first-born, Samuel (junior) in 1935. 
		 We can only speculate as to where Samuel (junior) was based at the time the Register was taken, but people were already being moved 
		 around on account of the war. The birth of Samuel (junior) had been registered in 1907, and a baby sister Norah was registered in 1911. 
		 Dad wrote in Down the Arches that Sam (junior) had worked in a chip shop almost next door to 309 in the 1930s, and surely Sam's mother 
		 Ada was the person who picked up dad's brother John's body after he was knocked down in 1932.</p>
		 
	<p>A few doors down from Ada and Dorothy at 9 Winster Avenue was Kyran and Phyllis Lawler's household. Kyran was a bus conductor, so from his
	profession and his forename, it is easy to work out his family provenance. He was the son of Margaret Malone and Francis Lawler, and he seems 
	to have been an only-child. Kyran had married Phyllis Pattinson in 1937, and they registered the birth of David K Lawler in the Barton district
	in 1938 - he must be the blocked record in the Register. As it happened, in 1939 Margaret and Francis lived on the same street at No. 35, 
	whence Francis, as <span class = "span-link"
		 title = "view the Lawlers' and Corcorans' 1939 records"
	     onclick = "viewImage('images/Lawlers and Corcorans 1939.jpg');">their 1939 Register record</span> shows, juggled his 
		 responsibilities as Billiard Hall Manager and Air Raid Warden. They had been married in 1908 and Kyran's (aka Keyran) birth
	was registered in 1910. The date of birth given for Margaret Lawler (October 27 1883) is surely wrong, as her birth was registered
	in the first quarter of 1883. Perhaps it was October 27 1882.</p>
	
	<p>The tally of Malone households based in Winster Avenue in 1939 is not yet complete. The Corcorans lived next door to the Lawlers at No. 37.
	Joseph Corcoran had married Winifred Malone (Christina's youngest daughter surviving to adulthood) in 1922. It seems they never had any
	children.</p>
	
	<p>Henry McGuinness had married Agnes Malone in 1907, and both survived to appear in the 1939 Register. <span class = "span-link"
		 title = "view the McGuinness' 1939 record"
	     onclick = "viewImage('images/Henry Mcguiness 1939.jpg');">Their record</span> shows them living at 15 
	Murray St, off the west side of Bury New Road, towards Higher Broughton. Five births were registered in their names in Salford from 1909 to
	1918 and two of them, Mary (b. 1913) and Bernard (b. 1917) were still single and living with them in 1939. Henry was still "with the Corporation",
	but he was now a car cleaner instead of a conductor. He was also an ex-soldier, but I haven't found any military records. Bernard was a 
	railway signalman and Mary was a stitcher in the textile industry. In 1941, she would marry a Bernard O'Rourke in Salford.</p>
	
	<p>Finally, there was Kyran and Christina Malone's youngest, Joseph K Malone. He married Charlotte Johnson in 1921, and they both survived
	to be recorded in the 1939 Register. <span class = "span-link"
		 title = "view Joseph and Charlotte's 1939 record"
	     onclick = "viewImage('images/Joseph and Charlotte 1939.jpg');">Their record</span> shows
		 them then living at 153 Seaford Road about halfway between Charlestown and Lower Broughton, parallel to and just to the west 
		 of the Irwell. They registered the birth of their son, Austin J Malone, in 1922, and it looks as if he was an only-child. His 
		 must be the blanked out record in the 1939 Register. Once again, there is a date of birth problem. Joseph was born on 21 January 
		 1896, not 1895, as all other documentation confirms.</p>
	
	<p>So there are the Malones, from 1901 to 1939. In 1901, all seven lived under the widow Christina's roof at 92 Sussex Street, lower Broughton. 
	By 1911, five had set up separate households, but they were all within a tightly-packed little area within Lower Broughton. By 1939, they had
	spread out slightly but five of the seven were living within a few minutes walk from Littleton Road, the McGuinnesses were only a little way
	further north up Bury New Road, and only the eldest Anna Kavanagh lived at any distance (if she was indeed in Wythenshawe), at an address almost
	certainly chosen by her son and daughter-in-law.</p> 
	
	
	
	
