{% extends "layout.njk" %}

{% block title %}
4. The Malones and Sunderlands 
{% endblock %}

{% block main %}

{% include "chapter4/1-run_and_land_lancs.njk" %}
{% include "chapter4/2-sund_and_mal_ireland.njk" %}
{% include "chapter4/3-salford_malones.njk" %}

{% endblock %}